<div id="YesNoMsgBoxAux" class="modal fade">
    <div class="modal-dialog validateBoxDialog">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">{{lblMsgTitulo}}</h3>
            </div>
            <!-- dialog body -->
            <div class="modal-body validateBox">
                <form role="form">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label text-label">{{lblMsgMensaje}}</label>
                        </div>
                    </div>
                </form>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" ng-click="AceptarYesNoMsgBox()" class="btn btn-default">{{translation.BTAceptar}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTCancelar}}</button>
            </div>
        </div>
    </div>
</div>
