USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_VendedoresSaldos]    Script Date: 04/15/2010 13:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[sel_VendedoresSaldos]
@IdCedis as bigint,
@IdSurtido as bigint,
@Opc as int
AS

declare @IdVendedor as bigint, @Fecha as datetime

if @Opc = 1
begin

	exec up_VendedoresSaldosEnvaseClientes @IdCedis, @IdSurtido, 1		

	select distinct VendedoresSaldos.IdTipoSaldo, case VendedoresSaldos.IdTipoSaldo 
		when 'EF' then 'Saldo del Vendedor'
		when 'CL' then 'Saldo de Clientes'
		when 'EN' then 'Saldo de Envase'
	end as 'Concepto', SaldoAnterior as 'SaldoAnterior', Saldo as 'SaldoActual', SaldoActual as 'SaldoFinal'
	from VendedoresSaldos
	inner join Configuracion as CV on CV.IdCedis = VendedoresSaldos.IdCedis and 
	( ( CV.LiquidacionSaldoVendedor = 'S' and VendedoresSaldos.IdTipoSaldo = 'EF') or 
	( CV.LiquidacionSaldoEnvase = 'S' and VendedoresSaldos.IdTipoSaldo = 'EN') or 
	( CV.LiquidacionSaldoClientes = 'S' and VendedoresSaldos.IdTipoSaldo = 'CL') )
	where VendedoresSaldos.IdCedis = @IdCedis and VendedoresSaldos.IdSurtido = @IdSurtido

end


