USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_ComEsquemaPagos]    Script Date: 04/17/2010 13:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sel_ObtieneDescuento]
@IdCedis as bigint,
@IdRuta as bigint,
@Opc as int

AS

if @Opc = 1
begin
	select VEN.LimiteDescuento 
	from Route.dbo.Vendedor as VEN
	inner join Route.dbo.Usuario as USU on USU.USUId = VEN.USUId 
	where Route.dbo.FNObtenerRutaADMInter( USU.Clave ) = @IdRuta -- and Route.dbo.FNObtenerCEDIADMInter( VEN.AlmacenID ) = 3
end

