@{
    ViewBag.Title = "Reporte de Liquidación";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/liquidacionLaFloridaController.js"></script>
<link href="~/Views/Menu/css/filter.css" rel="stylesheet" />
<script src="~/Views/Menu/js/angular.treeview.js"></script>
<link href="~/Views/Menu/css/angular.treeview.css" rel="stylesheet" />

<div ng-controller="liquidacionLaFloridaController as ctrl">
    <h4>Reporte de Liquidación</h4>
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <md-input-container style="margin-top:5px; width:150px;">
                <label>Rango</label>
                <md-select ng-model="ctrl.State" ng-change="ctrl.OnSelectChange(ctrl.State)" ng-disabled="true">
                    <md-option ng-repeat="state in ctrl.dateState" value="{{state.Descripcion}}" ng-selected="{{state.Descripcion === 'Igual'}}">
                        {{state.Descripcion}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <md-datepicker style="background-color: #f7f7f7 !important;" ng-model="ctrl.date1" md-placeholder="Fecha" md-max-date="ctrl.minDate" ng-init="ctrl.date1 = ctrl.minDate"></md-datepicker>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <md-datepicker ng-show="ctrl.showSelect" style="background-color: #f7f7f7 !important;" ng-model="ctrl.date2" md-placeholder="Fecha" md-max-date="ctrl.minDate" onkeydown="return false"></md-datepicker>
        </div>
    </div>

    <div class="col-lg-4 col">

        <div class="row" style="margin-top:30px; margin-left:0px;">
            <div class="col-lg-9 col-md-3 col-sm-4 col-xs-12 list-margin">
                Vendedores
                <div class="">
                    <md-input-container md-no-float class="md-block">
                        <input ng-model="queryRoute" type="text" style="width:90%;margin-left:10px;" placeholder="Búsqueda">
                    </md-input-container>
                    <md-list ng-cloak style="max-height:350px;overflow-y:auto;">
                        <md-radio-group ng-model="ctrl.VendedorId" ng-repeat="seller in ctrl.sellers | filter:querySeller">
                            <md-radio-button ng-value="seller.VendedorId" class="md-primary" ng-cloak>
                                {{seller.Nombre}}
                            </md-radio-button>
                        </md-radio-group>
                    </md-list>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-left:0px;">
            <div>
                <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.VendedorId,ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-left" style="background-color:#E51500; color:white;font-weight:bold;">Generar reporte</md-button>
            </div>
        </div>
    </div>

</div>