@{
    Layout = "~/Views/Menu/Index.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No Implementado</title>
</head>
<body>
    <hgroup>
        <h1>No Implementado</h1>
        <h2>No Implementado</h2>
    </hgroup>
</body>
</html>
