<html>
<head>
    <style>
        .modal-dialog {
            min-width: 50% !important;
            max-width: 90% !important;
        }

        .modal-body {
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 0px;
            padding-left: 20px;
        }

        .modal-footer {
            margin-top: 0px;
        }

        .form-group {
            margin-bottom: 6px;
        }

    </style>
</head>
<body>
    <div id="ReporteCargas" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close-modal pull-right" data-dismiss="modal" aria-label="Close" ng-click="hiddenReporteCargas()"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title"> {{translation.XReporteCargas}} </h3>
                </div>
                <form name="formReport" class="form-horizontal form-valor" ng-class="{submitted:formReport.submitted}" novalidate>
                    <div class="modal-body">
                        <!--Fecha-->
                        <div class="row form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="checkbox">
                                    <label><input id="FechaReporte" name="FechaReporte" type="checkbox" ng-model="FechaReporte" ng-init="FechaReporte = true" ng-change="FolioReporte = !FechaReporte; FolioReporteText = ''" ng-false-value="false" ng-true-value="true" ng-disabled="">{{translation.XFecha}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <select name="FechaReporteSelect" id="FechaReporteSelect" ng-model="FechaReporteSelect" ng-init="FechaReporteSelect = '1'" class="form-control" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in tbfstring" ng-disabled="true"></select>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-5">
                                <input type="date" id="input-date" ng-model="dateReport" min="{{mindateReport}}" max="{{maxdateReport}}" ng-required="FechaReporte" ng-disabled="!FechaReporte" onkeydown="return false" />
                            </div>
                        </div>
                        <div class="row" ng-show="formReport.$invalid && FechaReporte == true">
                            <div class="error-message" ng-show="true">{{translation.BE0001.replace('$0$', translation.XFecha)}}</div>
                        </div>
                        <!--Folio-->
                        <div class="row form-group">
                            <div class="col-md-5 col-sm-6 col-xs-6">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="FolioReporte" name="FolioReporte" ng-model="FolioReporte" ng-init="FolioReporte = false" ng-change="FechaReporte = !FolioReporte" ng-false-value="false" ng-true-value="true" ng-disabled="">{{translation.XFolio}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-5">
                                <input type="text" name="FolioReporteText" ng-maxlength="20" ng-model="FolioReporteText" class="form-control" ng-required="FolioReporte" ng-disabled="!FolioReporte">
                            </div>
                        </div>
                        <div class="row" ng-show="formReport.FolioReporteText.$invalid">
                            <div class="error-message" ng-show="formReport.FolioReporteText.$error.required">{{translation.BE0001.replace('$0$', translation.XFolio)}}</div>
                        </div>
                        <!--Clave-->
                        <div class="row form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="checkbox">
                                    <label><input id="ClaveReporte" name="ClaveReporte" type="checkbox" ng-model="ClaveReporte" ng-init="ClaveReporte = false" ng-false-value="false" ng-true-value="true">{{translation.XClave}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <select name="ClaveReporteSelect" id="ClaveReporteSelect" ng-model="ClaveReporteSelect" ng-init="ClaveReporteSelect = '1'" ng-disabled="!ClaveReporte" class="form-control" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in tbfstring"></select>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-5">
                                <input type="text" name="ClaveReporteText" ng-maxlength="20" ng-model="ClaveReporteText" class="form-control" ng-required="ClaveReporte" ng-disabled="!ClaveReporte">
                            </div>
                        </div>
                        <div class="row" ng-show="formReport.ClaveReporteText.$invalid">
                            <div class="error-message" ng-show="formReport.ClaveReporteText.$error.required">{{translation.BE0001.replace('$0$', translation.XClave)}}</div>
                        </div>
                        <!--nombre-->
                        <div class="row form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="checkbox">
                                    <label><input id="NombreReporte" name="NombreReporte" type="checkbox" ng-model="NombreReporte" ng-init="NombreReporte = false" ng-false-value="false" ng-true-value="true" ng-disabled="">{{translation.XNombreCorto}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <select name="NombreReporteSelect" id="NombreReporteSelect" ng-model="NombreReporteSelect" ng-init="NombreReporteSelect = '1'" ng-disabled="!NombreReporte" class="form-control" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in tbfstring"></select>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-6">
                                <input type="text" name="NombreReporteText" ng-maxlength="20" ng-model="NombreReporteText" class="form-control" ng-required="NombreReporte" ng-disabled="!NombreReporte">
                            </div>
                        </div>
                        <div class="row" ng-show="formReport.NombreReporteText.$invalid">
                            <div class="error-message" ng-show="formReport.NombreReporteText.$error.required">{{translation.BE0001.replace('$0$', translation.XNombreCorto)}}</div>
                        </div>
                        <!--Esquema-->
                        <div class="row form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="checkbox">
                                    <label><input id="EsquemaReporte" name="EsquemaReporte" type="checkbox" ng-model="EsquemaReporte" ng-init="EsquemaReporte = false" ng-false-value="false" ng-true-value="true" ng-disabled="">{{translation.XEsquema}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <select name="EsquemaReporteSelect" id="EsquemaReporteSelect" ng-model="EsquemaReporteSelect" ng-init="EsquemaReporteSelect = '1'" ng-disabled="!EsquemaReporte" class="form-control" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in tbfstring"></select>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-6">
                                <input type="text" name="EsquemaReporteText" ng-maxlength="20" ng-model="EsquemaReporteText" class="form-control" ng-required="EsquemaReporte" ng-disabled="!EsquemaReporte">
                            </div>
                        </div>
                        <div class="row" ng-show="formReport.EsquemaReporteText.$invalid">
                            <div class="error-message" ng-show="formReport.EsquemaReporteText.$error.required">{{translation.BE0001.replace('$0$', translation.XEsquema)}}</div>
                        </div>
                    </div>
                    <!-- dialog buttons -->
                    <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" ng-click="BTNAceptarReporte()" ng-disabled="formReport.$invalid" class="btn btn-default">{{translation.BTAceptar}}</button>
                        <button type="button" data-dismiss="modal" ng-click="hiddenReporteCargas()" class="btn btn-default">{{translation.BTCancelar}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>