@{
    ViewBag.Title = "Indicadores de Venta";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/indicadoresDeVentaController.js"></script>

<link href="~/Views/Menu/css/filter.css" rel="stylesheet" />

<style>
    .listdemoListControls md-divider {
        margin-top: 0;
        margin-bottom: 0;
    }

    .listdemoListControls md-list {
        padding-top: 0;
    }

    .listdemoListControls md-list-item > p,
    .listdemoListControls md-list-item > ._md-list-item-inner > p,
    .listdemoListControls md-list-item ._md-list-item-inner > p,
    .listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .datepickerdemoBasicUsage {
    }

        .datepickerdemoBasicUsage md-content {
            padding-bottom: 200px;
        }

        .datepickerdemoBasicUsage .validation-messages {
            font-size: 12px;
            color: #dd2c00;
            margin: 10px 0 0 25px;
        }
</style>

<div ng-controller="indicadoresDeVentaController as ctrl" ng-init="EstablecerReporte('@ViewBag.VAVClave')">
    <h4> {{ctrl.titulo}} </h4>
    <div class="row">
        <div class="col-lg-12">
            <div layout="column" ng-cloak>
                <form ng-submit="$event.preventDefault()" name="searchForm">
                    <md-autocomplete flex required style="width:290px;margin:20px 0 10px 0;" ng-disabled="ctrl.isDisabled"
                                     md-input-name="autocompleteField"
                                     md-no-cache="ctrl.noCache"
                                     md-selected-item="ctrl.selectedItem"
                                     md-search-text-change="ctrl.ShowLists(ctrl.selectedItem.value)"
                                     md-search-text="ctrl.searchText"
                                     md-selected-item-change="ctrl.GetSellers(ctrl.selectedItem.value); ctrl.nShowLists(ctrl.selectedItem.value); ctrl.GetRoutes(ctrl.selectedItem.value)"
                                     md-items="item in ctrl.querySearch(ctrl.searchText)"
                                     md-item-text="item.display"
                                     md-min-length="0"
                                     placeholder="Seleccionar centro de distribución">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No se han encontrado resultados para "{{ctrl.searchText}}".
                        </md-not-found>
                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                            <div ng-message="required">You <b>must</b> have a favorite state.</div>
                        </div>
                    </md-autocomplete>
                </form>
            </div>
        </div>
    </div>   

    <div class="row" style="margin-top:30px;margin-left:0px;" ng-show="ctrl.showList">
        <div class="row">
            <div class="col-lg-12">
                <md-checkbox style="margin-left:4px; margin-bottom:30px;" ng-model="ctrl.ReportType">Por Ruta</md-checkbox>
            </div>
        </div>     
        
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 list-margin" ng-show="ctrl.ReportType">
            Rutas
            <div class="">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="queryRoute" type="text" style="width:90%;margin-left:10px;" placeholder="Búsqueda">
                </md-input-container>
                <md-checkbox style="margin-left:4px;" ng-model="selectAllRutas" ng-click="ctrl.SelectAllChekboxesRoutes(selectAllRutas)">Seleccionar todas</md-checkbox>
                <md-divider></md-divider>
                <md-list ng-cloak style="max-height:310px;overflow-y:auto;margin-left:-16px;">
                    <md-list-item ng-repeat="route in ctrl.routes | filter:queryRoute">
                        <md-checkbox ng-disabled="route.Disabled" ng-model="route.Checked" ng-change=""></md-checkbox>
                        <p> {{ route.RUTClave }} | {{route.Descripcion}} </p>
                    </md-list-item>
                </md-list>
                <md-divider></md-divider>
            </div>
        </div>     

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 list-margin" ng-show="!ctrl.ReportType">
            Vendedores
            <div class="">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="querySeller" type="text" style="width:90%;margin-left:10px;" placeholder="Búsqueda">
                </md-input-container>
                <md-checkbox style="margin-left:4px;" ng-model="selectAllVendedores" ng-click="ctrl.SelectAllChekboxesSeller(selectAllVendedores)">Seleccionar todos</md-checkbox>
                <md-divider></md-divider>
                <md-list ng-cloak style="max-height:310px;overflow-y:auto;margin-left:-16px;">
                    <md-list-item ng-repeat="seller in ctrl.sellers | filter:querySeller">
                        <md-checkbox ng-disabled="seller.Disabled" ng-model="seller.Checked" ng-change=""></md-checkbox>
                        <p> {{seller.VendedorId}} | {{seller.Nombre}} </p>
                    </md-list-item>
                </md-list>
                <md-divider></md-divider>
            </div>           
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList" style="margin-top:20px;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <md-input-container style="margin-top:5px; width:150px;">
                <label>Rango</label>
                <md-select ng-model="ctrl.State" ng-change="ctrl.OnSelectChange(ctrl.State)">
                    <md-option ng-repeat="state in ctrl.dateState" value="{{state.Descripcion}}">
                        {{state.Descripcion}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <md-datepicker style=" background-color #f7f7f7 !important;" ng-model="ctrl.date1" md-placeholder="Fecha" md-max-date="ctrl.minDate" onkeydown="return false"></md-datepicker>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <md-datepicker ng-show="ctrl.showSelect" style=" background-color #f7f7f7 !important;" ng-model="ctrl.date2" md-placeholder="Fecha" md-max-date="ctrl.minDate" onkeydown="return false"></md-datepicker>
        </div>
        
    </div>

    <div class="row" ng-show="ctrl.showList" style="margin-top:20px;margin-left:0px;">
        <div>
            <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.selectedItem.value, ctrl.routes, ctrl.sellers, ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-left" style="background-color:#E51500; color:white;font-weight:bold;">Generar reporte</md-button>
        </div>
    </div>

</div>