@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}
<script src="https://code.angularjs.org/1.0.8/i18n/angular-locale_es-mx.js"></script>
<script src="~/Controllers/js/controllers/liquidacionTUCController.js"></script>
<link href="~/Assets/CSS/StyleReports.css" rel="stylesheet" />

<div ng-controller="liquidacionTUCController as ctrl" ng-init="EstablecerReporte('@ViewBag.VAVClave')">
    
    <div class="panel-heading Header-Label"> <h4> {{ctrl.titulo}} </h4> </div>

    <div class="row" id="row-margin" ng-show="ctrl.showCEDI">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default Panel-Default-Filter">
                    <div class="panel-heading Panel-Filter"> Centro De Distribución </div>
                    <div class="panel-body">
                        <md-autocomplete flex required ng-disabled="ctrl.isDisabled"
                                         md-input-name="autocompleteField"
                                         md-no-cache="ctrl.noCache"
                                         md-selected-item="ctrl.selectedItem"
                                         md-search-text-change="ctrl.nShowLists(ctrl.selectedItem.Clave)"
                                         md-search-text="ctrl.searchText"
                                         md-selected-item-change="ctrl.nShowLists(ctrl.selectedItem.Clave);
                                         ctrl.GETSeller(ctrl.selectedItem.Clave);
                                         ctrl.showSelect = false"
                                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                                         md-item-text="item.Nombre"
                                         md-min-length="0"
                                         placeholder="Seleccionar centro de distribución"
                                         @*md-autoselect="true"*@>
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.Nombre}}</span>
                            </md-item-template>
                            <md-not-found>
                                No hay resultados para "{{ctrl.searchText}}".
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-show="ctrl.showList">
                <div class="panel panel-default Panel-Default-Filter">
                    <div class="panel-heading Panel-Filter"> Fecha </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <md-input-container id="containerDate">
                                <label>Rango</label>
                                <md-select id="selectDate" ng-model="ctrl.State" ng-init="ctrl.State = 'Igual'" ng-change="ctrl.OnSelectChange(ctrl.State)">
                                    <md-option ng-repeat="state in ctrl.dateState" value="{{state.Nombre}}">
                                        {{state.Nombre}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-datepicker id="datepickerStyle" ng-model="ctrl.date1" md-placeholder="Fecha" md-max-date="ctrl.maxDate" onkeydown="return false"></md-datepicker>
                            <md-datepicker id="datepickerStyle" ng-model="ctrl.date2" md-placeholder="Fecha" md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate" ng-show="ctrl.showSelect" onkeydown="return false"></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList">
        <div class="col-md-5" style="margin-top:10px; margin-bottom:12px">
            <md-radio-group ng-model="TipoReporte" layout="row">
                <div class="col-md-4">
                    <md-radio-button class="md-primary" value="General">General</md-radio-button>
                </div>
                <div class="col-md-4">
                    <md-radio-button class="md-primary" value="Detallado">Detallado</md-radio-button>
                </div>
            </md-radio-group>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList">
        <div class="col-lg-4 col-md-5 col-sm-10 col-xs-12">
            <div class="panel panel-default Panel-Default-Filter">
                <div class="panel-heading Panel-Filter">Vendedores</div>
                <div class="panel-body Panel-Body-Filter">
                    <md-input-container id="searchFilterMargin" class="md-block">
                        <input id="searchFilterText" type="text" ng-model="querySeller" placeholder="Búsqueda" />
                    </md-input-container>
                    <md-divider id="lineDivider"></md-divider>
                    <md-list id="listRadioButtom" ng-cloak>
                        <md-radio-group ng-model="VendedorId" ng-change="querySeller = ''">
                            <md-list-item id="itemListRadioButtom" ng-repeat="s in ctrl.seller | filter:querySeller">
                                <md-radio-button ng-value="s.Clave" class="md-primary" ng-cloak>
                                    <p>{{s.Nombre}}</p>
                                </md-radio-button>
                            </md-list-item>
                        </md-radio-group>
                    </md-list>
                </div>
            </div>
        </div>
    </div>

    <div id="viewer" class="row col-md-12">
        <div ng-show="ctrl.showErrorForm" ng-model="ctrl.ErrorEnviar">
            <div class="error-message col-md-12">{{ctrl.ErrorEnviar}}</div>
        </div>
    </div>

    <div class="row" id="marginSubmit" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-button id="buttomReports" type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.selectedItem.Clave, VendedorId, ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right">Generar reporte</md-button>
        </div>
    </div>
</div>