
@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/ventasXadisSIEController.js"></script>

<script src="~/Views/Menu/js/angular.treeview.js"></script>
<link href="~/Views/Menu/css/angular.treeview.css" rel="stylesheet" />
<link href="~/Assets/CSS/StyleReports.css" rel="stylesheet" />

<div ng-controller="ventasXadisSIEController as ctrl" ng-init="EstablecerReporte('@ViewBag.VAVClave')">

    <div class="panel-heading Header-Label"> <h4> {{ctrl.titulo}} </h4> </div>
    
    <div class="row" id="row-margin">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="panel panel-default Panel-Default-Filter">
                    <div class="panel-heading Panel-Filter"> Fecha </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <md-input-container id="containerDate">
                                <label>Rango</label>
                                <md-select id="selectDate" ng-model="ctrl.State" ng-init="ctrl.State = 'Igual'" ng-change="ctrl.OnSelectChange(ctrl.State); ctrl.showErrorForm = false">
                                    <md-option ng-repeat="state in ctrl.dateState" value="{{state.Nombre}}">
                                        {{state.Nombre}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-datepicker id="datepickerStyle" ng-model="ctrl.date1" md-placeholder="Fecha" md-max-date="ctrl.maxDate" onkeydown="return false"></md-datepicker>
                            <md-datepicker id="datepickerStyle" ng-model="ctrl.date2" md-placeholder="Fecha" md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate" ng-show="ctrl.showSelect" onkeydown="return false"></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="viewer" class="row col-md-12">
                    <div ng-show="ctrl.showErrorForm" ng-model="ctrl.ErrorEnviar">
                        <div class="error-message col-md-12">{{ctrl.ErrorEnviar}}</div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <md-button id="buttomReports" type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right">Generar reporte</md-button>
                </div>
            </div>
        </div>
    </div>
</div>