USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_CargasSugeridasParametros]    Script Date: 05/28/2010 06:01:54 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[sel_CargasSugeridasParametros]
@IdCedis as bigint,
@IdRuta as bigint,
@FechaCarga as datetime,
@IdProducto as bigint,
@Opc as int
AS

if @Opc = 1
	select 2 as Orden, 'Producto' as Concepto, Productos.IdProducto as Cve, Productos.Producto as 'Descripción', CargasSugeridasProducto.Semanas, CargasSugeridasProducto.Porcentaje
	from CargasSugeridasProducto 
	inner join Productos on Productos.IdProducto = CargasSugeridasProducto.IdProducto
	where CargasSugeridasProducto.IdCedis = @IdCedis and CargasSugeridasProducto.IdRuta = @IdRuta and CargasSugeridasProducto.FechaCarga = @FechaCarga
	union
	select 1 as Orden, 'Familia' as Concepto, Familias.IdFamilia as Cve, Familias.Familia as 'Descripción', CargasSugeridasFamilia.Semanas, CargasSugeridasFamilia.Porcentaje
	from CargasSugeridasFamilia 
	inner join Familias on Familias.IdFamilia = CargasSugeridasFamilia.IdFamilia
	where CargasSugeridasFamilia.IdCedis = @IdCedis and CargasSugeridasFamilia.IdRuta = @IdRuta and CargasSugeridasFamilia.FechaCarga = @FechaCarga
	order by Orden

if @Opc = 2
	select max(CargasSugeridasFamilia.Semanas) as Mayor
	from CargasSugeridasFamilia 
	inner join Familias on Familias.IdFamilia = CargasSugeridasFamilia.IdFamilia
	inner join Productos on Productos.IdFamilia = CargasSugeridasFamilia.IdFamilia 
		and Productos.IdProducto not in ( select CargasSugeridasProducto.IdProducto from CargasSugeridasProducto 
		where CargasSugeridasProducto.IdCedis = @IdCedis and CargasSugeridasProducto.IdRuta = @IdRuta and CargasSugeridasProducto.FechaCarga = @FechaCarga)
	where CargasSugeridasFamilia.IdCedis = @IdCedis and CargasSugeridasFamilia.IdRuta = @IdRuta and CargasSugeridasFamilia.FechaCarga = @FechaCarga
	union
	select max(CargasSugeridasProducto.Semanas) as Mayor
	from CargasSugeridasProducto
	where CargasSugeridasProducto.IdCedis = @IdCedis and CargasSugeridasProducto.IdRuta = @IdRuta and CargasSugeridasProducto.FechaCarga = @FechaCarga
	order by Mayor desc

if @Opc = 3
	select Rutas.IdCedis, Rutas.IdRuta, Rutas.Ruta, TipoRuta.TipoRuta as 'Especialización', Rutas.TipoVenta as 'TipoVenta',
	isnull((select Top 1 FechaInicial from CargasSugeridasRuta where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = @FechaCarga),0) as 'F. Inicial',
	isnull((select Top 1 FechaFinal from CargasSugeridasRuta where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = @FechaCarga ),0) as 'F. Final',
	isnull((select IdRutaPedido from CargasSugeridasRuta where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = @FechaCarga and IdRutaPedido = Rutas.IdRuta),0) as 'Selected'
	from Rutas
	inner join TipoRuta on TipoRuta.IdTipoRuta = Rutas.TipoRuta
	where Rutas.IdCedis = @IdCedis and Rutas.Status = 'A'
	order by Rutas.IdRuta
	
	