USE [RouteADM]
GO
/****** Object:  Trigger [dbo].[tgRouteU_Unidades]    Script Date: 05/28/2010 17:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[tgRouteU_Unidades] ON [dbo].[Unidades] 
FOR INSERT, UPDATE
AS

INSERT INTO Route.dbo.Camion 
	select NoEconomico, 
		NoSerie, 
		(select AlmacenId from Route.dbo.Almacen where tipo = '2'),
		(Marca + ' ' + cast(Modelo as varchar(50))), 
		0,
		0, 
		case Status when 'A' then 1 else 0 end, 
		FechaAlta, 
		'Interfaz' 
	from Inserted where NoEconomico not in (select Placa from ROUTE.dbo.Camion)

UPDATE ROUTE.dbo.Camion
	set Clave = Inserted.NoSerie,
	Descripcion = Inserted.Marca + ' ' + cast(Inserted.Modelo as varchar(10)),
	TipoEstado = case Inserted.Status when 'A' then 1 else 0 end,
	MFechaHora = getdate(), MUsuarioId = 'Interfaz'
	from Inserted
	where Placa = Inserted.NoEconomico



--select * from route.dbo.camion
--select * from unidades



