USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_SubEmpresas]    Script Date: 05/28/2010 21:57:30 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sel_SubEmpresas]
@IdCedis as bigint
AS

declare @Route as int
set @Route = isnull( ( select Route from Configuracion where IdCedis = @IdCedis ), 0 )

if @Route = 1 
begin
	select COUNT(SubEmpresaId) as Num
	from Route.dbo.SubEmpresa 
end
else
begin
	select 0 as Num
end

