USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Series]    Script Date: 06/02/2010 21:03:31 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[sel_Series]
@Serie as varchar(5),
@Folio as bigint,
@Opc as int
AS

if @Opc = 1
	select FS.Serie as SerieId, cast(replace(FS.Serie, 'X', '') as varchar(7)) as Serie, Marca, FH.CentroExpID
	from Route.dbo.FolioSolicitado FS
	inner join Route.dbo.FOSHist FH on FH.FolioID = FS.FolioID and FH.FOSId = FS.FOSId  
	inner join Marcas on Marcas.IdMarca = FH.CentroExpID
	where Serie like 'EBQ%'
	
if @Opc = 2
	select FS.Serie, isnull(FS.Usados + 1, 1) as Folio  
	from Route.dbo.FolioSolicitado FS
	where Serie = @Serie 

if @Opc = 3
	select FS.Serie, FS.Usados, @Folio 
	from Route.dbo.FolioSolicitado FS
	where Serie = @Serie 

