USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_VentasContado]    Script Date: 06/03/2010 11:39:22 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sel_VentasContado] 
@IdCedis as bigint,
@Fecha as datetime,
@IdMarca as bigint,
@Opc as int
AS

if @Opc = 1

	select '', 'Venta Contado' as Concepto, isnull(sum(Subtotal), 0) as Subtotal, isnull(sum(subtotal*iva), 0) as Iva, isnull(sum(total), 0) as Total
	from Surtidos 
	inner join VentasDetalle on Surtidos.IdCedis = VentasDetalle.IdCedis 
	and VentasDetalle.IdSurtido = Surtidos.IdSurtido and VentasDetalle.IdTipoVenta in ( select IdTipoVenta from VentasTipo where Tipo = 2 )
		and VentasDetalle.Serie like 'R%'
	where Surtidos.IdCedis = @IdCedis and Surtidos.Fecha = @Fecha

	--select VentasContado.Serie, VentasContado.Folio, isnull(sum(Subtotal), 0) as Subtotal, isnull(sum(subtotal*iva), 0) as Iva, isnull(sum(total), 0) as Total
	--from VentasContado 
	--inner join Surtidos on Surtidos.IdCedis = VentasContado.IdCedis and  VentasContado.Fecha = Surtidos.Fecha
	--inner join VentasDetalle on Surtidos.IdCedis = VentasDetalle.IdCedis 
	--and VentasDetalle.IdSurtido = Surtidos.IdSurtido and VentasDetalle.IdTipoVenta in ( select IdTipoVenta from VentasTipo where Tipo = 2 )
	--where VentasContado.IdCedis = @IdCedis and VentasContado.Fecha = @Fecha
	--group by VentasContado.Serie, VentasContado.Folio

if @Opc = 2
	select VentasDetalle.IdProducto as 'Cve. Prod.', Productos.Producto, isnull(sum(Cantidad), 0) as Cantidad, 
	isnull(avg(Precio), 0) as Precio, isnull(sum(Subtotal), 0) as Subtotal, 
	isnull(sum(subtotal*VentasDetalle.iva), 0) as Iva, isnull(sum(total), 0) as Total
	from Surtidos -- on Surtidos.IdCedis = VentasContado.IdCedis and  VentasContado.Fecha = Surtidos.Fecha
	inner join VentasDetalle on Surtidos.IdCedis = VentasDetalle.IdCedis 
	and VentasDetalle.IdSurtido = Surtidos.IdSurtido and VentasDetalle.IdTipoVenta in ( select IdTipoVenta from VentasTipo where Tipo = 2 )
		and VentasDetalle.Serie like 'R%'
	inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto and Productos.IdMarca = @IdMarca 
	where Surtidos.IdCedis = @IdCedis and Surtidos.Fecha = @Fecha
	group by VentasDetalle.IdProducto, Productos.Producto

if @Opc = 3
	select IdCedis, IdSurtido
	from Ventas
	where IdCedis = @IdCedis and Fecha = @Fecha and IdTipoVenta in ( Select IdTipoVenta from VentasTipo where Tipo = 2 )

