
use RouteADM

delete
from surtidoscambios

use Route

--declare	@FechaIn as datetime, @FechaFin as datetime
declare @ClaveCEDI as varchar(20)
declare @DiaClave as varchar(20)
declare @RUTClave as varchar(20)
declare @Surtido as varchar(20)
declare @Dia as datetime
declare @Cantidad as float
declare @ProductoClave as int

--set @FechaIn = '2010-05-20 00:00:00.000' 
--set @FechaFin = '2010-05-30 23:59:59.999'

Declare @FechaIniCompara datetime
    SET @FechaIniCompara = convert(datetime,'9999-12-31',102)

Declare  @esta as int, @leng as varchar(10)  
        
set @leng = (select top 1 TipoLenguaje from Conhist where CONHistFechaInicio <= getdate() order by CONHistFechaInicio desc)  
set @esta = (select top 1 intUnidadVta from ConHist where CONHistFechaInicio <= getdate() order by CONHistFechaInicio desc) 

--Obtiene los dias a Exportar
DECLARE @CursorVar1 CURSOR  
SET @CursorVar1 = CURSOR SCROLL DYNAMIC FOR 
	SELECT DISTINCT D.DiaClave, D.FechaCaptura
	FROM TransProd TP
	INNER JOIN Dia D ON D.DiaClave = TP.DiaClave 
	INNER JOIN USUARIO U ON U.USUId = TP.MUsuarioID
	WHERE TP.Tipo in(2,23) AND TP.TipoFase <> 0 
	--AND((TP.MFechaHora between @FechaIn and @FechaFin) OR (@FechaIn = @FechaIniCompara AND TP.TipoFaseIntSal IN (0,2)))

	OPEN @CursorVar1
	FETCH NEXT FROM @CursorVar1 INTO @DiaClave, @Dia
	WHILE @@FETCH_STATUS = 0      
	BEGIN      
			  --Recupera el CEDI y la Ruta
			  select top 1 @ClaveCEDI = ALMClave, @RUTClave = RUTClave from(
			  select distinct   ALM.Clave as ALMClave, VIS.RUTClave 
			  from Visita VIS 
			  inner join Vendedor VEN on VIS.VendedorID = VEN.VendedorID 
			  inner join Usuario USU on VEN.USUId = USU.USUId and VEN.TipoEstado = 1
			  inner join VENCentroDistHist VCH on VEN.VendedorID = VCH.VendedorId and VCHFechaInicial <= @Dia and FechaFinal >= @Dia
			  inner join Almacen ALM on VCH.AlmacenId = ALM.AlmacenID 
			  where VIS.DiaClave = @Diaclave
			  union
			  select distinct   ALM.Clave, VRT.RUTClave 
			  from TransProd TRP
			  inner join Usuario USU on TRP.MUsuarioID = USU.USUId 
			  inner join Vendedor VEN on USU.USUId = VEN.USUId and VEN.TipoEstado = 1
			  inner join VENCentroDistHist VCH on VEN.VendedorID = VCH.VendedorId and VCHFechaInicial <= @Dia and FechaFinal >= @Dia
			  inner join Almacen ALM on VCH.AlmacenId = ALM.AlmacenID 
			  inner join VenRut VRT on VEN.VendedorID = VRT.VendedorID and VRT.TipoEstado = 1
			  where TRP.Tipo in (2,4,7) and TRP.TipoFase <> 0 and TRP.DiaClave = @Diaclave
			  ) as t1
	          
	          
			  Declare @idRuta as int             
			  set @idRuta = CAST(right(@RUTClave,4) as int)
			  SET @ClaveCEDI = CAST(right(@ClaveCEDI,2) as int)

			  DECLARE @IdCarga AS INT
			  --Recupera Surtido y carga
			  select TOP 1 @Surtido=IdSurtido, @IdCarga = IdCarga
			  from [RouteADM].dbo.Cargas 
			  where idCedis=cast(@ClaveCEDI as int) and idRuta= @idRuta and Fecha=@Dia                 
	        
			  if @Surtido is not null
			  BEGIN

					if not exists (select IdCedis from [RouteADM].dbo.StatusSurtido where IdCedis = @ClaveCEDI and IdSurtido = @Surtido ) 
						 insert into [RouteADM].dbo.StatusSurtido values ( @ClaveCEDI, @Surtido, 'B' )

	----------------AGREGA LOS PRODUCTOS CAMBIOS--------------------------------------------
	                     
					DECLARE @CursorCambioEntrada CURSOR  

					SET @CursorCambioEntrada = CURSOR SCROLL DYNAMIC FOR 
						 SELECT CAST(TD.ProductoClave AS INT), SUM(TD.Cantidad *PD.Factor) AS Cantidad
						 FROM TransProd TP
						 INNER JOIN Dia D ON D.DiaClave = TP.DiaClave 
						 INNER JOIN Visita VIS ON VIS.VisitaClave = TP.VisitaClave AND VIS.DiaClave = TP.DiaClave 
						 INNER JOIN Vendedor VEN ON VEN.VendedorID = VIS.VendedorID 
						 INNER JOIN Usuario U ON U.USUId = VEN.USUId 
						 INNER JOIN TransProdDetalle TD ON TD.TransProdID = TP.TransProdID 
						 INNER JOIN ProductoDetalle PD ON PD.ProductoClave = TD.ProductoClave AND PD.ProductoDetClave = TD.ProductoClave 
						 WHERE ((TP.Tipo = 9 AND TP.TipoFase <> 0 AND TP.TipoMovimiento = 1)) 
									 --AND((TP.MFechaHora between @FechaIn and @FechaFin) OR (@FechaIn = @FechaIniCompara AND TP.TipoFaseIntSal IN (0,2)))
									 AND TP.DiaClave = @DiaClave
						 GROUP BY TD.ProductoClave 

					OPEN  @CursorCambioEntrada
					FETCH NEXT FROM @CursorCambioEntrada INTO @ProductoClave, @Cantidad
					WHILE @@FETCH_STATUS = 0      
					BEGIN 

						 IF(SELECT COUNT(*) FROM RouteADM.dbo.SurtidosCambios WHERE IdCedis = @ClaveCEDI AND IdSurtido = @Surtido AND   IdProducto = @ProductoClave and idFecha=@Dia)>0
						 BEGIN
							   UPDATE RouteADM.dbo.SurtidosCambios SET Entrada = Entrada + @Cantidad WHERE IdCedis = @ClaveCEDI AND IdSurtido = @Surtido AND  IdProducto = @ProductoClave and idFecha=@Dia
						 END
						 ELSE
						 BEGIN
							   INSERT INTO RouteADM.dbo.SurtidosCambios(IdCedis, IdSurtido ,IdFecha , IdProducto ,Entrada,Salida )
							   VALUES(@ClaveCEDI,@Surtido,@Dia,@ProductoClave,@Cantidad,0)
						 END
						 FETCH NEXT FROM @CursorCambioEntrada INTO @ProductoClave, @Cantidad
					END
					CLOSE @CursorCambioEntrada  
					DEALLOCATE @CursorCambioEntrada
	                

					DECLARE @CursorCambioSalida CURSOR  

					SET @CursorCambioSalida = CURSOR SCROLL DYNAMIC FOR 
						 SELECT CAST(TD.ProductoClave AS INT), SUM(TD.Cantidad *PD.Factor) AS Cantidad
						 FROM TransProd TP
						 INNER JOIN Dia D ON D.DiaClave = TP.DiaClave 
						 INNER JOIN Visita VIS ON VIS.VisitaClave = TP.VisitaClave AND VIS.DiaClave = TP.DiaClave 
						 INNER JOIN Vendedor VEN ON VEN.VendedorID = VIS.VendedorID 
						 INNER JOIN Usuario U ON U.USUId = VEN.USUId 
						 INNER JOIN TransProdDetalle TD ON TD.TransProdID = TP.TransProdID 
						 INNER JOIN ProductoDetalle PD ON PD.ProductoClave = TD.ProductoClave AND PD.ProductoDetClave = TD.ProductoClave 
						 WHERE ( (TP.Tipo = 9 AND TP.TipoFase <> 0 AND TP.TipoMovimiento = 2)) 
									 --AND((TP.MFechaHora between @FechaIn and @FechaFin) OR (@FechaIn = @FechaIniCompara AND TP.TipoFaseIntSal IN (0,2)))
									 AND TP.DiaClave = @DiaClave
						 GROUP BY TD.ProductoClave 

					OPEN  @CursorCambioSalida
					FETCH NEXT FROM @CursorCambioSalida INTO @ProductoClave, @Cantidad
					WHILE @@FETCH_STATUS = 0      
					BEGIN 
						 IF(SELECT COUNT(*) FROM RouteADM.dbo.SurtidosCambios WHERE IdCedis = @ClaveCEDI AND IdSurtido = @Surtido AND IdProducto = @ProductoClave and idFecha=@Dia)>0
						 BEGIN
							   UPDATE RouteADM.dbo.SurtidosCambios SET Salida = Salida + @Cantidad WHERE IdCedis = @ClaveCEDI AND IdSurtido = @Surtido  AND IdProducto = @ProductoClave and idFecha=@Dia
						 END
						 ELSE
						 BEGIN
							   INSERT INTO RouteADM.dbo.SurtidosCambios(IdCedis, IdSurtido ,idFecha,IdProducto ,Entrada,Salida )
							   VALUES(@ClaveCEDI,@Surtido,@Dia,@ProductoClave,0,@Cantidad)
						 END
						 FETCH NEXT FROM @CursorCambioSalida INTO @ProductoClave, @Cantidad
					END
					CLOSE @CursorCambioSalida
					DEALLOCATE @CursorCambioSalida

					UPDATE TransProd SET TipoFaseIntSal = 1 
					FROM TransProd TP
					INNER JOIN Dia D ON D.DiaClave = TP.DiaClave 
					INNER JOIN Visita VIS ON VIS.VisitaClave = TP.VisitaClave AND VIS.DiaClave = TP.DiaClave 
					INNER JOIN Vendedor VEN ON VEN.VendedorID = VIS.VendedorID 
					INNER JOIN Usuario U ON U.USUId = VEN.USUId    
					WHERE TP.Tipo = 9 AND TP.TipoFase <> 0 
					--AND((TP.MFechaHora between @FechaIn and @FechaFin) OR (@FechaIn = @FechaIniCompara AND TP.TipoFaseIntSal IN (0,2)))
					AND TP.DiaClave = @DiaClave
	            END
	---------------------------------------------------------------------------------------------------------

		FETCH NEXT FROM @CursorVar1 INTO @DiaClave, @Dia
	END 

	CLOSE @CursorVar1                  
	DEALLOCATE @CursorVar1

