USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_ComisionesLiquidacion]    Script Date: 06/10/2010 23:27:57 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[sel_ComisionesLiquidacion]
@IdCedis as bigint,
@IdSurtido as bigint,
@fini as datetime, 
@ffin as datetime
AS

declare @IdConceptoPago as int

select FN_ComisionesEsquemaSurtido.IdComEsquema, FN_ComisionesEsquemaSurtido.Esquema, FN_ComisionesEsquemaSurtido.IdTipoVendedor, FN_ComisionesEsquemaSurtido.TipoVendedor, 
FN_ComisionesEsquemaSurtido.IdFamilia, Familia, FN_ComisionesEsquemaSurtido.IdProducto, Producto, FN_ComisionesEsquemaSurtido.IdConceptoPago, FN_ComisionesEsquemaSurtido.ConceptoPago, 
FN_ComisionesEsquemaSurtido.Inicial, FN_ComisionesEsquemaSurtido.Final, sum(Venta) as Venta, sum(FN_ComisionesEsquemaSurtido.Pago) as Pago 
from FN_ComisionesEsquemaSurtido(@IdCedis, @IdSurtido) 
inner join FN_ComisionesEsquema(@IdCedis) on FN_ComisionesEsquema.IdComEsquema = FN_ComisionesEsquemaSurtido.IdComEsquema and FN_ComisionesEsquema.IdConceptoPago = FN_ComisionesEsquemaSurtido.IdConceptoPago
	and FN_ComisionesEsquema.IdTipoRuta = FN_ComisionesEsquemaSurtido.TipoRuta and FN_ComisionesEsquema.IdTipoVendedor = FN_ComisionesEsquemaSurtido.IdTipoVendedor
	and FN_ComisionesEsquema.IdProducto = FN_ComisionesEsquemaSurtido.IdProducto 
inner join TipoVendedor on FN_ComisionesEsquemaSurtido.IdTipoVendedor = TipoVendedor.IdTipoVendedor
group by FN_ComisionesEsquemaSurtido.IdComEsquema, FN_ComisionesEsquemaSurtido.Esquema, FN_ComisionesEsquemaSurtido.IdTipoVendedor, FN_ComisionesEsquemaSurtido.TipoVendedor, 
FN_ComisionesEsquemaSurtido.IdFamilia, Familia, FN_ComisionesEsquemaSurtido.IdProducto, Producto, FN_ComisionesEsquemaSurtido.IdConceptoPago, FN_ComisionesEsquemaSurtido.ConceptoPago, 
FN_ComisionesEsquemaSurtido.Inicial, FN_ComisionesEsquemaSurtido.Final
order by FN_ComisionesEsquemaSurtido.IdComEsquema, FN_ComisionesEsquemaSurtido.Esquema, FN_ComisionesEsquemaSurtido.IdTipoVendedor, FN_ComisionesEsquemaSurtido.TipoVendedor, 
FN_ComisionesEsquemaSurtido.IdFamilia, Familia, FN_ComisionesEsquemaSurtido.IdProducto, Producto, FN_ComisionesEsquemaSurtido.IdConceptoPago, FN_ComisionesEsquemaSurtido.ConceptoPago, 
FN_ComisionesEsquemaSurtido.Inicial, FN_ComisionesEsquemaSurtido.Final

--set @IdConceptoPago = (	select distinct IdConceptoPago
--	from Surtidos
--	inner join Rutas on Rutas.IdCedis = Surtidos.IdCedis and Rutas.IdRuta = Surtidos.IdRuta 
--	left outer join FN_ComisionesEsquema(@IdCedis) on FN_ComisionesEsquema.IdTipoRuta = Rutas.TipoRuta 
--	where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido)

--select IdComEsquema, Esquema, IdTipoVendedor, TipoVendedor, IdFamilia, Familia, IdProducto, Producto, IdConceptoPago, ConceptoPago, 
--Inicial, Final, sum(Venta) as Venta, sum(Pago) as Pago 
--from FN_ComisionesEsquemaSurtido(@IdCedis, @IdSurtido)
--where FN_ComisionesEsquemaSurtido.IdConceptoPago in 
--	(select distinct IdConceptoPago
--	from Surtidos
--	inner join Rutas on Rutas.IdCedis = Surtidos.IdCedis and Rutas.IdRuta = Surtidos.IdRuta 
--	left outer join FN_ComisionesEsquema(@IdCedis) on FN_ComisionesEsquema.IdTipoRuta = Rutas.TipoRuta 
--	where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido) 
--group by IdComEsquema, Esquema, IdTipoVendedor, TipoVendedor, IdFamilia, Familia, IdProducto, Producto, IdConceptoPago, ConceptoPago, Inicial, Final
--order by IdComEsquema, Esquema, IdTipoVendedor, TipoVendedor, IdFamilia, Familia, IdProducto, Producto, IdConceptoPago, ConceptoPago, Inicial, Final

--Select TipoRuta, Familia, Categoria, Kilolitros as Venta, De, A, FactorVendedor, FactorAyudante, ComisionVendedor, ComisionAyudante
--from FN_ComisionesDetalleSurtido (@IdCedis, @fini, @ffin) as FN
--where FN.IdCedis = @IdCedis and FN.IdSurtido = @IdSurtido
--order by IdFamilia