@using eRoute.Helpers

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    var sPermiso = ViewBag.Permiso;
}

<style>
    /**ESTILOS PROPIOS*/
    #cuadrado {
        background: red;
        width: 100px;
        height: 100px;
        margin: 30px;
    }

    input, select, textarea {
        max-width: none !important;
    }

    @@media (min-width: 992px) {
        .col-md-1 {
            width: 12.333333%;
        }
    }


    /******/
    .form-valor .form-group label {
        margin-top: 7px;
    }

    md-radio-button {
        display: inline-block !important;
    }

</style>






<div class="container valores margen-tabla " ng-controller="FrecuenciaCtrl" ng-init="EditarFrecuencia('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">
    <div class="row form-group">
        <div class="col-md-12 header">
            <h3 class="titulo-altura ng-binding">{{translation.XAFrecuencias}}</h3>
        </div>
    </div>
    <form name="form"  ng-model="form" class="form-horizontal form-valor" ng-class="{sumitted:form.submited}" novalidate>
        <div class="row">
            <div class="col-md-12">

                <div class="row form-group">
                    <label class="col-sm-1">
                        {{translation.FREFrecuenciaClave}}
                    </label>
                    <div class="col-sm-1">
                        <input ng-disabled="statusEditar" type="text" class="form-control" data-modal="modal" ng-model="FrecuenciaClave" name="FrecuenciaClave" ng-required="true" />
                        <div ng-show="form.$submitted || form.FrecuenciaClave.$touched || statusClave">
                            <div class="error-message" ng-show="form.FrecuenciaClave.$error.required">{{translation.BE0001.replace('$0$', translation.FREFrecuenciaClave)}}</div>
                            <div class="error-message" ng-show="statusClave">{{translation.E0764.replace('$0$',FrecuenciaClave).replace('$1$',translation.XAFrecuencias)}}</div>
                            
                        </div>
                    </div>
                </div>
                        <div class="row form-group">
                            <label class="col-sm-1">
                                {{translation.FREDescripcion}}
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" data-modal="modal" ng-model="Descripcion" name="Descripcion" ng-required="true" />
                                <div ng-show="form.$submitted || form.Descripcion.$touched">
                                    <div class="error-message" ng-show="form.Descripcion.$error.required">{{translation.BE0001.replace('$0$', translation.FREDescripcion)}}</div>
                                </div>
                            </div>
                            <label class="col-sm-1">
                                {{translation.FRETipo}}
                            </label>
                            <div class="col-sm-2">
                                <select name="Tipo" id="Tipo" ng-model="Tipo" class="form-control" style="max-width:100%" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in fretipo" ng-required="true" ng-change="iniciarInputs();">
                                    <option value="" disabled selected>{{translation.XSeleccionarOpcion}}</option>
                                </select>
                                    <div ng-show="form.$submitted || form.Tipo.$touched">
                                        <div class="error-message" ng-show="form.Tipo.$error.required">{{translation.BE0001.replace('$0$', translation.FRETipo)}}</div>
                                    </div>
                             </div>
                        </div>
                <div class="row form-group">
                    <label class="col-sm-1">
                        {{translation.FREFechaInicio}}
                    </label>
                    <div class="col-sm-3" >
                            <md-datepicker  ng-change="iniciarFechaFinal()" required style="background-color:#f7f7f7 !important" 
                                            name="FechaInicio" id="FechaInicio" ng-model="FechaInicio" 
                                           md-placeholder="dd/mm/aaaa" onkeydown="return false"></md-datepicker>
                        
                        <div ng-show="form.$submitted || form.FechaInicio.$touched">
                            <div class="error-message" ng-show="form.FechaInicio.$error.required">{{translation.BE0001.replace('$0$', translation.FREFechaInicio)}}</div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-1">
                        {{translation.FREFechaFinal}}
                    </label>
                    <div  class="col-sm-3">
                        <md-datepicker  onkeydown="return false" md-min-date="FechaInicio" ng-disabled="fechaFinalStatus" 
                                       required style="background-color:#f7f7f7 !important" ng-model="FechaFinal" name="FechaFinal" 
                                       id="FechaFinal" md-placeholder="dd/mm/aaaa"></md-datepicker>
                        <div ng-show="form.$submitted || form.FechaFinal.$touched">
                            <div class="error-message" ng-show="form.FechaFinal.$error.required">{{translation.BE0001.replace('$0$', translation.FREFechaFinal)}}</div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-1">
                        {{translation.FREUnidadInicio}}
                    </label>
                    <div class="col-sm-2">
                        <div ng-show="tip">
                            <select name="UnidadInicio" id="UnidadInicio" ng-model="UnidadInicio" class="form-control" style="max-width:100%"
                                     ng-options="data.VAVClave as data.Descripcion for data in fredia" ng-required="true">
                                <option value="" disabled selected>{{translation.XSeleccionarOpcion}}</option>
                            </select>
                        </div> 
                       
                        <div ng-show="tip2">
                                    <md-datepicker  onkeydown="return false" required md-min-date="minFecha" md-max-date="maxFecha"
                                                   style="background-color:#f7f7f7 !important" ng-model="UnidadInicio2" name="UnidadInicio2" id="UnidadInicio2"
                                                   md-placeholder="dd/mm/aaaa"></md-datepicker>
                            
                        </div>
                            <div ng-show="(form.$submitted || form.UnidadInicio.$touched) && tip ">
                                <div class="error-message" ng-show="form.UnidadInicio.$error.required">{{translation.BE0001.replace('$0$', translation.FREUnidadInicio)}}</div>
                            </div>
                            <div ng-show="(form.$submitted || form.UnidadInicio2.$touched) && tip2 ">
                                <div class="error-message" ng-show="form.UnidadInicio2.$error.required">{{translation.BE0001.replace('$0$', translation.FREUnidadInicio)}}</div>
                            </div>
                        </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-1" style="text-align:right">
                        {{translation.FRERepeticion}}
                    </label>
                    <div class="col-sm-1">
                        <input onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
                                type="text" class="form-control" data-modal="modal" ng-model="Repeticion" name="Repeticion" ng-required="true" />
                        <div ng-show="form.$submitted || form.Repeticion.$touched || errorRep">
                            <div class="error-message" ng-show="form.Repeticion.$error.required">{{translation.BE0001.replace('$0$', translation.FRERepeticion)}}</div>
                            <div class="error-message" ng-show="errorRep">{{translation.E0561}}</div>
                         </div>
                    </div>
                    <label class="col-sm-2" style="text-align:right">
                        {{translation.FREIntervalo}}
                    </label>
                    <div class="col-sm-1">
                        <input onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" 
                               type="text" class="form-control" data-modal="modal" ng-model="Intervalo" name="Intervalo" ng-required="true" />
                        
                        <div ng-show="form.$submitted || form.Intervalo.$touched">
                            <div class="error-message" ng-show="form.Intervalo.$error.required">{{translation.BE0001.replace('$0$', translation.FREIntervalo)}}</div>
                            <div class="error-message" ng-show="banRep">{{translation.E0602.replace('$0$',fretipo[Tipo-1].Descripcion).replace('$1$',cantDias)}}</div>
                         </div>
                    </div>
                </div>



            </div>

                    <!--Botones aceptar y cancelar-->
                    <div class="container" style="margin-left: 20px">
                        @{  if (!bSoloLectura)
                            {
                                <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarFrecuencia()" />
                                <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                            }
                            else
                            {
                                <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                            }
                        }
                    </div>
                    @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
                    @{ Html.RenderPartial("MsgBox/MsgBox"); }
                </div>
</form>

</div>


