@using eRoute.Helpers

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    string sPermiso = ViewBag.Permiso;
    string Clave = ViewBag.Clave;
}

<style>
    /**ESTILOS PROPIOS*/
    input, select, textarea {
        max-width: none !important;
    }

    .header h3 {
        line-height: 1.45;
    }

    .form-valor .form-group label {
        margin-top: 7px;
    }

    /* PANEL DANGER */
    .panel-danger > .panel-heading {
        color: #ffffff;
        /*background-color: #ce6969;*/
        background-color: #ce4c4c;
        border-color: #b76d78;
    }

    .divCarga {
        float: right;
        position: relative;
        height: 255px;
        width: 99%;
    }
    /* PANEL DANGER */

    /*RUTA PREVENTA*/
    .scrow {
        width: 100%;
        height: 200px;
        overflow: scroll;
    }

    /*.tabRutas {
        pointer-events: none;
    }*/

    /*RUTA PREVENTA*/


</style>


<div class="row margen-tabla" ng-controller="cargasController" ng-init="EditarCargas('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">

    <div class="header" style="display: block;">
        <h3 class="titulo-productos">&nbsp&nbsp{{translation.XCargas}}</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="form" class="form-horizontal form-valor" ng-class="{submitted:form.submitted}" novalidate>
                <br />
                <div class="panel panel-danger">
                    <div class="panel-body">
                        <div class="row">
                            <!-- FOLIO -->
                            <div class="col-md-2">
                                <label class="label-align" for="">{{translation.CFolio}}</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="FolioID" class="form-control" name="Folio" ng-model="Folio" ng-required="true" ng-disabled="SoloLectura" />
                                <div ng-show="form.$submitted || form.Folio.$touched">
                                    <div class="error-message" ng-show="form.Folio.$error.required">{{translation.BE0001.replace('$0$', translation.CFolio)}}</div>
                                </div>
                            </div>
                            <!-- FASE -->
                            <div class="col-md-2">
                                <label class="label-align" for="">{{translation.TERTipoFase}}</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" data-modal="modal" name="TipoFase" id="ddlTipoFase" ng-model="TipoFase" ng-options="data.VAVClave as data.Descripcion for data in trpfase" ng-disabled="SoloLectura"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <!-- DIA TRABAJO -->
                            <div class="col-md-2">
                                <label class="label-align" for="">{{translation.TRPDiaClave}}</label>
                            </div>
                            <div class="col-md-4" data-modal="modal">
                                <md-datepicker class="md-picker-style" ng-model="DiaTrabajo" name="DiaTrabajo" md-min-date="minDate" ng-required="true" md-placeholder="Dia Trabajo" ng-disabled="SoloLectura"></md-datepicker>
                                <div ng-show="form.$submitted || form.DiaTrabajo.$touched">
                                    <div class="error-message" ng-show="form.DiaTrabajo.$error.required">{{translation.BE0001.replace('$0$', translation.TRPDiaClave)}}</div>
                                </div>
                            </div>
                            <!-- CEDIS -->
                            <div class="col-md-2">
                                <label class="label-align" for="">{{translation.TERAlmacenID}}</label>
                            </div>
                            <div class="col-md-4">
                                <select name="AlmacenID" id="ddlAlmacenID" ng-model="AlmacenID" ng-options="val.AlmacenID as val.Nombre for val in centroDist" ng-required="true" class="form-control" data-modal="modal" ng-disabled="SoloLectura" ng-change="LimpiarVendedor()">
                                    <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                </select>
                                <div ng-show="form.$submitted || form.AlmacenID.$touched">
                                    <div class="error-message" ng-show="form.AlmacenID.$error.required">{{translation.BE0001.replace('$0$', translation.TERAlmacenID)}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- VENDEDOR -->
                            <div class="col-md-2">
                                <label class="label-align" for="">{{translation.XVendedor}}</label>
                            </div>
                            <div class="col-md-10 form-inline input-group">
                                <input type="text" name="" ng-required="true" ng-disabled="false" ng-model="VendedorId" class="form-control" value="" style="width:20%" />
                                <input type="text" name="" ng-required="true" ng-disabled="true" ng-model="VENNombre" class="form-control" value="" style="width:80%"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-md"  ng-click="SeleccionarVendedor()"><i ng-show="!loading" class="fa fa-ellipsis-v" aria-hidden="true"></i>  <img style="width:20px;" ng-show="loading" src="../Content/images/cargando.gif" alt="Alternate Text" /></button>
                                </span>
                                <div ng-show="form.$submitted || form.Vendedor.$touched">
                                    <div class="error-message" ng-show="form.Vendedor.$error.required">{{translation.BE0001.replace('$0$', translation.XVendedor)}}</div>
                                </div>
                            </div>
                            @*ng-disabled="botonVendedorBloq"*@
                        </div>
                        <br />
                        <div class="row">
                            <!-- MÓDULO -->
                            <div class="col-md-2">
                                <label class="label-align" for="">{{translation.MODModulo}}</label>
                            </div>
                            <div class="col-md-4">
                                <select name="moduloID" id="ddlModuloID" ng-model="moduloID" ng-options="val.ModuloMovDetalleClave as val.Nombre for val in moduloList" class="form-control" data-modal="modal" ng-disabled="SoloLectura"></select>
                            </div>
                            <!-- TIPO -->
                            <div class="col-md-2">
                                <label class="label-align" for="">{{translation.CASTipo}}</label>
                            </div>
                            <div class="col-md-4">
                                <select name="TipoCarga" id="ddlTipoCarga" ng-model="TipoCarga" ng-change="ObtenerRutas()" class="form-control" style="max-width:100%" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in tcarsu" ng-required="true" ng-disabled="SoloLectura"></select>
                                <div ng-show="form.$submitted || form.TipoCarga.$touched">
                                    <div class="error-message" ng-show="form.TipoCarga.$error.required">{{translation.BE0001.replace('$0$', translation.PROTipo)}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row panel-body" ng-show="!datosCargaBloq">

                            <div ng-show="!datosCargaBloq">
                                <div class="row form-group" style="margin-bottom:0" ng-show="!preventaInicioBloq">
                                    <div class="col-md-2">
                                        <label class="label-align" for="">{{translation.CASDe}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <md-datepicker class="md-picker-style" ng-model="preventaInicio" name="preventaInicio" ng-required="true" style="max-width:100%"></md-datepicker>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="label-align" for="">{{translation.CASAl}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <md-datepicker class="md-picker-style" ng-model="preventaFin" name="preventaFin" ng-required="true"></md-datepicker>
                                    </div>
                                </div>
                                <div class="row form-group" ng-show="!semanasCargaBloq" style="margin-bottom:0">
                                    <div class="col-md-2">
                                        <label class="label-align" for="">{{translation.CASSemanas}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="semanasCarga" ng-model="semanasCarga" class="form-control" data-modal="modal" />
                                    </div>
                                </div>
                                <br />
                                @*Rutas Preventa*@
                                <div class="row form-group" style="margin-bottom:0" ng-show="!allRutasBloq">
                                    <div class="col-md-2">
                                        <label class="label-align" for="">{{translation.XRutaPreventa}}</label>
                                    </div>

                                    <!--Tabla-->
                                    <div class="col-md-12"" style="margin-left: 20px; margin-right: 20px;">
                                        <table class="table table-bordered">
                                            <tr class="Lnegras">
                                                <td style="width:5%"> <input class="camposInput" type="checkbox" ng-model="allRutas" name="allRutas" ng-disabled="allRutasBloq"> </td>
                                                @{
                                                    if (!bSoloLectura)
                                                    {
                                            <!--Orden ascendente o descendente-->
                                                        <th style="width:30%" class="cursor-pointer" ng-click="sort('Clave')"><b>{{translation.RUTRUTClave}}</b><span class="glyphicon sort-icon" ng-show="sortKey=='Clave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                        <th style="width:70%" class="cursor-pointer" ng-click="sort('Descripcion')"><b>{{translation.CRuta}}</b><span class="glyphicon sort-icon" ng-show="sortKey=='Descripcion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    }
                                                    else
                                                    {
                                                        <th style="width:30%" ><b>{{translation.RUTRUTClave}}</b></th>
                                                        <th style="width:70%"><b>{{translation.CRuta}}</b></th>
                                                    }
                                                }
                                            </tr>
                                            <tr ng-repeat="rut in rutaPreventaList|orderBy:sortKey:reverse">
                                                <td><input id="{{rut.RUTClave}}" class="camposInput" type="checkbox" ng-model="RUTClave.$index" name="{{'RUTClave' + $index }}" ng-false-value="'NO'" ng-true-value="'YES'"></td>
                                                <td style="width:30%">{{rut.RUTClave}}</td>
                                                <td style="width:70%">{{rut.Descripcion}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-5">
                                        <input type="button" value="{{translation.btCalcular}}" class="btn btn-default" ng-click="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                  
                @* Productos *@
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{translation.XProductos}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container" style="margin-left: 20px; margin-right: 20px;">
                            <div class="row">
                                <div class="col-md-6">
                                    @{ if (!bSoloLectura)
                                        {
                                            @Html.ImageButtonLink("../Content/images/crear.png", "agregarProducto()", "{{translation.XAgregar}} {{translation.XProductos}}")
                                        }
                                    }

                                </div>
                            </div>
                            <br />
                            <div>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            @{ if (!bSoloLectura)
                                                {
                                                    <th style="width:5%"></th>
                                                }
                                            }
                                            <th> <b>{{translation.CProducto}}</b> </th>
                                            <th> <b>{{translation.PRONombreCorto}}</b> </th>
                                            <th> <b>{{translation.PRGTipoUnidad}}</b> </th>
                                            <th> <b>{{translation.XSugerido}}</b> </th>
                                            <th> <b>{{translation.PRGCantidad}}</b> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*<tr ng-repeat="p in productoEquivalente">
                                            <td>{{p.ProductoPqvClave}}</td>
                                            <td>{{p.Nombre}}</td>

                                            <td>
                                                <div class="col-md-6">
                                                    <select id="ddlEstadoProductoEq" class="form-control" data-modal="modal" ng-model="TipoEstadoEquiv" name="TipoEstadoEquiv" ng-options="estado.VAVClave as estado.Descripcion for estado in edoreg" ng-required="true" ng-disabled="SoloLectura" ng-change="UpdateProductoEquiv()">
                                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.TipoEstadoEquiv.$touched">
                                                        <div class="error-message" ng-show="form.TipoEstadoEquiv.$error.required">{{translation.BE0001.replace('$0$', translation.IMPTipoEstado)}}</div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>
                            </div>



                        </div>


                    </div>
                </div>
                                                
                &nbsp
                <div>
                    @{ if (!bSoloLectura)
                        {
                            <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarProducto()" />
                                <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                        }
                        else
                        {
                            <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                        }
                    }
                </div>                
            </form>

            @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
            @{ Html.RenderPartial("Vendedores/SeleccionVendedor"); }
            
        </div>
    </div>

</div>