@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    string sPermiso = ViewBag.Permiso;
}
<style>
    /**ESTILOS PROPIOS*/
    #cuadrado {
        background: red;
        width: 100px;
        height: 100px;
        margin: 30px;
    }

    input, select, textarea {
        max-width: none !important;
    }

    @@media (min-width: 992px) {
        .col-md-1 {
            width: 12.333333%;
        }
    }


    /******/
    .form-valor .form-group label {
        margin-top: 7px;
    }

    md-radio-button {
        display: inline-block !important;
    }
</style>

<div class="container valores margen-tabla " ng-controller="MonedasCtrl " ng-init="EditarMonedas('@ViewBag.TipoCodigo', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">
    <div class="row ">
        <div class="col-md-12 header">
            <h3 class="titulo-altura ng-binding">{{translation.XMoneda}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="form" class="form-horizontal form-valor" ng-class="{sumitted:form.submited}" novalidate>
                <div role="tabpanel">
                    <div class="tab-content">
                        <br />
                        <div role="tabpanel" class="tab-pane active" id="seccion1">
                            <div class="row form-group ">
                                <!--Nombre*-->
                                <label class="col-md-2">
                                    {{translation.MONNombre}}*<!--translation.XClave | uppercase  *poner en MAYUSCULAS LAS LETRAS-->
                                </label>
                                <div class="col-md-8">
                                    <input type="text" maxlength="40" class="form-control" data-modal="modal" ng-model="Nombre" name="Nombre" ng-required="true" ng-disabled="SoloLectura" />
                                    <div ng-show="form.$submitted || form.Nombre.$touched">
                                        <div class="error-message w" ng-show="form.Nombre.$error.required">{{translation.BE0001.replace('$0$', translation.MONNombre)}}</div>


                                    </div>
                                </div>

                            </div>
                            <div class="row form-group ">
                                <!--Codigo*-->
                                <label class="col-md-2">
                                    {{translation.VARVARCodigo}}*
                                </label>

                                <div class="col-md-3">
                                    <select class="form-control" validar-codigo-moneda ng-model="TipoCodigo" name="TipoCodigo" ng-options="val.VAVClave as val.Descripcion for val in  cdgomon " ng-required="true" validar-tipo-codigo-cambiado="true" ng-disabled="SoloLectura">
                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                    </select>

                                    <div ng-show="form.$submitted || form.TipoCodigo.$touched">
                                        <div class="error-message col-md-offset-12 w" ng-show="form.TipoCodigo.$error.required">{{translation.BE0001.replace('$0$', translation.VARVARCodigo)}}</div>
                                        <div class="error-message" ng-show="form.TipoCodigo.$error.codigoMonedaRepetido">{{translation.BE0002}}</div>
                                        <div class="error-message" ng-show="form.TipoCodigo.$error.tCodigoCambiado">{{translation.BE0002}}</div>
                                    </div>
                                    <!--<pre>{form.TipoCodigo }}</pre>-->
                                </div>
                            </div>
                            <div class="row form-group ">
                                <!--Simbolo-->
                                <label class="col-md-2">

                                    {{translation.MONSimbolo}}
                                </label>
                                <div class="col-md-3">
                                    <input type="text" maxlength="1" class="form-control" data-modal="modal" ng-required="true" ng-model="Simbolo" name="Simbolo" ng-disabled="SoloLectura" />
                                    <div ng-show="form.$submitted || form.Simbolo.$touched">
                                        <div class="error-message col-md-offset-12 w" ng-show="form.Simbolo.$error.required">{{translation.BE0001.replace('$0$', translation.MONSimbolo)}}</div>

                                    </div>
                                </div>

                                <!--Estado-->
                                <label class="col-md-1 ">
                                    {{translation.MONTipoEstado}}
                                </label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="TipoEstado" name="TipoEstado" ng-options="val.VAVClave as val.Descripcion for val in edoreg " ng-disabled="MsgEstado||SoloLectura">
                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                    </select>
                                    <div class="error-message" ng-show="MsgEstado">{{translation.E0628}}</div>
                                </div>
                            </div>

                            <div class="panel panel-danger">
                                <div class="panel-heading"><h4>{{translation.XTipoDeCambio}}</h4></div>
                                <div class="panel-body">
                                    <div class="row form-group ">
                                        <!--VigenteDesde-->
                                        <label class="col-md-2">

                                            {{translation.IVIFechaInicial}}
                                        </label>
                                        <div class="col-md-4">
                                            <md-datepicker class="md-picker-style"
                                                           ng-required="true"
                                                           ng-model="FechaInicial"
                                                           name="{{'FechaInicial'}}"
                                                           md-placeholder="{{FechaInicial | date:'MM/dd/yyyy'}}"
                                                           validar-fecha-min-max="true"
                                                           ng-disabled="SoloLectura">
                                            </md-datepicker>

                                            <!--<pre>{form.PPVFechaInicio1 }}</pre>-->

                                            <div ng-show="form.$submitted || form.FechaInicial.$touched">

                                                <div class="error-message" ng-show="form.FechaInicial.$error.fechaMin">{{translation.E0066.replace('$0$', translation.XFecha)}}</div>

                                            </div>
                                        </div>

                                        <!--Vigencia-->

                                        <div class="col-md-3" ng-if="!Nuevo " ng-disabled="true">

                                            @Html.ImageButtonLink("../Content/images/calendario.png", "VigenciaMoneda()", " {{translation.BTVigenciaTipoCambioT}}")

                                        </div>

                                    </div>
                                    <br />

                                    <div class="row form-group ">
                                        <!--Valor*-->
                                        <label class="col-md-2">
                                            {{translation.XValor}}
                                        </label>

                                        <div class="col-md-3">
                                            <input valid-number maxlength="15" class="form-control" data-modal="modal" ng-model="valor" name="valor" amount="stake" b-to-cury ng-disabled="SoloLectura" />

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="container" style="margin-left: 20px">
                                <!--Botones-->
                                @{  if (!bSoloLectura)
                                    {
                                        <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarMoneda()" />
                                        <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                                    }
                                    else
                                    {
                                        <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>




                @{ Html.RenderPartial("Monedas/VigenciaMonedasBox"); }
                @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
                @{ Html.RenderPartial("MsgBox/MsgBox"); }
            </form>
        </div>

    </div>
</div>



