<mat-card class="card-login">
  <mat-card-header class="card-header-login">
    <mat-card-title>Inicio de Sesión</mat-card-title>
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content class="card-content-login">
      <div class="form-group">
        <span class="icon-form-field-login">
          <mat-icon>person</mat-icon>
        </span>
        <mat-form-field class="form-field-login">
          <input matInput maxlength="10" placeholder="Usuario" formControlName="username" required>
          <mat-error *ngIf="submitted || formControl.username.invalid">{{getErrorMessageUser()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <span class="icon-form-field-login">
          <mat-icon>lock</mat-icon>
        </span>
        <mat-form-field class="form-field-login">
          <input matInput maxlength="10" placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="submitted || formControl.password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions-login">
      <button mat-stroked-button class="button-login" type="submit" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Iniciar Sesión
      </button>
    </mat-card-actions>
    <div [hidden]="!error" class="alert alert-danger">{{error}}</div>
  </form>
</mat-card>
