USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Unidades]    Script Date: 05/28/2010 05:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[sel_Unidades]
@Cedis as bigint
AS
select IdUnidad as 'Clave', NoEconomico as 'No. Económico', NoSerie as 'Placas', Modelo as 'Modelo', Marca as 'Marca', FechaAlta, 
case Status 
	when 'A' then 'Activo'
	else 'Baja'
	end as 'Estatus'
from Unidades where IdCedis = @Cedis
order by NoEconomico


