USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_VentasContado]    Script Date: 06/03/2010 10:48:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[up_VentasContado]
@IdCedis as bigint,
@Fecha as datetime,
@Folio as bigint,
@Serie as varchar(5),
@Status as varchar(5),
@IdMarca as bigint,
@Opc as int

AS

if @Opc = 1 -- Inserta Factura Nueva
begin
	if not exists( select Folio from VentasContado where IdCedis = @IdCedis and Fecha = @Fecha and Serie = @Serie and IdMarca = @IdMarca)
	begin
		select @Folio = isnull(FS.Usados + 1, 1)
		from Route.dbo.FolioSolicitado FS
		where Serie = @Serie 
	
		insert into VentasContado values (@IdCedis, @Fecha, @Folio, @Serie, @Status, @IdMarca)	
		
		update Route.dbo.FolioSolicitado set Usados = @Folio where Serie = @Serie 
	end
end
