<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="navbar-form navbar-left navbar-search-form" role="search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" value="" class="form-control" placeholder="Search..." id="searchbox">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 buttons-with-margin">
                                <button type="button" class="btn btn-danger btn-fill btn-wd pull-right" (click)="eliminarMasivo()">
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    Eliminar
                                </button>

                                <input id="file-upload" (change)="handleFileInput($event.target.files)" #fileInput type="file" name="archivo" accept=".csv" style='display: none;'/>
                                <button type="button" class="btn btn-success btn-fill btn-wd pull-right" mat-raised-button (click)="fileInput.click()">
                                    <span class="btn-label">
                                        <i class="fa fa-cloud-upload"></i>
                                    </span>
                                    Subir
                                </button>
                            </div>
                        </div>
                        <div class="fresh-datatables">
                            <table id="datatablesentidad" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="disabled-sorting">
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkboxSys" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()" />
                                                <label for="checkboxSys"></label>
                                            </div>
                                        </th>
                                        <th>Clave</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th class="disabled-sorting"></th>
                                        <th>Clave</th>
                                        <th>Nombre</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let entidad of entidades">
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="{{entidad.sysidEntidad}}" [(ngModel)]="entidad.isSelected" name="list_name" value="{{entidad.sysidEntidad}}" (change)="isAllSelected()">
                                                <label for="{{entidad.sysidEntidad}}"></label>
                                            </div>
                                        </td>
                                        <td>{{entidad.Clave}}</td>
                                        <td>{{entidad.Nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>