USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[sel_DiasCerrados]    Script Date: 10/26/2010 13:56:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[sel_DiasCerrados] 
@IdCedis as bigint,
@Opc as int
AS

if @Opc = 1 -- Por Cedis y Fechas
	select distinct SD.StatusDesc, SD.Fecha
	from RouteADM.dbo.StatusDia SD 
	where SD.IdCedis = @IdCedis and SD.Fecha not in ( select Fecha from Movimientos 
	where IdCedis = @IdCedis and IdDocumento = 'CT' and Status in ('A', 'P') and Fecha = SD.Fecha )
		and Status = 'C' and Fecha > '20100927'
	order by SD.Fecha asc

