USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_SurtidosMerma]    Script Date: 07/20/2010 12:23:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[sel_SurtidosMerma] 
@IdCedis as bigint,
@IdSurtido as bigint,
@IdProducto as bigint,
@Opc as int
AS

if @Opc = 1
	select SurtidosMerma.IdSurtido, SurtidosMerma.IdTipoMerma as 'Id', TipoMerma.TipoMerma as 'Tipo Devolución Mala', 
	SurtidosMerma.Cantidad as 'Cantidad', case TipoMerma.Aplica when 1 then 'S' else 'N' end as Aplica
	from SurtidosMerma
	inner join TipoMerma on SurtidosMerma.IdTipoMerma = TipoMerma.IdTipoMerma
	where SurtidosMerma.IdCedis = @IdCedis and SurtidosMerma.IdSurtido = @IdSurtido and IdProducto = @IdProducto
	order by SurtidosMerma.IdTipoMerma

if @Opc = 2
	select isnull( sum(Cantidad), 0 ) 
	from SurtidosMerma 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdProducto = @IdProducto
		and IdTipoMerma in ( select IdTipoMerma from TipoMerma where Aplica = 1 )


