USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_TipoMermas]    Script Date: 07/20/2010 12:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sel_TipoMermas]

AS
select IdTipoMerma as 'Clave', TipoMerma as 'Tipo de Devolución', Orden as 'Orden', FechaAlta,
case Status 
	when 'A' then 'Activo'
	else 'Baja'
	end as 'Estatus',
case Aplica 
	when 1 then 'S'
	else 'N'
	end as 'Descuenta Liquidación',
case Imputable  
	when 'V' then 'Vendedor'
	when 'C' then 'Cedis'
	else '<No Imputable>'
	end as 'Imputable'
from TipoMerma
order by TipoMerma



