use RouteADM

declare tabla_cursor cursor local for 
select name from sysobjects where xtype = 'U'

open tabla_cursor
declare @Nombre as sysname

fetch next from tabla_cursor into @Nombre
while @@FETCH_STATUS = 0 
begin
	dbcc dbreindex(@Nombre)
	fetch next from tabla_cursor into @Nombre
End

close tabla_cursor 
deallocate tabla_cursor

go

create nonclustered index [IndiceComisiones]
on dbo.SurtidosVendedor(IDCedis,IdVendedor)
include (IdSurtido,IDTipoVendedor)


go

create nonclustered index [IndiceComisionesSAlsdoVendedor]
on dbo.VendedoresSaldos(IDCedis,IdVendedor,Fecha)
include (IdSurtido,SaldoActual)

go 

create nonclustered index [IndiceComisionesSaldosVendedorFinanciaD]
on dbo.VendedoresSaldosFinanciaD(IDCedis,IdVendedor,Fecha)
include (Monto)

go


drop  FUNCTION [dbo].[FN_ComisionesDetalleFecha]

go

create FUNCTION [dbo].[FN_ComisionesDetalleFecha]
(
	@IdCedis as bigint,
	@FechaInicial as datetime,
	@FechaFinal as datetime
)  
RETURNS @t Table (IdVendedor bigint,Nomina VarChar(20),Vendedor varchar(150),
IdSurtido BigInt,IdTipoVendedor BigInt,TipoVendedor varchar(20),
Pago float,Fecha DateTime,AbonoMerma Float,AbonoVolumen float,CargoMerma decimal,
VentaTotal float

)

AS  
begin
declare @TSurtidoMermas as table(Total   decimal,IDCedis   bigint,IdSurtido   bigint)
			insert into @TSurtidoMermas 
			
			select sum(Cantidad * Precio)as Total ,SurtidosMerma.IdCedis,SurtidosMerma.IdSurtido
			from SurtidosMerma 
			inner join SurtidosDetalle on SurtidosMerma.IdCedis = SurtidosDetalle.IdCedis and SurtidosMerma.IdSurtido = SurtidosDetalle.IdSurtido 
				and SurtidosMerma.IdProducto = SurtidosDetalle.IdProducto 
			inner join TipoMerma on SurtidosMerma.IdTipoMerma = TipoMerma.IdTipoMerma and Imputable = 'V'
			where SurtidosMerma.IdCedis=@IdCedis
			group by  SurtidosMerma.IdCedis,SurtidosMerma.IdSurtido
			
	
insert into @t
		select Vendedores.IdVendedor, Vendedores.Nomina, ApPaterno + ' ' + ApMaterno + ' ' + Nombre as Vendedor,
		FN_ComisionesEsquemaFecha.IdSurtido, FN_ComisionesEsquemaFecha.IdTipoVendedor, 
		FN_ComisionesEsquemaFecha.TipoVendedor, SUM(FN_ComisionesEsquemaFecha.Pago) as Pago, FN_ComisionesEsquemaFecha.Fecha,
		SUM(FN_ComisionesEsquemaFecha.AbonoMerma) as AbonoMerma, SUM(FN_ComisionesEsquemaFecha.AbonoVolumen) as AbonoVolumen,
		ISNULL(Mermas.Total,0) as CargoMerma,
		sum(FN_ComisionesEsquemaFecha.VentaTotal) as VentaTotal			
		from FN_ComisionesEsquemaFecha(@IdCedis, @FechaInicial, @FechaFinal) 
		inner join FN_ComisionesEsquema(@IdCedis) on FN_ComisionesEsquema.IdComEsquema = FN_ComisionesEsquemaFecha.IdComEsquema and FN_ComisionesEsquema.IdConceptoPago = FN_ComisionesEsquemaFecha.IdConceptoPago
			and FN_ComisionesEsquema.IdTipoRuta = FN_ComisionesEsquemaFecha.TipoRuta and FN_ComisionesEsquema.IdTipoVendedor = FN_ComisionesEsquemaFecha.IdTipoVendedor
			and FN_ComisionesEsquema.IdProducto = FN_ComisionesEsquemaFecha.IdProducto 
		inner join SurtidosVendedor on FN_ComisionesEsquemaFecha.IdCedis = SurtidosVendedor.IdCedis and FN_ComisionesEsquemaFecha.IdSurtido = SurtidosVendedor.IdSurtido 
			and FN_ComisionesEsquemaFecha.IdTipoVendedor = SurtidosVendedor.IdTipoVendedor
		inner join Vendedores on Vendedores.IdCedis = SurtidosVendedor.IdCedis and Vendedores.IdVendedor = SurtidosVendedor.IdVendedor 
		left join (
		
			select sum(Cantidad * Precio)as Total ,SurtidosMerma.IdCedis,SurtidosMerma.IdSurtido
			from SurtidosMerma 
			inner join SurtidosDetalle on SurtidosMerma.IdCedis = SurtidosDetalle.IdCedis and SurtidosMerma.IdSurtido = SurtidosDetalle.IdSurtido 
				and SurtidosMerma.IdProducto = SurtidosDetalle.IdProducto 
			inner join TipoMerma on SurtidosMerma.IdTipoMerma = TipoMerma.IdTipoMerma and Imputable = 'V'
			where SurtidosMerma.IdCedis=@IdCedis
			group by  SurtidosMerma.IdCedis,SurtidosMerma.IdSurtido
		
		) Mermas on Mermas.IdCedis = FN_ComisionesEsquemaFecha.IdCedis and Mermas.IDSurtido=FN_ComisionesEsquemaFecha.IdSurtido
				group by FN_ComisionesEsquemaFecha.IdCedis, Vendedores.IdVendedor, Vendedores.Nomina, ApPaterno, ApMaterno, Nombre,
		FN_ComisionesEsquemaFecha.TipoVendedor, FN_ComisionesEsquemaFecha.IdSurtido, FN_ComisionesEsquemaFecha.IdTipoVendedor, 
		FN_ComisionesEsquemaFecha.Fecha, Mermas.Total
		

return 
end
	
