USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[Gsp_ObtenerReportes]    Script Date: 07/21/2010 20:36:50 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





ALTER PROCEDURE [dbo].[Gsp_ObtenerReportes]

@Tipo as int,
@IdReporte as int,
@Mostrar as varchar(2)

AS

if @Tipo = 1
begin

	Select 	IdReporte as [Número de Reporte], ltrim(rtrim(NombreReporte)) as [Nombre]
	from 	GReportesNaturaleza 
	where    Mostrar = @Mostrar
	order by NombreReporte 
end

if @Tipo = 2
begin
	SELECT     REP.IdReporte, SUBREP.IdSubReporte, LTRIM(RTRIM(REP.NombreReporte)) AS Nombre, LTRIM(RTRIM(SUBREP.Descripcion)) AS SubReporte, 
	                      SUBREP.EjecucionSQL, SUBREP.CampoInicial, SUBREP.CampoFinal, SUBREP.CampoFiltro, SUBREP.ImpresionREP, SUBREP.ImpresionXLS,
		SUBREP.DescripcionAgrupacion, SUBREP.EjecucionSQLXLS, SUBREP.CampoInicialXLS, SUBREP.CampoFinalXLS
	FROM         GReportesNaturaleza REP INNER JOIN
	                      GReportesNivel SUBREP ON REP.IdReporte = SUBREP.IdReporte
	WHERE     (SUBREP.Mostrar = 'S') and (REP.IdReporte = @IdReporte)
	ORDER BY REP.IdReporte, SUBREP.IdSubReporte
end




