USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_Cargas]    Script Date: 08/05/2010 14:20:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[up_Cargas]
@IdCedis as bigint,
@IdSurtido as bigint,
@IdCarga as bigint,
@Fecha as datetime,
@IdRuta as bigint,
@Opc as int

AS

declare @IdCargaAnt as bigint

if @Opc = 1  
begin

	set @IdCarga = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta) + 1, 1)	
	if @IdCarga > 1 
	begin
		set @IdCargaAnt = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta and IdCarga < @IdCarga), 0)	
		if @IdCarga - @IdCargaAnt > 1 
			set @IdCarga = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta and IdCarga < @IdCarga) + 1, 1)	
	end
	
	insert into Cargas values (@IdCedis, @IdSurtido, @IdCarga, @IdRuta, @Fecha, 'A')
end

if @Opc = 2  
begin

	delete from SurtidosCargas where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdCarga = @IdCarga 
	delete from Rejas where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdCarga = @IdCarga 
	update Cargas set Status = 'B' where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdCarga = @IdCarga 
end
