@model DevExpress.XtraReports.UI.XtraReport

@{
    ViewBag.Title = "eRoute";
    Layout = null; //"~/Views/Menu/Index.cshtml";
}


@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer }
)
@Html.DevExpress().GetScripts(
    new Script { ExtensionType = ExtensionType.WebDocumentViewer }
)

<div @*style="margin-top:66px;"*@>
    @Html.DevExpress().WebDocumentViewer(settings =>
    {
        settings.Name = "documentViewer";
    }).Bind(Model).GetHtml()

</div>