USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_Surtidos]    Script Date: 08/10/2010 23:10:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




ALTER PROCEDURE [dbo].[up_Surtidos] 
@IdCedis as bigint,
@IdSurtido as bigint,
@Fecha as datetime,
@IdRuta as bigint,
@Opc as int

AS

declare @IdRutaS as bigint, @IdCarga as bigint

if @Opc = 1  
begin
	set @IdSurtido = isnull ( (select max(IdSurtido) from Surtidos where IdCedis = @IdCedis)+1, 1)	
	insert into Surtidos values (@IdCedis, @IdSurtido, @Fecha, @IdRuta, 'P', 'N')

	set @IdCarga = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta) + 1 , 1)	
	insert into Cargas values (@IdCedis, @IdSurtido, @IdCarga, @IdRuta, @Fecha, 'A')

	Insert into SurtidosVendedor
	select @IdCedis, @IdSurtido, @Fecha, IdVendedor, IdTipoVendedor
	from VendedoresRutas
	where IdCedis = @IdCedis and IdRuta = @IdRuta
	
	-- SE ARRASTRA A CARGA EL INV SOBRANTE DE LA LIQIDACIÓN ANTERIOR
	declare @IdSurtidoA as bigint

	select top 1 @IdSurtidoA = isnull(IdSurtido,0)
	from Surtidos 
	where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta and Status = 'C'
	order by IdSurtido desc
	
	if @IdSurtidoA > 0
	begin
		insert into SurtidosCargas 
		select IdCedis, @IdSurtido, @IdCarga, IdProducto, sum(DevBuena)
		from SurtidosDetalle 
		where IdCedis = @IdCedis and IdSurtido = @IdSurtidoA 
		group by IdCedis, IdSurtido, IdProducto
	end
	
	set @IdRutaS = isnull( (select IdRuta from StatusRutas where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta) , 0)
	
	if @IdRutaS = 0 
		insert into StatusRutas values (@IdCedis, @Fecha, @IdRuta, 'N', 'Sin Movimientos')
	else
		update StatusRutas set Status = 'N', StatusDesc = 'Sin Movimientos' where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta
end

if @Opc = 2  
begin
	update CargasSugeridas set IdSurtido = 0, IdCarga = 0, Status = 'A'
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido 

	insert into VentasCanceladas 
	select IdCedis, IdSurtido, IdTipoVenta, Folio, Serie, Fecha, IdCliente, Subtotal, Iva, IdSucursal, DctoImp, DiasCredito 
	from Ventas 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido 

	delete from VentasAcredita where IdCedis = @IdCedis and IdSurtido = @IdSurtido 

	update Pedidos set IdSurtido = 0, Serie = '', Folio = 0
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido 

	delete from VentasDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	delete from Ventas where IdCedis = @IdCedis and IdSurtido = @IdSurtido

	delete from Cargas where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	delete from SurtidosCargas where IdCedis = @IdCedis and IdSurtido = @IdSurtido

	delete from SurtidosDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	delete from Surtidos where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	
	delete from Rejas where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	delete from SurtidosMerma where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	delete from SurtidosVendedor where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	
end

if @Opc = 3
begin
	update Surtidos set Status = 'C' where IdCedis = @IdCedis and IdSurtido = @IdSurtido
	
	set @IdRuta = isnull( (select IdRuta from Surtidos where IdCedis = @IdCedis and IdSurtido = @IdSurtido), 0)
	update StatusRutas set Status = 'T', StatusDesc = 'Terminado' where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta
	
end
