USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_SurtidosCheques]    Script Date: 08/18/2010 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[up_SurtidosCheques] 
@IdCedis as bigint,
@IdSurtido as bigint,
@Folio as bigint,
@IdCajero varchar(20),
@IdMoneda as varchar(5),
@IdCheque as bigint,
@IdBanco as int,
@Referencia as varchar(30),
@Importe as money,
@Opc as int

AS

declare @IdVendedor as bigint, @Fecha as datetime

if @Opc = 1
begin
	delete from SurtidosCheque where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Folio = @Folio and IdCheque = @IdCheque 
	if @Importe > 0 
	begin
		set @IdCheque = (select isnull(max(IdCheque)+1, 1) from SurtidosCheque where IdCedis = @IdCedis and IdSurtido = @IdSurtido)
		insert into SurtidosCheque values (@IdCedis, @IdSurtido, @Folio, @IdCheque, @IdCajero, @IdMoneda, @IdBanco, @Referencia, @Importe)
	end
		select top 1 @IdVendedor = SurtidosVendedor.IdVendedor, @Fecha = Surtidos.Fecha
		from Surtidos 
		inner join SurtidosVendedor on Surtidos.IdCedis = SurtidosVendedor.IdCedis and Surtidos.IdSurtido = SurtidosVendedor.IdSurtido 
		where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido 
		order by SurtidosVendedor.IdTipoVendedor
			
		exec up_VendedoresSaldos @IdCedis, @IdSurtido, @IdVendedor, @Fecha, 1
end
