USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Grupos]    Script Date: 05/26/2010 18:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sel_Grupos]
@IdMarca as bigint,
@Opc as int
AS

if @Opc = 1
	select IdGrupo as 'Clave', Grupo as 'Grupo', Marcas.Marca, Grupos.FechaAlta,
	case Grupos.Status 
		when 'A' then 'Activo'
		else 'Baja'
	end as 'Estatus'
	from Grupos
	inner join Marcas on Marcas.IdMarca = Grupos.IdMarca 
	order by Grupo

if @Opc = 2
	select IdGrupo as 'Clave', Grupo as 'Grupo', Marcas.Marca, Grupos.FechaAlta,
	case Grupos.Status 
		when 'A' then 'Activo'
		else 'Baja'
	end as 'Estatus'
	from Grupos
	inner join Marcas on Marcas.IdMarca = Grupos.IdMarca 
	where Grupos.IdMarca = @IdMarca
	order by Grupo



