USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Marcas]    Script Date: 05/26/2010 19:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sel_Marcas]
@Opc as int
AS

if @Opc = 1
	select IdMarca as 'Clave', Marca as 'Marca', FechaAlta,
	case Status 
		when 'A' then 'Activo'
		else 'Baja'
	end as 'Estatus'
	from Marcas
	order by Marca

if @Opc = 2
	select Marca as 'Marca', IdMarca as 'Clave'
	from Marcas
	order by Marca



