USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Familias]    Script Date: 05/26/2010 19:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sel_Familias]
@IdGrupo as bigint,
@Opc as int
AS

if @Opc = 1
	select F.IdFamilia as 'Clave', F.Familia as 'Familia', G.Grupo as 'Grupo', F.FechaAlta,
	case F.Status 
		when 'A' then 'Activo'
		else 'Baja'
		end as 'Estatus'
	from Familias F, Grupos G
	WHERE F.IdGrupo = G.IdGrupo
	order by Familia

if @Opc = 2
	select F.IdFamilia as 'Clave', F.Familia as 'Familia', G.Grupo as 'Grupo', F.FechaAlta,
	case F.Status 
		when 'A' then 'Activo'
		else 'Baja'
		end as 'Estatus'
	from Familias F, Grupos G
	WHERE F.IdGrupo = G.IdGrupo and f.IdGrupo = @IdGrupo 
	order by Familia


