USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_SubFamilias]    Script Date: 05/27/2010 08:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sel_SubFamilias]
@IdFamilia as bigint,
@Opc as int
AS

if @Opc = 1
	select S.IdSubFamilia as 'Clave', S.SubFamilia as 'SubFamilia', F.Familia as 'Familia', G.Grupo as 'Grupo', F.FechaAlta,
	case s.Status 
		when 'A' then 'Activo'
		else 'Baja'
		end as 'Estatus'
	from Familias F, Grupos G, SubFamilias S
	WHERE S.Grupo = G.IdGrupo AND S.FAMILIA = F.IDFAMILIA
	order by S.SUBFamilia

if @Opc = 2
	select S.IdSubFamilia as 'Clave', S.SubFamilia as 'SubFamilia', F.Familia as 'Familia', G.Grupo as 'Grupo', F.FechaAlta,
	case s.Status 
		when 'A' then 'Activo'
		else 'Baja'
		end as 'Estatus'
	from Familias F, Grupos G, SubFamilias S
	WHERE S.Grupo = G.IdGrupo AND S.FAMILIA = F.IdFamilia and f.IdFamilia = @IdFamilia 
	order by S.SUBFamilia


