USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Denominacion]    Script Date: 05/27/2010 20:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sel_Denominacion] 
@IdCedis as bigint,
@IdSurtido as bigint,
@IdDenominacion as money,
@TipoDenominacion as char(1),
@IdMoneda as varchar(5),
@Opc as int
AS

if @Opc = 1
	select Denominaciones.IdMoneda, Denominaciones.IdDenominacion, Denominaciones.TipoDenominacion, Denominaciones.Denominacion, isnull(Cantidad, 0) as Cantidad, 0 as Id
	from Denominaciones
	left outer join SurtidosDenominacion on SurtidosDenominacion.IdDenominacion = Denominaciones.IdDenominacion and SurtidosDenominacion.TipoDenominacion = Denominaciones.TipoDenominacion and SurtidosDenominacion.IdMoneda = Denominaciones.IdMoneda 
		and SurtidosDenominacion.IdCedis = @IdCedis and SurtidosDenominacion.IdSurtido = @IdSurtido
	where Denominaciones.IdDenominacion = @IdDenominacion and Denominaciones.TipoDenominacion = @TipoDenominacion and Denominaciones.IdMoneda = @IdMoneda and Status = 'A' 

if @Opc = 2
	select SurtidosDenominacion.IdCedis, SurtidosDenominacion.IdSurtido, 0 as Orden, Monedas.Moneda, 'Efectivo' as Concepto, 
	SurtidosDenominacion.Cantidad, Denominacion as Descripcion, SurtidosDenominacion.Cantidad * Denominaciones.IdDenominacion as Importe, 0 as Id, SurtidosDenominacion.IdDenominacion as IdDenominacion
	from SurtidosDenominacion
	inner join Denominaciones on SurtidosDenominacion.IdDenominacion = Denominaciones.IdDenominacion and SurtidosDenominacion.TipoDenominacion = Denominaciones.TipoDenominacion and SurtidosDenominacion.IdMoneda = Denominaciones.IdMoneda 
	inner join Monedas on Monedas.IdMoneda = Denominaciones.IdMoneda 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido

	union

	select SurtidosCheque.IdCedis, SurtidosCheque.IdSurtido, 1 as Orden, Monedas.Moneda, 'Documentos' as Concepto,  
	SurtidosCheque.IdCheque as Cantidad, Nombre + ' - ' + Referencia as Descripcion, SurtidosCheque.Importe as Importe, SurtidosCheque.IdCheque as Id, 0 as IdDenominacion
	from SurtidosCheque
	inner join Bancos on SurtidosCheque.IdBanco = Bancos.IdBanco 
	inner join Monedas on Monedas.IdMoneda = SurtidosCheque.IdMoneda 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido

	order by Monedas.Moneda, Orden, IdDenominacion asc

if @Opc = 3
	select (select isnull( sum(Total),0)
	from VentasTipo 
	inner join VentasDetalle on IdCedis = @IdCedis and IdSurtido = @IdSurtido and VentasDetalle.IdTipoVenta = VentasTipo.IdTipoVenta
	where Tipo = 2) as Liquidación, 
	(select sum(SurtidosDenominacion.Cantidad * Denominaciones.IdDenominacion) 
	from SurtidosDenominacion
	inner join Denominaciones on SurtidosDenominacion.IdDenominacion = Denominaciones.IdDenominacion and SurtidosDenominacion.TipoDenominacion = Denominaciones.TipoDenominacion and SurtidosDenominacion.IdMoneda = Denominaciones.IdMoneda 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido) as Efectivo, 
	(select sum(SurtidosDenominacion.Cantidad * Denominaciones.IdDenominacion) 
	from SurtidosDenominacion
	inner join Denominaciones on SurtidosDenominacion.IdDenominacion = Denominaciones.IdDenominacion and SurtidosDenominacion.TipoDenominacion = Denominaciones.TipoDenominacion and SurtidosDenominacion.IdMoneda = Denominaciones.IdMoneda 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido) +
	(select isnull(sum(SurtidosCheque.Importe),0) 
	from SurtidosCheque
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido) - 
	(select isnull( sum(Total),0)
	from VentasTipo 
	inner join VentasDetalle on IdCedis = @IdCedis and IdSurtido = @IdSurtido and VentasDetalle.IdTipoVenta = VentasTipo.IdTipoVenta
	where Tipo = 2)  as Faltante,
	(select isnull(sum(SurtidosCheque.Importe),0) 
	from SurtidosCheque
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido) as Documentos


