USE [RouteADM]
GO
/****** Object:  Table [dbo].[SurtidosCheque]    Script Date: 04/23/2010 08:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SurtidosCheque](
	[IdCedis] [bigint] NOT NULL,
	[IdSurtido] [bigint] NOT NULL,
	[IdCheque] [bigint] NOT NULL,
	[IdCajero] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IdMoneda] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IdBanco] [bigint] NOT NULL,
	[Referencia] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Importe] [money] NULL,
 CONSTRAINT [PK_SurtidosCheque] PRIMARY KEY CLUSTERED 
(
	[IdCedis] ASC,
	[IdSurtido] ASC,
	[IdCheque] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF