USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Monedas]    Script Date: 05/27/2010 19:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sel_Monedas]
@IdMoneda as varchar(5),
@Opc as int
AS

if @Opc = 1
	select IdMoneda, Moneda 
	from Monedas 
	where Status = 'A'
	order by IdMoneda 

