USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[up_MovimientosFacturas]    Script Date: 10/13/2010 13:05:32 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[up_MovimientosFacturas]
@IdCedis as bigint,
@IdTipoVenta as int,
@Serie as varchar(5),
@Folio as bigint,
@IdMovimiento as bigint,
@Fecha as datetime,
@IdMovimientoDetalle as bigint,
@IdDocumento as varchar(5),
@IdTipoDocumento as varchar(5),
@CargoAbono as varchar(1),
@Referencia as varchar(10),
@ReferenciaBancos as varchar(10),
@Subtotal as money,
@Iva as money,
@Status as varchar(1),
@Login as varchar(20),
@Opc as int
AS

if @Opc = 1 -- inserta movimiento
begin
	-- delete from MovimientosFacturas where IdCedis = @IdCedis and IdTipoVenta = @IdTipoVenta and Folio  = @Folio and Serie = @Serie 
	set @IdMovimientoDetalle = isnull( ( select max(IdMovimientoDetalle)+1 from MovimientosFacturas where IdCedis = @IdCedis and  IdMovimiento = @IdMovimiento) , 1)
	insert into MovimientosFacturas values (@IdCedis, @IdTipoVenta, @Serie, @Folio, @IdMovimiento, @Fecha, @IdMovimientoDetalle, @IdDocumento, @IdTipoDocumento, @CargoAbono, '', '', @Subtotal, @Iva, @Status, @Login, getdate() )
end

if @Opc = 3 --baja movimiento
begin
	update MovimientosFacturas set Status = 'B', Login = @Login, FechaEdicion = getdate()  where IdCedis = @IdCedis and IdTipoVenta = @IdTipoVenta and Folio  = @Folio and Serie = @Serie and IdMovimiento = @IdMovimiento and IdMovimientoDetalle = @IdMovimientoDetalle
end

if @Opc = 4 --elimina movimiento
begin
	update MovimientosFacturas set Status = 'B', Login = @Login, FechaEdicion = getdate()  where IdCedis = @IdCedis and IdTipoVenta = @IdTipoVenta and Folio  = @Folio and Serie = @Serie and IdMovimiento = @IdMovimiento and IdMovimientoDetalle = @IdMovimientoDetalle
	-- delete from MovimientosFacturas where IdCedis = @IdCedis and IdTipoVenta = @IdTipoVenta and Folio  = @Folio and Serie = @Serie and IdMovimiento = @IdMovimiento and IdMovimientoDetalle = @IdMovimientoDetalle
end


if @Opc = 5 --elimina movimientos de una factura
begin
	update MovimientosFacturas set Status = 'B' where IdCedis = @IdCedis and IdTipoVenta = @IdTipoVenta and Folio  = @Folio and Serie = @Serie and IdMovimiento = @IdMovimiento
--	delete from MovimientosFacturas 
end

if @Opc = 6 --elimina movimientos de un movimiento
begin
	update MovimientosFacturas set Status = 'B'  where IdCedis = @IdCedis and IdMovimiento = @IdMovimiento
--	delete from MovimientosFacturas where IdCedis = @IdCedis and IdMovimiento = @IdMovimiento
end