USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_RouteCargaCB]    Script Date: 04/12/2010 04:11:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[sel_RouteCargaCB] 

@IdCedis as bigint,
@IdSurtido as bigint,
@IdCarga as bigint,
@IdRuta as bigint,
@Opc as int

AS

declare @Route as int
set @Route = isnull( ( select Route from Configuracion where IdCedis = @IdCedis ), 0 )

if @Opc = 1 or @Opc = 2
begin
	if @Route = 0
	begin
	    select case Configuracion.UsuarioTerminal 
			when 1 then 'USER' + replicate('0', 2 - len( Surtidos.IdRuta) ) + cast( Surtidos.IdRuta as varchar(10) )
			else cast( Surtidos.IdCedis as varchar(10) ) + replicate('0', 4 - len( Surtidos.IdRuta) ) + cast( Surtidos.IdRuta as varchar(10) )  
			end as IdVendedor, 
        SurtidosCargas.IdCarga, Surtidos.Fecha, ltrim(rtrim(cast(SurtidosCargas.IdProducto as varchar(100)))) + ',' + 
		case Decimales 
			when 0 then cast(  cast(  SurtidosCargas.Cantidad as bigint) as varchar(100)) 
			else cast( cast( SurtidosCargas.Cantidad * 1000 as bigint) as varchar(100)) 
		end as Cantidad
        from Surtidos
        inner join SurtidosCargas on Surtidos.IdCedis = SurtidosCargas.IdCedis and Surtidos.IdSurtido = SurtidosCargas.IdSurtido  and SurtidosCargas.IdCarga = @IdCarga
        inner join Productos on Productos.IdProducto = SurtidosCargas.IdProducto 
		inner join Configuracion on Configuracion.IdCedis = Surtidos.IdCedis 
        where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido
                and SurtidosCargas.IdProducto not in ( select IdProducto from Productos where IdFamilia in ( select IdFamiliaRejas from Configuracion where IdCedis = @IdCedis ) )
--		and cast( SurtidosCargas.IdProducto as int ) <  100
        order by cast( SurtidosCargas.IdProducto as bigint)
	end
	else
	begin
	    select case Configuracion.UsuarioTerminal 
			when 1 then 'USER' + replicate('0', 2 - len( Surtidos.IdRuta) ) + cast( Surtidos.IdRuta as varchar(10) )
			else cast( Surtidos.IdCedis as varchar(10) ) + replicate('0', 4 - len( Surtidos.IdRuta) ) + cast( Surtidos.IdRuta as varchar(10) )  
			end as IdVendedor, 
        SurtidosCargas.IdCarga, Surtidos.Fecha, ltrim(rtrim(cast(SurtidosCargas.IdProducto as varchar(100)))) + ',' + 
		case Decimales 
			when 0 then cast(  cast(  SurtidosCargas.Cantidad as bigint) as varchar(100)) 
			else cast( cast( SurtidosCargas.Cantidad * 1000 as bigint) as varchar(100)) 
		end as Cantidad
        from Surtidos
        inner join SurtidosCargas on Surtidos.IdCedis = SurtidosCargas.IdCedis and Surtidos.IdSurtido = SurtidosCargas.IdSurtido  and SurtidosCargas.IdCarga = @IdCarga
        inner join Productos on Productos.IdProducto = SurtidosCargas.IdProducto 
		inner join Configuracion on Configuracion.IdCedis = Surtidos.IdCedis 
        where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido
                and SurtidosCargas.IdProducto not in ( select IdProducto from Productos where IdFamilia in ( select IdFamiliaRejas from Configuracion where IdCedis = @IdCedis ) )
                and SurtidosCargas.IdProducto not in (select distinct cast(ProductoDetClave as int)
														from Route.dbo.ProductoDetalle 
														where ProductoClave <> ProductoDetClave )
--		and cast( SurtidosCargas.IdProducto as int ) <  100
        order by cast( SurtidosCargas.IdProducto as bigint)
	end
end