set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go







ALTER PROCEDURE [dbo].[up_VendedoresSaldos] 
@IdCedis as bigint,
@IdSurtido as varchar(20),
@IdVendedor as varchar(10),
@Fecha as varchar(200),
@Opc as int
AS

declare @Efectivo as money

if @Opc = @IdCedis
begin
	delete 
	from VendedoresSaldos
	where IdCedis = @IdCedis and IdVendedor = @IdVendedor and IdSurtido = @IdSurtido and IdTipoSaldo = 'EF'
	and Fecha = @Fecha

	
	select @Efectivo = isnull(sum(IdDenominacion * SurtidosDenominacion.Cantidad), 0)
	from SurtidosDenominacion
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido	

	insert into VendedoresSaldos 
	
	select VentasDetalle.IdCedis, VentasDetalle.IdSurtido, Surtidos.IdRuta, 'EF', SurtidosVendedor.IdVendedor, @Fecha, 
	isnull((select top 1 SaldoActual
	from  VendedoresSaldos 
	where IdCedis = @IdCedis and IdVendedor = @IdVendedor and IdTipoSaldo = 'EF' and IdSurtido <> @IdSurtido
	order by Fecha desc), 0),
	@Efectivo - isnull(sum(Total), 0),
	isnull((select top 1 SaldoActual
	from  VendedoresSaldos 
	where IdCedis = @IdCedis and IdVendedor = @IdVendedor and IdTipoSaldo = 'EF' and IdSurtido <> @IdSurtido
	order by Fecha desc), 0) +
	@Efectivo - isnull(sum(Total), 0)
	from VentasDetalle
	inner join SurtidosVendedor on VentasDetalle.IdCedis = SurtidosVendedor.IdCedis and VentasDetalle.IdSurtido = SurtidosVendedor.IdSurtido and SurtidosVendedor.IdVendedor = @IdVendedor
	inner join Surtidos on Surtidos.IdCedis = VentasDetalle.IdCedis and Surtidos.IdSurtido = VentasDetalle.IdSurtido
	where VentasDetalle.IdCedis = @IdCedis and VentasDetalle.IdSurtido = @IdSurtido
	and IdTipoVenta = 1
	group by VentasDetalle.IdCedis, VentasDetalle.IdSurtido, SurtidosVendedor.IdVendedor, Surtidos.IdRuta
end


