@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}


<script src="~/Controllers/js/controllers/cumplimientoVisitaGHRController.js"></script>
<link href="~/Views/Menu/css/filter.css" rel="stylesheet" />

<style>
    .listdemoListControls md-divider {
        margin-top: 0;
        margin-bottom: 0;
    }

    .listdemoListControls md-list {
        padding-top: 0;
    }

    .listdemoListControls md-list-item > p,
    .listdemoListControls md-list-item > ._md-list-item-inner > p,
    .listdemoListControls md-list-item ._md-list-item-inner > p,
    .listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .datepickerdemoBasicUsage {
    }

        .datepickerdemoBasicUsage md-content {
            padding-bottom: 200px;
        }

        .datepickerdemoBasicUsage .validation-messages {
            font-size: 12px;
            color: #dd2c00;
            margin: 10px 0 0 25px;
        }

</style>

<div ng-controller="cumplimientoVisitaGHRController as ctrl">
    <h4>Cumplimiento de Visita General</h4>   

    <div class="row" style="margin-top:20px;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <md-input-container style="margin-top:5px; width:150px;">
                <label>Rango</label>
                <md-select ng-model="ctrl.State" ng-model-options="{trackBy: '$value.VAVClave'}" ng-change="ctrl.OnSelectChange(ctrl.State)">
                    <md-option ng-repeat="state in ctrl.dateState" value="{{state.Descripcion}}">
                        {{state.Descripcion}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <md-datepicker style=" background-color: #f7f7f7 !important;" ng-model="ctrl.date1" md-placeholder="Fecha" md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate" onkeydown="return false"></md-datepicker>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <md-datepicker ng-show="ctrl.showSelect" style=" background-color: #f7f7f7 !important;" ng-model="ctrl.date2" md-placeholder="Fecha" md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate" onkeydown="return false"></md-datepicker>
        </div>
        @*<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.selectedItem.value, ctrl.dateState, ctrl.routes, ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right" style="background-color:#E51500; color:white;font-weight:bold;">Generar reporte</md-button>
        </div>*@
    </div>

    <div class="row" style="margin-top:20px;margin-left:0px;">
        <div>
            <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.dateState, ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-left" style="background-color:#E51500; color:white;font-weight:bold;">Generar reporte</md-button>
        </div>
    </div>

</div>

