
@{
    ViewBag.Title = "Empty";
    Layout = "~/Views/Menu/Index.cshtml";
}

<div class="container">
    <h3 style="margin-top: 100px;">No existen registros que coincidan con los filtros seleccionados. </h3>
</div>


