
@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/pedidoPromedioPorCliente.js"></script>

<link href="~/Views/Menu/css/filter.css" rel="stylesheet" />
<script src="~/Views/Menu/js/angular.treeview.js"></script>
<link href="~/Views/Menu/css/angular.treeview.css" rel="stylesheet" />

<style>
    .error-message {
        text-align: right;
        font-weight: 500;
        font-size: 16px;
    }
</style>

<div ng-controller="pedidoPromedioPorCliente as ctrl">

    <div class="panel-heading" style="background-color:#E51500; color:white; border-radius:12px">
        <h4>Reporte Pedido Promedio Por Cliente (Vitere)</h4>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div layout="column" ng-cloak>
                <form ng-submit="$event.preventDefault()" name="searchForm">
                    <md-autocomplete flex required style="width:290px;margin:10px 0 10px 0;" ng-disabled="ctrl.isDisabled"
                                     md-input-name="autocompleteField"
                                     md-no-cache="ctrl.noCache"
                                     md-selected-item="ctrl.selectedItem"
                                     md-search-text-change="ctrl.nShowLists(ctrl.selectedItem.value)"
                                     md-search-text="ctrl.searchText"
                                     md-selected-item-change="ctrl.nShowLists(ctrl.selectedItem.value);
                                         ctrl.GetRoutes(ctrl.selectedItem.value);
                                         ctrl.GetSchemesClients(ctrl.selectedItem.value);
                                         ctrl.getAllClientes(null, '0');
                                         selectAll=false;
                                         inactv=false;
                                         selectAllClients=false"
                                     md-items="item in ctrl.querySearch(ctrl.searchText)"
                                     md-item-text="item.display"
                                     md-min-length="0"
                                     placeholder="Seleccionar centro de distribución"
                                     @*md-autoselect="true"*@>
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No hay resultados para "{{ctrl.searchText}}".
                        </md-not-found>
                    </md-autocomplete>
                </form>
            </div>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList">
        <div class="col-md-5" style="margin-top:20px; margin-bottom:15px">
            <md-radio-group ng-model="TipoReporte" layout="row">
                <div class="col-md-3" style="margin-left: -15">
                    <md-radio-button class="md-primary" value="Surtido">Surtido</md-radio-button>
                </div>
                <div class="col-md-4">
                    <md-radio-button class="md-primary" value="PorSurtir">Por Surtir</md-radio-button>
                </div>
                <div class="col-md-4">
                    <md-radio-button class="md-primary" value="Ambos">Ambos</md-radio-button>
                </div>
            </md-radio-group>
        </div>

        <div class="col-md-7" layout="row" style="margin-top:2px;">
            <div class="col-md-2" style="margin-top:3px">
                <md-input-container>
                    <label>Rango</label>
                    <md-select ng-model="ctrl.State" ng-init="ctrl.State = 'Igual'" ng-change="ctrl.OnSelectChange(ctrl.State)" style="margin-top: -10px">
                        <md-option ng-repeat="state in ctrl.dateState" value="{{state.Descripcion}}">
                            {{state.Descripcion}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-4">
                <md-datepicker ng-model="ctrl.date1" md-placeholder="Fecha" md-max-date="ctrl.minDate" onkeydown="return false" style="background-color:#f7f7f7 !important"></md-datepicker>
            </div>
            <div class="col-md-4">
                <md-datepicker ng-model="ctrl.date2" md-placeholder="Fecha" md-min-date="ctrl.date1" md-max-date="ctrl.minDate" ng-show="ctrl.showSelect" onkeydown="return false" style="background-color:#f7f7f7 !important"></md-datepicker>
            </div>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList">
        @*RUTAS*@
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-right:unset">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#E51500; color:white">Rutas</div>
                <div class="panel-body">
                    <md-input-container class="md-block" style="margin-top: 0; margin-bottom: 0;">
                        <input type="text" ng-model="queryRoute" placeholder="Búsqueda" style="margin-left:10px; width:90%" />
                    </md-input-container>
                    <md-checkbox style="margin-top: 10px; margin-left:0; margin-bottom:0" ng-model="selectAllRoutes" ng-change="ctrl.getAllClientes(ctrl.routes);" ng-click="ctrl.SelectAllChekboxesRoutes(selectAllRoutes)" @*ng-change="ctrl.getAllClientes(ctrl.routes)"*@>Seleccionar todos</md-checkbox>
                    <md-checkbox ng-model="inactRoutes" ng-change="ctrl.GetRoutes(ctrl.selectedItem.value); selectAllRoutes= false">Mostrar Inactivos</md-checkbox>
                    <md-divider></md-divider>
                    <md-list ng-cloak style="max-height:310px; overflow-y:auto; margin-left:-14px;">
                        <md-list-item ng-repeat="route in ctrl.routes | filter:queryRoute" style="margin-bottom:-9px; margin-top:0;">
                            <md-checkbox ng-model="route.Checked" ng-disabled="route.Disabled" ng-change="ctrl.getAllClientes(ctrl.routes); ctrl.CountRoutes()" style="margin-right:2%"></md-checkbox>
                            <p>{{route.RUTClave}} | {{route.Descripcion}}</p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
        @*ESQUEMA DE CLIENTES*@
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-right:unset">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#E51500; color:white">Esquema De Clientes</div>
                <div class="panel-body">
                    <md-input-container class="md-block" style="margin-top: 0; margin-bottom: 0;">
                        <input type="text" ng-model="querySchemes" placeholder="Búsqueda" style="margin-left:10px; width:90%" />
                    </md-input-container>
                    <md-divider></md-divider>
                    <md-list ng-cloak style="max-height:310px; min-height:360px; overflow-y:auto; margin-left:-14px;">
                        <md-list-item ng-repeat="scheme in ctrl.schemes | filter:querySchemes" style="margin-bottom:-9px; margin-top:0">
                            <md-checkbox ng-model="scheme.Checked" ng-disabled="scheme.Disabled" ng-change="ctrl.bloquearEsquemas(); ctrl.filtroClientesPorEsquema()" style="margin-right:2%"></md-checkbox>
                            <p>{{scheme.EsquemaID}} | {{scheme.Nombre}}</p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
        @*CLIENTES*@
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-right:unset">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#E51500; color:white">Clientes</div>
                <div class="panel-body">
                    <md-input-container class="md-block" style="margin-top: 0; margin-bottom: 0;">
                        <input type="text" ng-model="queryClients" placeholder="Búsqueda" style="margin-left:10px; width:90%" />
                    </md-input-container>
                    <md-checkbox style="margin-top: 10px; margin-left:0; margin-bottom:0" ng-model="selectAllClients" ng-click="ctrl.SelectAllChekboxesClients(selectAllClients)" @*ng-change="ctrl.getAllClientes(ctrl.routes)"*@>Seleccionar todos</md-checkbox>
                    <md-divider></md-divider>
                    <md-list ng-cloak style="max-height:310px; min-height:310px; overflow-y:auto; margin-left:-14px;">
                        <md-list-item ng-repeat="clients in ctrl.ListClients | filter:queryClients" style="margin-bottom:-9px; margin-top:0">
                            <md-checkbox ng-model="clients.Checked" ng-disabled="clients.Disabled" ng-change="ctrl.bloquearRutas()" style="margin-right:2%"></md-checkbox>
                            <p>{{clients.Clave}} | {{clients.RazonSocial}}</p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
    </div>

    <div id="viewer" class="row col-md-12">
        <div ng-show="ctrl.showErrorForm" ng-model="ctrl.ErrorEnviar">
            <div class="error-message col-md-12">{{ctrl.ErrorEnviar}}</div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.selectedItem.value, ctrl.dateState, ctrl.routes, ctrl.ListClients, ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right" style="background-color:#E51500; color:white;font-weight:bold;">Generar reporte</md-button>
        </div>
    </div>
</div>