USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_TipoMovimiento]    Script Date: 04/26/2010 20:31:32 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[up_TipoMovimiento] 
@IdCedis as bigint,
@IdTipoMovimiento as bigint,
@TipoMovimiento as varchar(200),
@ES as varchar(1),
@Opc as int

AS

declare @IdFamilia as bigint

if @Opc = 1
begin
    select @IdTipoMovimiento = isnull(max(IdTipoMovimiento)+1,1)
    from TipoMovimiento
	where IdCedis = @IdCedis 
	
	insert into TipoMovimiento values (@IdCedis, @IdTipoMovimiento, @TipoMovimiento, @ES)
end

if @Opc = 2
	update TipoMovimiento set TipoMovimiento = @TipoMovimiento
	where IdTipoMovimiento = @IdTipoMovimiento and IdCedis = @IdCedis 

if @Opc = 3
begin
	set @IdFamilia =  @TipoMovimiento	
	if @ES = 'A'
	begin
		if not exists (select IdTipoMovimiento from MovimientosFamilias where IdCedis = @IdCedis and IdTipoMovimiento = @IdTipoMovimiento and IdFamilia = @IdFamilia)
			insert into MovimientosFamilias values (@IdCedis, @IdTipoMovimiento, @IdFamilia )
	end
	if @ES = 'B'
		delete from MovimientosFamilias where IdCedis = @IdCedis and IdTipoMovimiento = @IdTipoMovimiento and IdFamilia = @IdFamilia 
end