USE [RouteADM] 
GO
/****** Object:  UserDefinedFunction [dbo].[FNObtenerPrecio]    Script Date: 04/30/2010 10:22:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  FUNCTION [dbo].[FNObtenerPrecio](@IdLista as bigint, @IdProducto as bigint)
RETURNS float
AS  
BEGIN

	DECLARE @Precio as float

	SELECT @Precio=Precio FROM PreciosDetalle WHERE IdLista = @IdLista AND IdProducto = @IdProducto

	RETURN @Precio
END

