USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_ModeloOrienteES]    Script Date: 04/27/2010 13:22:23 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[sel_ModeloOrienteES]
@IdCedis as bigint,
@Fecha as datetime

AS

select * 
from RepModeloOrienteES 
where IdCedis = @IdCedis and Fecha = @Fecha 