@model List<WebReports.Models.InventarioTaller>

<div class="panel-body">                                                             
        <table>                
            <tr>
                <th class="width-25">No. Parte</th> 
                <th class="width-40">Descripcion</th>
                <th class="width-35">Cantidad</th> 
            </tr>
            @foreach (var item in Model) { 
                <tr>
                    <td class="width-25">
                        @Html.DisplayFor(modelItem => item.Articulo.Clave)
                    </td>
                    <td class="width-40">
                        @Html.DisplayFor(modelItem => item.Articulo.Descripcion)
                    </td>
                    <td class="width-35">
                        @Html.DisplayFor(modelItem => item.Existencia)
                    </td>
                </tr>
            }
        </table>        
</div>

