@model IEnumerable<WebReports.Models.ODTDetalle>


<table>

@foreach (var item in Model) {
    <tr>
        <td class="width-25">
            @Html.DisplayFor(modelItem => item.Articulo.Clave)
        </td>
        <td class="width-40">
            @Html.DisplayFor(modelItem => item.Articulo.Descripcion)
        </td>
        <td class="width-35">
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
    </tr>
}

</table>
