
@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/cargaSugeridaRIPController.js"></script>
<link href="~/Views/Menu/css/filter.css" rel="stylesheet" />

<div ng-controller="cargaSugeridaRIPController as ctrl" ng-init="EstablecerReporte('@ViewBag.VAVClave')">
    <h4> {{ctrl.titulo}} </h4>
    <div class="row" style="margin-left:unset; margin-right:unset;">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="text-align:center;">
            <form ng-submit="$event.preventDefault()" name="searchForm">
                <md-autocomplete flex required style="width:300px; margin-left:-15px;" ng-disabled="ctrl.isDisabled"
                                 md-input-name="autocompleteField"
                                 md-no-cache="ctrl.noCache"
                                 md-selected-item="ctrl.selectedItem"
                                 md-search-text-change="ctrl.ShowItems(ctrl.selectedItem.value)"
                                 md-search-text="ctrl.searchText"
                                 md-selected-item-change="ctrl.GetDates();
                                        inactRoutes = false;
                                        ctrl.GetRoutes(ctrl.selectedItem.value);
                                        ctrl.ShowItems(ctrl.selectedItem.value);"
                                 md-items="item in ctrl.QuerySearch(ctrl.searchText)"
                                 md-item-text="item.display"
                                 md-min-length="0"
                                 placeholder="Seleccionar centro de distribución">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No se han encontrado resultados para "{{ctrl.searchText}}".
                    </md-not-found>
                </md-autocomplete>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="text-align:center;" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
            <md-input-container>
                <label>Rango</label>
                <md-select ng-model="ctrl.State" ng-change="ctrl.OnSelectChange(ctrl.State)">
                    <md-option ng-repeat="state in ctrl.dateState" value="{{state.Descripcion}}">
                        {{state.Descripcion}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="text-align:center;" ng-show="ctrl.State">
            <md-datepicker ng-model="ctrl.date1" style="background-color: #f7f7f7" md-placeholder="Fecha" md-max-date="ctrl.minDate" ng-change="ctrl.date2=undefined; ctrl.showErrorForm = false;" onkeydown="return false"></md-datepicker>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-show="ctrl.showSelect">
            <md-datepicker ng-model="ctrl.date2" style="background-color: #f7f7f7" md-placeholder="Fecha" md-min-date="ctrl.date1" md-max-date="ctrl.minDate" ng-change="ctrl.showErrorForm = false;" onkeydown="return false"></md-datepicker>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-right:unset">
            <div class="panel panel-default" style="height:500px;">
                <div class="panel-heading" style="background-color:#E51500; color:white">Rutas</div>
                <div class="panel-body">
                    <md-input-container md-no-float class="md-block" style="margin-top:unset;">
                        <input ng-model="queryRoute" type="text" placeholder="Búsqueda">
                    </md-input-container>
                    <md-checkbox ng-model="inactRoutes" ng-change="ctrl.GetRoutes(ctrl.selectedItem.value, '0, 1'); RUTClave=undefined;">Mostrar Inactivos</md-checkbox>
                    <md-list ng-cloak style="overflow-y:auto; max-height:330px; padding:unset;">
                        <md-radio-group ng-model="RUTClave" ng-change="ctrl.showErrorForm=false; queryRoute='';">
                            <md-list-item ng-repeat="route in ctrl.routes | filter:queryRoute">
                                <md-radio-button ng-value="route.RUTClave" class="md-primary" ng-cloak>
                                    <p>{{route.Descripcion}}</p>
                                </md-radio-button>
                            </md-list-item>
                        </md-radio-group>
                    </md-list>
                </div>
            </div>
        </div>
    </div>

    <div id="viewer" class="row" ng-show="ctrl.showList">
        <div ng-show="ctrl.showErrorForm" ng-model="ctrl.ShowError">
            <div class="error-message col-md-12" style="text-align:right; font-size:15px;">{{ctrl.ShowError}}</div>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(RUTClave, ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right" style="background-color:#E51500; color:white;font-weight:bold;">Generar reporte</md-button>
        </div>
    </div>
</div>