USE [RouteADM]
GO

/****** Object:  StoredProcedure [dbo].[up_ModeloOrienteESEnvase]    Script Date: 12/14/2010 12:07:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_ModeloOrienteESEnvase]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[up_ModeloOrienteESEnvase]
GO

USE [RouteADM]
GO

/****** Object:  StoredProcedure [dbo].[up_ModeloOrienteESEnvase]    Script Date: 12/14/2010 12:07:59 ******/
SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[up_ModeloOrienteESEnvase]
--declare 
@IdCedis as bigint,
@Fecha as datetime

AS

--set @IdCedis = 3
--set @Fecha = '20101111'

declare @IdProducto as varchar(2), @Producto as varchar(200), @Columnas as varchar(8000), @FilaProductos as varchar(8000), @FilaIdProductos as varchar(8000)
declare @Anterior as varchar(8000), @Entregado as varchar(8000), @Vendido as varchar(8000)
declare @Actual as varchar(8000), @Venta as varchar(8000), @VTotal as money, @Dif as money
declare @Valor as money, @IdRuta2 as bigint, @IdProducto2 as varchar(2), @Str as varchar(500)

set @FilaProductos = ''
set @FilaIdProductos = ''
set @Anterior = ''
set @Venta = ''
set @Entregado = ''
set @Vendido = ''
set @Actual = ''

Delete from RepModeloOrienteESEnvase where IdCedis = @IdCedis and Fecha = @Fecha 

DECLARE @CursorMOV CURSOR
SET @CursorMOV = CURSOR SCROLL DYNAMIC FOR 
	
	select IdProducto, Producto
	from Productos
	where IdFamilia in (2)
	order by IdProducto
	
OPEN @CursorMOV
FETCH NEXT FROM @CursorMOV INTO @IdProducto, @Producto
WHILE @@FETCH_STATUS = 0      
BEGIN  
	set @Columnas = @Columnas + ' IdProd' + @IdProducto + ' varchar(15), '
	set @FilaProductos = @FilaProductos + ' ''' + @Producto + ''', '
	set @FilaIdProductos = @FilaIdProductos + @IdProducto + ', '
	
	FETCH NEXT FROM @CursorMOV INTO @IdProducto, @Producto
END                                                                
CLOSE @CursorMOV  
DEALLOCATE @CursorMOV

set @Columnas = LEFT(@Columnas, len(@Columnas)- 1)
set @FilaProductos = LEFT(@FilaProductos, len(@FilaProductos)- 1)
set @FilaIdProductos = LEFT(@FilaIdProductos, len(@FilaIdProductos)- 1)

exec ( ' insert into RepModeloOrienteESEnvase values (' + @IdCedis + ', 0, ''' + @Fecha + ''', 0, '''', ''Productos'', ' + @FilaProductos + '  ) ')
		
DECLARE @CursorRutas CURSOR
SET @CursorRutas = CURSOR SCROLL DYNAMIC FOR 

	select IdRuta 
	from Rutas 
	where IdCedis = @IdCedis  
	order by IdRuta 
	
OPEN @CursorRutas
FETCH NEXT FROM @CursorRutas INTO @IdRuta2
WHILE @@FETCH_STATUS = 0      
BEGIN  
	
	insert into RepModeloOrienteESEnvase values (@IdCedis, @IdRuta2, @Fecha, 2, 'Ruta ' + CAST(@IdRuta2 as varchar(10)), '(=) DEUDA ANT', 0,0,0,0,0,0,0 )
	insert into RepModeloOrienteESEnvase values (@IdCedis, @IdRuta2, @Fecha, 3, 'Ruta ' + CAST(@IdRuta2 as varchar(10)), '(+) VENTA', 0,0,0,0,0,0,0 )
	insert into RepModeloOrienteESEnvase values (@IdCedis, @IdRuta2, @Fecha, 4, 'Ruta ' + CAST(@IdRuta2 as varchar(10)), '(-) ENTREGADO', 0,0,0,0,0,0,0 )
	insert into RepModeloOrienteESEnvase values (@IdCedis, @IdRuta2, @Fecha, 5, 'Ruta ' + CAST(@IdRuta2 as varchar(10)), '(-) VENDIDOS', 0,0,0,0,0,0,0 )
	insert into RepModeloOrienteESEnvase values (@IdCedis, @IdRuta2, @Fecha, 6, 'Ruta ' + CAST(@IdRuta2 as varchar(10)), '(=) DEUDA ACTUAL', 0,0,0,0,0,0,0 )
	
	insert into RepModeloOrienteESEnvase values (@IdCedis, @IdRuta2, @Fecha, 7, 'Ruta ' + CAST(@IdRuta2 as varchar(10)), 'DIFERENCIA', 0,0,0,0,0,0,0 )
	
	DECLARE @CursorProductos CURSOR
	SET @CursorProductos = CURSOR SCROLL DYNAMIC FOR 

		select  IdProducto 
		from Productos 
		where IdFamilia in (2)
		order by IdProducto 

	OPEN @CursorProductos
	FETCH NEXT FROM @CursorProductos INTO @IdProducto2
	WHILE @@FETCH_STATUS = 0      
	BEGIN  
	
		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = isnull(IdProd' + @IdProducto2 + ', 0) where IdCedis = ' + @IdCedis + ' 
			and Fecha in ( 
				select top 1 Fecha 
				from RepModeloOrienteESEnvase 
				where IdCedis = ' + @IdCedis + ' and Fecha < ''' + @Fecha + ''' and IdAgrupador = 2 and IdRuta = ' + @IdRuta2 + ' 
				order by Fecha desc ) 
			and IdAgrupador = 2 and IdRuta = ' + @IdRuta2 + ' ' )
		set @VTotal = 0
		set @Dif = 0 
		
		set @Valor = ISNULL((
		select  sum(TD.Cantidad *PD.Factor) 
			 FROM Route.dbo.TransProd TP
			 INNER JOIN Route.dbo.Dia D ON D.DiaClave = TP.DiaClave 
			 INNER JOIN Route.dbo.Visita VIS ON VIS.VisitaClave = TP.VisitaClave AND VIS.DiaClave = TP.DiaClave 
			 INNER JOIN Route.dbo.Vendedor VEN ON VEN.VendedorID = VIS.VendedorID 
			 INNER JOIN Route.dbo.Usuario U ON U.USUId = VEN.USUId 
			 INNER JOIN Route.dbo.TransProdDetalle TD ON TD.TransProdID = TP.TransProdID 
			 INNER JOIN Route.dbo.ProductoDetalle PD ON PD.ProductoClave = TD.ProductoClave AND PD.ProductoDetClave <> TD.ProductoClave 
			 WHERE TP.Tipo = 24 AND TP.TipoFase <> 0 and TP.FechaCaptura = @Fecha 
			 and U.Clave = 'USER' + REPLICATE ('0', 2-len(CAST(@IdRuta2 as varchar(10))))  + CAST(@IdRuta2 as varchar(10))
			 and Route.dbo.FNObtenerSoloNumeros(PD.ProductoDetClave) = cast(@IdProducto2 as int)), 0)
		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = cast(IdProd' + @IdProducto2 + ' as money) + ' + @Valor + ' where IdCedis = ' + @IdCedis + ' and Fecha = ''' + @Fecha + ''' and IdAgrupador = 3 and IdRuta = ' + @IdRuta2 + ' ' )
		set @VTotal = @VTotal + @Valor 
		set @Dif = @Dif - @Valor 
--select @VTotal, @IdProducto2, @Valor, @IdCedis, @IdRuta2 

		set @Valor = ISNULL((
		select SUM(Cantidad * PD.Factor)
			 FROM Surtidos  
			 INNER JOIN VentasDetalle ON Surtidos.IdCedis = VentasDetalle.IdCedis and Surtidos.IdSurtido = VentasDetalle.IdSurtido 
			 INNER JOIN Route.dbo.ProductoDetalle PD ON cast(PD.ProductoClave as bigint) = VentasDetalle.IdProducto AND cast(PD.ProductoDetClave as bigint) <> VentasDetalle.IdProducto 
			 and Route.dbo.FNObtenerSoloNumeros(PD.ProductoDetClave) = cast(@IdProducto2 as int)
			 WHERE Surtidos.IdCedis = @IdCedis and Surtidos.Fecha = @Fecha and Surtidos.IdRuta = @IdRuta2), 0)
		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = cast(IdProd' + @IdProducto2 + ' as money) + ' + @Valor + ' where IdCedis = ' + @IdCedis + ' and Fecha = ''' + @Fecha + ''' and IdAgrupador = 3 and IdRuta = ' + @IdRuta2 + ' ' )
		set @VTotal = @VTotal + @Valor 
		set @Dif = @Dif - @Valor 

		set @Valor = ISNULL((
			select SUM(TPD.Cantidad * PD.Factor )
			from Route.dbo.TransProd TRPC
			inner join Route.dbo.TrpTpd TPD on TPD.TransProdID1 = TRPC.TransProdID 
			inner join Route.dbo.TransProd TRP on TPD.TransProdID = TRP.TransProdID 
			INNER JOIN Route.dbo.TransProdDetalle TD ON TD.TransProdID = TRPC.TransProdID 		
			inner join Route.dbo.Dia Dia on TRP.DiaClave = Dia.DiaClave
			inner join Route.dbo.Visita VIS on TRP.VisitaClave = VIS.VisitaClave
			INNER JOIN Route.dbo.Vendedor VEN ON VEN.VendedorID = VIS.VendedorID 
			INNER JOIN Route.dbo.Usuario U ON U.USUId = VEN.USUId 
			INNER JOIN Route.dbo.ProductoDetalle PD ON PD.ProductoClave = TD.ProductoClave AND PD.ProductoDetClave <> TD.ProductoClave 
			where TRPC.Tipo = 24 AND TRPC.TipoFase <> 0 and TRPC.FechaCaptura = @Fecha 
			 and U.Clave = 'USER' + REPLICATE ('0', 2-len(CAST(@IdRuta2 as varchar(10))))  + CAST(@IdRuta2 as varchar(10))
			 and Route.dbo.FNObtenerSoloNumeros(PD.ProductoDetClave) = cast(@IdProducto2 as int)), 0)
		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = cast(IdProd' + @IdProducto2 + ' as money) + ' + @Valor + ' where IdCedis = ' + @IdCedis + ' and Fecha = ''' + @Fecha + ''' and IdAgrupador = 4 and IdRuta = ' + @IdRuta2 + ' ' )
		set @VTotal = @VTotal - @Valor 
		set @Dif = @Dif + @Valor 

		set @Valor = ISNULL((
		select  sum(TD.Cantidad ) 
			 FROM Route.dbo.TransProd TP
			 INNER JOIN Route.dbo.Dia D ON D.DiaClave = TP.DiaClave 
			 INNER JOIN Route.dbo.Visita VIS ON VIS.VisitaClave = TP.VisitaClave AND VIS.DiaClave = TP.DiaClave 
			 INNER JOIN Route.dbo.Vendedor VEN ON VEN.VendedorID = VIS.VendedorID 
			 INNER JOIN Route.dbo.Usuario U ON U.USUId = VEN.USUId 
			 INNER JOIN Route.dbo.TransProdDetalle TD ON TD.TransProdID = TP.TransProdID and cast(TD.ProductoClave as bigint) = @IdProducto2 
			 WHERE TP.Tipo = 3 AND TP.TipoFase <> 0 and TP.FechaCaptura = @Fecha 
			 and U.Clave = 'USER' + REPLICATE ('0', 2-len(CAST(@IdRuta2 as varchar(10))))  + CAST(@IdRuta2 as varchar(10)) ), 0)
			 --and Route.dbo.FNObtenerSoloNumeros(TD.ProductoClave) = cast(@IdProducto2 as int)), 0)
		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = cast(IdProd' + @IdProducto2 + ' as money) + ' + @Valor + ' where IdCedis = ' + @IdCedis + ' and Fecha = ''' + @Fecha + ''' and IdAgrupador = 4 and IdRuta = ' + @IdRuta2 + ' ' )
		set @VTotal = @VTotal - @Valor 
		set @Dif = @Dif + @Valor 

		set @Valor = ISNULL((
		select  sum(TD.Cantidad ) 
			 FROM Route.dbo.TransProd TP
			 INNER JOIN Route.dbo.Dia D ON D.DiaClave = TP.DiaClave 
			 INNER JOIN Route.dbo.Visita VIS ON VIS.VisitaClave = TP.VisitaClave AND VIS.DiaClave = TP.DiaClave 
			 INNER JOIN Route.dbo.Vendedor VEN ON VEN.VendedorID = VIS.VendedorID 
			 INNER JOIN Route.dbo.Usuario U ON U.USUId = VEN.USUId 
			 INNER JOIN Route.dbo.TransProdDetalle TD ON TD.TransProdID = TP.TransProdID and cast(TD.ProductoClave as bigint) = @IdProducto2 
			 WHERE TP.Tipo = 1 AND TP.TipoFase <> 0 and TP.FechaCaptura = @Fecha
			 and U.Clave = 'USER' + REPLICATE ('0', 2-len(CAST(@IdRuta2 as varchar(10))))  + CAST(@IdRuta2 as varchar(10)) ), 0)
		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = cast(IdProd' + @IdProducto2 + ' as money) + ' + @Valor + ' where IdCedis = ' + @IdCedis + ' and Fecha = ''' + @Fecha + ''' and IdAgrupador = 5 and IdRuta = ' + @IdRuta2 + ' ' )
		set @VTotal = @VTotal - @Valor 

		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = ' + @VTotal + ' where IdCedis = ' + @IdCedis + ' and Fecha = ''' + @Fecha + ''' and IdAgrupador = 6 and IdRuta = ' + @IdRuta2 + ' ' )

		exec ( 'update RepModeloOrienteESEnvase set IdProd' + @IdProducto2 + ' = ' + @Dif + ' where IdCedis = ' + @IdCedis + ' and Fecha = ''' + @Fecha + ''' and IdAgrupador = 7 and IdRuta = ' + @IdRuta2 + ' ' )

				
		FETCH NEXT FROM @CursorProductos INTO @IdProducto2
	END                                                                
	CLOSE @CursorProductos  
	DEALLOCATE @CursorProductos

	FETCH NEXT FROM @CursorRutas INTO @IdRuta2
END                                                                
CLOSE @CursorRutas  
DEALLOCATE @CursorRutas

	insert into RepModeloOrienteESEnvase
	select IdCedis, 1000, Fecha, 10, 'TOTAL', 'DIF. ENT.', SUM(cast(IdProd30 as money)), SUM(cast(IdProd31 as money)), SUM(cast(IdProd32 as money)), SUM(cast(IdProd33 as money)), SUM(cast(IdProd34 as money)), SUM(cast(IdProd35 as money)), SUM(cast(IdProd36 as money)) 
	from RepModeloOrienteESEnvase
	where IdCedis = @IdCedis and Fecha = @Fecha and IdAgrupador = 7 and IdRuta <> 0
	group by IdCedis, Fecha 
	
	insert into RepModeloOrienteESEnvase
	select @IdCedis, 1000, @Fecha, 11, 'TOTAL', 'ENV. PREST.', SUM(cast(IdProd30 as money)), SUM(cast(IdProd31 as money)), SUM(cast(IdProd32 as money)), SUM(cast(IdProd33 as money)), SUM(cast(IdProd34 as money)), SUM(cast(IdProd35 as money)), SUM(cast(IdProd36 as money)) 
	from RepModeloOrienteESEnvase
	where IdCedis = @IdCedis and Fecha = @Fecha and IdAgrupador = 6 and IdRuta <> 0
	group by IdCedis, Fecha 

	insert into RepModeloOrienteESEnvase values (@IdCedis, 1000, @Fecha, 100, 'ALMACÉN', '(=) SALDO ANT.', 0,0,0,0,0,0,0 )

	select * 
	from InventarioKardex 
	inner join Productos on Productos.IdProducto = InventarioKardex.IdProducto and IdFamilia = 2
	where IdCedis = @IdCedis and Fecha in ( 
		select top 1 Fecha from InventarioKardex 
		where IdCedis = @IdCedis and Fecha < @Fecha 
		order by Fecha desc ) 
GO

