@using eRoute.Helpers

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
}

<style>
    #map {
        width: 100%;
        left: 0;
    }
</style>

<div class="container" ng-controller="frecuenciadeRutasCtrl" ng-init="EditarFrecuencia('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">

    <!--Cabecera-->
    <div class="header" style="display: block;">
        <h3 class="titulo-altura">{{translation.ERMSECESC_MFrecuenciaMapaM}}</h3>
        @{string sPermiso = ViewBag.Permiso;}
    </div>

    <!--Formulario-->
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div id="map"></div>
            <script>
                var map;
                function initMap() {

                    var myLatLng1 = { lat: 20.667943, lng: -103.366526 };
                    var myLatLng2 = { lat: 20.678927, lng: -103.370704 };

                    var myElement = document.getElementById('map');
                    myElement.style.height = 501 + "px";

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: myLatLng1,
                        zoom: 8
                    });

                    var marker1 = new google.maps.Marker({
                        position: myLatLng1,
                        map: map,
                        title: 'Trabajo'
                    })

                    var marker2 = new google.maps.Marker({
                        position: myLatLng2,
                        map: map,
                        title: 'Casa'
                    })

                    var waypts = [{ location: { lat: 19.7060691304616, lng: -101.198214590549 }, stopover: true },
                                  { location: { lat: 19.707092, lng: -101.19766 }, stopover: true },
                                  { location: { lat: 19.701246, lng: -101.19731 }, stopover: true },

                                  //Plaza del Sol
                                  { location: { lat: 20.649147, lng: -103.403540 }, stopover: true },

                                  { location: { lat: 19.702147, lng: -101.2005 }, stopover: true },
                                  { location: { lat: 19.701223, lng: -101.19766 }, stopover: true },
                                  { location: { lat: 19.705791, lng: -101.20085 }, stopover: true },

                                  //Plaza Andares
                                  { location: { lat: 20.710677, lng: -103.412689 }, stopover: true },

                                  { location: { lat: 19.702747, lng: -101.20262 }, stopover: true },
                                  { location: { lat: 19.703257, lng: -101.20616 }, stopover: true },
                                  { location: { lat: 19.705091, lng: -101.20616 }, stopover: true },

                                  //Gran Plaza
                                  { location: { lat: 20.673947, lng: -103.404807 }, stopover: true },

                                  { location: { lat: 19.704725, lng: -101.20616 }, stopover: true }]; 
                    
                    var objConfigDR = {
                        map: map,
                        suppressMarkers: false
                    }

                    var objConfigDS = {
                        origin: "Vidrio 1872, Guadalajara, Jalisco",
                        destination: new google.maps.LatLng(myLatLng2),
                        waypoints: waypts,
                        optimizeWaypoints: true,
                        provideRouteAlternatives: false,
                        travelMode: google.maps.TravelMode.DRIVING,
                        drivingOptions: {
                            departureTime: new Date("27-05-2019 17:00:00"),  // for the time N milliseconds from now.
                            trafficModel: 'pessimistic'
                        }
                    }

                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer(objConfigDR);

                    directionsDisplay.setPanel(document.getElementById('directionsPanel'));

                    directionsService.route(objConfigDS, fnRutear);

                    function fnRutear( resultados, status){
                        if(status == 'OK'){
                            directionsDisplay.setDirections(resultados);
                        }
                        else {
                            alert: ('Error ' + status)
                        }
                    }
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDieOjOBc-buYRApCb9SMoad4bYyvhGn8U&callback=initMap">
            </script>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div id="directionsPanel"></div>
        </div>
    </div>

</div>