SET ANSI_NULLS ON
/*go*/go
SET QUOTED_IDENTIFIER ON
/*go*/go



ALTER PROCEDURE [dbo].[sp_Importar_SEQ]
	@ClaveServicio [varchar](20),
	@TipoServicio [varchar](20) ,
	@Tipo  [varchar](20) ,
	@Estado[bit]

AS
BEGIN
	SET NOCOUNT ON;
		DECLARE @Err int
	set @Err = 0

	IF (@ClaveServicio is null) or (RTrim(LTrim(@ClaveServicio)) = '')
	BEGIN
		RAISERROR ('ClaveServicio.Atributo Requerido.', 16, 2)
		set @Err = @@ERROR
	END		


	IF (@TipoServicio is null) or (RTrim(LTrim(@TipoServicio)) = '')
	BEGIN
		RAISERROR ('TipoServicio.Atributo Requerido.', 16, 2)
		set @Err = @@ERROR

	END
	ELSE IF (Select COUNT(*) from ValorReferencia where Clave = 'TIPSRV' and Estado = 1 and ValorCliente = @TipoServicio) = 0
	BEGIN 
		RAISERROR ('TipoServicio.No Existe en ValorReferencia o está Inactivo.', 16, 2)
		set @Err = @@ERROR	
	END
	
	
		IF (@Tipo is null) or (RTrim(LTrim(@Tipo)) = '')
	BEGIN
		RAISERROR ('Tipo.Atributo Requerido.', 16, 2)
		set @Err = @@ERROR

	END
	ELSE IF (Select COUNT(*) from ValorReferencia where Clave = 'TIPMAT' and Estado = 1 and Grupo=1 and ValorCliente = @Tipo) = 0
	BEGIN 
		RAISERROR ('Tipo.No Existe en ValorReferencia o está Inactivo.', 16, 2)
		set @Err = @@ERROR	
	END
	

	
			IF (@Estado is null) or (RTrim(LTrim(@Estado)) = '')
	BEGIN
		RAISERROR ('Estado.Atributo Requerido.', 16, 2)
		set @Err = @@ERROR

	END

	
	IF (@Err  <> 0)
	BEGIN
		RETURN
	END



Select @Tipo=Valor from ValorReferencia where Clave = 'TIPMAT' and Estado = 1 and ValorCliente = @Tipo
Select @TipoServicio=Valor from ValorReferencia where Clave = 'TIPSRV' and Estado = 1 and ValorCliente = @TipoServicio

if( not exists(select * from ServicioEquipo where TipoServicio=@TipoServicio and Tipo=@Tipo AND ClaveServicio=@ClaveServicio))
insert ServicioEquipo values(@ClaveServicio,@TipoServicio,@Tipo,@Estado)
else
update ServicioEquipo  set Estado=@Estado where Tipo=@Tipo and TipoServicio=@TipoServicio and ClaveServicio=@ClaveServicio

end
/*go*/go