/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #FFFFFF;
    font-size: .80em;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
    background-image: url('../img/fondo.png');
}

a
{
    text-decoration:none;
}

a:link, a:visited
{
    color: #00346d;
}

a:hover
{
    color: #1d60ff;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1000px;
    background-color: #fff;
    margin: 5px auto 0px auto;
    border: 1px solid #496077;
}
table.page
{
    border-collapse: collapse;
    border-spacing: 0px;
    border-width: 0px;
    padding: 0px;
    
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #579CD3;
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
   
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 7px 0px 7px 30px;
    color: #f9f9f9;
    border: none;
    
}

.main
{
    padding: 0px;
    margin: 0px;
    height:540px;
    width:850px;
    vertical-align:top;
}

.contenido
{
    height: 510px;
    overflow: auto;
    color: Black;
}
.contenidoauditoria
{
    height: 340px;
    overflow: auto;
    color: Black;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    margin: 0px;
    padding: 10px;
    vertical-align:top;
    text-align:center;
    width:160px;
}
td.menu
{
    vertical-align:top;
    background-color:#e7e8e8;
}
div.menucontenedor
{
    
    overflow:auto;
    height:450px;
}
div.menuelemento
{
    display:block;
    
    background-color:#fff;
    padding: 4px 0px 10px 8px;
    text-align:center;
    vertical-align:middle;
}
a.menuelemento
{
    color: #003366;
    text-decoration: none;
}
a.menuelemento:hover
{
    color:Blue;
}
div.menuheader
{
    position: relative;
    margin: 0px;
    padding: 10px;
    background: #00346d;
    color: #FFFFFF;
    font-weight: bold;
     font-size: 14pt;
     
}
div.menuheader:hover
{
    cursor:pointer;
}
div.herrgral
{
    color : #00346d;
    display:inline;
    padding: 0px 20px 0px 20px;
}
a.herrgral
{
    color : #00346d;
    text-decoration:none;
}

/*div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}*/

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    text-align: left;
    width: auto;
}
.toolbar
{
    position: relative;
    margin: 0px;
    padding: 2px;
    background-color:White;
    width: 99%;
    color: #FFFFFF;
    font-weight: bold;
}


.loginDisplay
{
    display: block;
    text-align:center;
    padding: 2px 10px 2px 10px;
    color: #3366FF;
    font-weight: bold;
        background-color:White;
        width:150px;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: small;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.etiqueta
{
    display:inline;
}
.sinespacios
{
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

/* AMESOL
-----------------------------------------------------------------------*/

table.navegacion
{
    margin: 10px;
    width: 740px;
    border-collapse: collapse;
}
th.navegacion
{
    font-size: medium;
    color: #00346D;
}
td.navegacion
{
    
    border: 1px solid #3E5987;
}
input.navegacion
{
    width:90%;
    border: 0px none white;
    margin-left: 0px;
}
tr.navegacion
{
    margin:0px;
}
tr.navegacionSel
{
    margin:0px;
    background-color:Yellow;
}
div.editar
{
    padding: 10px;
    width:650;
    
}
table.editar
{
    width:100%;
}
.campodiferente
{
    background-color:Red;
}
div.listachecks
{
    vertical-align:top;
    height:300px;
    overflow:auto;
}

.PreguntaOpcion
{
    width:200px;
}
.PreguntaOpcionTitulo
{
     font-size: medium;
    color: #3399FF;
}
input.contrasenia
{
    
}
table.Reportes
{
    border-width: 0px;
    margin: 0px 0px 0px 20px;
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0px;
}
th.Reportes
{
    text-align:center ;
    border-style: solid none solid none;
    font-weight: bold;
}
.barrainferior
{
position:absolute; 

background-color:#1999CE; 
color:White; 
font-weight:bold; 
padding:5px 40px 5px 40px; 
text-align:right; 
width: 950px;
}
osition:relative; left:-150px; background-color:#1999CE; color:White; font-weight:bold; padding:5px 40px 5px 40px; text-align:right; width: 1000px;
}

/* PAGINACION
---------------------------------------------------------------------------*/
.PaginaActual
{
    font-style:normal;
    font-weight: bold;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:small;
    color:Black;
}
.PaginaSiguienteAnterior
{
    font-style:normal;
    font-weight:normal;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:small;
    color:Black;
}
.PaginaSiguienteAnterior:hover
{
    color:Blue;
}
.PaginaNumerico
{
    font-style:normal;
    font-weight:normal;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:small;
    color:Gray;
}
.PaginaNumerico:hover
{
    color:Blue;
}

.bgtransparent{
        position:fixed;
        left:0;
        top:0;
        background-color:#000;
        opacity:0.6;
        filter:alpha(opacity=60);
}

.bgmodal
{
    position: fixed;
    font-family: arial;
    font-size: 1em;
    border: 0.05em solid black;
    overflow: auto;
    background-color: #FFFFFF;
    padding: 10px;
    background-image: url('../img/fondo.png');
}