USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[up_ActualizaSaldo]    Script Date: 11/01/2010 12:51:26 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[up_ActualizaSaldo] 
@IdCedis as bigint,
@IdMovimiento as bigint,
@Opc as int
AS

if @Opc = 1

if @Opc = 2
	update Ventas set Cargos =  ( select isnull( sum(Total), 0)   from MovimientosFacturas
			where MovimientosFacturas.IdCedis = Ventas.IdCedis and MovimientosFacturas.IdTipoVenta = Ventas.IdTipoVenta
			and MovimientosFacturas.Serie = Ventas.Serie and MovimientosFacturas.Folio = Ventas.Folio and Status <> 'B' and CargoAbono = 'C') , 
	Abonos =  ( select isnull( sum(Total), 0)   from MovimientosFacturas
			where MovimientosFacturas.IdCedis = Ventas.IdCedis and MovimientosFacturas.IdTipoVenta = Ventas.IdTipoVenta
			and MovimientosFacturas.Serie = Ventas.Serie and MovimientosFacturas.Folio = Ventas.Folio and Status <> 'B' and CargoAbono = 'A') 
	where Ventas.IdCedis = @IdCedis and Ventas.Folio in (
		select Folio from MovimientosFacturas 
		where IdCedis = @IdCedis and IdMovimiento = @IdMovimiento and Ventas.IdCedis = MovimientosFacturas.IdCedis 
			and Ventas.Serie = MovimientosFacturas.Serie and Ventas.Folio = MovimientosFacturas.Folio and MovimientosFacturas.Status = 'A' )