@model Effort.Models.LoginModel


<!DOCTYPE html>

<html>
<head>
    <title>Effort</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/content/css/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/Site.css" rel="stylesheet" type="text/css" />
    <style>

.my-anchor { position:relative; }

.field-validation-error {

  color:red;

}

</style>
</head>
<body>

<div class="container">

    <div class="container">
        <h2>Iniciar Sesion</h2>
    </div>

     <form role="form" method="post" action="@Url.Action("Login", "Account")">

         <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                        <label for="usr">Usuario:</label>
                        <input type="text" class="form-control" id="UserName" name="UserName">
                    </div>
                </div>

                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                         <label for="sel1">Contraseña:</label>
                        <input type="password" class="form-control" id="Password" name="Password">
                    </div>
                </div>
            </div>
        </div>
         @if (Model != null && Model.Message != null)
         {
             <div class="container">
             <label class="field-validation-error">@Model.Message</label>
         </div>
         }
         
         
        <div class="container">
            <button class="btn btn-primary" type="submit" class="btn btn-default">Entrar</button>
        </div>
    </form>
</div>
    </body>
</html>