<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Selling.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Selling.MySettings.pvtaConnectionString" connectionString="Data Source=JMALCALA;Initial Catalog=pvta;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=JMALCALA;Persist Security Info=True;Password=dbsa;User ID=sa;Initial Catalog=pvta"
            providerName="System.Data.OleDb" />
        <add name="Selling.MySettings.pvtaConnectionString1" connectionString="Data Source=JMALCALAS;Initial Catalog=pvta;Persist Security Info=True;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.DemoConnectionString" connectionString="Data Source=JMALCALAS;Initial Catalog=Demo;Persist Security Info=True;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.SellingConnectionString" connectionString="Data Source=JMALCALAS;Initial Catalog=Selling;Persist Security Info=True;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.SellingConnectionString1" connectionString="Data Source=JALCALAS\JMALCALAS;Initial Catalog=Selling;Persist Security Info=True;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.SellingConnectionString2" connectionString="Data Source=ALPE\ALPE;Initial Catalog=Selling;Persist Security Info=True;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.DemoConnectionString1" connectionString="Data Source=ALPE\ALPE;Initial Catalog=Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.SellingConnectionString3" connectionString="Data Source=25.60.170.32\NAVA;Initial Catalog=Selling;Persist Security Info=True;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.ConnectionString4" connectionString="Provider=SQLOLEDB;Data Source=.\EWO;Persist Security Info=True;Password=dbsa;User ID=sa;Initial Catalog=Selling"
            providerName="System.Data.OleDb" />
        <add name="Selling.MySettings.SellingConnectionString4" connectionString="Data Source=.\SQL2005;Initial Catalog=Selling;Persist Security Info=True;User ID=sa;Password=dbsa"
            providerName="System.Data.SqlClient" />
        <add name="Selling.MySettings.Selling8" connectionString="Data Source=.\EWO;Initial Catalog=Selling;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITimbrado" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_ICancelacion" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_ITimbrado1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_ICancelacion1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="WSComercioTASOAPSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WSComercioTASOAPSoapBinding1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDetecnoPac">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IDetecnoPac1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICanceladorXML">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc/Basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimbrado"
                contract="DigitalInvoiceWS.ITimbrado" name="BasicHttpBinding_ITimbrado" />
            <endpoint address="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Cancelacion.svc/Basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICancelacion"
                contract="DigitalInvoiceCancelacionWS.ICancelacion" name="BasicHttpBinding_ICancelacion" />
            <endpoint address="https://www.timbra.mx/WCFTimbrador/DetecnoPac.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDetecnoPac"
                contract="DetecnoPAC.IDetecnoPac" name="WSHttpBinding_IDetecnoPac" />
            <endpoint address="https://digitalinvoicecfdi.com.mx/WS_WSDI33/DigitalInvoice.WebServices.WSDI.Timbrado.svc/Basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimbrado1"
                contract="DigitalInvoiceWS33.ITimbrado" name="BasicHttpBinding_ITimbrado1" />
            <endpoint address="https://digitalinvoicecfdi.com.mx/WS_Cancelacion/DigitalInvoice.WebServices.WSDI.Cancelacion.svc/Basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICancelacion1"
                contract="DigitalInvoiceCancelacionWS33.ICancelacion" name="BasicHttpBinding_ICancelacion1" />
            <endpoint address="https://www.timbra.mx/WCFtimbrador33/DetecnoPac.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDetecnoPac1"
                contract="DetecnoPAC33.IDetecnoPac" name="WSHttpBinding_IDetecnoPac1" />
            <endpoint address="https://www.timbra.mx/WCFCancelador/CancelacionXML.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICanceladorXML"
                contract="DetecnoCancelacion.ICanceladorXML" name="WSHttpBinding_ICanceladorXML" />
            <endpoint address="https://servicios.tarjetaamiga.com.mx/WSComercioTA/services/WSComercioTASOAP"
                binding="basicHttpBinding" bindingConfiguration="WSComercioTASOAPSoapBinding"
                contract="WSComercioTA.WSComercioTA" name="WSComercioTASOAP" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Selling.MySettings>
            <setting name="Selling_mx_facturacfdi_dev_WSTimbradoCFDIService"
                serializeAs="String">
                <value>https://dev.facturacfdi.mx:8081/WSTimbrado/WSTimbradoCFDIService</value>
            </setting>
        </Selling.MySettings>
    </applicationSettings>
</configuration>
