<div id="VenDescuentos" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{translation.ERMIMPESC_IGeneral}}</h2>
            </div>
            <!-- dialog body -->
            <div class="modal-body validateBox">
                <form role="form">
                    <div class="container">
                        <div class="form-group">
                            <label id="lblMsgMensaje" class="control-label text-label"></label>
                          
                            <table class="table table-bordered">
                                <tr>
                                    <td></td>
                                    <td>{{translation.IMPClave}}</td>
                                    <td>{{translation.IMPAbreviatura}}</td>
                                    <td>{{translation.IMPNombre}}</td>
                                </tr>

                                <tr ng-repeat="i in cImpuestoList">
                                    <td><input id="{{i.ImpuestoClave}}" class="impInput" type="checkbox" ng-model="ImpuestoClave.$index" name="{{'ImpuestoClave' + $index }}" ng-checked="{{t.Existe}}" ng-false-value="'NO'" ng-true-value="'YES'" ng-click="addImpuesto(i.ImpuestoClave, i.Abreviatura, i.Nombre, ImpuestoClave.$index)"></td>
                                    <td>{{i.ImpuestoClave}}</td>
                                    <td>{{i.Abreviatura}}</td>
                                    <td>{{i.Nombre}}</td>
                                </tr>
                            </table>
                            
                      


                        </div>
                    </div>
                </form>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer" >                
                <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTAceptar}}</button>
            </div>
        </div>
    </div>
</div>
