@using eRoute.Helpers

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
}

<style>
    #map {
        width: 100%;
        left: 0;
    }
</style>

<div class="container" ng-controller="frecuenciadeRutasCtrl" ng-init="EditarFrecuencia('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">

    <!--Cabecera-->
    <div class="header" style="display: block;">
        <h3 class="titulo-altura">{{translation.ERMSECESC_MFrecuenciaMapaM}}</h3>
        @{string sPermiso = ViewBag.Permiso;}
    </div>

    <!--Formulario-->
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" id="map">
            <div id="map"></div>
            <script>
                var map;
                function initMap() {
                    var myElement = document.getElementById('map');
                    myElement.style.height = 201+"px";
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: -25.363, lng: 131.044 },
                        zoom: 8
                    });
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgClMywKkZ-eapVWOwpr7izt8COdm3NkY&callback=initMap">
            </script>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>
    </div>

</div>