<div id="CreacionMDBMensaje" class="modal fade" ng-controller="mdbMensajeCtrl">
    <div class="modal-dialog modal-lg" id="R">
        <div class="modal-content">

            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Add=[]"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{GetDescripcion("ERMMMEESC_NGeneral", "Mensajes para Usuarios y Clientes")}}</h2>
            </div>

            <!-- dialog body -->
            <div class="modal-body">
                <div class="panel panel-danger">

                    <div class="panel-body">
                        <div ng-form="subForm" id="subForm" class="subForm">
                            <div class="row form-group">                                
                                @*<label class="control-label col-md-2">{{GetDescripcion("MMEMDBMensajeTipo", "Tipo")}}</label>*@
                                <div class="control-label col-md-2"><label for="">{{GetDescripcion("MMEMDBMensajeTipo", "Tipo")}}</label></div>
                                <div class="col-md-4">
                                    <select id="ddlMDBMensajeTipo" class="form-control" data-modal="modal" ng-model="MDBMensajeTipo" name="MDBMensajeTipo" ng-options="val.VAVClave as val.Descripcion for val in mdbment | filter:FiltroMDBTipoMensaje" ng-required="true" ng-change="ObtenerSiguienteNumero()">
                                        <option value="" disabled selected>{{GetDescripcion("XSeleccionarOpcion", "Seleccionar Opción")}}</option>
                                    </select>
                                    <div ng-show="form.$submitted || form.MDBMensajeTipo.$touched">
                                        <div class="error-message" ng-show="form.MDBMensajeTipo.$error.required">{{GetDescripcion("BE0001", "[E0001] El campo $0$ es requerido.").replace('$0$', '')}}</div>
                                    </div>
                                </div>

                                @*<label class="control-label col-md-2">{{GetDescripcion("MMETipoEstado", "Estado")}}</label>*@
                                <div class="control-label col-md-2"><label for="">{{GetDescripcion("MMETipoEstado", "Estado")}}</label></div>
                                <div class="col-md-4">
                                    <select id="ddlTipoEstado" class="form-control" data-modal="modal" ng-model="TipoEstado" name="MDBTipoEstado" ng-options="val.VAVClave as val.Descripcion for val in edoreg" ng-required="true" ng-disabled="true">
                                        <option value="" disabled selected>{{GetDescripcion("XSeleccionarOpcion", "Seleccionar Opción")}}</option>
                                    </select>
                                    <div ng-show="form.$submitted || form.MDBTipoEstado.$touched">
                                        <div class="error-message" ng-show="form.MDBTipoEstado.$error.required">{{GetDescripcion("BE0001", "[E0001] El campo $0$ es requerido.").replace('$0$', '')}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="control-label col-md-2"><label for="">{{GetDescripcion("MMENumero", "Numero")}}</label></div>
                                <div class="col-md-4">
                                    <input type="number" id="Numero" name="MBDNumero" ng-model="Numero" class="form-control" ng-required="true" min="1" ng-disabled="true">
                                    <div ng-show="subForm.$submitted || subForm.MDBNumero.$touched">
                                        <div class="error-message" ng-show="subForm.MBDNumero.$error.required">{{GetDescripcion("BE0001", "[E0001] El campo $0$ es requerido.").replace('$0$', '')}}</div>
                                        <div class="error-message" ng-show="subForm.MBDNumero.$error.min">{{GetDescripcion("E0334", "[E0334] El campo $0$ debe ser mayor a cero").replace('$0$', '')}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="control-label col-md-2"><label for="">{{GetDescripcion("MMEAsunto", "Asunto")}}</label></div>
                                <div class="col-md-10">
                                    <input type="text" id="Asunto" name="MDBAsunto" ng-model="Asunto" class="form-control" ng-required="true" ng-maxlength="50">
                                    <div ng-show="subForm.$submitted || subForm.MDBAsunto.$touched">
                                        <div class="error-message" ng-show="subForm.MDBAsunto.$error.required">{{GetDescripcion("BE0001", "[E0001] El campo $0$ es requerido.").replace('$0$', '')}}</div>
                                        <div class="error-message" ng-show="subForm.MDBAsunto.$error.maxlength">{{GetDescripcion("E1004", "[E1004] El máximo de caracteres se ha excedido, la longitud máxima permitida es $0$").replace('$0$','50')}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="control-label col-md-2"><label for="">{{GetDescripcion("MMEDescripcion", "Descripción")}}</label></div>
                                <div class="col-md-10">
                                    <input type="text" rows="4" id="Descripcion" name="MDBDescripcion" ng-model="Descripcion" class="form-control" ng-required="true" ng-maxlength="500">
                                    <div ng-show="subForm.$submitted || subForm.MDBDescripcion.$touched">
                                        <div class="error-message" ng-show="subForm.MDBDescripcion.$error.required">{{GetDescripcion("BE0001", "[E0001] El campo $0$ es requerido.").replace('$0$', '')}}</div>
                                        <div class="error-message" ng-show="subForm.MDBDescripcion.$error.maxlength">{{GetDescripcion("E1004", "[E1004] El máximo de caracteres se ha excedido, la longitud máxima permitida es $0$").replace('$0$','500')}}</div>
                                    </div>
                                </div>
                            </div>
                                     
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{GetDescripcion("ERMMOTESC_NGeneral", "Módulos de la Terminal")}}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="container" style="margin-left: 20px; margin-right: 20px;">
                                        <div>
                                            <table cellpadding="12" class="table table-bordered table-hover valor-table">
                                                <tr>
                                                    <th><b></b></th>
                                                    <th><b>{{GetDescripcion("MMDModuloClave", "Módulo")}}</b></th>
                                                </tr>

                                                <tr ng-repeat="mod in ModuloMensaje">
                                                    <td><input type="checkbox" data-toggle='tooltip' ng-model="mod.Seleccionado" name="Seleccionado" ng-true-value="true" ng-false-value="false" /></td>
                                                    <td><span style="max-width:100%" data-modal="modal"> {{mod.Nombre}} </span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="subForm.$invalid" ng-click="GuardarMDBMensaje();">{{GetDescripcion("BTAceptar", "Aceptar")}}</button>
            </div>
        </div>
    </div>
</div>

