set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



ALTER PROCEDURE [dbo].[up_SurtidosDenominacion] 
@IdCedis as bigint,
@IdSurtido as bigint,
@IdCajero varchar(20),
@IdMoneda as varchar(5),
@IdDenominacion as money,
@TipoDenominacion as char(1),
@Cantidad as money,
@Opc as int

AS

declare @IdVendedor as bigint, @Fecha as datetime

if @Opc = 1
begin
	delete from SurtidosDenominacion where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdMoneda = @IdMoneda and  IdDenominacion = @IdDenominacion and TipoDenominacion = @TipoDenominacion
	if @Cantidad > 0 
		insert into SurtidosDenominacion values (@IdCedis, @IdSurtido, @IdCajero, @IdMoneda, @IdDenominacion, @TipoDenominacion, @Cantidad)
		
		select top 1 @IdVendedor = SurtidosVendedor.IdVendedor, @Fecha = Surtidos.Fecha
		from Surtidos 
		inner join SurtidosVendedor on Surtidos.IdCedis = SurtidosVendedor.IdCedis and Surtidos.IdSurtido = SurtidosVendedor.IdSurtido 
		where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido 
		order by SurtidosVendedor.IdTipoVendedor
			
		exec up_VendedoresSaldos @IdCedis, @IdSurtido, @IdVendedor, @Fecha, 1
end

if @Opc = 2
begin
		select top 1 @IdVendedor = SurtidosVendedor.IdVendedor, @Fecha = Surtidos.Fecha
		from Surtidos 
		inner join SurtidosVendedor on Surtidos.IdCedis = SurtidosVendedor.IdCedis and Surtidos.IdSurtido = SurtidosVendedor.IdSurtido 
		where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido 
		order by SurtidosVendedor.IdTipoVendedor
			
		exec up_VendedoresSaldos @IdCedis, @IdSurtido, @IdVendedor, @Fecha, 1
end




