set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[up_SurtidosVendedores] 
@IdCedis as bigint,
@IdSurtido as bigint,
@Fecha as datetime,
@IdVendedor as bigint,
@IdTipoVendedor as bigint,
@Opc as int
AS

declare @IdRuta as bigint

if @Opc = 1
begin
	-- set @IdSurtido = isnull ( (select max(IdSurtido) from Surtidos  ), 1)
	insert into SurtidosVendedor values (@IdCedis, @IdSurtido, @Fecha, @IdVendedor, @IdTipoVendedor)
	
end

if @Opc = 2
begin
	delete from SurtidosVendedor 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdVendedor = @IdVendedor
end
			
exec up_VendedoresSaldos @IdCedis, @IdSurtido, @IdVendedor, @Fecha, 1

set @IdRuta = isnull ( (select idruta from Surtidos where IdCedis = @IdCedis and IdSurtido = @IdSurtido ) , 0 )
delete from VendedoresRutas where IdCedis = @IdCedis and IdRuta = @IdRuta
if @IdRuta<>0
begin
	insert into VendedoresRutas
	select IdCedis, @IdRuta, IdVendedor, IdTipoVendedor 
	from SurtidosVendedor 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido 	
end

