USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_SurtidosDetalle]    Script Date: 04/29/2010 21:00:39 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[sel_SurtidosDetalle]
@IdCedis as bigint,
@Fecha as datetime,
@IdSurtido as bigint,
@IdProducto as bigint,
@Opc as int
AS

declare @IdFamiliaRejas as bigint

if @Opc = 1
begin

        set @IdFamiliaRejas = ( select isnull(idfamiliarejas,0) as Reja from productos left outer join configuracion on idfamilia = idfamiliarejas where idproducto = @IdProducto )

        if @IdFamiliaRejas <> 0  -- producto reja

                select IdProducto, Producto, isnull( (
                        select sum( Surtido ) from Rejas
                        where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Rejas.IdProducto = Productos.IdProducto
                ), 0) as Surtido, 
                isnull( ( 
                        select (Inicial + Entradas - Salidas - Surtido + DevBuena + DevMala)
                        from InventarioKardex
                        where IdCedis = @IdCedis and Fecha = @Fecha and InventarioKardex.IdProducto = Productos.IdProducto
                ), 0) as 'Inv. Final', Decimales, Status
                from Productos 
                where IdProducto = @IdProducto

        else -- producto no reja

                select IdProducto, Producto, isnull( (
                        select Surtido from SurtidosDetalle
                        where IdCedis = @IdCedis and IdSurtido = @IdSurtido and SurtidosDetalle.IdProducto = Productos.IdProducto
                ), 0) as Surtido, 
                isnull( ( 
                        select (Inicial + Entradas - Salidas - Surtido + DevBuena + DevMala)
                        from InventarioKardex
                        where IdCedis = @IdCedis and Fecha = @Fecha and InventarioKardex.IdProducto = Productos.IdProducto
                ), 0) -
                isnull(( select sum(Surtido) from SurtidosDetalle where IdCedis = @IdCedis and Fecha > @Fecha and IdProducto = Productos.IdProducto ),0) as 'Inv. Final', Decimales, Status
                from Productos 
                where IdProducto = @IdProducto
end

if @Opc = 2
begin

        select SurtidosDetalle.IdCedis, SurtidosDetalle.IdProducto as 'Cve. Producto', Producto as 'Producto', Surtido as 'Carga', (VentaCredito + VentaContado) as 'Venta',
        DevBuena as 'Dev. Buena', DevMala as 'Dev. Mala', Obsequios as 'Obsequios', Surtido - VentaCredito - VentaContado - DevBuena - DevMala - Obsequios as 'Inv. Final', 
        Precio as 'Precio', Subtotal as 'Subtotal', Surtido*Precio*Productos.Iva as 'Iva', Total as 'Total'
        from SurtidosDetalle 
        inner join Productos on SurtidosDetalle.IdProducto = Productos.IdProducto
        where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Surtido > 0
        -- order by cast(SurtidosDetalle.IdProducto as bigint)

        union
        
        select Rejas.IdCedis, Rejas.IdProducto as 'Cve. Producto', Producto as 'Producto', Surtido as 'Carga', 0 as 'Venta',
        Devolucion as 'Dev. Buena', 0 as 'Dev. Mala', 0 as 'Obsequios', Surtido - Devolucion as 'Inv. Final', 
        0 as 'Precio', 0 as 'Subtotal', 0 as 'Iva', 0 as 'Total'
        from Rejas 
        inner join Productos on Rejas.IdProducto = Productos.IdProducto
        where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Surtido > 0
        -- order by cast(Rejas.IdProducto as bigint)
end

if @Opc = 6
begin
        
        select SurtidosDetalle.IdCedis, SurtidosDetalle.IdProducto as 'Cve. Producto', Producto as 'Producto', Surtido as 'Carga', 
        Precio as 'Precio', Subtotal as 'Subtotal', Surtido*Precio*Productos.Iva as 'Iva', Total as 'Total'
        from SurtidosDetalle 
        inner join Productos on SurtidosDetalle.IdProducto = Productos.IdProducto
        where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Surtido > 0
        -- order by cast(SurtidosDetalle.IdProducto as bigint)

        union
        
        select Rejas.IdCedis, Rejas.IdProducto as 'Cve. Producto', Producto as 'Producto', Surtido as 'Carga', 
        0 as 'Precio', 0 as 'Subtotal', 0 as 'Iva', 0 as 'Total'
        from Rejas 
        inner join Productos on Rejas.IdProducto = Productos.IdProducto
        where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Surtido > 0
        -- order by cast(Rejas.IdProducto as bigint)        

end

if @Opc = 3
begin
        set @IdFamiliaRejas = ( select isnull(idfamiliarejas,0) as Reja from productos left outer join configuracion on idfamilia = idfamiliarejas where idproducto = @IdProducto )

        if @IdFamiliaRejas <> 0  -- producto reja
                select Rejas.IdCedis, Rejas.IdProducto as 'Cve. Producto', Producto as 'Producto', Surtido as 'Carga', 0 as 'Venta',
                Devolucion as 'Dev. Buena', 0 as 'Dev. Mala', 0 as 'Obsequios', Surtido - Devolucion as 'Inv. Final', 
                0 as 'Precio', 0 as 'Subtotal', 0 as 'Iva', 0 as 'Total', Decimales, @IdFamiliaRejas
                from Rejas
                inner join Productos on Rejas.IdProducto = Productos.IdProducto
                where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Surtido > 0 and Rejas.IdProducto = @IdProducto 
                order by cast(Rejas.IdProducto as bigint)

        else -- producto no reja
                select SurtidosDetalle.IdCedis, SurtidosDetalle.IdProducto as 'Cve. Producto', Producto as 'Producto', Surtido as 'Carga', (VentaCredito + VentaContado) as 'Venta',
                DevBuena as 'Dev. Buena', DevMala as 'Dev. Mala', Obsequios as 'Obsequios', Surtido - VentaCredito - VentaContado - DevBuena - DevMala - Obsequios as 'Inv. Final', 
                Precio as 'Precio', Subtotal as 'Subtotal', Surtido*Precio*Productos.Iva as 'Iva', Total as 'Total', Decimales, @IdFamiliaRejas
                from SurtidosDetalle 
                inner join Productos on SurtidosDetalle.IdProducto = Productos.IdProducto
                where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Surtido > 0 and SurtidosDetalle.IdProducto = @IdProducto 
                order by cast(SurtidosDetalle.IdProducto as bigint)
end

if @Opc = 4
begin

        SELECT     SURDET.IdCedis, SURDET.IdProducto AS 'Cve. Prod.', PROD.Producto AS Producto, SURDET.Surtido AS Carga, 
                              SURDET.VentaCredito AS Credito, SURDET.VentaContado AS Contado, SURDET.DevBuena AS 'Dev. Buena', SURDET.DevMala AS 'Dev. Mala', 
                              SURDET.Obsequios AS Obsequios, isnull(sum(VENDET.Total)/sum(VENDET.Cantidad), 0)  AS Precio, ISNULL(SUM(VENDET.Subtotal), 0) AS SubTotal, 
                              ISNULL(SUM(VENDET.Cantidad * VENDET.Precio * VENDET.Iva), 0) AS Iva, ISNULL(SUM(VENDET.Total), 0) AS Total
        FROM         SurtidosDetalle SURDET LEFT OUTER JOIN
                              Productos PROD ON SURDET.IdProducto = PROD.IdProducto LEFT OUTER JOIN
                              VentasDetalle VENDET ON SURDET.IdCedis = VENDET.IdCedis AND SURDET.IdSurtido = VENDET.IdSurtido AND 
                              SURDET.IdProducto = VENDET.IdProducto
        WHERE     (SURDET.IdCedis = @IdCedis) AND (SURDET.Surtido > 0) and (SURDET.idsurtido = @IdSurtido)
        GROUP BY SURDET.IdCedis, SURDET.IdProducto, PROD.Producto, SURDET.Surtido, SURDET.VentaCredito, SURDET.VentaContado, 
                              SURDET.DevBuena, SURDET.DevMala, SURDET.Obsequios, SURDET.Precio
        -- ORDER BY CAST(SURDET.IdProducto AS bigint)

        union

        SELECT     SURDET.IdCedis, SURDET.IdProducto AS 'Cve. Prod.', PROD.Producto AS Producto, SURDET.Surtido AS Carga, 
                              0 AS Credito, 0 AS Contado, SURDET.Devolucion AS 'Dev. Buena', 0 AS 'Dev. Mala', 
                              0 AS Obsequios, 0 AS Precio, 0 AS SubTotal, 0 AS Iva, 0 AS Total
        FROM         Rejas SURDET LEFT OUTER JOIN
                              Productos PROD ON SURDET.IdProducto = PROD.IdProducto LEFT OUTER JOIN
                              VentasDetalle VENDET ON SURDET.IdCedis = VENDET.IdCedis AND SURDET.IdSurtido = VENDET.IdSurtido AND 
                              SURDET.IdProducto = VENDET.IdProducto
        WHERE     (SURDET.IdCedis = @IdCedis) AND (SURDET.Surtido > 0) and (SURDET.idsurtido = @IdSurtido)
        GROUP BY SURDET.IdCedis, SURDET.IdProducto, PROD.Producto, SURDET.Surtido, SURDET.Devolucion
        -- ORDER BY CAST(SURDET.IdProducto AS bigint)

end

if @Opc = 5

        select Tipo, isnull( sum(Subtotal),0) as 'Subtotal', isnull( sum(Cantidad * Precio * Iva),0) as 'Iva', isnull( sum(Total),0) as 'Total'
        from VentasTipo 
        inner join VentasDetalle on IdCedis = @IdCedis and IdSurtido = @IdSurtido and VentasDetalle.IdTipoVenta = VentasTipo.IdTipoVenta
        group by Tipo
        order by Tipo

if @Opc = 7
	select isnull(sum(Surtido), 0), isnull(sum(devbuena), 0), isnull(sum(devmala), 0), isnull(sum(obsequios), 0), isnull(sum(ventacontado + ventacredito), 0),
	isnull(sum(surtido - devbuena - devmala - obsequios - ventacontado - ventacredito), 0), 
	isnull(sum(Entrada), 0), isnull(sum(Salida), 0)
	from SurtidosDetalle
	left outer join SurtidosCambios on SurtidosDetalle.IdCedis = SurtidosCambios.IdCedis and SurtidosDetalle.IdSurtido = SurtidosCambios.IdSurtido and SurtidosDetalle.IdProducto = SurtidosCambios.IdProducto 
	where SurtidosDetalle.IdCedis = @IdCedis and SurtidosDetalle.IdSurtido = @IdSurtido

if @Opc = 8
        SELECT     SURDET.IdCedis, VENTASTIPO.TipoVenta, SURDET.IdProducto AS 'Cve. Prod.', PROD.Producto AS Producto, 
                sum(VENDET.Cantidad) AS Piezas, -- SURDET.VentaContado, SURDET.VentaCredito, 
                VENDET.Precio AS PrecioVenta, ISNULL(SUM(VENDET.Subtotal), 0) AS SubTotal, 
                ISNULL(SUM(VENDET.Cantidad * VENDET.Precio * VENDET.Iva), 0) AS Iva, ISNULL(SUM(VENDET.Total), 0) AS Total, 
                SURDET.Precio AS PrecioBase
        FROM         SurtidosDetalle SURDET LEFT OUTER JOIN
                              Productos PROD ON SURDET.IdProducto = PROD.IdProducto LEFT OUTER JOIN
                              VentasDetalle VENDET ON SURDET.IdCedis = VENDET.IdCedis AND SURDET.IdSurtido = VENDET.IdSurtido AND 
                              SURDET.IdProducto = VENDET.IdProducto LEFT OUTER JOIN 
                        VENTASTIPO ON VENTASTIPO.IdTipoVenta = VENDET.IdTipoVenta                                
        WHERE     (SURDET.IdCedis = @IdCedis) AND (SURDET.Surtido > 0) and (SURDET.idsurtido = @IdSurtido) AND SURDET.VentaContado + SURDET.VentaCredito  > 0
        GROUP BY SURDET.IdCedis, SURDET.IdProducto, PROD.Producto, SURDET.Surtido, SURDET.VentaCredito, SURDET.VentaContado, 
                              SURDET.DevBuena, SURDET.DevMala, SURDET.Obsequios, SURDET.Precio, VENDET.Precio, VENTASTIPO.TipoVenta,
                        VENTASTIPO.Tipo
        HAVING SURDET.Precio <> ISNULL(SUM(VENDET.Precio), 0) 
        ORDER BY SURDET.IdCedis, cast( SURDET.IdProducto as int)
