USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_PolizaModeloOriente]    Script Date: 04/30/2010 11:04:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sel_PolizaModeloOriente] 
@IdCedis as bigint,
@FechaInicial as datetime,
@FechaFinal as datetime,
@Opc as int

AS

if @Opc = 1
begin
declare 
@Concepto as varchar(25),
@Fecha as datetime

set @Fecha = @FechaInicial 

	if @IdCedis = 3
		set @Concepto = 'VENTAS HUAMANTLA'
	else
		set @Concepto = 'VENTAS PUEBLA'

	select 1 as Orden, @IdCedis as IdCedis, @Fecha as Fecha, '' as Cuenta, 'BANCO HSBC CTA. 1544' as Descripcion, @Concepto as Concepto,
		isnull(( select SUM(IdDenominacion*Cantidad) 
		from Surtidos  
		inner join SurtidosDenominacion on SurtidosDenominacion.IdCedis = Surtidos.IdCedis and SurtidosDenominacion.IdSurtido = Surtidos.IdSurtido
		where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha), 0 ) as Cargo, 0 as Abono

	union

	select 2 as Orden, @IdCedis as IdCedis, @Fecha as Fecha, '' as Cuenta, 'CLIENTES CRÉDITOS' as Descripcion, @Concepto as Concepto,
		isnull(( select SUM(Total) 
		from Surtidos  
		inner join VentasDetalle on VentasDetalle.IdCedis = Surtidos.IdCedis and VentasDetalle.IdSurtido = Surtidos.IdSurtido
			and VentasDetalle.IdTipoVenta = 2
		where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha ),0) as Cargo, 0 as Abono

	union

		select 3 as Orden, @IdCedis as IdCedis, @Fecha as Fecha, '' as Cuenta, 'CLIENTES COBROS' as Descripcion, @Concepto as Concepto, 0 as Cargo, 
		isnull(( select SUM(IdDenominacion*Cantidad) 
		from Surtidos  
		inner join SurtidosDenominacion on SurtidosDenominacion.IdCedis = Surtidos.IdCedis and SurtidosDenominacion.IdSurtido = Surtidos.IdSurtido
		where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha), 0 ) -
		isnull(( select SUM(Total) 
		from Surtidos  
		inner join VentasDetalle on VentasDetalle.IdCedis = Surtidos.IdCedis and VentasDetalle.IdSurtido = Surtidos.IdSurtido
			and VentasDetalle.IdTipoVenta = 1
		where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha ),0) as Abono

	union

		select SubFamilias.IdSubFamilia + 3 as Orden,  @IdCedis as IdCedis, @Fecha as Fecha, '' as Cuenta, 'VENTA ' + SubFamilia as Descripcion, @Concepto as Concepto, 0 as Cargo, isnull(SUM(Total),0) as Abono
		from Surtidos  
		inner join VentasDetalle on VentasDetalle.IdCedis = Surtidos.IdCedis and VentasDetalle.IdSurtido = Surtidos.IdSurtido
		inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto 
		inner join SubFamilias on SubFamilias.IdSubFamilia = Productos.IdSubFamilia 
		where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha  
		group by SubFamilias.IdSubFamilia, SubFamilia 

	union

		select 7 as Orden, @IdCedis as IdCedis, @Fecha as Fecha, '' as Cuenta, 'IVA' as Descripcion, @Concepto as Concepto, 0 as Cargo, 
		isnull(( select SUM(Total*.16) 
		from Surtidos  
		inner join VentasDetalle on VentasDetalle.IdCedis = Surtidos.IdCedis and VentasDetalle.IdSurtido = Surtidos.IdSurtido
		where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha ),0) as Abono

	union

		select SubFamilias.IdSubFamilia + 7 as Orden,  @IdCedis as IdCedis, @Fecha as Fecha, '' as Cuenta, 'COSTO DE VENTA ' + SubFamilia as Descripcion, @Concepto as Concepto, 
		isnull(( select SUM(Cantidad * PreciosDetalle.Precio ) 
			from Surtidos  
			inner join VentasDetalle on VentasDetalle.IdCedis = Surtidos.IdCedis and VentasDetalle.IdSurtido = Surtidos.IdSurtido
			inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto 
			inner join SubFamilias as SubF on SubF.IdSubFamilia = Productos.IdSubFamilia and SubF.IdSubFamilia = SubFamilias.IdSubFamilia 
			left outer join PreciosDetalle on PreciosDetalle.IdProducto = Productos.IdProducto and PreciosDetalle.IdLista=5 
			where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha ),0) as Cargo, 0 as Abono
		from SubFamilias 
		group by SubFamilias.IdSubFamilia, SubFamilia 

	union

		select 12 as Orden,  @IdCedis as IdCedis, @Fecha as Fecha, '' as Cuenta, Producto as Descripcion, @Concepto as Concepto, 0 as Cargo, isnull(SUM(Total),0) as Abono
		from Surtidos  
		inner join VentasDetalle on VentasDetalle.IdCedis = Surtidos.IdCedis and VentasDetalle.IdSurtido = Surtidos.IdSurtido
		inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto 
		where Surtidos.IdCedis = @IdCedis and Fecha = @Fecha  
		group by Productos.IdProducto, Productos.Producto 
		
order by Orden 
end

if @Opc = 3
begin
	select VS.IdCedis, VS.IdSurtido, VS.Fecha, case VS.IdTipoSaldo 
		when 'EF' then 'Efectivo'
		when 'EN' then 'Envase'
		when 'CL' then 'Clientes'
	end as TipoSaldo, 
	VS.IdVendedor, 
	S.IdRuta, V.ApPaterno + ' ' + V.ApMaterno + ' ' + V.Nombre as Nombre,
	SaldoAnterior, Saldo as SaldoActual, Otros , SaldoActual as SaldoTotal
	from VendedoresSaldos as VS
	left outer join Surtidos as S on S.IdCedis = VS.IdCedis and S.IdSurtido = VS.IdSurtido
	left outer join Vendedores V on V.IdCedis = VS.IdCedis and V.IdVendedor = VS.IdVendedor
	where VS.IdCedis = @IdCedis and VS.Fecha between @FechaInicial and @FechaFinal 
	order by V.ApPaterno, V.ApMaterno, V.Nombre, S.Fecha
end
	
if @Opc = 4
begin
	select Clientes.IdCliente, Clientes.RazonSocial as Cliente, isnull(sum(Cantidad), 0) as Cantidad, isnull(sum(VentasDetalle.total), 0) as Total
	from Ventas 
	inner join VentasDetalle on Ventas.IdCedis = VentasDetalle.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasDetalle.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio and VentasDetalle.IdTipoVenta = 2
	inner join Clientes on Clientes.IdCedis = Ventas.IdCedis and Clientes.IdCliente = Ventas.IdCliente 
	where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal
	group by Clientes.IdCliente, Clientes.RazonSocial
	order by Clientes.IdCliente, Clientes.RazonSocial
end
