USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[sel_Movimientos]    Script Date: 04/30/2010 12:07:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sel_Movimientos] 
@Mes as Int,
@IdCedis as bigint,
@IdDocumento as varchar(5),
@Opc as int
AS

if @Opc = 1
	select IdCedis, replicate(0, 6-len(IdMovimiento) ) + cast(IdMovimiento as varchar(6)) as Folio, Fecha, Movimientos.IdDocumento as Id, Documento, 
	case Movimientos.CargoAbono
		when 'C' then 'Cargo'
		when 'A' then 'Abono' 
	end as CargoAbono, Monto, 
	case Movimientos.Status
		when 'A' then 'Aplicado'
		when 'B' then 'Baja'
		else 'Pendiente'
	end as Status,  Observaciones--, Referencia, ReferenciaBancos
	from Movimientos
	inner join Documentos on Documentos.IdDocumento = Movimientos.IdDocumento 
	where month(Fecha) = @Mes and IdCedis = @IdCedis and Movimientos.IdDocumento = @IdDocumento -- and Movimientos.Status = 'A'
	order by IdMovimiento desc