USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_VendedoresSaldos2]    Script Date: 07/27/2010 12:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[up_VendedoresSaldos2] 
@IdCedis as bigint,
@IdCargoAbono as bigint,
@IdVendedor as varchar(10),
@Fecha as datetime,
@IdTipoSaldos as varchar(5),
@Importe as money,
@Observaciones as varchar(200),
@Opc as int
AS

if @Opc = 1
begin
	
	set @IdCargoAbono = (select isnull(max(IdCargoAbono)+1,1) from VendedoresCargosAbonos where IdCedis = @IdCedis  )
	insert into VendedoresCargosAbonos values (@IdCedis, @IdCargoAbono, @IdTipoSaldos, @IdVendedor, @Fecha, @Importe, @Observaciones)

	set @Importe = (select isnull(sum(Importe),0) from VendedoresCargosAbonos where IdCedis = @IdCedis and IdVendedor = @IdVendedor and Fecha = @Fecha and IdTipoSaldo = @IdTipoSaldos)

	if exists(select IdVendedor from VendedoresSaldos where IdCedis = @IdCedis and IdVendedor = @IdVendedor and Fecha = @Fecha and IdTipoSaldo = @IdTipoSaldos)
	begin
		update VendedoresSaldos set Otros = @Importe, SaldoActual = SaldoAnterior + Saldo + @Importe
		where IdCedis = @IdCedis and IdVendedor = @IdVendedor and Fecha = @Fecha and IdTipoSaldo = @IdTipoSaldos
	end
	else
	begin
		insert into VendedoresSaldos	
		select @IdCedis, 0, 0, @IdTipoSaldos, @IdVendedor, @Fecha, 
		isnull((select top 1 SaldoActual
			from  VendedoresSaldos 
			where IdCedis = @IdCedis and IdVendedor = @IdVendedor and IdTipoSaldo = 'EF' 
			order by Fecha desc), 0), 0, @Importe, 
		isnull((select top 1 SaldoActual
		from  VendedoresSaldos 
		where IdCedis = @IdCedis and IdVendedor = @IdVendedor and IdTipoSaldo = 'EF' 
		order by Fecha desc), 0) + @Importe
	end
end

if @Opc = 2
begin
	delete from VendedoresCargosAbonos where IdCedis = @IdCedis and IdCargoAbono = @IdCargoAbono and IdVendedor = @IdVendedor and Fecha = @Fecha and IdTipoSaldo = @IdTipoSaldos

	set @Importe = (select isnull(sum(Importe),0) from VendedoresCargosAbonos where IdCedis = @IdCedis and IdVendedor = @IdVendedor and Fecha = @Fecha and IdTipoSaldo = @IdTipoSaldos)

	update VendedoresSaldos set Otros = @Importe, SaldoActual = SaldoAnterior + Saldo + @Importe
	where IdCedis = @IdCedis and IdVendedor = @IdVendedor and Fecha = @Fecha and IdTipoSaldo = @IdTipoSaldos
end




