<div id="PrecioBox" class="modal fade">
    <div class="modal-dialog2">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="lblMsgTitulo"></h2>
            </div>
            <!-- dialog body -->
            <div class="modal-body validateBox2">
                <form role="form">
                    <div class="container">
                        <div class="form-group">
                            <!--Buscar-->
                            <div class="col-md-4 col-md-offset-8">
                                <!--Mover de posicion (col-md-offset-8)-->
                                <div class="input-group">
                                    <span class="input-group-addon"><img width="16" height="16" src="/Content/images/buscar.png" /></span>
                                    <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                                </div>
                            </div>
                            <br><br />
                            <table class="table table-bordered">
                                <tr>
                                    <td> </td>
                                    <td>{{translation.PROProductoClave}}</td>
                                    <td>{{translation.PRONombre}}</td>
                                    <td>{{translation.PRONombreLargo}}</td>
                                    <td>{{translation.PROId}}</td>

                                </tr>

                                <tr dir-paginate="p in cProducto|orderBy:sortKey:reverse|filter:search|itemsPerPage:100">

                                    <td><input type="checkbox" class="cPrecioModal" ng-model="ProductoClave.$index" name="{{'ProductoClave' + $index }}" ng-checked="{{p.Existe}}" ng-false-value="'NO'" ng-true-value="'YES'" ng-click="addProducto(p.ProductoClave, ProductoClave.$index, p.Nombre)"></td>
                                    <td>{{p.ProductoClave}}</td>
                                    <td>{{p.Nombre}}</td>
                                    <td>{{p.NombreLargo}}</td>
                                    <td>{{p.Id}}</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            
            <!-- dialog buttons -->
            <div class="modal-footer">
                <!--Paginas-->
                <div class="col-md-5">
                    <dir-pagination-controls max-size="4"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTAceptar}}</button>
            </div>

        </div>
    </div>
</div>
