body
{
	background:white; 
	margin:5px 5px;
	border:none 0px;
	overflow:hidden; 
}
.janusArea
{	
	background:white; 
	font-family: tahoma;
	font-size: 8pt; 			
	margin:0px 0px; 	
	padding:0px 0px;	
	width:100%;
	height:100%;
}
.janusAreaTable
{
	background:white;
	border:0px none; 
	border-collapse:collapse;	
	font: 8pt tahoma;
	height:100%;
	width:100%;
	table-layout:fixed;		
}
.janusControl,
.janusHeader,
.janusLabel
{
	border: solid 1px #002D96;
	width:100%;
}
.janusControl
{		
	border-top:none 0px;
	font-size:9pt;
	height:100%;			
	padding:10px 10px;	
	vertical-align:top; 
}
.janusControlDiv
{
	font-size:9pt;
	height:100%;
	width:100%;
	overflow:hidden;	
}
.janusHeader
{
	border-bottom:none 0px;
	height:30px;	
	font-size:9pt;
	padding:10px 10px;
	vertical-align:top;
}
.janusLabel
{
	border-bottom:none 0px;
	border-top:none 0px;	
	font-size:9pt;
	height:40px;
	padding: 10px 10px;
	vertical-align:top;
}
.janusInfo
{	
	background-color:infobackground; /* #bad3f9; */
	border:1px solid #002D96; 	
	color:infotext;
	font-size:10pt;
	height:150px; 
	padding: 5px 5px; 
	vertical-align:top;
}
.janusSeparator
{
	padding:0px 0px;
	height:10px;	
	width:100%;
	background: #dbe5ff; 
}

