USE [RouteCPC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_CuentasCEDIS_SKU]    Script Date: 10/13/2010 15:50:41 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER FUNCTION [dbo].[FN_CuentasCEDIS_SKU]
(
	@FechaInicial as datetime,
	@FechaFinal as Datetime

)  
RETURNS Table 

AS  

	Return
	(
		SELECT     VENDET.IdCedis, VENDET.IdProducto, CEDCTA.Cuenta AS Entidad, ISNULL(PROCTA.Cuenta, 'Cuenta No Definida') AS Cuenta, SUM(VENDET.Cantidad) 
			AS Piezas, SUM(VENDET.Subtotal) AS SubTotal, SUM(VENDET.Subtotal * VENDET.Iva) AS IVA, SUM(VENDET.Total) AS Total, AVG(VENDET.Precio) 
			AS [Precio Promedio de Venta], MIN(VENDET.Precio) AS [Menor Precio de Venta], MAX(VENDET.Precio) AS [Mayor Precio de Venta]
		FROM         VentasDetalle VENDET INNER JOIN
		                      Ventas VEN ON VENDET.Serie = VEN.Serie collate Traditional_Spanish_CI_AS AND VENDET.IdTipoVenta = VEN.IdTipoVenta AND VENDET.Folio = VEN.Folio AND 
			         VENDET.Serie not like 'OX%' and VENDET.Serie not like 'BA%' and 
		                      VENDET.IdCedis = VEN.IdCedis left outer  JOIN
		                      CedisCuentas CEDCTA ON VEN.IdCedis = CEDCTA.IdCedis LEFT OUTER JOIN
		                      ProductosCuentas PROCTA ON VENDET.IdProducto = PROCTA.IdProducto
		WHERE     (VEN.Fecha BETWEEN @FechaInicial AND @FechaFinal) 
		GROUP BY CEDCTA.Cuenta, PROCTA.Cuenta, VENDET.IdCedis, VENDET.IdProducto

	)















