USE [RouteCPC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_PolizaDiarioVentas]    Script Date: 10/13/2010 15:49:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER FUNCTION [dbo].[FN_PolizaDiarioVentas]
(
	@FechaInicial as datetime,
	@FechaFinal as Datetime

)  
RETURNS Table 

AS  

	Return
	(
		SELECT                0 as Orden, FNCTA.Cuenta, FNCTA.Entidad, FNCTA.IdProducto as Clave, PRO.Producto AS 'NombreCuenta', CED.Cedis AS 'NombreEntidad', 
		                         0 as Cargos, FNCTA.SubTotal as Abonos, FNCTA.IdCedis
		FROM                 FN_CuentasCEDIS_SKU(@FechaInicial, @FechaFinal) FNCTA INNER JOIN
		                              Cedis CED ON FNCTA.IdCedis = CED.IdCedis INNER JOIN
		                              Productos PRO ON FNCTA.IdProducto = PRO.IdProducto
		UNION
		SELECT                1 as Orden, '--SinCuenta--' as Cuenta, FNCTA.Entidad, 0 as Clave, 'IVA POR PAGAR' AS 'NombreCuenta', CED.Cedis AS 'NombreEntidad', 
		                         0 as Cargos, sum(FNCTA.IVA) as Abonos, FNCTA.IdCedis
		FROM                 FN_CuentasCEDIS_SKU(@FechaInicial, @FechaFinal) FNCTA INNER JOIN
		                              Cedis CED ON FNCTA.IdCedis = CED.IdCedis INNER JOIN
		                              Productos PRO ON FNCTA.IdProducto = PRO.IdProducto
		group by         FNCTA.Entidad,  CED.Cedis, FNCTA.IdCedis

                          	UNION
		select              	2 as Orden, 'Cuenta No Definida' as Cuenta, 'No Entidad' as Entidad, 0 as Clave, 'FACTURAS GLOBALES' as NombreCuenta, Cedis as NombreEntidad, 
		                       	0 as Cargos, isnull(sum(VentasDetalle.SubTotal), 0) as Abonos,  Ventas.IdCedis as IdCedis
				from Ventas
				inner join VentasDetalle on VentasDetalle.IdCedis = Ventas.IdCedis and VentasDetalle.IdTipoVenta = Ventas.IdTipoVenta and 
				VentasDetalle.Serie = Ventas.Serie collate Traditional_Spanish_CI_AS and VentasDetalle.Folio = Ventas.Folio 
				inner join Cedis as CED on CED.IdCedis = Ventas.IdCedis 
				where Ventas.Fecha between @FechaInicial  and @FechaFinal and ( Ventas.Serie like 'OX%' or Ventas.Serie like 'BA%' )  
				group by CED.Cedis, Ventas.IdCedis
		
                          	UNION
		select              	3 as Orden, 'Cuenta No Definida' as Cuenta, 'No Entidad' as Entidad, 0 as Clave, 'IVA FACTURAS GLOBALES' as NombreCuenta, Cedis as NombreEntidad, 
		                       	0 as Cargos, isnull(sum(VentasDetalle.SubTotal * VentasDetalle.Iva), 0) as Abonos,  Ventas.IdCedis as IdCedis
				from Ventas
				inner join VentasDetalle on VentasDetalle.IdCedis = Ventas.IdCedis and VentasDetalle.IdTipoVenta = Ventas.IdTipoVenta and 
				VentasDetalle.Serie = Ventas.Serie collate Traditional_Spanish_CI_AS and VentasDetalle.Folio = Ventas.Folio 
				inner join Cedis as CED on CED.IdCedis = Ventas.IdCedis 
				where Ventas.Fecha between @FechaInicial  and @FechaFinal and ( Ventas.Serie like 'OX%' or Ventas.Serie like 'BA%' )  
				group by CED.Cedis, Ventas.IdCedis

		UNION 
		SELECT                4 as Orden, '--SinCuenta--' as Cuenta, FNCTA.Entidad, 0 as Clave, 'CLIENTES CONTADO' AS 'NombreCuenta', CED.Cedis AS 'NombreEntidad', 
		                         sum(FNCTA.Total)  as Cargos, 0 as Abonos, FNCTA.IdCedis
		FROM                 FN_CuentasCEDIS_SKUContado(@FechaInicial, @FechaFinal) FNCTA INNER JOIN
		                              Cedis CED ON FNCTA.IdCedis = CED.IdCedis INNER JOIN
		                              Productos PRO ON FNCTA.IdProducto = PRO.IdProducto
		group by         FNCTA.Entidad,  CED.Cedis, FNCTA.IdCedis
		
		UNION 
		SELECT                5 as Orden, '--SinCuenta--' as Cuenta, FNCTA.Entidad, 0 as Clave, 'CLIENTES CREDITO' AS 'NombreCuenta', CED.Cedis AS 'NombreEntidad', 
		                         sum(FNCTA.Total)  as Cargos, 0 as Abonos, FNCTA.IdCedis
		FROM                 FN_CuentasCEDIS_SKUCredito(@FechaInicial, @FechaFinal) FNCTA INNER JOIN
		                              Cedis CED ON FNCTA.IdCedis = CED.IdCedis INNER JOIN
		                              Productos PRO ON FNCTA.IdProducto = PRO.IdProducto
		group by         FNCTA.Entidad,  CED.Cedis, FNCTA.IdCedis

                          	UNION
		select              	6 as Orden, 'Cuenta No Definida' as Cuenta, 'No Entidad' as Entidad, 0 as Clave, 'FACTURAS GLOBALES' as NombreCuenta, Cedis as NombreEntidad, 
		                       	isnull(sum(VentasDetalle.Total), 0) as Cargos, 0 as Abonos,  Ventas.IdCedis as IdCedis
				from Ventas
				inner join VentasDetalle on VentasDetalle.IdCedis = Ventas.IdCedis and VentasDetalle.IdTipoVenta = Ventas.IdTipoVenta and 
				VentasDetalle.Serie = Ventas.Serie collate Traditional_Spanish_CI_AS and VentasDetalle.Folio = Ventas.Folio 
				inner join Cedis as CED on CED.IdCedis = Ventas.IdCedis 
				where Ventas.Fecha between @FechaInicial  and @FechaFinal and ( Ventas.Serie like 'OX%' or Ventas.Serie like 'BA%' )  
				group by CED.Cedis, Ventas.IdCedis

	)

























