USE [RouteCPC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_PolizaResumenMovimientos]    Script Date: 10/13/2010 15:58:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER FUNCTION [dbo].[FN_PolizaResumenMovimientos]
(
	@FechaInicial as datetime,
	@FechaFinal as Datetime

)  
RETURNS Table 

AS  

	Return
	(
		Select Ventas.IdCedis, Cedis, 0 as Orden, 'Ventas Contado' as Concepto, sum(Total) as Cargos, 0 as Abonos
		from Ventas 
		inner join Cedis on Cedis.IdCedis = Ventas.IdCedis   
		where Fecha between @FechaInicial  and @FechaFinal and IdTipoVenta in ( select IdTipoVenta from VentasTipo where Tipo = 2 )
		group by Ventas.IdCedis, Cedis
		
		union 
		
		Select Ventas.IdCedis, Cedis, 1 as Orden, 'Ventas Credito' as Concepto, sum(Total) as Cargos, 0 as Abonos
		from Ventas 
		inner join Cedis on Cedis.IdCedis = Ventas.IdCedis   
		where Fecha between @FechaInicial  and @FechaFinal and IdTipoVenta in ( select IdTipoVenta from VentasTipo where Tipo = 1 )
			and Ventas.Serie not like 'OX%' and Ventas.Serie not like 'BA%' 
		group by Ventas.IdCedis, Cedis

		union

		Select Ventas.IdCedis, Cedis, 2 as Orden, 'Facturas Generales' as Concepto, sum(Total) as Cargos, 0 as Abonos
		from Ventas 
		inner join Cedis on Cedis.IdCedis = Ventas.IdCedis   
		where Fecha between @FechaInicial  and @FechaFinal and IdTipoVenta in ( select IdTipoVenta from VentasTipo where Tipo = 1 )
			and ( Ventas.Serie like 'OX%' or Ventas.Serie like 'BA%' )
		group by Ventas.IdCedis, Cedis
		
		union
		
		Select MovimientosFacturas.IdCedis, Cedis, 4 as Orden, MovimientosFacturas.IdDocumento + ' - ' + MovimientosFacturas.IdTipoDocumento + ' - ' + TipoDocumento as Concepto, sum(Total) as Cargos, 0 as Abonos
		from MovimientosFacturas
		inner join Cedis on Cedis.IdCedis = MovimientosFacturas.IdCedis   
		inner join DocumentosTipo on MovimientosFacturas.IdDocumento = DocumentosTipo.IdDocumento and MovimientosFacturas.IdTipoDocumento = DocumentosTipo.IdTipoDocumento 
		where Fecha between @FechaInicial  and @FechaFinal and MovimientosFacturas.Status <> 'B' and MovimientosFacturas.CargoAbono = 'C'
		group by MovimientosFacturas.IdCedis, MovimientosFacturas.IdTipoDocumento, TipoDocumento, Cedis, MovimientosFacturas.IdDocumento
		
		union
		
		Select MovimientosFacturas.IdCedis, Cedis, 5 as Orden, MovimientosFacturas.IdDocumento + ' - ' + MovimientosFacturas.IdTipoDocumento + ' - ' + TipoDocumento as Concepto, 0 as Cargos, sum(Total) as Abonos
		from MovimientosFacturas
		inner join Cedis on Cedis.IdCedis = MovimientosFacturas.IdCedis   
		inner join DocumentosTipo on MovimientosFacturas.IdDocumento = DocumentosTipo.IdDocumento and MovimientosFacturas.IdTipoDocumento = DocumentosTipo.IdTipoDocumento 
		where Fecha between @FechaInicial  and @FechaFinal and MovimientosFacturas.Status <> 'B' and MovimientosFacturas.CargoAbono = 'A' -- and substring(MovimientosFacturas.IdDocumento, 1, 1) = 'P'
		group by MovimientosFacturas.IdCedis, MovimientosFacturas.IdTipoDocumento, TipoDocumento, Cedis, MovimientosFacturas.IdDocumento
		
		--union
		
		--Select MovimientosFacturas.IdCedis, Cedis, 6 as Orden, substring (MovimientosFacturas.IdDocumento, 1, 2) + ' - ' + MovimientosFacturas.IdTipoDocumento + ' - ' + TipoDocumento as Concepto, 0 as Cargos, sum(Total) as Abonos
		--from MovimientosFacturas
		--inner join Cedis on Cedis.IdCedis = MovimientosFacturas.IdCedis   
		--inner join DocumentosTipo on MovimientosFacturas.IdDocumento = DocumentosTipo.IdDocumento and MovimientosFacturas.IdTipoDocumento = DocumentosTipo.IdTipoDocumento 
		--where Fecha between @FechaInicial  and @FechaFinal and MovimientosFacturas.Status <> 'B' and MovimientosFacturas.CargoAbono = 'A' and substring(MovimientosFacturas.IdDocumento, 1, 1) <> 'P'
		--group by MovimientosFacturas.IdCedis, MovimientosFacturas.IdTipoDocumento, TipoDocumento, Cedis, MovimientosFacturas.IdDocumento

	)





















