USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[sel_ClientesFacturas]    Script Date: 10/25/2010 13:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[sel_ClientesFacturas] 
@IdCedis as bigint,
@IdCliente as varchar(100),
@RFC as varchar(100),
@RazonSocial as varchar(100),
@Opc as int
AS

if @Opc = 1
begin
	if @IdCliente = 0
		select Clientes.IdCedis, Clientes.IdCliente, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		where Clientes.IdCedis = @IdCedis -- and cast(Clientes.IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		and RFC like '%' + @RFC + '%'
		and RazonSocial like '%' + @RazonSocial + '%'
	else
		select Clientes.IdCedis, Clientes.IdCliente, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		where Clientes.IdCedis = @IdCedis and Clientes.IdCliente = @IdCliente --cast(IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		-- and RFC like '%' + @RFC + '%'
		-- and RazonSocial like '%' + @RazonSocial + '%'
end

if @Opc = 2
begin
	if @IdCliente = 0
		select Clientes.IdCedis, Clientes.IdCliente, case ClientesTipo.Tipo when 'L' then 'LOCAL' when 'A' then 'AUTOSERVICIO' else 'No Definido' end as Tipo, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		left outer join ClientesTipo on  ClientesTipo.IdCedis = Clientes.IdCedis and ClientesTipo.IdCliente = Clientes.IdCliente
		where Clientes.IdCedis = @IdCedis -- and cast(Clientes.IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		and RFC like '%' + @RFC + '%'
		and RazonSocial like '%' + @RazonSocial + '%'
	else
		select Clientes.IdCedis, Clientes.IdCliente, case ClientesTipo.Tipo when 'L' then 'LOCAL' when 'A' then 'AUTOSERVICIO' else 'No Definido' end as Tipo, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		left outer join ClientesTipo on  ClientesTipo.IdCedis = Clientes.IdCedis and ClientesTipo.IdCliente = Clientes.IdCliente
		where Clientes.IdCedis = @IdCedis and Clientes.IdCliente = @IdCliente --cast(IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		-- and RFC like '%' + @RFC + '%'
		-- and RazonSocial like '%' + @RazonSocial + '%'
end

if @Opc >= 3
begin

	if @Opc = 3 
		SELECT * FROM  FN_ClienteSucursal (@IdCliente, @RazonSocial, @RFC)
	
	if @Opc >= 4		
	begin	
		declare @Orden as varchar(5000)
		
		if @Opc = 4 set @Orden = ' order by Clientes.IdCliente asc '	
		if @Opc = 5 set @Orden = ' order by Clientes.RazonSocial asc '	
		if @Opc = 6 set @Orden = ' order by IdSucursal asc '	
		if @Opc = 7 set @Orden = ' order by Sucursal asc '	

		if @Opc = 8 set @Orden = ' order by Clientes.IdCliente desc '	
		if @Opc = 9 set @Orden = ' order by Clientes.RazonSocial desc '	
		if @Opc = 10 set @Orden = ' order by IdSucursal desc '	
		if @Opc = 11 set @Orden = ' order by Sucursal desc '	
	
		exec ( ' SELECT * FROM  FN_ClienteSucursal (''' + @IdCliente + ''', ''' + @RazonSocial + ''', ''' + @RFC + ''') ' + @Orden  )
	end
end

