USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_ModeloOrienteEnvase]    Script Date: 05/11/2010 20:41:28 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[sel_ModeloOrienteEnvase]
@IdCedis as bigint,
@Fecha as datetime,
@Filtro as varchar(1000)

AS

exec (' select RepModeloOrienteEnvase.*, Cedis
from RepModeloOrienteEnvase 
inner join Cedis on Cedis.IdCedis =  RepModeloOrienteEnvase.IdCedis 
where Fecha = ''' + @Fecha + ''' ')