USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Usuarios]    Script Date: 11/04/2010 12:52:14 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[sel_Usuarios] 
@IdCedis as bigint,
@Login as varchar(100),
@Opc as int
AS

if @Opc=0
	select IdCedis, Login as 'Usuario', 
	Nombre as 'Nombre', ApPaterno as 'Ap. Paterno', ApMaterno as 'Ap. Materno', 
	TipoUsuario as 'IdTipoUsuario', .dbo.FNCrypt(Password) as 'Contraseña',
	case Status
		when 'A' then 'Activo'
		when 'B' then 'Baja'
	end as 'Status'
	from Usuarios
	where IdCedis = @IdCedis and Status = 'A'
	order by TipoUsuario desc

if @Opc=1
	select isnull(Login,'') from Usuarios where Login = @Login -- and IdCedis = @IdCedis and Status = 'A'


