USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_CargasDevolucion]    Script Date: 11/10/2010 12:38:31 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[up_CargasDevolucion]
@IdCedis as bigint,
@Fecha as datetime
AS

declare @IdSurtido as bigint, @IdRuta as bigInt, @FechaAnt as datetime, @IdSurtidoN as bigint, @IdCargaN as bigint
	
select top 1 @FechaAnt = sd.Fecha 
from SurtidosDetalle sd
inner join StatusDia on StatusDia.IdCedis = sd.IdCedis and StatusDia.Fecha = sd.Fecha 
	and StatusDia.Status = 'C' and StatusDia.Fecha in ( select Fecha from Surtidos where IdCedis = StatusDia.IdCedis )
where sd.IdCedis = @IdCedis and sd.fecha < @Fecha 
order by sd.Fecha desc

select @IdCedis, @Fecha, @FechaAnt 

if @FechaAnt is not null
begin
	declare  sp_ContadorSurtidos cursor for
		select distinct sd.IdCedis, (select top 1 IdSurtido 
			from Surtidos 
			where IdCedis = @IdCedis and IdRuta = s.IdRuta and Fecha = @FechaAnt
			order by IdSurtido desc), s.IdRuta
		from SurtidosDetalle sd
		inner join Surtidos s on s.IdSurtido = sd.IdSurtido and s.IdCedis = sd.IdCedis
		where sd.IdCedis = @IdCedis and sd.fecha = @FechaAnt and DevBuena <> 0
		 
	open sp_ContadorSurtidos
	fetch next from sp_ContadorSurtidos into @IdCedis,@IdSurtido,@IdRuta
	while (@@fetch_status = 0)
	begin
		
		if not exists(select IdSurtido from Surtidos where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta)
		begin

			set @IdSurtidoN = isnull ( (select max(IdSurtido) from Surtidos where IdCedis = @IdCedis)+1, 1)	
			insert into Surtidos values (@IdCedis, @IdSurtidoN, @Fecha, @IdRuta, 'P', 'N')

			set @IdCargaN = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta) + 1 , 1)	
			insert into Cargas values (@IdCedis, @IdSurtidoN, @IdCargaN, @IdRuta, @Fecha, 'A')

			Insert into SurtidosVendedor
			select @IdCedis, @IdSurtidoN, @Fecha, IdVendedor, IdTipoVendedor
			from VendedoresRutas
			where IdCedis = @IdCedis and IdRuta = @IdRuta
		end 
		else
		begin
			select @IdSurtidoN = IdSurtido from Surtidos where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta
			
			set @IdCargaN = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta) + 1 , 1)	
			insert into Cargas values (@IdCedis, @IdSurtidoN, @IdCargaN, @IdRuta, @Fecha, 'A')
		end
		
		insert into SurtidosCargas 
		select IdCedis, @IdSurtidoN, @IdCargaN, IdProducto, sum(DevBuena)
		from SurtidosDetalle 
		where IdCedis = @IdCedis and IdSurtido = @IdSurtido 
		group by IdCedis, IdProducto
		having SUM(DevBuena) > 0
		
		fetch next from sp_ContadorSurtidos into  @IdCedis,@IdSurtido,@IdRuta
	end
	close sp_ContadorSurtidos
	deallocate sp_ContadorSurtidos
end
