use RouteADM 

/****** Object:  UserDefinedFunction [dbo].[FNCrypt]    Script Date: 06/24/2010 12:18:13 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE  FUNCTION [dbo].[FNCrypt]
(@Texto as varchar(8)) 
RETURNS varchar(8)
AS  
BEGIN 

DECLARE @strNum int,  @position Int, @strResultado as varchar(8)
SET @strResultado = ''
SET @position = 1

WHILE @position <= DATALENGTH(@Texto)
   BEGIN
   	IF ASCII(SUBSTRING(@Texto, @position, 1))<128
		SET @strNum = ASCII(SUBSTRING(@Texto, @position, 1)) + 128
	ELSE
		SET @strNum = ASCII(SUBSTRING(@Texto, @position, 1)) -128

	SET @strResultado = @strResultado + CHAR(@strNum)
	
             SET @position = @position + 1
   END

RETURN (@strResultado)
END


use RouteCPC

/****** Object:  UserDefinedFunction [dbo].[FNCrypt]    Script Date: 06/24/2010 12:18:13 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE  FUNCTION [dbo].[FNCrypt]
(@Texto as varchar(8)) 
RETURNS varchar(8)
AS  
BEGIN 

DECLARE @strNum int,  @position Int, @strResultado as varchar(8)
SET @strResultado = ''
SET @position = 1

WHILE @position <= DATALENGTH(@Texto)
   BEGIN
   	IF ASCII(SUBSTRING(@Texto, @position, 1))<128
		SET @strNum = ASCII(SUBSTRING(@Texto, @position, 1)) + 128
	ELSE
		SET @strNum = ASCII(SUBSTRING(@Texto, @position, 1)) -128

	SET @strResultado = @strResultado + CHAR(@strNum)
	
             SET @position = @position + 1
   END

RETURN (@strResultado)
END

