USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[sel_ValidaUsuario]    Script Date: 07/13/2010 12:52:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sel_ValidaUsuario]  
@Login as varchar(100),
@Password as varchar(100)
AS

declare @val as varchar(1)

IF(SELECT COUNT(*) FROM Usuarios WHERE  LOGIN = @Login AND cast(Password as varbinary) = cast(dbo.FNCrypt(@Password) as varbinary))=1
	BEGIN
		set @val = '1'		
	END
	ELSE
		set @val = '0'		

--set @val =( select pwdCompare(@password, (select Password from Usuarios where Login = upper(@Login) ) ) )

select IdCedis, Login, Password, Nombre, ApPaterno, ApMaterno,  TipoUsuario,
case TipoUsuario
	when 0 then 'Usuario Administrador'
	when 1 then 'Usuario Liquidador'
	when 2 then 'Usuario General'
end as 'DescTipoUsuario'
from Usuarios
where upper(Login) = @Login and @val = '1'
