USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[GeneraSaldos]    Script Date: 09/02/2010 21:31:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[GeneraSaldos] 
--@FechaInicial as datetime,
--@FechaFinal as datetime
AS

declare @FechaInicial as datetime, @FechaFinal as datetime

declare @IdCedis as bigint, @IdTipoVenta as bigint, @Folio as bigint, 
	@Serie as varchar(5), @Fecha as datetime, @IdCliente as bigint, @Subtotal as money, @Iva as money, @DiasCredito as int,
	@ImporteNR as money, @IdMovimiento as bigint, @IdSucursal as varchar(50), @IdMarca as bigint, @DctoImp as money

set @FechaInicial = isnull ( (select top 1 Fecha from RouteADM.dbo.StatusDia order by Fecha desc), '01/01/1900' ) - 60
set @FechaFinal = isnull ( (select top 1 Fecha from RouteADM.dbo.StatusDia order by Fecha desc), '01/01/1900' ) 

Delete from VentasNoTransferidas where Fecha between @FechaInicial and @FechaFinal 

-- VENTAS
declare VentasACPC cursor for

	select VentasADM.IdCedis, VentasADM.IdTipoVenta, VentasADM.Folio, VentasADM.Serie, VentasADM.Fecha, 
		VentasADM.IdCliente, VentasADM.Subtotal, VentasADM.Iva, VentasADM.DiasCredito, VentasADM.IdSucursal, VentasADM.DctoImp
	from RouteADM.dbo.Ventas VentasADM
	inner join RouteADM.dbo.VentasAcredita VentasAcr on VentasAcr.IdCedis = VentasADM.IdCedis and VentasAcr.IdTipoVenta = VentasADM.IdTipoVenta
		and VentasAcr.Serie = VentasADM.Serie collate SQL_Latin1_General_CP1_CI_AS and VentasAcr.Folio = VentasADM.Folio
	left outer join Ventas on Ventas.IdCedis = VentasADM.IdCedis and Ventas.IdTipoVenta = VentasADM.IdTipoVenta
		and Ventas.Serie = VentasADM.Serie collate SQL_Latin1_General_CP1_CI_AS and Ventas.Folio = VentasADM.Folio
	where VentasADM.Fecha between @FechaInicial and @FechaFinal and Ventas.Folio is null and VentasADM.IdTipoVenta = 2
	order by VentasADM.IdCedis, VentasADM.Serie, VentasADM.Folio

	open VentasACPC
	fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, @DiasCredito, @IdSucursal, @DctoImp
		while @@fetch_status = 0
		begin
			insert into Ventas 
			select @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, 0, 0, @DiasCredito, @IdSucursal, 0, '', @DctoImp, '', 'Admin', getdate()

			insert into VentasDetalle
			select VentasDetalle.IdCedis, VentasDetalle.IdTipoVenta, VentasDetalle.Folio, VentasDetalle.IdProducto, VentasDetalle.Serie, VentasDetalle.Cantidad, VentasDetalle.Precio, VentasDetalle.Iva, VentasDetalle.DctoPorc, VentasDetalle.DctoImp, VentasDetalle.Entregado 
			from RouteADM.dbo.VentasDetalle VentasDetalle where VentasDetalle.IdCedis = @IdCedis and VentasDetalle.IdTipoVenta = @IdTipoVenta
				and VentasDetalle.Folio = @Folio and VentasDetalle.Serie = @Serie
			
			if exists(select IdProducto from RouteADM.dbo.VentasDetalle where VentasDetalle.IdCedis = @IdCedis and VentasDetalle.IdTipoVenta = @IdTipoVenta
								and VentasDetalle.Folio = @Folio and VentasDetalle.Serie = @Serie and Cantidad <> Entregado )
			begin
					select @ImporteNR = SUM((Cantidad - Entregado) * Precio) + SUM((Cantidad - Entregado) * Precio * Iva) 
					from RouteADM.dbo.VentasDetalle 
					where VentasDetalle.IdCedis = @IdCedis and VentasDetalle.IdTipoVenta = @IdTipoVenta
						and VentasDetalle.Folio = @Folio and VentasDetalle.Serie = @Serie and Cantidad <> Entregado 

					if not exists(select IdMovimiento from Movimientos where IdDocumento = 'ASC' and Fecha = @Fecha and Status = 'A' )
					begin
						select @IdMovimiento = isnull(MAX(IdMovimiento) + 1,1) from Movimientos 
						insert into Movimientos values (@IdCedis, @IdMovimiento, @Fecha, 'ASC', 'A', @ImporteNR, '', '', 'Diferencia de Facturado vs Entregado', 'A', 'Interfaz', GETDATE())
					end
					else
					begin
						select @IdMovimiento = IdMovimiento from Movimientos where IdDocumento = 'ASC' and Fecha = @Fecha and Status = 'A'
					end			
					insert into MovimientosFacturas values (@IdCedis, @IdTipoVenta, @Serie, @Folio, @IdMovimiento, @Fecha, 1, 'ASC', 'F', 'A', '', '', @ImporteNR, 0, 'A', 'Interfaz', GETDATE())
			end			
			fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, @DiasCredito, @IdSucursal, @DctoImp
		end
	close VentasACPC

deallocate VentasACPC

----- *******
----- *******  EJECUTAR UPDATE A MOVIMEINTOS FACTURAS PARA QUE SE EJECUTE TG
----- *******

/*
declare VentasACPC cursor for

	select  VentasContadoADM.*
	from FN_VentasADMContado (@FechaInicial, @FechaFinal) VentasContadoADM
	left outer join Ventas on Ventas.IdCedis = VentasContadoADM.IdCedis and Ventas.IdTipoVenta = VentasContadoADM.IdTipoVenta and Ventas.Fecha = VentasContadoADM.Fecha
	where Ventas.Folio is null

	open VentasACPC
	fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva
		while @@fetch_status = 0
		begin
			insert into Ventas 
			select @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, 0, 0, 0, '', 'Admin', getdate()

			insert into VentasDetalle
			select * from FN_VentasADMContadoDetalle (@IdCedis, @Serie, @Folio, @FechaInicial, @FechaFinal)

			fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva
		end
	close VentasACPC

deallocate VentasACPC
*/
-- FOLIOS REPETIDOS
declare VentasACPC cursor for

	select VentasADM.IdCedis, VentasADM.IdTipoVenta, VentasADM.Folio, VentasADM.Serie, VentasADM.Fecha, 
	VentasADM.IdCliente, VentasADM.Subtotal, VentasADM.Iva, VentasADM.DiasCredito
	from RouteADM.dbo.Ventas VentasADM
	inner join Ventas on Ventas.IdCedis = VentasADM.IdCedis and Ventas.IdTipoVenta = VentasADM.IdTipoVenta
		and Ventas.Serie = VentasADM.Serie collate SQL_Latin1_General_CP1_CI_AS and Ventas.Folio = VentasADM.Folio
	where VentasADM.Fecha between @FechaInicial and @FechaFinal and Ventas.Fecha <> VentasADM.Fecha and VentasADM.IdTipoVenta = 2
	order by VentasADM.IdCedis, VentasADM.Serie, VentasADM.Folio

	open VentasACPC
	fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, @DiasCredito
		while @@fetch_status = 0
		begin
			insert into VentasNoTransferidas 
			select @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, 0, 0, 0, '', 'Admin', getdate()
			fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, @DiasCredito
		end
	close VentasACPC

deallocate VentasACPC
/*
declare VentasACPC cursor for

	select  VentasContadoADM.*
	from FN_VentasADMContado (@FechaInicial, @FechaFinal) VentasContadoADM
	inner join Ventas on Ventas.IdCedis = VentasContadoADM.IdCedis and Ventas.IdTipoVenta = VentasContadoADM.IdTipoVenta 
		and Ventas.Folio = VentasContadoADM.Folio
	where Ventas.Fecha <> VentasContadoADM.Fecha

	open VentasACPC
	fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva
		while @@fetch_status = 0
		begin
			insert into VentasNoTransferidas 
			select @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva, 0, 0, 0, '', 'Admin', getdate()
			fetch next from VentasACPC into @IdCedis, @IdTipoVenta, @Folio, @Serie, @Fecha, @IdCliente, @Subtotal, @Iva
		end
	close VentasACPC

deallocate VentasACPC
*/
