USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[up_SaldaFacturas]    Script Date: 09/03/2010 10:46:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[up_SaldaFacturas] 
@IdCedis as bigint,
@IdMovimiento as bigint,
@Fecha as datetime,
@IdDocumento as varchar(5),
@IdTipoDocumento as varchar(5),
@CargoAbono as varchar(5),
@FechaInicial as datetime,
@FechaFinal as datetime,
@Inicial as varchar(1000),
@Final as varchar(1000),
@IdCliente as varchar(2000),
@Usuario as varchar(20)
AS

exec( '
insert into MovimientosFacturas
select IdCedis, IdTipoVenta, Serie, Folio, ' + @IdMovimiento + ', ''' + @Fecha + ''', 0, ''' + @IdDocumento + ''', ''' + @IdTipoDocumento + ''', ''' + @CargoAbono + ''', '''', '''', Saldo, 0, ''A'', ''' + @Usuario + ''', getdate()  
from Ventas
where Fecha between ''' + @FechaInicial + ''' and ''' + @FechaFinal + '''
and Saldo between ' + @Inicial + ' and ' + @Final + ' and Saldo > 0 and IdCedis = ' + @IdCedis + ' ' + @IdCliente )

exec ( 
'update Ventas set 
Cargos =  ( select isnull( sum(Total), 0)   from MovimientosFacturas
		where MovimientosFacturas.IdCedis = Ventas.IdCedis and MovimientosFacturas.IdTipoVenta = Ventas.IdTipoVenta
		and MovimientosFacturas.Serie = Ventas.Serie and MovimientosFacturas.Folio = Ventas.Folio and Status <> ''B'' and CargoAbono = ''C'') , 
Abonos =  ( select isnull( sum(Total), 0)   from MovimientosFacturas
		where MovimientosFacturas.IdCedis = Ventas.IdCedis and MovimientosFacturas.IdTipoVenta = Ventas.IdTipoVenta
		and MovimientosFacturas.Serie = Ventas.Serie and MovimientosFacturas.Folio = Ventas.Folio and Status <> ''B'' and CargoAbono = ''A'') 
where Fecha between ''' + @FechaInicial + ''' and ''' + @FechaFinal + '''  
and IdCedis = ' + @IdCedis + ' ' + @IdCliente + ' ')

/*
exec( ' update ventas set abonos = abonos + saldo 
where Fecha between ''' + @FechaInicial + ''' and ''' + @FechaFinal + '''
and Saldo between ' + @Inicial + ' and ' + @Final + ' and Saldo > 0 and IdCedis = ' + @IdCedis + ' ' + @IdCliente )
*/

update Movimientos set Status = 'C', Login = @Usuario, FechaEdicion = getdate() where IdMovimiento = @IdMovimiento and IdCedis = @IdCedis
