set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[up_SurtidosCheques] 
@IdCedis as bigint,
@IdSurtido as bigint,
@IdCajero varchar(20),
@IdMoneda as varchar(5),
@IdCheque as bigint,
@IdBanco as int,
@Referencia as varchar(30),
@Importe as money,
@Opc as int

AS

declare @IdVendedor as bigint, @Fecha as datetime

if @Opc = 1
begin
	delete from SurtidosCheque where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdMoneda = @IdMoneda and  IdCheque = @IdCheque
	if @Importe > 0 
	begin
		set @IdCheque = (select isnull(max(IdCheque)+1, 1) from SurtidosCheque where IdCedis = @IdCedis and IdSurtido = @IdSurtido)
		insert into SurtidosCheque values (@IdCedis, @IdSurtido, @IdCheque, @IdCajero, @IdMoneda, @IdBanco, @Referencia, @Importe)
	end
		select top 1 @IdVendedor = SurtidosVendedor.IdVendedor, @Fecha = Surtidos.Fecha
		from Surtidos 
		inner join SurtidosVendedor on Surtidos.IdCedis = SurtidosVendedor.IdCedis and Surtidos.IdSurtido = SurtidosVendedor.IdSurtido 
		where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido 
		order by SurtidosVendedor.IdTipoVendedor
			
		exec up_VendedoresSaldos @IdCedis, @IdSurtido, @IdVendedor, @Fecha, 1
end
