set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go





ALTER PROCEDURE [dbo].[sel_ClientesFacturas] 
@IdCedis as bigint,
@IdCliente as varchar(100),
@RFC as varchar(100),
@RazonSocial as varchar(100),
@Opc as int
AS

if @Opc = 1
begin
	if @IdCliente = 0
		select Clientes.IdCedis, Clientes.IdCliente, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		where Clientes.IdCedis = @IdCedis -- and cast(Clientes.IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		and RFC like '%' + @RFC + '%'
		and RazonSocial like '%' + @RazonSocial + '%'
	else
		select Clientes.IdCedis, Clientes.IdCliente, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		where Clientes.IdCedis = @IdCedis and Clientes.IdCliente = @IdCliente --cast(IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		-- and RFC like '%' + @RFC + '%'
		-- and RazonSocial like '%' + @RazonSocial + '%'
end

if @Opc = 2
begin
	if @IdCliente = 0
		select Clientes.IdCedis, Clientes.IdCliente, case ClientesTipo.Tipo when 'L' then 'LOCAL' when 'A' then 'AUTOSERVICIO' else 'No Definido' end as Tipo, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		left outer join ClientesTipo on  ClientesTipo.IdCedis = Clientes.IdCedis and ClientesTipo.IdCliente = Clientes.IdCliente
		where Clientes.IdCedis = @IdCedis -- and cast(Clientes.IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		and RFC like '%' + @RFC + '%'
		and RazonSocial like '%' + @RazonSocial + '%'
	else
		select Clientes.IdCedis, Clientes.IdCliente, case ClientesTipo.Tipo when 'L' then 'LOCAL' when 'A' then 'AUTOSERVICIO' else 'No Definido' end as Tipo, RFC, RazonSocial, Telefono, Domicilio
		from Clientes
		left outer join ClientesTipo on  ClientesTipo.IdCedis = Clientes.IdCedis and ClientesTipo.IdCliente = Clientes.IdCliente
		where Clientes.IdCedis = @IdCedis and Clientes.IdCliente = @IdCliente --cast(IdCliente as varchar(20)) like '%' + cast(@IdCliente as varchar(20)) + '%'
		-- and RFC like '%' + @RFC + '%'
		-- and RazonSocial like '%' + @RazonSocial + '%'
end

if @Opc = 3
begin

	SELECT * FROM  FN_ClienteSucursal (@IdCliente, @RazonSocial, @RFC)

end

