set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[sel_PagosBancos] 
@IdCedis as bigint,
@IdSurtido as bigint,
@Opc as int

AS

if @Opc = 1
	select IdBanco, cast(IdBanco as varchar(2)) + '-' + Nombre as 'Banco'
	from Bancos

if @Opc = 2
	select IdTipoPago, cast(IdTipoPago as varchar(2)) + '-' + TipoPago as 'TipoPago'
	from TipoPago

