set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


CREATE PROCEDURE [dbo].[sel_VendedoresSaldos2]
@IdCedis as bigint,
@IdVendedor as bigint,
@Fecha as datetime,
@IdTipoSaldo as varchar(5),
@Opc as int
AS

if @Opc = 1
begin

	select TOP 1 VendedoresSaldos.IdCedis, VendedoresSaldos.IdVendedor, Fecha, VendedoresSaldos.IdTipoSaldo, case VendedoresSaldos.IdTipoSaldo 
		when 'EF' then 'Saldo del Vendedor'
		when 'CL' then 'Saldo de Clientes'
		when 'EN' then 'Saldo de Envase'
	end as 'Concepto', SaldoAnterior as 'SaldoAnterior', Saldo as 'SaldoActual', Otros as 'Otros Cargos y/o Abonos', SaldoActual as 'SaldoFinal'
	from VendedoresSaldos
	inner join Configuracion as CV on CV.IdCedis = VendedoresSaldos.IdCedis and CV.LiquidacionSaldoVendedor = 'S'
	where VendedoresSaldos.IdCedis = @IdCedis and VendedoresSaldos.IdVendedor = @IdVendedor and VendedoresSaldos.IdTipoSaldo = @IdTipoSaldo
	order by Fecha desc

end

if @Opc = 2
begin

	select VendedoresSaldos.IdCedis, VendedoresSaldos.IdVendedor, Fecha, VendedoresSaldos.IdTipoSaldo, case VendedoresSaldos.IdTipoSaldo 
		when 'EF' then 'Saldo del Vendedor'
		when 'CL' then 'Saldo de Clientes'
		when 'EN' then 'Saldo de Envase'
	end as 'Concepto', SaldoAnterior as 'SaldoAnterior', Saldo as 'SaldoActual', Otros as 'Otros Cargos y/o Abonos', SaldoActual as 'SaldoFinal'
	from VendedoresSaldos
	inner join Configuracion as CV on CV.IdCedis = VendedoresSaldos.IdCedis and CV.LiquidacionSaldoVendedor = 'S'
	where VendedoresSaldos.IdCedis = @IdCedis and VendedoresSaldos.IdVendedor = @IdVendedor and VendedoresSaldos.Fecha = @Fecha and VendedoresSaldos.IdTipoSaldo = @IdTipoSaldo
	order by Fecha desc

end



