set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[sel_VendedoresSaldos]
@IdCedis as bigint,
@IdSurtido as bigint,
@Opc as int
AS

declare @IdVendedor as bigint, @Fecha as datetime

if @Opc = 1
begin

	exec up_VendedoresSaldosEnvaseClientes @IdCedis, @IdSurtido, 1		

	select distinct VendedoresSaldos.IdTipoSaldo, case VendedoresSaldos.IdTipoSaldo 
		when 'EF' then 'Saldo del Vendedor'
		when 'CL' then 'Saldo de Clientes'
		when 'EN' then 'Saldo de Envase'
	end as 'Concepto', SaldoAnterior as 'SaldoAnterior', Saldo as 'SaldoActual', Otros as 'Otros Cargos y/o Abonos', SaldoActual as 'SaldoFinal'
	from VendedoresSaldos
	inner join Configuracion as CV on CV.IdCedis = VendedoresSaldos.IdCedis and CV.LiquidacionSaldoVendedor = 'S'
	where VendedoresSaldos.IdCedis = @IdCedis and VendedoresSaldos.IdSurtido = @IdSurtido

end



