USE [RouteADM]
GO
/****** Object:  Table [dbo].[VendedoresSaldos]    Script Date: 04/26/2010 05:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendedoresCargosAbonos](
	[IdCedis] [bigint] NOT NULL,
	[IdCargoAbono] [bigint] NOT NULL,
	[IdTipoSaldo] [char](2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IdVendedor] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Importe] [money] NULL,
	[Observaciones] [varchar](500) NULL
 CONSTRAINT [PK_VendedoresCargosAbonos] PRIMARY KEY CLUSTERED 
(
	[IdCedis] ASC,
	[IdCargoAbono] ASC,
	[IdTipoSaldo] ASC,
	[IdVendedor] ASC,
	[Fecha] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF