
@{
    ViewBag.Title = "Acerca de eRoute Cloude";
    Layout = "~/Views/Menu/Index.cshtml";
}

<div style="padding:10px">
    <hgroup class="title">
        @*<img class="pull-left" src="@Url.Content("~/Content/images/favicon.ico")" alt="eRoute Cloude" height="32" width="32" />*@
        <h1>&nbsp;@ViewBag.Title</h1>
    </hgroup>
    <hr />

    <article>
        @*<div class="container">
                <h1>eRoute Cloude versión 1.0.0</h1>
                <p></p>
            </div>*@

        <div class="container">
            <div class="container" style="display:block; float:left; width:70%">
                <img class="pull-left" src="@Url.Content("~/Assets/Login/a_login_logo.png")" alt="eRoute Cloude" />
            </div>
            <div class="container" style="display:block; float:right; width:30%">
                <table style="font-size:small">
                    <tr>
                        <th><b>Duxstar Solutions</b></th>
                    </tr>
                    <tr>
                        <th>www.duxstar.com</th>
                    </tr>
                    <tr>
                        <th>contacto@duxstar.com.mx</th>
                    </tr>
                    <tr>
                        <th>Versión 1.0.0</th>
                    </tr>
                </table>
            </div>
        </div>

        <hr />

        <p style="font-size:small">
            Advertencia: Este programa está protegido por leyes de copyright
            y tratados internacionales. La reproducción o distribución no
            autorizada de este programa o de parte del mismo dará lugar a
            graves penalizaciones tanto civiles como penales y será objeto de
            cuantas acciones judiciales correspondan en derecho.
        </p>

        <p style="font-size:small">
            Copyright &copy; 2017 Duxstar Solutions
        </p>

        <hr />
    </article>

</div>
