@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/r133ArrastreInventarioALTController.js"></script>
<link href="~/Assets/CSS/StyleReports.css" rel="stylesheet" />

<div ng-controller="r133ArrastreInventarioALTController as ctrl" ng-init="ctrl.StartReport('@ViewBag.VAVClave')">

    <div class="panel-heading Header-Label"> <h4> {{ctrl.title}} </h4> </div>
    
    <div class="row" id="row-margin">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default Panel-Default-Filter">
                    <div class="panel-heading Panel-Filter">
                        Centro De Distribución
                    </div>
                    <div class="panel-body">
                        <md-autocomplete flex required
                                         md-input-name="autocompleteField"
                                         md-selected-item="ctrl.selectedItem"
                                         md-search-text="ctrl.searchText"
                                         md-selected-item-change="ctrl.GetDates();
                                         ctrl.OnChangeProEnv();
                                         ctrl.ResetItems();"
                                         md-items="item in ctrl.QuerySearch(ctrl.searchText)"
                                         md-item-text="item.Nombre"
                                         md-min-length="0"
                                         placeholder="Seleccionar Centro de Distribución">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{ item.Nombre }}</span>
                            </md-item-template>
                            <md-not-found>
                                No se han encontrado resultados para "{{ ctrl.searchText }}".
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-if="ctrl.selectedItem">
                <div class="panel panel-default Panel-Default-Filter">
                    <div class="panel-heading Panel-Filter"> Fechas </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <md-input-container id="containerDate">
                                <label>Rango</label>
                                <md-select ng-model="ctrl.State" ng-disabled="true">
                                    <md-option ng-repeat="state in ctrl.dateState" ng-value="state.Nombre">
                                        {{ state.Nombre }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-datepicker ng-model="ctrl.startDate" md-placeholder="Fecha" md-max-date="ctrl.todayDate" onkeydown="return false"></md-datepicker>
                            <md-datepicker ng-model="ctrl.endDate" ng-show="ctrl.showSelect" md-placeholder="Fecha" md-min-date="ctrl.startDate" md-max-date="ctrl.todayDate" ng-change="ctrl.showErrorForm = false;" onkeydown="return false"></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="ctrl.selectedItem">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default Panel-Default-Filter">
                <div class="panel-heading Panel-Filter">
                    Opciones
                </div>
                <div class="panel-body">
                    <md-switch class="md-thumb md-bar" ng-model="ctrl.selectedSwitchProEnv" aria-label="Filter" ng-change="ctrl.OnChangeProEnv()">
                        Filtrar Por {{ ctrl.textSwitchProEnv }}
                    </md-switch>
                </div>
            </div>
        </div>
    </div>

    <div id="viewer" class="row" ng-if="ctrl.selectedItem">
        <div ng-show="ctrl.showErrorForm" ng-model="ctrl.ShowError">
            <div class="error-message col-md-12">{{ ctrl.ShowError }}</div>
        </div>
    </div>

    <div class="row" ng-if="ctrl.selectedItem">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-button type="submit" ng-click="ctrl.Submit()" class="md-raised login-input pull-right" id="buttomReports">Generar reporte</md-button>
        </div>
    </div>
</div>