@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/tiemposEnRutaController.js"></script>
<link href="~/Assets/CSS/StyleReports.css" rel="stylesheet" />

<div ng-controller="tiemposEnRutaController as ctrl" ng-init="EstablecerReporte('@ViewBag.VAVClave')">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="background-color:#B40002; border-radius:15px;">
                <div class="panel-heading" style="background-color:#B40002; color:white; border-radius:15px;">
                    <h4> {{ctrl.titulo}} </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default Panel-Default-Filter">
                <div class="panel-heading Panel-Filter">
                    Centro De Distribución
                </div>
                <div class="panel-body">
                    <md-autocomplete flex required
                                     md-input-name="autocompleteField"
                                     md-selected-item="ctrl.selectedItem"
                                     md-search-text-change="ctrl.showList = false;"
                                     md-search-text="ctrl.searchText"
                                     md-selected-item-change="ctrl.GetDates();
                                        ctrl.ShowItems(ctrl.selectedItem.Clave);
                                        ctrl.ReportFilter = false;
                                        ctrl.RutaVendedor(ctrl.selectedItem.Clave);"
                                     md-items="item in ctrl.QuerySearch(ctrl.searchText)"
                                     md-item-text="item.Nombre"
                                     md-min-length="0"
                                     placeholder="Seleccionar Centro de Distribución">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.Nombre}}</span>
                        </md-item-template>
                        <md-not-found>
                            No se han encontrado resultados para "{{ctrl.searchText}}".
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
            <div class="panel panel-default Panel-Default-Filter">
                <div class="panel-heading Panel-Filter">
                    Fechas
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <md-input-container>
                            <label>Rango</label>
                            <md-select ng-model="ctrl.State" ng-change="ctrl.OnSelectChange(ctrl.State,0)">
                                <md-option ng-repeat="state in ctrl.dateState" value="{{state.Nombre}}">
                                    {{state.Nombre}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-datepicker ng-model="ctrl.date1" md-placeholder="Fecha" md-max-date="ctrl.minDate" ng-change="ctrl.date2=ctrl.date1; ctrl.OnSelectChange(ctrl.State,1); ctrl.showErrorForm = false;" onkeydown="return false"></md-datepicker>
                        <md-datepicker ng-model="ctrl.date2" ng-show="ctrl.showSelect" md-placeholder="Fecha" md-min-date="ctrl.date1" md-max-date="ctrl.minDate" ng-change="ctrl.showErrorForm = false;" onkeydown="return false"></md-datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="text-align:center;">
            <md-checkbox ng-model="ctrl.ReportFilter" aria-label="RutaVendedor" ng-change="ctrl.RutaVendedor(ctrl.selectedItem.Clave);"> {{ctrl.RutSell}} </md-checkbox>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-show="!ctrl.ReportFilter" ng-disabled="!ctrl.ReportFilter">
            <div class="panel panel-default Panel-Default-Filter">
                <div class="panel-heading Panel-Filter">
                    Rutas
                </div>
                <div class="panel-body Panel-Body-Filter">
                    <md-input-container md-no-float class="md-block" id="searchFilterMargin">
                        <input ng-model="queryRoute" type="text" placeholder="Búsqueda" id="searchFilterText">
                    </md-input-container>
                    <md-checkbox ng-model="selectAll" ng-click="ctrl.SelectAllChekboxesRoutes(selectAll);" id="checkBoxSelectAll">Seleccionar todos</md-checkbox>
                    <md-divider id="lineDivider"></md-divider>
                    <md-list id="listCheckBox">
                        <md-list-item id="itemListCheckBox" ng-repeat="route in ctrl.routes | filter:queryRoute">
                            <md-checkbox id="itemCheckBoxValue" ng-disabled="route.Disabled" ng-model="route.Checked" ng-change="ctrl.CountRoutes();"></md-checkbox>
                            <p>{{route.Nombre}}</p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-show="ctrl.ReportFilter" ng-disabled="ctrl.ReportFilter">
            <div class="panel panel-default Panel-Default-Filter">
                <div class="panel-heading Panel-Filter">
                    Vendedores
                </div>
                <div class="panel-body Panel-Body-Filter">
                    <md-input-container md-no-float class="md-block" id="searchFilterMargin">
                        <input ng-model="querySeller" type="text" placeholder="Búsqueda" id="searchFilterText">
                    </md-input-container>
                    <md-checkbox ng-model="selectAllSellers" ng-click="ctrl.SelectAllChekboxesSellers(selectAllSellers);" id="checkBoxSelectAll">Seleccionar todos</md-checkbox>
                    <md-divider id="lineDivider"></md-divider>
                    <md-list id="listCheckBox">
                        <md-list-item id="itemListCheckBox" ng-repeat="seller in ctrl.sellers | filter:querySeller">
                            <md-checkbox id="itemCheckBoxValue" ng-disabled="seller.Disabled" ng-model="seller.Checked" ng-change="ctrl.CountSellers();"></md-checkbox>
                            <p>{{seller.Nombre}}</p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
    </div>

    <div id="viewer" class="row" ng-show="ctrl.showList">
        <div ng-show="ctrl.showErrorForm" ng-model="ctrl.ShowError">
            <div class="error-message col-md-12">{{ctrl.ShowError}}</div>
        </div>
    </div>

    <div class="row" ng-show="ctrl.showList" ng-disabled="ctrl.showList">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right" id="buttomReports">Generar reporte</md-button>
        </div>
    </div>
</div>