<div id="ProdCompBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{translation.ERMPROESC_IProductoCompetencia}}</h2>
            </div>
            <!-- dialog body -->
            <div class="modal-body validateBox">
                <form role="form">
                    <div class="container">
                        <div class="form-group">
                            <label id="lblMsgMensaje" class="control-label text-label"></label>
                            <div style="margin: 0 auto; display: table;">
                                <dir-pagination-controls max-size="8"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>

                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"><img width="16" height="16" src="/Content/images/buscar.png" /></span>
                                <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                            </div>
                            <br />
                            <table class="table table-bordered">
                                <tr>
                                    <td></td>
                                    <td>{{translation.PROProductoClave}}</td>
                                    <td>{{translation.PRONombreCorto}}</td>
                                    <td>{{translation.XEstado}}</td>
                                </tr>

                                <tr dir-paginate="p in cProductoList|orderBy:sortKey:reverse|filter:search|itemsPerPage:100">
                                    <td><input id="{{p.ProductoClave}}" type="checkbox" class="camposInput" ng-model="ProductoClave.$index" name="{{'ProductoClave' + $index }}" ng-checked="{{p.Existe}}" ng-false-value="'NO'" ng-true-value="'YES'" ng-click="addProductoCompetencia(p.ProductoClave, p.Nombre, p.Tipo, ProductoClave.$index)"></td>
                                    <td>{{p.ProductoClave}}</td>
                                    <td>{{p.Nombre}}</td>
                                    <td>
                                        <span ng-show="p.Tipo == 0">
                                          Inactivo
                                        </span>
                                        <span ng-show="p.Tipo == 1">
                                            Activo
                                        </span>
                                   </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer" >                
                <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTAceptar}}</button>
            </div>
        </div>
    </div>
</div>
