<div id="VenClienteMBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="m<odal-title" id="lblMsgTitulo">Seleccionar Cliente</h2>
            </div>

            <!-- dialog body -->
            <div class="scroll modal-body">
                <form role="form">
                    <div class="container">
                        <!--paginacion-->
                        <div class="row form-group">
                            <div class="col-md-12 ">
                                <dir-pagination-controls max-size="4"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                        <div class="row form-group">
                            <!--Buscar-->
                            <div class="col-md-12 ">
                                <input type="text" name="Buscar" ng-model="Buscar" class="form-control" placeholder="Buscar ..." />
                            </div>
                        </div>
                          
                        <!--Tabla-->
                        <div class="scrow">
                            <div class="col-md-12 form-group tablaclientebox" style="padding-right:0px;">
                                <table class="table table-bordered p2">
                                    <tr class="Lnegras">
                                        <td>{{translation.XNumeroCliente}}</td>
                                        <td>{{translation.COMRFC}}</td>
                                        <td>{{translation.XTipo}}</td>
                                        <td>{{translation.XEncargado}}</td>
                                        <td>{{translation.XTelefono}}</td>
                                        <td>{{translation.XALimiteCredito}}</td>
                                        <td>{{translation.XRazonSocial}}</td>
                                        <td>{{translation.XNegocio}}</td>
                                        <td>{{translation.CLILimiteDescuento}}</td>
                                        <td>{{translation.CLISaldoEfectivo}}</td>
                                        <td>{{translation.CLIExclusividad}}</td>
                                        <td>{{translation.CLIVigExclusividad}}</td>
                                        <td>{{translation.CLIActualizaSaldoCheque}}</td>
                                        <td>{{translation.CLIVencimientoVenta}}</td>
                                        <td>{{translation.CLIDiasVencimiento}}</td>
                                        <td>{{translation.CLISaldoGarantia}}</td>
                                        <td>{{translation.BTNuevo}}</td>
                                        <td>{{translation.XFechaFactura}}</td>
                                        <td>{{translation.CLIDesglose}}</td>
                                        <td>{{translation.CLICorreoElectronico}}</td>
                                        <td>{{translation.TERAlmacenID}}</td>
                                    </tr>
                                    <tr dir-paginate="c in cCliente|orderBy:sortKey:reverse|filter:Buscar|itemsPerPage:tamPag" ng-click="SeleccionCl(c.Clave,c.RazonSocial)">
                                        <td>{{c.Clave}}</td>
                                        <td>{{c.IdFiscal}}</td>
                                        <td>{{c.TipoImpuesto}}</td>
                                        <td>{{c.NombreContacto}}</td>
                                        <td>{{c.TelefonoContacto}}</td>
                                        <td>{{c.LimiteCreditoDinero}}</td>
                                        <td>{{c.RazonSocial}}</td>
                                        <td>{{c.RazonSocial}}</td>
                                        <td>{{c.LimiteDescuento}}</td>
                                        <td>{{c.SaldoEfectivo}}</td>
                                        <td><input type="checkbox" name="Exclusividad" ng-model="c.Exclusividad" ng-checked="c.Exclusividad" ng-disabled="true"></td> 
                                        <td>{{c.VigExclusividad}}</td>
                                        <td><input type="checkbox" name="ActualizaSaldoCheque" ng-model="c.ActualizaSaldoCheque" ng-checked="c.ActualizaSaldoCheque" ng-disabled="true"></td>
                                        <td><input type="checkbox" name="VencimientoVenta" ng-model="c.VencimientoVenta" ng-checked="c.VencimientoVenta" ng-disabled="true"></td>
                                        <td>{{c.DiasVencimiento}}</td>
                                        <td>{{c.SaldoGarantia}}</td>
                                        <td><input type="checkbox" name="Nuevo" ng-model="c.Nuevo" ng-checked="c.Nuevo" ></td>
                                        <td>{{c.FechaFactura}}</td>
                                        <td><input type="checkbox" name="DesgloseImpuesto" ng-model="c.DesgloseImpuesto" ng-checked="c.DesgloseImpuesto"></td>
                                        <td>{{c.CorreoElectronico}}</td>
                                        <td>{{c.AlmacenID}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTAceptar}}</button>
            </div>
        </div>
    </div>
</div>
