<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elephantworks.movilvennda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".Aplicacion"
        android:allowBackup="true"
        android:icon="@mipmap/vennda_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Vistas.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vistas.MainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.MenuActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.PuntoVentaActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.AperturaCierreActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.ClienteActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.ClienteModificarActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.ConsultarVentas"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.ConfiguracionActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Vistas.DevolucionActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>