<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SellingEntities" connectionString="metadata=res://*/Models.Selling.csdl|res://*/Models.Selling.ssdl|res://*/Models.Selling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SADA;initial catalog=SellingCKL;user id=sa;password=dbsa.DBSA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>