USE [RouteCPC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_VentasADMContado]    Script Date: 06/07/2010 12:40:32 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[FN_VentasADMContado]
(
	@FechaInicial as Datetime,
	@FechaFinal as Datetime
)  
RETURNS Table 

AS  

	Return
	(
	
	select VentasContadoADM.IdCedis, 1 as IdTipoVenta, VentasContadoADM.Folio, VentasContadoADM.Serie, VentasContadoADM.Fecha,  cast(VentasContadoADM.IdCedis as varchar(10)) + '009999' as IdCliente
--	sum(VentasADM.Subtotal) as SubTotal, sum(VentasADM.Iva) as Iva
	from RouteADM.dbo.VentasContado VentasContadoADM 
	inner join RouteADM.dbo.Ventas VentasADM on VentasADM.IdCedis = VentasContadoADM.IdCedis and VentasADM.Fecha = VentasContadoADM.Fecha
		and VentasADM.Serie like 'R%' and VentasADM.IdTipoVenta = 1 
	-- where VentasContadoADM.Fecha between '20100601' and '20100601' 
	where VentasADM.Fecha between @FechaInicial and @FechaFinal
	group by VentasContadoADM.IdCedis, VentasContadoADM.Folio, VentasContadoADM.Serie, VentasContadoADM.Fecha
	
	)













