USE [RouteCPC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_VentasADMContadoDetalle]    Script Date: 06/07/2010 12:40:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER FUNCTION [dbo].[FN_VentasADMContadoDetalle]
(
	@IdCedis as bigint,
	@Serie as varchar(5),
	@Folio as bigint,
	@FechaInicial as Datetime,
	@FechaFinal as Datetime
)  
RETURNS Table 

AS  

	Return
	(
	select VentasContado.IdCedis, 1 as IdTipoVenta, VentasContado.Folio, VentasDetalle.IdProducto, VentasContado.Serie, 
	sum(VentasDetalle.Cantidad) as Cantidad, sum(VentasDetalle.subtotal) / sum(VentasDetalle.Cantidad) as Precio, VentasDetalle.Iva
	from RouteADM.dbo.Ventas Ventas
	inner join RouteADM.dbo.VentasContado VentasContado on Ventas.IdCedis = VentasContado.IdCedis and Ventas.Fecha = VentasContado.Fecha
	inner join RouteADM.dbo.VentasDetalle VentasDetalle on VentasDetalle.IdCedis = Ventas.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and 
	VentasDetalle.IdTipoVenta = Ventas.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio
	where VentasContado.IdCedis = @IdCedis and VentasContado.Serie = @Serie and VentasContado.Folio = @Folio and Ventas.Fecha between @FechaInicial and @FechaFinal and Ventas.IdTipoVenta in ( select IdTipoVenta from RouteADM.dbo.VentasTipo where Tipo = 2 )
	group by VentasContado.IdCedis, VentasContado.Folio, VentasDetalle.IdProducto, VentasContado.Serie, VentasDetalle.Iva

	)








