USE [RouteADM]
GO
/****** Object:  Trigger [dbo].[tgRouteU_PreciosLista]    Script Date: 06/07/2010 22:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER TRIGGER [dbo].[tgRouteU_PreciosLista] ON [dbo].[PreciosLista] 
FOR INSERT, UPDATE
AS
declare @Route as int
set @Route = 0

set @Route = isnull( ( select Route from Configuracion where IdCedis in ( select IdCedis from Inserted ) ), 0 )
if @Route = 1
begin

	declare @ModuloVenta as varchar(16)
	set @ModuloVenta=isnull( ( select MMD.ModuloMovDetalleClave 
		from ROUTE.dbo.ModuloMovDetalle  MMD
		inner join ROUTE.dbo.ModuloTerm MT ON MT.Moduloclave = MMD.Moduloclave 
		where MMD.TipoIndice =9 and MMD.tipoestado=1
		AND MT.TipoEstado =1 AND MT.TipoIndice= 1 ), '' )
		
	declare @ModuloPreventa as varchar(16)
	set @ModuloPreventa=isnull( ( select MMD.ModuloMovDetalleClave 
		from ROUTE.dbo.ModuloMovDetalle  MMD
		inner join ROUTE.dbo.ModuloTerm MT ON MT.Moduloclave = MMD.Moduloclave 
		where MMD.TipoIndice =9 and MMD.tipoestado=1
		AND MT.TipoEstado =1 AND MT.TipoIndice= 2 ), '' )
		
	declare @ModuloReparto as varchar(16)
	set @ModuloReparto=isnull( ( select MMD.ModuloMovDetalleClave 
		from ROUTE.dbo.ModuloMovDetalle  MMD
		inner join ROUTE.dbo.ModuloTerm MT ON MT.Moduloclave = MMD.Moduloclave 
		where MMD.TipoIndice =9 and MMD.tipoestado=1
		AND MT.TipoEstado =1 AND MT.TipoIndice= 3 ), '' )

	declare @CambiosVenta as varchar(16)
	set @CambiosVenta=isnull( ( select MMD.ModuloMovDetalleClave 
		from ROUTE.dbo.ModuloMovDetalle  MMD
		inner join ROUTE.dbo.ModuloTerm MT ON MT.Moduloclave = MMD.Moduloclave 
		where MMD.TipoIndice =14 and MMD.tipoestado=1
		AND MT.TipoEstado =1 AND MT.TipoIndice= 1), '' )

	declare @CambiosPreventa as varchar(16)
	set @CambiosVenta=isnull( ( select MMD.ModuloMovDetalleClave 
		from ROUTE.dbo.ModuloMovDetalle  MMD
		inner join ROUTE.dbo.ModuloTerm MT ON MT.Moduloclave = MMD.Moduloclave 
		where MMD.TipoIndice =14 and MMD.tipoestado=1
		AND MT.TipoEstado =1 AND MT.TipoIndice= 2), '' )

	declare @CambiosReparto as varchar(16)
	set @CambiosVenta=isnull( ( select MMD.ModuloMovDetalleClave 
		from ROUTE.dbo.ModuloMovDetalle  MMD
		inner join ROUTE.dbo.ModuloTerm MT ON MT.Moduloclave = MMD.Moduloclave 
		where MMD.TipoIndice =14 and MMD.tipoestado=1
		AND MT.TipoEstado =1 AND MT.TipoIndice= 3), '' )


	insert into ROUTE.dbo.Precio select IdLista, 0, left( 'LP - ' + Descripcion + ' - ' + TipoLista, 64 ),  1, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select PrecioClave from ROUTE.dbo.Precio  )
	insert into ROUTE.dbo.Esquema select IdLista, 'LP', left( 'LP - ' + Descripcion + ' - ' + TipoLista, 32 ),  left( 'LP - ' + Descripcion + ' - ' + TipoLista, 16 ),  0, IdLista, 1, 1, 0, 1, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select EsquemaId from ROUTE.dbo.Esquema  )
	insert into ROUTE.dbo.PrecioClienteEsquema select IdLista, @ModuloVenta, IdLista, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select EsquemaId from ROUTE.dbo.PrecioClienteEsquema where PrecioClave = cast(IdLista as varchar(10)) and EsquemaId = cast(IdLista as varchar(10)) and ModuloMovDetalleClave=@ModuloVenta ) 
	--insert into ROUTE.dbo.PrecioClienteEsquema select IdLista, @ModuloPreventa, IdLista, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select EsquemaId from ROUTE.dbo.PrecioClienteEsquema where PrecioClave = cast(IdLista as varchar(10)) and EsquemaId = cast(IdLista as varchar(10)) and ModuloMovDetalleClave=@ModuloPreventa ) 
	--insert into ROUTE.dbo.PrecioClienteEsquema select IdLista, @ModuloReparto, IdLista, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select EsquemaId from ROUTE.dbo.PrecioClienteEsquema where PrecioClave = cast(IdLista as varchar(10)) and EsquemaId = cast(IdLista as varchar(10)) and ModuloMovDetalleClave=@ModuloReparto ) 
	insert into ROUTE.dbo.PrecioClienteEsquema select IdLista, '26B6WLI+YQQMKPQ', IdLista, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select EsquemaId from ROUTE.dbo.PrecioClienteEsquema where PrecioClave = cast(IdLista as varchar(10)) and EsquemaId = cast(IdLista as varchar(10))and ModuloMovDetalleClave='26B6WLI+YQQMKPQ' ) 
	--insert into ROUTE.dbo.PrecioClienteEsquema select IdLista, @CambiosPreventa, IdLista, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select EsquemaId from ROUTE.dbo.PrecioClienteEsquema where PrecioClave = cast(IdLista as varchar(10)) and EsquemaId = cast(IdLista as varchar(10))and ModuloMovDetalleClave=@CambiosPreventa ) 
	--insert into ROUTE.dbo.PrecioClienteEsquema select IdLista, @CambiosReparto, IdLista, getdate(), 'Interfaz' from Inserted where cast(IdLista as varchar(10))  not in ( select EsquemaId from ROUTE.dbo.PrecioClienteEsquema where PrecioClave = cast(IdLista as varchar(10)) and EsquemaId = cast(IdLista as varchar(10))and ModuloMovDetalleClave=@CambiosReparto ) 
	
	update ROUTE.dbo.Precio set Nombre = ( select left( 'LP - ' + Descripcion + ' - ' + TipoLista, 64 ) from Inserted where PrecioClave = IdLista  ) where PrecioClave in ( Select IdLista from Inserted where PrecioClave =  cast( IdLista as varchar(10) )  ) 
	update ROUTE.dbo.Esquema set Nombre = ( select left( 'LP - ' + Descripcion + ' - ' + TipoLista, 16 ) from Inserted where EsquemaId = IdLista ), Abreviatura =  ( select left( 'LP - ' + Descripcion + ' - ' + TipoLista, 16 ) from Inserted where EsquemaId = IdLista )
		where EsquemaId in ( Select IdLista from Inserted where EsquemaId =  cast( IdLista as varchar(10) )  ) 

end
