USE [RouteADM]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_ComisionesDetalleFecha]    Script Date: 06/09/2010 11:43:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[FN_ComisionesDetalleFecha]
(
	@IdCedis as bigint,
	@FechaInicial as datetime,
	@FechaFinal as datetime
)  
RETURNS Table 

AS  
		
	Return
	(
		select Vendedores.IdVendedor, Vendedores.Nomina, ApPaterno + ' ' + ApMaterno + ' ' + Nombre as Vendedor,
		FN_ComisionesEsquemaFecha.IdSurtido, FN_ComisionesEsquemaFecha.IdTipoVendedor, 
		FN_ComisionesEsquemaFecha.TipoVendedor, SUM(FN_ComisionesEsquemaFecha.Pago) as Pago, FN_ComisionesEsquemaFecha.Fecha
		from FN_ComisionesEsquemaFecha(@IdCedis, @FechaInicial, @FechaFinal) 
		inner join FN_ComisionesEsquema(@IdCedis) on FN_ComisionesEsquema.IdComEsquema = FN_ComisionesEsquemaFecha.IdComEsquema and FN_ComisionesEsquema.IdConceptoPago = FN_ComisionesEsquemaFecha.IdConceptoPago
			and FN_ComisionesEsquema.IdTipoRuta = FN_ComisionesEsquemaFecha.TipoRuta and FN_ComisionesEsquema.IdTipoVendedor = FN_ComisionesEsquemaFecha.IdTipoVendedor
			and FN_ComisionesEsquema.IdProducto = FN_ComisionesEsquemaFecha.IdProducto 
		inner join SurtidosVendedor on FN_ComisionesEsquemaFecha.IdCedis = SurtidosVendedor.IdCedis and FN_ComisionesEsquemaFecha.IdSurtido = SurtidosVendedor.IdSurtido 
			and FN_ComisionesEsquemaFecha.IdTipoVendedor = SurtidosVendedor.IdTipoVendedor
		inner join Vendedores on Vendedores.IdCedis = SurtidosVendedor.IdCedis and Vendedores.IdVendedor = SurtidosVendedor.IdVendedor 
		group by Vendedores.IdVendedor, Vendedores.Nomina, ApPaterno, ApMaterno, Nombre,
		FN_ComisionesEsquemaFecha.TipoVendedor, FN_ComisionesEsquemaFecha.IdSurtido, FN_ComisionesEsquemaFecha.IdTipoVendedor, FN_ComisionesEsquemaFecha.Fecha
		
	)
