USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_CargasSugeridas]    Script Date: 06/09/2010 17:48:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[sel_CargasSugeridas] 
@IdCedis as bigint,
@IdRuta as bigint,
@FechaCarga as datetime,
@IdProducto as bigint,
@Opc as int
AS

if @Opc = 1
	select Productos.IdProducto, Producto
	from Productos
	where Productos.IdProducto = @IdProducto and Productos.Status = 'A'

if @Opc = 2
	select Productos.IdProducto, Producto, isnull(Cantidad,0) as 'Cantidad', isnull(Cambios,0) as 'Cambios', Decimales
	from Productos
	left outer join CargasSugeridasDetalle on Productos.IdProducto = CargasSugeridasDetalle.IdProducto 
	and CargasSugeridasDetalle.IdCedis = @IdCedis and CargasSugeridasDetalle.IdRuta = @IdRuta and CargasSugeridasDetalle.FechaCarga = @FechaCarga
	where Productos.IdProducto = @IdProducto and Productos.Status = 'A'

if @Opc = 3
	select CargasSugeridasDetalle.IdCedis, CargasSugeridasDetalle.IdRuta, CargasSugeridasDetalle.IdProducto, Producto, CargasSugeridasDetalle.Venta, CargasSugeridasDetalle.Cantidad as 'Cantidad Calculada', CargasSugeridasDetalle.Cambios, 
	CargasSugeridasDetalle.Venta * Conversion as VentaK, CargasSugeridasDetalle.Cantidad * Conversion as 'Cantidad CalculadaK', CargasSugeridasDetalle.Cambios * Conversion as CambiosK,
	InventarioKardex.Teorico as 'Disponible', InventarioKardex.Teorico * Conversion as 'DisponibleK',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Total Cargas',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) * Conversion as 'Total CargasK',
	InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Inv. Final',
	(InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga)) * Conversion as 'Inv. FinalK'	from CargasSugeridasDetalle
	inner join Productos on CargasSugeridasDetalle.IdProducto = Productos.IdProducto
	inner join InventarioKardex on InventarioKardex.IdCedis = CargasSugeridasDetalle.IdCedis and InventarioKardex.IdProducto = CargasSugeridasDetalle.IdProducto
		and InventarioKardex.Fecha in (select top 1 Fecha from InventarioKardex where Fecha < @FechaCarga order by Fecha desc)
	where CargasSugeridasDetalle.IdCedis = @IdCedis and CargasSugeridasDetalle.IdRuta = @IdRuta and FechaCarga = @FechaCarga and Tipo = '0'
	order by Productos.IdProducto

if @Opc = 4
	select CargasSugeridasDetalle.IdCedis, CargasSugeridasDetalle.IdRuta, CargasSugeridasDetalle.IdProducto, Producto, CargasSugeridasDetalle.Venta, CargasSugeridasDetalle.Cantidad as 'Cantidad Calculada', CargasSugeridasDetalle.Cambios, 
	CargasSugeridasDetalle.Venta * Conversion as VentaK, CargasSugeridasDetalle.Cantidad * Conversion as 'Cantidad CalculadaK', CargasSugeridasDetalle.Cambios * Conversion as CambiosK,
	InventarioKardex.Teorico as 'Disponible', InventarioKardex.Teorico * Conversion as 'DisponibleK',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Total Cargas',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) * Conversion as 'Total CargasK',
	InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Inv. Final',
	(InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga)) * Conversion as 'Inv. FinalK'	
	from CargasSugeridasDetalle
	inner join Productos on CargasSugeridasDetalle.IdProducto = Productos.IdProducto
	inner join InventarioKardex on InventarioKardex.IdCedis = CargasSugeridasDetalle.IdCedis and InventarioKardex.IdProducto = CargasSugeridasDetalle.IdProducto
		and InventarioKardex.Fecha in (select top 1 Fecha from InventarioKardex where Fecha < @FechaCarga order by Fecha desc)
	where CargasSugeridasDetalle.IdCedis = @IdCedis and CargasSugeridasDetalle.IdRuta = @IdRuta and FechaCarga = @FechaCarga and Tipo = '1'
	order by Productos.IdProducto

if @Opc = 5
begin
	select CargasSugeridasDetalle.IdCedis, CargasSugeridasDetalle.IdRuta, CargasSugeridasDetalle.IdProducto, Producto, CargasSugeridasDetalle.Venta, CargasSugeridasDetalle.Cantidad as 'Cantidad Calculada', CargasSugeridasDetalle.Cambios, 
	CargasSugeridasDetalle.Venta * Conversion as VentaK, CargasSugeridasDetalle.Cantidad * Conversion as 'Cantidad CalculadaK', CargasSugeridasDetalle.Cambios * Conversion as CambiosK,
	InventarioKardex.Teorico as 'Disponible', InventarioKardex.Teorico * Conversion as 'DisponibleK',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Total Cargas',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) * Conversion as 'Total CargasK',
	InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Inv. Final',
	(InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga)) * Conversion as 'Inv. FinalK'
	from CargasSugeridasDetalle
	inner join Productos on CargasSugeridasDetalle.IdProducto = Productos.IdProducto
	inner join InventarioKardex on InventarioKardex.IdCedis = CargasSugeridasDetalle.IdCedis and InventarioKardex.IdProducto = CargasSugeridasDetalle.IdProducto
		and InventarioKardex.Fecha in (select top 1 Fecha from InventarioKardex where Fecha < @FechaCarga order by Fecha desc)
	where CargasSugeridasDetalle.IdCedis = @IdCedis and CargasSugeridasDetalle.IdRuta = @IdRuta and FechaCarga = @FechaCarga and Tipo = '2'
	order by Productos.IdProducto
end

if @Opc = 6
begin
	if not exists(select top 1 IdCedis from CargasSugeridasDetalle where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = @FechaCarga and Tipo = '2')
		if exists(select top 1 IdCedis from CargasSugeridasDetalle where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = '19000101' and Tipo = '2')
			update CargasSugeridasDetalle set FechaCarga = @FechaCarga where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = '19000101' and Tipo = '2'
end

if @Opc = 7
begin
	select distinct IdRuta, FechaCarga 
	from CargasSugeridasDetalle 
	where Tipo = @IdProducto and IdRuta = @IdRuta and IdCedis = @IdCedis 
	order by IdRuta, FechaCarga desc
end