USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_CargasSugeridasDetalle2]    Script Date: 06/09/2010 19:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[up_CargasSugeridasDetalle2]
@IdCedis as bigint,
@IdRuta as bigint,
@FechaCarga as datetime,
@FechaInicial as datetime,
@FechaFinal as datetime,
@Filtro as varchar(1000),
@Tipo as char(1),
@Opc as int
AS

if @Opc = 1
begin

set @FechaFinal = @FechaFinal + 1
exec ('
insert into CargasSugeridasDetalle
SELECT ' + @IdCedis + ', ' + @IdRuta + ', ''' + @FechaCarga + ''', ProductoClave, ' + @Tipo + ', SUM(Piezas), SUM(Piezas), 0
FROM (
	SELECT TD.ProductoClave, TD.SubTotal,TD.TipoUnidad,TD.Cantidad,
	(PRD.Factor * TD.Cantidad) as Piezas, 
	T.DescVendPor, TD.Impuesto,
	(select (case when sum(DesImporte) is null then 0 else sum(DesImporte) end) from Route.dbo.TpdDes as TDD where TDD.TransProdId=TD.TransProdId and TDD.TransProdDetalleId=TD.TransProdDetalleId) as DescuentoCliente, 
	(select (case when sum(DesImpuesto) is null then 0 else sum(DesImpuesto) end) from Route.dbo.TpdDes as TDD where TDD.TransProdId=TD.TransProdId and TDD.TransProdDetalleId=TD.TransProdDetalleId) as DescClienteImpuesto
	FROM Route.dbo.TransProd T
	INNER JOIN Route.dbo.Dia D ON D.DiaClave = T.DiaClave
	INNER JOIN Route.dbo.Visita V ON V.DiaClave = T.DiaClave AND V.VisitaClave = T.VisitaClave 
	INNER JOIN Route.dbo.TransProdDetalle TD ON T.TransProdId = TD.TransProdId
	inner join Route.dbo.Producto PRO on PRO.ProductoClave = TD.ProductoClave 
	inner join Route.dbo.ProductoDetalle PRD on TD.ProductoClave = PRD.ProductoClave and TD.TipoUnidad = PRD.PRUTipoUnidad and PRD.ProductoClave = PRD.ProductoDetClave 
	WHERE D.FechaCaptura BETWEEN ''' + @FechaInicial + ''' AND ''' + @FechaFinal + ''' 
	AND V.RUTClave in (' + @Filtro + ') AND T.Tipo = 1 AND T.TipoFase <> 0 AND T.TipoFase = 1
) AS Tabla
GROUP BY ProductoClave
ORDER BY ProductoClave')
end

if @Opc = 2
begin
	insert into CargasSugeridasDetalle 
	select IdCedis, IdRuta, @FechaCarga, IdProducto, Tipo, Venta, Cantidad, Cambios 
	from CargasSugeridasDetalle 
	where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = @FechaInicial and Tipo = @Tipo 
end