USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[sel_MovimientosFacturas]    Script Date: 06/13/2010 07:48:30 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[sel_MovimientosFacturas] 
@IdCedis as bigint,
@IdMovimiento as bigint,
@Fecha as datetime,
@IdDocumento as varchar(5),
@Opc as int
AS

if @Opc = 1 -- Detalle del mov
	select '', MovimientosFacturas.IdTipoDocumento as TipoD, MovimientosFacturas.Serie, MovimientosFacturas.Folio, 
	Ventas.Total as Monto, Ventas.Cargos, Ventas.Abonos, Ventas.Saldo, MovimientosFacturas.Total as 'Importe Mov.', 
	RazonSocial, IdMovimientoDetalle, MovimientosFacturas.IdTipoVenta
	from MovimientosFacturas
	left outer join Ventas on Ventas.IdCedis = MovimientosFacturas.IdCedis and Ventas.IdTipoVenta = MovimientosFacturas.IdTipoVenta
	and Ventas.Serie = MovimientosFacturas.Serie and Ventas.Folio = MovimientosFacturas.Folio
	left outer join Clientes on Clientes.IdCedis = Ventas.IdCedis and Clientes.IDCliente = Ventas.IdCliente 
	where MovimientosFacturas.IdCedis = @IdCedis and MovimientosFacturas.IdMovimiento = @IdMovimiento 
	and MovimientosFacturas.Fecha =@Fecha and MovimientosFacturas.IdDocumento= @IdDocumento and MovimientosFacturas.Status = 'A'

if @Opc = 2 -- totales del mov
	select isnull( sum(MovimientosFacturas.SubTotal), 0) as SubTotal, isnull( sum(MovimientosFacturas.Iva), 0) as Iva, isnull( sum(MovimientosFacturas.Total), 0) as Total
	from MovimientosFacturas
	where MovimientosFacturas.IdCedis = @IdCedis and MovimientosFacturas.IdMovimiento = @IdMovimiento 
	and MovimientosFacturas.Fecha =@Fecha and MovimientosFacturas.IdDocumento= @IdDocumento and MovimientosFacturas.Status = 'A'
