USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[Rep_Movimientos]    Script Date: 06/13/2010 07:52:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[Rep_Movimientos] 
@IdCedis as bigint,
@IdMovimiento as bigint,
@FechaInicial as datetime,
@FechaFinal as datetime,
@Opc as int
AS

if @Opc = 1

	select Movimientos.IdCedis, Cedis, Ventas.Serie, Ventas.Folio, Ventas.Fecha, MovimientosFacturas.Total as Monto,
	Movimientos.IdDocumento + ' ' + Documento as Referencia, MovimientosFacturas.IdDocumento + ' ' + MovimientosFacturas.IdTipoDocumento as TipoD, 
	replicate(0, 6 - len(Movimientos.IdMovimiento)) + cast(Movimientos.IdMovimiento as varchar(6)) as IdMovimiento,
	Movimientos.Fecha as FechaM, Ventas.IdCliente, RazonSocial, Monto as Importe, Movimientos.Login, DocumentosTipo.TipoDocumento as TipoDocumento, 
	Movimientos.Referencia as ReferenciaB, Movimientos.ReferenciaBancos as ReferenciaBancos, Observaciones
	from Movimientos
	inner join Cedis on Cedis.IdCedis = Movimientos.IdCedis
	inner join MovimientosFacturas on Movimientos.IdCedis = MovimientosFacturas.IdCedis and Movimientos.IdMovimiento = MovimientosFacturas.IdMovimiento and MovimientosFacturas.Status <> 'B' 
	left outer join Ventas on Ventas.IdCedis = MovimientosFacturas.IdCedis and Ventas.IdTipoVenta = MovimientosFacturas.IdTipoVenta
	and Ventas.Serie = MovimientosFacturas.Serie and Ventas.Folio = MovimientosFacturas.Folio
	left outer join Clientes on Clientes.IdCedis = Ventas.IdCedis and Clientes.IDCliente = Ventas.IdCliente 
	inner join Documentos on Movimientos.IdDocumento = Documentos.IdDocumento 
	inner join DocumentosTipo on DocumentosTipo.IdTipoDocumento = MovimientosFacturas.IdTipoDocumento and DocumentosTipo.IdDocumento = MovimientosFacturas.IdDocumento
	where Movimientos.IdCedis = @IdCedis and Movimientos.IdMovimiento = @IdMovimiento
/*
	select replicate(0, 6 - len(Movimientos.IdMovimiento)) + cast(Movimientos.IdMovimiento as varchar(6)) as IdMovimiento,
	Movimientos.Fecha as FechaM, Movimientos.IdDocumento + ' ' + Documento as Referencia, Movimientos.Login, Monto as 'Importe',
	Ventas.IdCliente, RazonSocial, Ventas.Serie, Ventas.Folio, Ventas.Fecha, MovimientosFacturas.Total as 'Monto',
	MovimientosFacturas.IdDocumento + ' ' + MovimientosFacturas.IdTipoDocumento as TipoD, replicate(0, 6 - len(MovimientosFacturas.IdMovimientoDetalle)) + cast(MovimientosFacturas.IdMovimientoDetalle as varchar(6)) as 'IdMovimientoDetalle',
	Movimientos.Referencia as ReferenciaB, Movimientos.ReferenciaBancos 
	from Movimientos
	inner join MovimientosFacturas on Movimientos.IdCedis = MovimientosFacturas.IdCedis and Movimientos.IdMovimiento = MovimientosFacturas.IdMovimiento and MovimientosFacturas.Status = 'A'
	inner join Ventas on Ventas.IdCedis = MovimientosFacturas.IdCedis and Ventas.IdTipoVenta = MovimientosFacturas.IdTipoVenta
	and Ventas.Serie = MovimientosFacturas.Serie and Ventas.Folio = MovimientosFacturas.Folio
	inner join Clientes on Clientes.IdCedis = Ventas.IdCedis and Clientes.IDCliente = Ventas.IdCliente 
	inner join Documentos on Movimientos.IdDocumento = Documentos.IdDocumento
	where Movimientos.IdCedis = @IdCedis and Movimientos.IdMovimiento = @IdMovimiento
*/
