USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[sel_DiasCerrados]    Script Date: 06/13/2010 08:10:44 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sel_DiasCerrados] 
@IdCedis as bigint,
@Opc as int
AS

if @Opc = 1 -- Por Cedis y Fechas
	select distinct SD.StatusDesc, SD.Fecha
	from RouteADM.dbo.StatusDia SD 
	where SD.IdCedis = @IdCedis and SD.Fecha not in ( select Fecha from Movimientos 
	where IdDocumento = 'CT' and Status = 'A' and Fecha = SD.Fecha )
		and Status = 'C'
	order by SD.Fecha desc
