USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_CuentaComprobada]    Script Date: 06/13/2010 10:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[sel_CuentaComprobada]
@Cedis as bigint,
@FechaInicial as datetime,
@FechaFinal as datetime,
@Opc as int

AS

if @Opc = 1 
begin
	select 0 as Orden, 'Ventas de Contado' as Concepto, isnull(SUM(Total),0) as Total
	from Ventas 
	where IdCedis = 1 and IdTipoVenta = 1
		and Fecha between @FechaInicial and @FechaFinal 

	union 

		select 1 as Orden, 'Cobranza' as Concepto, isnull(sum(t.Total),0) as Total
			from (
			select distinct USU.Clave, ABN.ABNId, ABN.Total
			from Route.dbo.AbnTrp ABT
			inner join Route.dbo.TransProd FAC on ABT.TransProdID = FAC.TransProdID 
			left join Route.dbo.TransProd TRP on FAC.TransProdID = TRP.FacturaID 
			inner join Route.dbo.Abono ABN on ABT.ABNId = ABN.ABNId 
			inner join Route.dbo.Dia Dia on ABN.DiaClave = Dia.DiaClave
			inner join Route.dbo.Visita VIS on ABN.VisitaClave = VIS.VisitaClave
			inner join Route.dbo.Vendedor VEN on VEN.VendedorID = VIS.VendedorID
			inner join Route.dbo.Usuario USU on USU.USUId = VEN.USUId
			where Dia.FechaCaptura between @FechaInicial and @FechaFinal 
			and FAC.Tipo = 8 and FAC.TipoFase <> 0 and (TRP.CFVTipo = 2 or TRP.CFVTipo is null) 
			)as t

	union 

	select 2 as Orden, 'TOTAL' as Concepto, 

	isnull(( select SUM(Total) as Total
	from Ventas 
	where IdCedis = 1 and IdTipoVenta = 1
		and Fecha between @FechaInicial and @FechaFinal  ),0)
	+
	isnull( (	select sum(t.Total) as Total
	from (
	select distinct USU.Clave, ABN.ABNId, ABN.Total
	from Route.dbo.AbnTrp ABT
	inner join Route.dbo.TransProd FAC on ABT.TransProdID = FAC.TransProdID 
	left join Route.dbo.TransProd TRP on FAC.TransProdID = TRP.FacturaID 
	inner join Route.dbo.Abono ABN on ABT.ABNId = ABN.ABNId 
	inner join Route.dbo.Dia Dia on ABN.DiaClave = Dia.DiaClave
	inner join Route.dbo.Visita VIS on ABN.VisitaClave = VIS.VisitaClave
	inner join Route.dbo.Vendedor VEN on VEN.VendedorID = VIS.VendedorID
	inner join Route.dbo.Usuario USU on USU.USUId = VEN.USUId
	where Dia.FechaCaptura between @FechaInicial and @FechaFinal 
	and FAC.Tipo = 8 and FAC.TipoFase <> 0 and (TRP.CFVTipo = 2 or TRP.CFVTipo is null) 
	)as t ),0)

end