USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_CargasSugeridas]    Script Date: 07/19/2010 20:04:16 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[sel_CargasSugeridas] 
@IdCedis as bigint,
@IdRuta as bigint,
@FechaCarga as datetime,
@IdProducto as bigint,
@Opc as int
AS

if @Opc = 1
	select Productos.IdProducto, Producto
	from Productos
	where Productos.IdProducto = @IdProducto and Productos.Status = 'A'

if @Opc = 2
	select Productos.IdProducto, Producto, isnull(Cantidad,0) as 'Cantidad', isnull(Cambios,0) as 'Cambios', Decimales,
	ISNULL(Factor,1) as Factor, isnull(Divide, 'N'), ISNULL(IdUnidad, '') as IdUnidad,
	case Divide 
		when 'N' then cast(Cantidad * ISNULL(Factor,0) as bigint) 
		else cast(Cantidad / isnull(Factor,1) as bigint) end as UnidadC,
	case Divide 
		when 'N' then (Cantidad * ISNULL(Factor,0)) - cast(Cantidad * ISNULL(Factor,0) as bigint) 
		else (Cantidad / isnull(Factor,1) - cast(Cantidad / isnull(Factor,1) as bigint)) * isnull(Factor,1) end as PiezasC,
	case Divide 
		when 'N' then cast(Cambios * ISNULL(Factor,0) as bigint) 
		else cast(Cambios / isnull(Factor,1) as bigint) end as UnidadD,
	case Divide 
		when 'N' then (Cambios * ISNULL(Factor,0)) - cast(Cambios * ISNULL(Factor,0) as bigint) 
		else (Cambios / isnull(Factor,1) - cast(Cambios / isnull(Factor,1) as bigint)) * isnull(Factor,1) end as PiezasD
	from Productos
	left outer join CargasSugeridasDetalle on Productos.IdProducto = CargasSugeridasDetalle.IdProducto 
	and CargasSugeridasDetalle.IdCedis = @IdCedis and CargasSugeridasDetalle.IdRuta = @IdRuta and CargasSugeridasDetalle.FechaCarga = @FechaCarga
	left outer join ProductosUnidad on ProductosUnidad.IdProducto = Productos.IdProducto 
	where Productos.IdProducto = @IdProducto and Productos.Status = 'A'

if @Opc = 3 or @Opc = 4 or @Opc = 5
begin
	select CargasSugeridasDetalle.IdCedis, CargasSugeridasDetalle.IdRuta, CargasSugeridasDetalle.IdProducto, Producto, 
	CargasSugeridasDetalle.Venta, CargasSugeridasDetalle.Cantidad as 'Cantidad Calculada', CargasSugeridasDetalle.Cambios, 
	CargasSugeridasDetalle.Venta * Conversion as VentaK, CargasSugeridasDetalle.Cantidad * Conversion as 'Cantidad CalculadaK', 
	CargasSugeridasDetalle.Cambios * Conversion as CambiosK,
	InventarioKardex.Teorico as 'Disponible', InventarioKardex.Teorico * Conversion as 'DisponibleK',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Total Cargas',
	( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) * Conversion as 'Total CargasK',
	InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga) as 'Inv. Final',
	(InventarioKardex.Teorico - ( select sum(Surtido) 
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga)) * Conversion as 'Inv. FinalK',

-- PIEZAS CAJAS 	
	case Divide 
		when 'N' then cast(Venta * ISNULL(Factor,0) as bigint) 
		else cast(Venta / isnull(Factor,1) as bigint) end as UnidadV,
    case Divide 
		when 'N' then (Venta * ISNULL(Factor,0)) - cast(Venta * ISNULL(Factor,0) as bigint) 
		else (Venta / isnull(Factor,1) - cast(Venta / isnull(Factor,1) as bigint)) * isnull(Factor,1) end as PiezasV,
	case Divide 
		when 'N' then cast(Cantidad * ISNULL(Factor,0) as bigint) 
		else cast(Cantidad / isnull(Factor,1) as bigint) end as UnidadC,
    case Divide 
		when 'N' then (Cantidad * ISNULL(Factor,0)) - cast(Cantidad * ISNULL(Factor,0) as bigint) 
		else (Cantidad / isnull(Factor,1) - cast(Cantidad / isnull(Factor,1) as bigint)) * isnull(Factor,1) end as PiezasC,
	case Divide 
		when 'N' then cast(Cambios * ISNULL(Factor,0) as bigint) 
		else cast(Cambios / isnull(Factor,1) as bigint) end as UnidadD,
    case Divide 
		when 'N' then (Cambios * ISNULL(Factor,0)) - cast(Cambios * ISNULL(Factor,0) as bigint) 
		else (Cambios / isnull(Factor,1) - cast(Cambios / isnull(Factor,1) as bigint)) * isnull(Factor,1) end as PiezasD,
	
	( select case Divide 
		when 'N' then cast(sum(Surtido) * ISNULL(Factor,0) as bigint) 
		else cast(sum(Surtido) / isnull(Factor,1) as bigint) end 
		from SurtidosDetalle 
		left outer join ProductosUnidad PU on PU.IdProducto = Productos.IdProducto and IdUnidad = 'CAJA'
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga group by Divide, Factor) as 'Total CargasU',
	
	( select case Divide 
		when 'N' then (sum(Surtido) * ISNULL(Factor,0)) - cast(sum(Surtido) * ISNULL(Factor,0) as bigint) 
		else (sum(Surtido) / isnull(Factor,1) - cast(sum(Surtido) / isnull(Factor,1) as bigint)) * isnull(Factor,1) end
		from SurtidosDetalle 
		where SurtidosDetalle.IdCedis = CargasSugeridasDetalle.IdCedis and SurtidosDetalle.IdProducto = CargasSugeridasDetalle.IdProducto 
		and SurtidosDetalle.Fecha = @FechaCarga group by Divide, Factor) * Conversion as 'Total CargasC'
	from CargasSugeridasDetalle
	inner join Productos on CargasSugeridasDetalle.IdProducto = Productos.IdProducto
	left outer join ProductosUnidad PU on PU.IdProducto = Productos.IdProducto and IdUnidad = 'CAJA'
	inner join InventarioKardex on InventarioKardex.IdCedis = CargasSugeridasDetalle.IdCedis and InventarioKardex.IdProducto = CargasSugeridasDetalle.IdProducto
		and InventarioKardex.Fecha in (select top 1 Fecha from InventarioKardex where Fecha < @FechaCarga order by Fecha desc)
	where CargasSugeridasDetalle.IdCedis = @IdCedis and CargasSugeridasDetalle.IdRuta = @IdRuta and FechaCarga = @FechaCarga and Tipo = (@Opc - 3)
	order by Productos.IdProducto
end

if @Opc = 6
begin
	if not exists(select top 1 IdCedis from CargasSugeridasDetalle where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = @FechaCarga and Tipo = '2')
		if exists(select top 1 IdCedis from CargasSugeridasDetalle where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = '19000101' and Tipo = '2')
			update CargasSugeridasDetalle set FechaCarga = @FechaCarga where IdCedis = @IdCedis and IdRuta = @IdRuta and FechaCarga = '19000101' and Tipo = '2'
end

if @Opc = 7
begin
	select distinct IdRuta, FechaCarga 
	from CargasSugeridasDetalle 
	where Tipo = @IdProducto and IdRuta = @IdRuta and IdCedis = @IdCedis 
	order by IdRuta, FechaCarga desc
end