USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_TipoMerma]    Script Date: 07/20/2010 12:25:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[sel_TipoMerma] 
@Opc as int	

AS

if @Opc = 1
	select IdTipoMerma, TipoMerma, Orden, Status
	from TipoMerma
	where Status = 'A'
	order by Orden

if @Opc = 2
	select isnull(count(IdTipoMerma), 0)
	from TipoMerma

if @Opc = 3
	select IdTipoMerma, cast(IdTipoMerma as varchar(20)) + '. ' + TipoMerma + ' - ' + case Aplica when 1 then 'Aplica' else 'No Aplica' end
	+ ' - ' + case Imputable when 'V' then 'Vendedor' when 'C' then 'Cedis' else '<No Imputable>' end, 
	Orden, Status, Aplica 
	from TipoMerma
	where Status = 'A'
	order by Orden


