USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Series]    Script Date: 07/20/2010 18:06:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[sel_Series]
@IdCedis as bigint,
@Serie as varchar(5),
@Folio as bigint,
@Fecha as datetime,
@Opc as int
AS

if @Opc = 1
begin
	if exists( select FS.Serie from Route.dbo.FolioSolicitado FS where Serie like '' + isnull((select SerieFacturasCredito from Configuracion where IdCedis = @IdCedis),'') + '%')
		select FS.Serie as SerieId, cast(replace(FS.Serie, 'X', '') as varchar(7)) as Serie, Marca, FH.CentroExpID
		from Route.dbo.FolioSolicitado FS
		inner join Route.dbo.FOSHist FH on FH.FolioID = FS.FolioID and FH.FOSId = FS.FOSId  
		inner join Marcas on Marcas.IdMarca = FH.CentroExpID
		where Serie like '' + isnull((select SerieFacturasCredito from Configuracion where IdCedis = @IdCedis),'') + '%'
	else
		select SerieFacturasCredito as SerieId, SerieFacturasCredito as Serie, Cedis as Marca, IdCedis as CentroExpID 
		from Configuracion 
		where IdCedis = @IdCedis
end

if @Opc = 2
begin
	if exists( select FS.Serie from Route.dbo.FolioSolicitado FS where Serie like '' + isnull((select SerieFacturasCredito from Configuracion where IdCedis = @IdCedis),'') + '%')
		select FS.Serie, isnull(FS.Usados + 1, 1) as Folio  
		from Route.dbo.FolioSolicitado FS
		where Serie = @Serie 
	else
		select SerieFacturasCredito as Serie, ISNULL((select MAX(Folio) + 1 from Ventas where Serie = SerieFacturasCredito),1) as Folio
		from Configuracion 
		where IdCedis = @IdCedis
end

if @Opc = 3
begin
	if exists( select FS.Serie from Route.dbo.FolioSolicitado FS where Serie like '' + isnull((select SerieFacturasCredito from Configuracion where IdCedis = @IdCedis),'') + '%')
		select FS.Serie, FS.Usados, @Folio, 'S' as IdMarca, '0' as Existe
		from Route.dbo.FolioSolicitado FS
		where Serie = @Serie 
	else
		select SerieFacturasCredito as Serie, ISNULL((select max(Folio) from Ventas where Serie = SerieFacturasCredito),0) as Usados, 
		@Folio as Folio, 'N' as IdMarca, isnull((select Folio from Ventas where IdCedis = @IdCedis and Serie = @Serie and Folio = @Folio),0) as Existe
		from Configuracion 
		where IdCedis = @IdCedis and SerieFacturasCredito = @Serie 
end

if @Opc = 4
begin
	if exists( select FS.Serie from Route.dbo.FolioSolicitado FS where Serie like '' + isnull((select SerieFacturasCredito from Configuracion where IdCedis = @IdCedis),'') + '%')
		select FS.Serie as SerieId, cast(replace(FS.Serie, 'X', '') as varchar(7)) as Serie, 
		Marca, isnull(VentasContado.Folio,0) as Folio, FH.CentroExpID
		from Route.dbo.FolioSolicitado FS
		inner join Route.dbo.FOSHist FH on FH.FolioID = FS.FolioID and FH.FOSId = FS.FOSId  
		inner join Marcas on Marcas.IdMarca = FH.CentroExpID
		left outer join VentasContado on VentasContado.IdMarca = Marcas.IdMarca 
			and VentasContado.IdCedis = @IdCedis and VentasContado.Fecha = @Fecha 
		where FS.Serie like '' + isnull((select SerieFacturasCredito from Configuracion where IdCedis = @IdCedis),'') + '%'
	else
		select SerieFacturasContado as SerieId, SerieFacturasContado as Serie, Cedis as Marca, 
		ISNULL((select max(Folio) + 1 from VentasContado where Serie = SerieFacturasContado),1), IdCedis as CentroExpID 
		from Configuracion 
		where IdCedis = @IdCedis
end
	
