<div id="VehiculoBox" class="modal fade">
    <div class="modal-dialog" id="R">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CamionesNombre=Camiones=''"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" >{{translation.ERMCAMESC_IGeneral}}</h2>
            </div>

            <div class="row datos-Camiones">
                <div class="col-md-2">
                    <div class="Camiones-bloque">
                        <div class="row">
                            <div class="col-md-6">
                                <span><b>{{translation.CAMPlaca}}</b> :</span>
                            </div>
                            <div class="col-md-6">
                                <span> {{Camiones}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span><b>{{translation.CAMClave}}</b> :</span>
                            </div>
                            <div class="col-md-6">
                                <span> {{CamionesNombre}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- dialog body -->
            <div class="scroll modal-body" ng-init="ObtCamiones()">
                <form role="form">
                    <div class="container">

                        <!--Buscar-->
                        <div class="col-md-12 form-group" style="padding-right:50%;">
                            <input type="text" name="Buscar" ng-model="Buscar" class="form-control" placeholder="Buscar Camión..." />
                        </div>

                        <!--Tabla-->
                        <div class="col-md-12 form-group" style="padding-right:0px;">
                            <table class="table table-bordered">
                                <tr>
                                    @*<td></td>*@
                                    <td>{{translation.CAMPlaca}}</td>
                                    <td>{{translation.CAMClave}}</td>
                                    <td>{{translation.CAMDescripcion}}</td>
                                    <td>{{translation.CAMTipoCamion}}</td>
                                    <td>{{translation.CAMCapacidadKg}}</td>
                                    <td>{{translation.CAMCajas}}</td>
                                    <td>{{translation.RUTDescripcion}}</td>
                                </tr>
                                <tr ng-repeat="x in CamList | filter:Buscar" ng-click="Seleccion(x.Placa, x.Clave)">
                                    <td>{{x.Placa}}</td>
                                    <td>{{x.Clave}}</td>
                                    <td>{{x.Descripcion}}</td>
                                    <td>{{x.TipoCamion}}</td>
                                    <td>{{x.CapacidadKg}}</td>
                                    <td>{{x.Cajas}}</td>
                                    <td>{{x.RUTClave}}{{x.Des}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <!-- dialog buttons -->
            <div class="modal-footer" >                
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CamionDisponible(); Control=false">{{translation.BTAceptar}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CamionesNombre=Camiones=''">{{translation.BTCancelar}}</button>
            </div>
        </div>
    </div>
</div>
