body {
}

.container-pos {
    margin-left: 20%;
    margin-top: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.list-margin {
    background-color: #fff;
    box-shadow: 0px 0px 14px 3px #bdb9b9;
    margin-right: 25px;
    min-height: 440px;
    margin-bottom: 20px;
}

@media only screen and (min-width : 480px) {
    .container-pos {
        margin-left: 5%;
        width: 90%;
    }
}

@media only screen and (min-width : 768px) {
    .container-pos {
        margin-left: 29%;
    }
}


@media only screen and (min-width : 992px) {
    .container-pos {
        margin-left: 26%;
    }
}

@media only screen and (min-width : 1200px) {
    .container-pos {
        margin-left: 18%;
    }
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: #B40002;
}

md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-group:not([disabled]) .md-primary .md-on, md-radio-group.md-default-theme:not([disabled]).md-primary .md-on, md-radio-group:not([disabled]).md-primary .md-on, md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-button:not([disabled]) .md-primary .md-on, md-radio-button.md-default-theme:not([disabled]).md-primary .md-on, md-radio-button:not([disabled]).md-primary .md-on {
    background-color: #B40002;
}

md-radio-group.md-default-theme:not([disabled]) .md-primary .md-checked .md-off, md-radio-group:not([disabled]) .md-primary .md-checked .md-off, md-radio-group.md-default-theme:not([disabled]) .md-primary.md-checked .md-off, md-radio-group:not([disabled]) .md-primary.md-checked .md-off, md-radio-group.md-default-theme:not([disabled]).md-primary .md-checked .md-off, md-radio-group:not([disabled]).md-primary .md-checked .md-off, md-radio-group.md-default-theme:not([disabled]).md-primary.md-checked .md-off, md-radio-group:not([disabled]).md-primary.md-checked .md-off, md-radio-button.md-default-theme:not([disabled]) .md-primary .md-checked .md-off, md-radio-button:not([disabled]) .md-primary .md-checked .md-off, md-radio-button.md-default-theme:not([disabled]) .md-primary.md-checked .md-off, md-radio-button:not([disabled]) .md-primary.md-checked .md-off, md-radio-button.md-default-theme:not([disabled]).md-primary .md-checked .md-off, md-radio-button:not([disabled]).md-primary .md-checked .md-off, md-radio-button.md-default-theme:not([disabled]).md-primary.md-checked .md-off, md-radio-button:not([disabled]).md-primary.md-checked .md-off {
    border-color: #B40002;
}

md-icon.md-default-theme, md-icon {
    color: #B40002;
}

md-select {
    border-radius: 15px;
    height: auto;
    width: auto;
    padding: unset;
}

md-autocomplete-wrap #input-1, #input-2 {
    min-width: 93%;
}

/*md-input-container {
    width: 20%;
    margin: 10px 0px 0px 0px;
    border-radius: 15px;
    padding: unset;
}*/