USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Sucursales]    Script Date: 07/13/2010 17:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sel_Sucursales]

@IdCedis as bigint,
@IdCliente as bigint,
@IdSucursal as varchar(16),
@IdRuta as bigint,
@Opc as int

AS

if @Opc = 1 		-- sucursales para un solo cliente
Begin
	SELECT     SUC.IdCedis, CTE.RazonSocial AS cliente, SUC.IdCliente, SUC.IdSucursal, isnull(SUC.TDA_GLN,'') AS [TDA/GLN], 
		isnull(SUC.NombreSucursal,'') AS Sucursal, isnull(SUC.Status,'B') as Status,
--		case SUC.Status
--			when 'A' then 'Activo'
--			when 'B' then 'Baja'
--			when 'S' then 'Suspendido'
--			when null then 'Baja'
--		end as Status, 
		isnull(SUC.FormaVenta,'') as [Forma de Venta],
		isnull(SUC.CodigoBarras,'') as [Código de Barras], isnull(SUC.Calle,'') as Calle, isnull(SUC.NumExterior,'') AS [No. Ext],
            		isnull(SUC.NumInterior,'') AS [No. Int], isnull(SUC.Colonia,'') as Colonia, isnull(SUC.Localidad,'') as [Localidad], isnull(SUC.Poblacion,'') as Poblacion, 
		isnull(SUC.Entidad,'') as Entidad, isnull(SUC.Pais,'') as [País], isnull(SUC.Telefonos,'') AS Teléfonos, isnull(SUC.CP,'') AS 'C.P.', 
		isnull(SUC.RFC,'') AS [RFC], isnull(SUC.RazonSocial,'') AS [Razón Social],
		isnull(SUC.CalleF,'') as CalleF, isnull(SUC.NumExteriorF,'') AS [No. ExtF],
            		isnull(SUC.NumInteriorF,'') AS [No. IntF], isnull(SUC.ColoniaF,'') as ColoniaF, isnull(SUC.LocalidadF,'') as [LocalidadF], isnull(SUC.PoblacionF,'') as PoblacionF, 
		isnull(SUC.EntidadF,'') as EntidadF, isnull(SUC.PaisF,'') as [PaísF], isnull(SUC.TelefonosF,'') AS TeléfonosF, isnull(SUC.CPF,'') AS 'C.P.F', SUC.Contacto,
		ISNULL(SUC.DiasCredito, 0) as 'Dias Crédito', ISNULL(SUC.LimiteCredito, 0) as 'Crédito'
	FROM         Clientes CTE INNER JOIN
	                      ClienteSucursal SUC ON CTE.IdCedis = SUC.IdCedis AND CTE.IdCliente = SUC.IdCliente
	WHERE     (CTE.IdCliente = @IdCliente) AND CTE.IdCedis = @IdCedis
	ORDER BY SUC.NombreSucursal
End

if @Opc = 2 		-- sucursales para un solo cliente
Begin
	SELECT     SUC.IdCedis, CTE.RazonSocial AS cliente, SUC.IdCliente, SUC.IdSucursal, isnull(SUC.TDA_GLN,'') AS [TDA/GLN], 
		isnull(SUC.NombreSucursal,'') AS Sucursal,
		case SUC.Status
			when 'A' then 'Activo'
			when 'B' then 'Baja'
			when 'S' then 'Suspendido'
			when null then 'Baja'
		end as Status, 
		case SUC.FormaVenta
			when 1 then 'Contado'
			when 2 then 'Crédito' 
		end as [Forma de Venta],
		isnull(SUC.CodigoBarras,'') as [Código de Barras], isnull(SUC.Calle,'') as Calle, isnull(SUC.NumExterior,'') AS [No. Ext],
            		isnull(SUC.NumInterior,'') AS [No. Int], isnull(SUC.Colonia,'') as Colonia, isnull(SUC.Localidad,'') as [Localidad], isnull(SUC.Poblacion,'') as Poblacion, 
		isnull(SUC.Entidad,'') as Entidad, isnull(SUC.Pais,'') as [País], isnull(SUC.Telefonos,'') AS Teléfonos, isnull(SUC.CP,'') AS 'C.P.', 
		isnull(SUC.RFC,'') AS [RFC], isnull(SUC.RazonSocial,'') AS [Razón Social],
		isnull(SUC.CalleF,'') as CalleF, isnull(SUC.NumExteriorF,'') AS [No. ExtF],
            		isnull(SUC.NumInteriorF,'') AS [No. IntF], isnull(SUC.ColoniaF,'') as ColoniaF, isnull(SUC.LocalidadF,'') as [LocalidadF], isnull(SUC.PoblacionF,'') as PoblacionF, 
		isnull(SUC.EntidadF,'') as EntidadF, isnull(SUC.PaisF,'') as [PaísF], isnull(SUC.TelefonosF,'') AS TeléfonosF, isnull(SUC.CPF,'') AS 'C.P.F', SUC.Contacto,
		ISNULL(SUC.DiasCredito, 0) as 'Dias Crédito', ISNULL(SUC.LimiteCredito, 0) as 'Crédito'
	FROM         Clientes CTE INNER JOIN
	                      ClienteSucursal SUC ON CTE.IdCedis = SUC.IdCedis AND CTE.IdCliente = SUC.IdCliente
	WHERE     (CTE.IdCliente = @IdCliente) AND CTE.IdCedis = @IdCedis
	ORDER BY SUC.NombreSucursal
End

IF @Opc = 3
begin
	select replicate ('0', 2-len(@IdCedis)) + cast(@IdCedis as varchar(2)) 
		+ replicate ('0', 3-len(@IdRuta)) + cast(@IdRuta as varchar(3)) 
		+ replicate ('0', 4-len(isnull(max(cast(right(IdSucursal,4) as int)) + 1, 1) )) + cast( isnull(max(cast(right(IdSucursal,4) as int)) + 1, 1) as varchar(10))
	from ClienteSucursal
	where IdCedis = @IdCedis and cast( substring(IdSucursal,3,3) as int) = @IdRuta
end 


