USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_TipoDeCambio]    Script Date: 07/14/2010 09:51:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[sel_TipoDeCambio] 
@IdCedis as bigint,
@Fecha as datetime,
@IdMonedaBase as varchar(5),
@IdMoneda as varchar(5),
@Opc as int
AS

if @Opc = 1
	select (select Count(IdMoneda) 
	from Monedas 
	where Base = 1 and Status = 'A') as MonedasBase, 
	(select Count(IdMoneda) 
	from Monedas 
	where Base = 0 and Status = 'A') as MonedasNoBase,
	(select Count(IdMoneda) 
	from Monedas 
	where Base = 0 and Status = 'A' and IdMoneda not in (select IdMoneda  
		from TipoDeCambio 
		where Fecha = @Fecha)) as MNBSinTC

if @Opc = 2
	select IdMoneda, Moneda 
	from Monedas 
	where Base = 0 and Status = 'A'

if @Opc = 3
	select top 1 IdMoneda, Moneda 
	from Monedas 
	where Base = 1 and Status = 'A'


if @Opc = 4
	select Fecha, IdMonedaBase, Monedas.Moneda as 'Moneda Base', TipoDeCambio.IdMoneda, MonedasN.Moneda, TipoCambio as TipoDeCambio
	from TipoDeCambio 
	inner join Monedas on Monedas.IdMoneda = TipoDeCambio.IdMonedaBase 
	inner join Monedas MonedasN on MonedasN.IdMoneda = TipoDeCambio.IdMoneda
	where Fecha = @Fecha 
	order by Fecha desc, TipoDeCambio.IdMoneda

if @Opc = 5
	select Fecha, IdMoneda, TipoCambio as TipoDeCambio
	from TipoDeCambio 
	where Fecha = @Fecha and IdMoneda = @IdMoneda 
	order by Fecha desc, TipoDeCambio.IdMoneda
