USE [RouteADM]
/*go*/go
/****** Object:  StoredProcedure [dbo].[sel_VentasFacturaCFD]    Script Date: 07/05/2011 15:46:15 ******/
SET ANSI_NULLS OFF
/*go*/go
SET QUOTED_IDENTIFIER OFF
/*go*/go






ALTER PROCEDURE [dbo].[sel_VentasFacturaCFD]
@IdCedis as bigint,
@IdSurtido as bigint,
@IdTipoVenta as int,
@Serie as varchar(6),
@Folio as bigint,
@Actividad as int,
@Opc as int

AS

if @Opc = 1
begin
begin tran
	
	if @Actividad = 1	
		select top 1 IdCedis, IdSurtido, IdTipoVenta, VentasFacturaCFD.Folio, SerieFactura, FolioFactura, TransprodIdFactura, VentasFacturaCFD.TransprodId, UUID, 2 AS TipoFase
		from VentasFacturaCFD 
		left outer join Route.dbo.TransProd Trp on Trp.TransProdID = VentasFacturaCFD.TransprodIdFactura 
		where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdTipoVenta = @IdTipoVenta and FolioFactura = @Folio
		order by FolioFactura desc
	
	if @Actividad = 2
		select top 1 IdCedis, IdSurtido, IdTipoVenta, VentasFacturaCFD.Folio, SerieFactura, FolioFactura, TransprodIdFactura, VentasFacturaCFD.TransprodId, UUID, 2 as TipoFase   
		from VentasFacturaCFD 
		left outer join Route.dbo.TransProd Trp on Trp.TransProdID = VentasFacturaCFD.TransprodIdFactura 
		where IdCedis = @IdCedis and IdPedido = @IdSurtido 
		order by FolioFactura desc

commit tran
end

if @Opc = 2
begin

begin tran
	
	if @Actividad = 1	
		select top 1 IdCedis, IdSurtido, IdTipoVenta, VentasFacturaCFD.Folio, SerieFactura, FolioFactura, TransprodIdFactura, VentasFacturaCFD.TransprodId, UUID, 2  
		from VentasFacturaCFD 
		left outer join Route.dbo.TransProd Trp on Trp.TransProdID = VentasFacturaCFD.TransprodIdFactura 
		where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdTipoVenta = @IdTipoVenta and FolioFactura = @Folio and SerieFactura = @Serie 
		order by FolioFactura desc
	
	if @Actividad = 2
		select top 1 IdCedis, IdSurtido, IdTipoVenta, VentasFacturaCFD.Folio, SerieFactura, FolioFactura, TransprodIdFactura, VentasFacturaCFD.TransprodId, UUID, 2 
		from VentasFacturaCFD 
		left outer join Route.dbo.TransProd Trp on Trp.TransProdID = VentasFacturaCFD.TransprodIdFactura 
		where IdCedis = @IdCedis and IdPedido = @IdSurtido and FolioFactura = @Folio and SerieFactura = @Serie 
		order by FolioFactura desc

commit tran
end

