USE [RouteADM]
GO
/****** Object:  Trigger [dbo].[tgRouteU_PreciosListaCliente]    Script Date: 07/21/2011 17:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER TRIGGER [dbo].[tgRouteU_PreciosListaCliente] ON [dbo].[PreciosListaCliente] 
FOR INSERT, UPDATE
AS
declare @Route as int, @IdCedis as bigint
set @Route = isnull( ( select Route from Configuracion where IdCedis in ( select IdCedis from Inserted ) ), 0 )

if @Route = 1
begin

	--set @IdCedis = ( select top 1 IdCedis from Inserted )

	delete 
	from ROUTE.dbo.ClienteEsquema where ClienteClave in ( 
	select cast (case IdCedis when 1 then 'A' 
			when 2 then 'B' 
			when 3 then 'C' 
			when 4 then 'D' 
			when 5 then 'E'
			when 6 then 'F'
			when 7 then 'G'
			when 8 then 'H'
			when 9 then 'I'
			when 10 then 'J'
			else '' end as varchar(5))+IdSucursal 
			from ClienteSucursal where IdCedis = @IdCedis and IdCliente in ( select IdCliente from Inserted ) )
			and EsquemaId in ( select IdLista from Inserted ) 
			and EsquemaId in ( select EsquemaId from ROUTE.dbo.ClienteEsquema ) and isnumeric(EsquemaId)=1

	
	insert into ROUTE.dbo.ClienteEsquema 
	Select distinct cast (case Inserted.IdCedis when 1 then 'A' 
			when 2 then 'B' 
			when 3 then 'C' 
			when 4 then 'D' 
			when 5 then 'E'
			when 6 then 'F'
			when 7 then 'G'
			when 8 then 'H'
			when 9 then 'I'
			when 10 then 'J'
			else '' end as varchar(5))+IdSucursal, isnull( Inserted.IdLista, 
			( select IdLista from PreciosLista where TipoLista = 'BA' 
			and IdLista in ( select IdLista from PreciosListaCedis where IdCedis = ClienteSucursal.IdCedis ) ) ), 1, getdate(), 'Interfaz' 
	from Inserted
	inner join ClienteSucursal on Inserted.IdCedis = ClienteSucursal.IdCedis and Inserted.IdCliente = ClienteSucursal.IdCliente 
	left outer join PreciosListaCliente on ClienteSucursal.IdCedis = PreciosListaCliente.IdCedis and ClienteSucursal.IdCliente = PreciosListaCliente.IdCliente 
	where Inserted.IdCedis = ClienteSucursal.IdCedis 

end

