USE [RouteADM]
GO
/****** Objeto:  Table [dbo].[VendedoresSaldos]    Fecha de la secuencia de comandos: 03/09/2010 19:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendedoresSaldos](
	[IdCedis] [bigint] NOT NULL,
	[IdSurtido] [bigint] NOT NULL,
	[IdRuta] [bigint] NOT NULL,
	[IdTipoSaldo] [char](2) NOT NULL,
	[IdVendedor] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[SaldoAnterior] [money] NULL,
	[Saldo] [money] NULL,
	[SaldoActual] [money] NULL,
 CONSTRAINT [PK_VendedoresSaldos_1] PRIMARY KEY CLUSTERED 
(
	[IdCedis] ASC,
	[IdSurtido] ASC,
	[IdRuta] ASC,
	[IdTipoSaldo] ASC,
	[IdVendedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF