USE [RouteADM]
GO
/****** Objeto:  StoredProcedure [dbo].[sel_VendedoresSaldos]    Fecha de la secuencia de comandos: 03/10/2010 11:52:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sel_VendedoresSaldos]
@IdCedis as bigint,
@IdSurtido as bigint,
@Opc as int
AS

if @Opc = 1
begin

	select distinct VendedoresSaldos.IdTipoSaldo, case VendedoresSaldos.IdTipoSaldo 
		when 'EF' then 'Saldo del Vendedor'
		when 'CL' then 'Saldo de Clientes'
		when 'EN' then 'Saldo de Envase'
	end as 'Concepto', SaldoAnterior as 'SaldoAnterior', Saldo as 'SaldoActual', SaldoActual as 'SaldoFinal'
	from VendedoresSaldos
	inner join Configuracion as CV on CV.IdCedis = VendedoresSaldos.IdCedis and CV.LiquidacionSaldoVendedor = 'S'
	where VendedoresSaldos.IdCedis = @IdCedis and VendedoresSaldos.IdSurtido = @IdSurtido

end