USE [RouteADM]
GO
/****** Objeto:  StoredProcedure [dbo].[up_SurtidosDenominacion]    Fecha de la secuencia de comandos: 03/10/2010 16:33:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[up_SurtidosDenominacion] 
@IdCedis as bigint,
@IdSurtido as bigint,
@IdCajero varchar(20),
@IdMoneda as varchar(5),
@IdDenominacion as money,
@TipoDenominacion as char(1),
@Cantidad as money,
@Opc as int

AS

declare @IdVendedor as bigint, @Importe as money

if @Opc = 1
begin
	delete from SurtidosDenominacion where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdMoneda = @IdMoneda and  IdDenominacion = @IdDenominacion and TipoDenominacion = @TipoDenominacion
	if @Cantidad > 0 
	begin
		insert into SurtidosDenominacion values (@IdCedis, @IdSurtido, @IdCajero, @IdMoneda, @IdDenominacion, @TipoDenominacion, @Cantidad)
		if exists(select IdSurtido from VendedoresSaldos where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdTipoSaldo = 'EF')
			begin
				select @Importe = sum(IdDenominacion * Cantidad) 
					from SurtidosDenominacion 
				where IdCedis = @IdCedis and IdSurtido = @IdSurtido 

				select @Importe = (@Importe - sum(Total))
				from VentasDetalle
				where VentasDetalle.IdCedis = @IdCedis and VentasDetalle.IdSurtido = @IdSurtido
				and IdTipoVenta = 1

				update VendedoresSaldos set Saldo = @Importe, SaldoActual = SaldoAnterior + @Importe
				where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdTipoSaldo = 'EF'
			end
		else
			begin
				insert into VendedoresSaldos 
				select @IdCedis, @IdSurtido, IdRuta, 'EF', IdVendedor, Surtidos.Fecha, 0, 0, 0
				from Surtidos 
				inner join SurtidosVendedor on Surtidos.IdCedis = SurtidosVendedor.IdCedis and Surtidos.IdSurtido = SurtidosVendedor.IdSurtido
				where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido 

				declare VendedoresCursor cursor for
					select IdVendedor 
					from Surtidos 
					inner join SurtidosVendedor on Surtidos.IdCedis = SurtidosVendedor.IdCedis and Surtidos.IdSurtido = SurtidosVendedor.IdSurtido
					where Surtidos.IdCedis = @IdCedis and Surtidos.IdSurtido = @IdSurtido
				open VendedoresCursor 
				
				fetch next from VendedoresCursor into @IdVendedor
				while (@@fetch_status = 0)
				begin

					select Top 1 @Importe = SaldoActual
					from VendedoresSaldos 
					where IdCedis = @IdCedis and IdVendedor = @IdVendedor and IdSurtido <> @IdSurtido
					order by Fecha desc
					
					update VendedoresSaldos set SaldoAnterior = @Importe
					where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdVendedor = @IdVendedor and IdTipoSaldo = 'EF'

					fetch next from VendedoresCursor into @IdVendedor
				end
				close VendedoresCursor 
				deallocate VendedoresCursor		

				select @Importe = sum(IdDenominacion * Cantidad) 
					from SurtidosDenominacion 
				where IdCedis = @IdCedis and IdSurtido = @IdSurtido 

				select @Importe = (@Importe - sum(Total) )
				from VentasDetalle
				where VentasDetalle.IdCedis = @IdCedis and VentasDetalle.IdSurtido = @IdSurtido
				and IdTipoVenta = 1

				update VendedoresSaldos set Saldo = @Importe, SaldoActual = SaldoAnterior + @Importe
				where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdTipoSaldo = 'EF'

			end
	end
end


