USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_VendedoresSaldosFinancia]    Script Date: 11/16/2010 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[up_VendedoresSaldosFinancia] 
@IdCedis as bigint,
@IdCorto as bigint,
@IdSurtido as bigint,
@IdVendedor as bigint,
@MontoFinanciar as money,
@Pagos as money,
@Frecuencia as int,
@FechaInicio as datetime,
@Autoriza as varchar(250),
@Concepto as varchar(250),
@Opc as int
AS

if @Opc = 1
begin
	select @IdCorto = isnull((max(IdCorto)+ 1), 1)
	from VendedoresSaldosFinancia  
	where IdCedis = @IdCedis 
	
	insert into VendedoresSaldosFinancia 
	values (@IdCedis, @IdCorto, @IdSurtido, @IdVendedor, @MontoFinanciar, @Pagos, @Frecuencia, @FechaInicio, @Autoriza, @Concepto, 'A', getdate())
end

if @Opc = 2
begin
	update VendedoresSaldosFinancia 
		set MontoFinanciar = @MontoFinanciar, Pagos = @Pagos, Frecuencia = @Frecuencia, 
		FechaInicio = @FechaInicio, Autoriza = @Autoriza, Concepto = @Concepto
	where IdCedis = @IdCedis and IdCorto = @IdCorto  
end

if @Opc = 3
begin
	
	update VendedoresSaldosFinancia 
		set Status = 'B'
	where IdCedis = @IdCedis and IdCorto = @IdCorto  

	delete from VendedoresSaldosFinanciaD  
	where IdCedis = @IdCedis and IdCorto = @IdCorto  
end

if @Opc = 4
begin
	delete from VendedoresSaldosFinanciaD  
	where IdCedis = @IdCedis and IdCorto = @IdCorto  
end

if @Opc = 5
begin
	insert into VendedoresSaldosFinanciaD  
	values (@IdCedis, @IdCorto, @IdSurtido, @IdVendedor, @Pagos, @MontoFinanciar, @FechaInicio, 'A')
end

