USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_TipoMerma]    Script Date: 07/20/2010 12:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[up_TipoMerma]
@IdTipoMerma as bigint,
@TipoMerma as varchar(200),
@CargaOrden as bigint,
@Fecha as datetime,
@Aplica as bit,
@Imputable as varchar(1),
@Opc as int
AS

declare @exist as bigint

if @Opc = 1
begin
	set @IdTipoMerma = isnull((Select max(IdTipoMerma) from TipoMerma)+1,1)	
	insert into TipoMerma values (@IdTipoMerma, @TipoMerma, @CargaOrden, @Fecha, 'A', @Aplica, @Imputable)
end

if @Opc = 2
	update TipoMerma 
	set TipoMerma = @TipoMerma, Orden=@CargaOrden ,Status = 'A', Aplica = @Aplica, Imputable = @Imputable 
	where IdTipoMerma = @IdTipoMerma

if @Opc = 3
	update TipoMerma set Status = 'B' where IdTipoMerma = @IdTipoMerma



