<div id="ProdPrioritario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{translation.ERMPROESC_IGeneral}}</h2>
            </div>
            <!-- dialog body -->
            <div class="modal-body validateBox">
                <form role="form">
                    <div class="container">
                        <div class="form-group">
                            <label id="lblMsgMensaje" class="control-label text-label"></label>
                          
                            <table class="table table-bordered">
                                <tr>
                                    <td></td>
                                    <td>{{translation.PROProductoClave}}</td>
                                    <td>{{translation.PRONombreCorto}}</td>
                                </tr>

                                <tr ng-repeat="pro in productoPrioritarioList">
                                    <td><input id="{{pro.ProductoClave}}" class="impInput" type="checkbox" ng-model="ProductoClave.$index" name="{{'ProductoClave' + $index }}"  ng-false-value="'NO'" ng-true-value="'YES'" ng-click="addProdPrior(pro.ProductoClave,pro.Nombre)"></td>
                                    <td>{{pro.ProductoClave}}</td>
                                    <td>{{pro.Nombre}}</td>
                                </tr>
                            </table>
                            
                      


                        </div>
                    </div>
                </form>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer" >                
                <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTAceptar}}</button>
            </div>
        </div>
    </div>
</div>
