USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[H_Sistema]    Script Date: 06/24/2010 18:42:41 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[H_Sistema] 

@IdCedis as bigint,
@Fecha as datetime,
@Opc as int

AS

if @Opc = 0 -- abre día
begin
	update statusdia set status='A', statusdesc='Abierto para modificaciones'
	where IdCedis = @IdCedis and fecha = @Fecha
	
	update statusrutas set status='C', statusdesc='Carga'
	where IdCedis = @IdCedis and fecha = @Fecha
	
	update surtidos set status='P'
	where IdCedis = @IdCedis and fecha = @Fecha
end

if @Opc = 1 -- cierra día
	update StatusDia set Status = 'C',  StatusDesc = 'Día Cerrado' where IdCedis = @IdCedis and Fecha = @Fecha

if @Opc = 2 -- actualiza kardex
begin
	exec up_ActualizaKardex @IdCedis, @Fecha, 0, 3
	exec up_ActualizaKardex @IdCedis, @Fecha, 0, 1
end

if @Opc = 3 -- abre movimientos
begin
	update movimientos set status='P'
	where IdCedis = @IdCedis and fecha = @Fecha
	
	update inventariofisico set status='P'
	where IdCedis = @IdCedis and fecha = @Fecha
end
