USE [RouteADM]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_WEB_MermasAlmacen]    Script Date: 08/06/2010 09:02:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER FUNCTION [dbo].[FN_WEB_MermasAlmacen]
(
	@FechaInicial as datetime,
	@FechaFinal as Datetime
)  
RETURNS Table 

AS  

	Return
	(
		select MovimientosDetalle.IdCedis, MovimientosDetalle.IdProducto, sum( Cantidad ) as Piezas
		from Movimientos
		inner join MovimientosDetalle on Movimientos.IdCedis = MovimientosDetalle.IdCedis and Movimientos.IdMovimiento = MovimientosDetalle.IdMovimiento
		where Movimientos.IdTipoMovimiento in (select IdTipoMovimiento from TipoMovimientoMerma where IdCedis = MovimientosDetalle.IdCedis) 
			and Fecha between @FechaInicial and @FechaFinal
		group by MovimientosDetalle.IdCedis, MovimientosDetalle.IdProducto
	)

GO
/****** Object:  UserDefinedFunction [dbo].[FN_WEB_MermasAlmacenCedis]    Script Date: 08/06/2010 09:02:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER FUNCTION [dbo].[FN_WEB_MermasAlmacenCedis]
(
	@IdCedis as int,
	@FechaInicial as datetime,
	@FechaFinal as Datetime
)  
RETURNS Table 

AS  

	Return
	(
		select MovimientosDetalle.IdCedis, MovimientosDetalle.IdProducto, sum( Cantidad ) as Piezas
		from Movimientos
		inner join MovimientosDetalle on Movimientos.IdCedis = MovimientosDetalle.IdCedis and Movimientos.IdMovimiento = MovimientosDetalle.IdMovimiento
		where MovimientosDetalle.IdCedis = @IdCedis and Movimientos.IdTipoMovimiento in (select IdTipoMovimiento from TipoMovimientoMerma where IdCedis = MovimientosDetalle.IdCedis) 
			and Fecha between @FechaInicial and @FechaFinal
		group by MovimientosDetalle.IdCedis, MovimientosDetalle.IdProducto
	)

GO
/****** Object:  UserDefinedFunction [dbo].[FN_WEB_MermasCedisAlmacen]    Script Date: 08/06/2010 09:02:14 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER FUNCTION [dbo].[FN_WEB_MermasCedisAlmacen]
(
	@FechaInicial as datetime,
	@FechaFinal as Datetime
)  
RETURNS Table 

AS  

	Return
	(
		select Cedis.IdCedis, Cedis, isnull( sum( Cantidad ), 0) as MermaPlanta, isnull( sum( Cantidad * Conversion ), 0) as MermaPlantaKgLts
		from Cedis
		left outer join Movimientos on Movimientos.IdCedis = Cedis.IdCedis and Movimientos.IdTipoMovimiento in (select IdTipoMovimiento from TipoMovimientoMerma where IdCedis = Movimientos.IdCedis) 
			and Movimientos.Fecha between @FechaInicial and @FechaFinal 
		left outer join MovimientosDetalle on Movimientos.IdCedis = MovimientosDetalle.IdCedis and Movimientos.IdMovimiento = MovimientosDetalle.IdMovimiento
		inner join Productos on Productos.IdProducto = MovimientosDetalle.IdProducto
		where Cedis.IdCedis between 1 and 60 and Cedis.Status = 'A'
		group by Cedis.IdCedis, Cedis
		/*
		union
		select 0 as IdCedis, ' TODOS LOS CEDIS ' as Cedis, isnull( sum( Cantidad ), 0) as MermaPlanta, isnull( sum( Cantidad * Conversion ), 0) as MermaPlantaKgLts
		from Cedis
		left outer join Movimientos on Movimientos.IdCedis = Cedis.IdCedis and Movimientos.IdTipoMovimiento = 4 and Movimientos.Fecha between @FechaInicial and @FechaFinal 
		left outer join MovimientosDetalle on Movimientos.IdCedis = MovimientosDetalle.IdCedis and Movimientos.IdMovimiento = MovimientosDetalle.IdMovimiento
		inner join Productos on Productos.IdProducto = MovimientosDetalle.IdProducto
		where Cedis.IdCedis between 1 and 60 and Cedis.Status = 'A'
		*/
	)
















