<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MegaCableEntities" connectionString="metadata=res://*/modMegaCable.csdl|res://*/modMegaCable.ssdl|res://*/modMegaCable.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=fieldservices;User ID=sa;Password=dbsa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>