set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



ALTER PROCEDURE [dbo].[sel_PolizaAraceli] 
@IdCedis as bigint,
@FechaInicial as datetime,
@FechaFinal as datetime,
@Opc as int

AS

if @Opc = 1
begin
	select '2-Contado' as Concepto, Ventas.Fecha, isnull(sum(Cantidad), 0) as Cantidad, 
	isnull(sum(VentasDetalle.Total) /sum( Cantidad), 0) as Precio, isnull(sum(VentasDetalle.total), 0) as Total
	from Ventas 
	inner join VentasDetalle on Ventas.IdCedis = VentasDetalle.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasDetalle.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio and VentasDetalle.IdTipoVenta = 1
	inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto
	where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal
	group by Ventas.Fecha

	union

	select '1-Crédito' as Concepto, Ventas.Fecha, isnull(sum(Cantidad), 0) as Cantidad, 
	isnull(sum(VentasDetalle.Total) /sum( Cantidad), 0) as Precio, isnull(sum(VentasDetalle.total), 0) as Total
	from Ventas 
	inner join VentasDetalle on Ventas.IdCedis = VentasDetalle.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasDetalle.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio and VentasDetalle.IdTipoVenta = 2
	inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto
	where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal
	group by Ventas.Fecha

	union

	select '5-DeudasAgentes' as Concepto, VendedoresSaldos.Fecha as Fecha, null as Cantidad, null as Precio, sum(Saldo) as Total
	from VendedoresSaldos
	where VendedoresSaldos.IdCedis = @IdCedis and VendedoresSaldos.Fecha between @FechaInicial and @FechaFinal
	and IdTipoSaldo = 'EF'
	group by VendedoresSaldos.Fecha 

	union

	select '3-Efectivo' as Concepto, Surtidos.Fecha, null as Cantidad, null as Precio, sum(Cantidad * IdDenominacion) as Total
	from SurtidosDenominacion
	inner join Surtidos on Surtidos.IdCedis = SurtidosDenominacion.IdCedis and Surtidos.IdSurtido = SurtidosDenominacion.IdSurtido
	where SurtidosDenominacion.IdCedis = @IdCedis and Surtidos.Fecha between @FechaInicial and @FechaFinal
	group by Surtidos.Fecha

	union

	select '4-Documentos (Cheques)' as Concepto, Surtidos.Fecha, null as Cantidad, null as Precio, sum(Importe) as Total
	from SurtidosCheque
	inner join Surtidos on Surtidos.IdCedis = SurtidosCheque.IdCedis and Surtidos.IdSurtido = SurtidosCheque.IdSurtido
	where SurtidosCheque.IdCedis = @IdCedis and Surtidos.Fecha between @FechaInicial and @FechaFinal
	group by Surtidos.Fecha

	union

	select '0-Ventas Totales' as Concepto, Ventas.Fecha, isnull(sum(Cantidad), 0) as Cantidad, 
	isnull(sum(VentasDetalle.Total) /sum( Cantidad), 0) as Precio, isnull(sum(VentasDetalle.total), 0) as Total
	from Ventas 
	inner join VentasDetalle on Ventas.IdCedis = VentasDetalle.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasDetalle.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio-- and VentasDetalle.IdTipoVenta = 1
	inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto
	where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal
	group by Ventas.Fecha 

	union

	select '6-Contado Facturado' as Concepto, Ventas.Fecha, isnull(sum(Cantidad), 0) as Cantidad, 
	isnull(sum(VentasDetalle.Total) /sum( Cantidad), 0) as Precio, isnull(sum(VentasDetalle.total), 0) as Total
	from Ventas 
	inner join VentasDetalle on Ventas.IdCedis = VentasDetalle.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasDetalle.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio and VentasDetalle.IdTipoVenta = 1
	inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto
	inner join VentasFacturadas on Ventas.IdCedis = VentasFacturadas.IdCedis and VentasFacturadas.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasFacturadas.IdTipoVenta and VentasFacturadas.Folio = Ventas.Folio 
	where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal 
	group by Ventas.Fecha

	order by Fecha, Concepto
end

if @Opc = 2
begin
	select VentasDetalle.IdProducto, Producto, isnull(sum(Cantidad), 0) as Cantidad, isnull(sum(Cantidad*Conversion),0) as Cajas,
	isnull(sum(VentasDetalle.Total) /sum( Cantidad), 0) as Precio, isnull(sum(VentasDetalle.total), 0) as Total
	from Ventas 
	inner join VentasDetalle on Ventas.IdCedis = VentasDetalle.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasDetalle.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio and VentasDetalle.IdTipoVenta = 1
	inner join Productos on Productos.IdProducto = VentasDetalle.IdProducto
	where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal and Ventas.IdSurtido not in (
		select VentasFacturadas.IdSurtido from VentasFacturadas where Ventas.IdCedis = VentasFacturadas.IdCedis and VentasFacturadas.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasFacturadas.IdTipoVenta and VentasFacturadas.Folio = Ventas.Folio )
	group by VentasDetalle.IdProducto, Producto
	order by VentasDetalle.IdProducto, Producto
end

if @Opc = 3
begin
	select VS.IdCedis, VS.IdSurtido, VS.Fecha, case VS.IdTipoSaldo 
		when 'EF' then 'Efectivo'
		when 'EN' then 'Envase'
		when 'CL' then 'Clientes'
	end as TipoSaldo, 
	VS.IdVendedor, 
	S.IdRuta, V.ApPaterno + ' ' + V.ApMaterno + ' ' + V.Nombre as Nombre,
	SaldoAnterior, Saldo as SaldoActual, Otros , SaldoActual as SaldoTotal
	from VendedoresSaldos as VS
	left outer join Surtidos as S on S.IdCedis = VS.IdCedis and S.IdSurtido = VS.IdSurtido
	left outer join Vendedores V on V.IdCedis = VS.IdCedis and V.IdVendedor = VS.IdVendedor
	where VS.IdCedis = @IdCedis and VS.Fecha between @FechaInicial and @FechaFinal 
	order by V.ApPaterno, V.ApMaterno, V.Nombre, S.Fecha
end
	
if @Opc = 4
begin
	select Clientes.IdCliente, Clientes.RazonSocial as Cliente, isnull(sum(Cantidad), 0) as Cantidad, isnull(sum(VentasDetalle.total), 0) as Total
	from Ventas 
	inner join VentasDetalle on Ventas.IdCedis = VentasDetalle.IdCedis and VentasDetalle.IdSurtido = Ventas.IdSurtido and
		Ventas.IdTipoVenta = VentasDetalle.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio and VentasDetalle.IdTipoVenta = 2
	inner join Clientes on Clientes.IdCedis = Ventas.IdCedis and Clientes.IdCliente = Ventas.IdCliente 
	where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal
	group by Clientes.IdCliente, Clientes.RazonSocial
	order by Clientes.IdCliente, Clientes.RazonSocial
end

