USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_Grupos]    Script Date: 05/26/2010 19:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[up_Grupos]
@IdGrupo as bigint,
@Grupo as varchar(200),
@Fecha as varchar(200),
@IdMarca as bigint,
@Opc as int
AS


if @Opc = 1
begin
	set @IdGrupo = isnull((Select max(IdGrupo) from Grupos)+1,1)	
	insert into Grupos (idgrupo, grupo, fechaalta, status, IdMarca) values (@IdGrupo, @Grupo, @Fecha,  'A', @IdMarca)
end

if @Opc = 2
	update Grupos set Grupo = @Grupo, Status = 'A' where IdGrupo = @IdGrupo


if @Opc = 3
	update Grupos set Status = 'B' where IdGrupo = @IdGrupo



