USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_SubFamilias]    Script Date: 05/27/2010 08:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[up_SubFamilias]
@IdSubFamilia as bigint,
@SubFamilia as varchar(200),
@Grupo as bigint,
@Familia as bigint,
@Fecha   as datetime,
@Opc as int
AS

if @Opc = 1
begin
	set @IdSubFamilia = isnull((Select max(IdSubFamilia) from SubFamilias)+1,1)	
	set @Grupo = isnull((select idgrupo from Familias where idfamilia = @familia),0)
	insert into SubFamilias values (@IdSubFamilia, @SubFamilia, @Familia, @Grupo, @Fecha,  'A')
end

if @Opc = 2
	update SubFamilias set SubFamilia = @SubFamilia, Status = 'A' where IdSubFamilia = @IdSubFamilia


if @Opc = 3
	update SubFamilias set Status = 'B' where IdSubFamilia = @IdSubFamilia



