USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[up_Usuarios]    Script Date: 07/07/2010 20:33:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[up_Usuarios] 
@IdCedis as bigint,
@Login as varchar(20),
@Password as varchar(10),
@Nombre as varchar(200),
@ApPaterno as varchar(200),
@ApMaterno as varchar(200),
@Status as varchar(1),
@Opc as int
AS


if @Opc = 1
	insert into Usuarios values (@Login, @IdCedis, dbo.FNCrypt(@Password), @Nombre, @ApPaterno, @ApMaterno, 1, @Status)

if @Opc = 2

	update Usuarios set
		password = dbo.FNCrypt(@Password),
		Nombre = @Nombre,
		ApPaterno = @ApPaterno,
		ApMaterno = @ApMaterno,
		Status = @Status
	where Login = @Login

if @Opc = 3
	update Usuarios set Status = 'B' where IdCedis = @IdCedis and Login = @Login
