<div id="AutoBox" class="modal fade">
    <div class="modal-dialog" >
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="lblMsgTitulo"></h2>
            </div>
            <!-- dialog body -->
            <div class="modal-body validateBox">
                <form role="form">
                    <div class="container">
                        <div class="form-group">
                            <label id="lblMsgMensaje" class="control-label text-label"></label>
                          
                            <table class="table table-bordered">
                                <tr>
                                    <td></td>
                                    <td>{{translation.CAMPlaca}}</td>
                                    <td>{{translation.CAMClave}}</td>
                                    <td>{{translation.CAMDescripcion}}</td>
                                </tr>

                                <tr ng-repeat="t in camionesList">
                                    <td><input type="checkbox" ng-model="Placa.$index" name="{{'Placa' + $index }}"  ng-false-value="'NO'" ng-true-value="'YES'" ng-click="addCamion(t.Placa,t.Clave,t.Descripcion,Placa.$index)"></td>
                                    <td>{{t.Placa}}</td>
                                    <td>{{t.Clave}}</td>
                                    <td>{{t.Descripcion}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer" >                
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="AddFinalC()">{{translation.BTAceptar}}</button>
            </div>
        </div>
    </div>
</div>
