body {
        background-image: url('../../Assets/Login/a_login_bg.png');
}

.login-style{
    /*border-right: #cacaca;
    border-right-style: solid;
    border-width: thin;*/
}

.logo-style{
    margin-top: 0;
    margin-left: 0;
}

.login-input{
    color:#fff !important;
    background-color:#E11500 !important;
    left:-5px;
}

.input-pos {
    margin-bottom: 15px;

}
