set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




CREATE PROCEDURE [dbo].[up_Configuracion]
@IdCedis as bigint,
@LiquidacionComisiones as char(1),
@LiquidacionEfectivo as char(1),
@LiquidacionSaldoVendedor as char(1),
@LiquidacionSaldoClientes as char(1),
@LiquidacionSaldoEnvase as char(1),
@Opc as int

AS
if @Opc = 1
	update Configuracion
	set LiquidacionComisiones = @LiquidacionComisiones,
		LiquidacionEfectivo = @LiquidacionEfectivo,
		LiquidacionSaldoVendedor = @LiquidacionSaldoVendedor,
		LiquidacionSaldoClientes = @LiquidacionSaldoClientes,
		LiquidacionSaldoEnvase = @LiquidacionSaldoEnvase
	where IdCedis = @IdCedis


