<div id="SegmentosBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{translation.ERMIMEESC_IGeneral}}</h2>
            </div>
            <!-- dialog body -->
            <div class="modal-body" ng-init="index = false">
                <div class="row">
                    <div class="col-md-6">
                        <input type="button" ng-click="agregarProductoPrioritario()" name="name" value="" />

                    </div>
                </div>

                <tree-grid tree-data="tree_data"
                            col-defs="col_defs"
                            expand-on="expanding_property"
                                   funct-del="ActionUrl"
                            on-click="anadirNuevoEsq(branch.EsquemaID, branch.Nombre, branch.TipoEstado)">
                </tree-grid>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTAceptar}}</button>
            </div>
        </div>
    </div>

</div>
