USE [Route]
GO
/****** Object:  Trigger [dbo].[tg_transfer_tmp_AbonoFactura]    Script Date: 07/06/2010 12:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE trigger [dbo].[tg_transfer_tmp_AbonoFactura]
on [dbo].[tmp_AbonoFactura] for insert, update
as

set xact_abort off    
set nocount off  

declare @FolioFactura varchar(16), @FolioAbono varchar(16), @FechaAbono datetime, @importe money, @TipoPago smallint, @MUsuarioID varchar(16), 
@DiaClave varchar(10), @VisitaClave varchar(255), @MFechaHora datetime, @RUTClave varchar(16), @ClienteClave varchar(16),
@TransProdId varchar(16), @MonedaID varchar(16), @VendedorID varchar(16), @ABNId varchar(16), @ABDId varchar(16), @ClaveUsuario varchar(16)
  
declare @LineNumer int    
declare @ErrDesc varchar(8000) 
declare @Err int    
declare @TipoLenguaje as varchar(8)
declare @ActualizaAuditoria as bit

set @TipoLenguaje = (select top 1 TipoLenguaje from Conhist order by CONHistFechaInicio)
set @ActualizaAuditoria = 0

DECLARE @CursorVar1 CURSOR 
SET @CursorVar1 = CURSOR SCROLL DYNAMIC  FOR 
	select FolioFactura, FolioAbono, FechaAbono, Importe, TipoPago, MUsuarioID FROM inserted

OPEN @CursorVar1
FETCH NEXT FROM @CursorVar1 INTO @FolioFactura, @FolioAbono, @FechaAbono, @importe, @TipoPago, @ClaveUsuario

WHILE @@FETCH_STATUS = 0 
BEGIN 

	set @Err =0
	set @LineNumer=1
					
	--Validad el Folio de la venta
	if (select count(*) from TransProd where Tipo = 8 and Folio = @FolioFactura and saldo > 0) <=0
	BEGIN
		set @ErrDesc = REPLACE(dbo.FNObtenerMensaje('E0262',@TipoLenguaje),'$0$','Factura')
		RAISERROR (@ErrDesc,16, 1)
		set @Err=@@ERROR          
	END	

	------------------MODIFICACION----------------------------------------------
	
	IF @Err=0
	BEGIN
		SELECT @TransprodId = T2.TransprodId, @ClienteClave = V.ClienteClave
		from TransProd T2
		inner join Visita V on T2.VisitaClave = V.VisitaClave
		where T2.Tipo = 8 and T2.Folio= @FolioFactura and T2.Saldo >0
	END
	
	----------------------------------------------------------------------------
	--Valida TipoPago
	IF @Err=0
	BEGIN
		IF not exists(SELECT * FROM VAVDescripcion WHERE VarCodigo='PAGO' AND VAVClave=@TipoPago AND VADTipoLenguaje=@TipoLenguaje)
		BEGIN
			set @ErrDesc = REPLACE(REPLACE(REPLACE(dbo.FNObtenerMensaje('E0610',@TipoLenguaje),'$0$','TipoPago'),'$1$',@TipoPago),'$2$','PAGO')
			RAISERROR (@ErrDesc,16, 1)
			set @Err=@@ERROR                   
		END
	END 
	
	--Valida MUsuarioId
	IF @Err=0
	BEGIN
		IF @ClaveUsuario IS NULL or @ClaveUsuario=''
			SET @ClaveUsuario='Interfaz'
		
		IF exists(SELECT USUId FROM Usuario WHERE Clave=@ClaveUsuario)
		begin
			SET @MUsuarioID=(SELECT USUId FROM Usuario WHERE Clave=@ClaveUsuario)			
		end
		ELSE
		BEGIN		
			set @ErrDesc = dbo.FNObtenerMensaje('E0612',@TipoLenguaje)
			RAISERROR (@ErrDesc,16, 1)
			set @Err=@@ERROR                   
		END
	END	
	
	IF @Err=0
	BEGIN	
		IF exists(select VendedorID from vendedor where USUID=@MUsuarioID)
		begin
			SET @VendedorID=(select VendedorID from vendedor where USUID=@MUsuarioID)			
		end
		ELSE
		BEGIN		
			set @ErrDesc = REPLACE(dbo.FNObtenerMensaje('E0211',@TipoLenguaje),'$0$',@ClaveUsuario)
			RAISERROR (@ErrDesc,16, 1)
			set @Err=@@ERROR                   
		END
	END
		
	IF @Err=0
	begin
		if not exists(select * from Abono where Folio = @FolioAbono )
		begin	
		
			set @DiaClave = CONVERT(CHAR(10), @FechaAbono, 103)
			set @MFechaHora = convert(varchar(28),getdate(),126)			
			set @RUTClave = 'RUT003'
			set @MonedaID = (select top 1 MonedaID From conhist order by mfechahora desc)
			set @VisitaClave = substring(replace(cast(newid() as varchar(36)),'-',''), 0, 17)
			set @ABNID = substring(replace(cast(newid() as varchar(36)),'-',''), 0, 17)
			set @ABDId = substring(replace(cast(newid() as varchar(36)),'-',''), 0, 17)
	
			--crear Ruta, Dia y visita
			if (select count(*) from Ruta where RUTClave =@RUTClave)<=0
				insert into Ruta(RUTClave,Descripcion,Tipo,TipoEstado,Inventario,MFechaHora,MUsuarioID) values(@RUTClave, 'Ruta de importación de abonos', 1, 1, 0, @MFechaHora, @MUsuarioID)

			if (Select count(*) from Dia where DiaClave =@DiaClave)<=0
				insert into Dia(DiaClave,Referencia,Estado,FechaCaptura,MFechaHora,MUsuarioID) values(@DiaClave,'',1,@FechaAbono,@MFechaHora,@MUsuarioID)

			if (select count(*) from Visita where DiaClave = @DiaClave and ClienteClave = @ClienteClave and RUTClave =@RUTClave)<=0
			begin
				insert into visita(VisitaClave, DiaClave, ClienteClave, VendedorID, RUTClave, Numero,FechaHoraInicial,FechaHoraFinal,TipoEstado,FueraFrecuencia,CodigoLeido,MFechaHora,MUsuarioID) 
				values(@VisitaClave, @DiaClave, @ClienteClave, @VendedorID, @RUTClave, 1,getdate(),getdate(),1,0,0,@MFechaHora,@MUsuarioID)		
			end
			else
			begin 
				set @VisitaClave = (select top 1 VisitaClave from Visita where DiaClave = @DiaClave and ClienteClave = @ClienteClave and RUTClave =@RUTClave )
			end
			
			insert into ABONO values(@ABNID, @FolioAbono, getdate(), @VisitaClave, @DiaClave, @FechaAbono, @Importe, 0, @MFechaHora, @MUsuarioID)
			insert into ABNTRP values(@ABNID, @TransProdId, getdate(), @importe, '','', 1, @MFechaHora, @MUsuarioID)
			insert into ABNDetalle values(@ABNID, @ABDId, @TipoPago, @importe, @importe, @MonedaId, '', '', @MFechaHora, @MUsuarioId)
			
			DECLARE @Saldo AS FLOAT
			
			SET @Saldo = (SELECT TOP 1 Saldo FROM TransProd WHERE TransProdId = @TransProdId) - @importe
			
			IF @Saldo < 0
				SET @Saldo = 0
						
			update TransProd set Saldo = @Saldo where TransProdId = @TransProdId
						
			set @ActualizaAuditoria = 1
		end
	END

	if @Err<>0     
	begin    
		if @Err=2627   
			set @ErrDesc='Error de restricción, llave primaria duplicada'  
		else  
			select distinct top 1 @ErrDesc=description from master.dbo.sysmessages where error=@Err    
		    
		insert into ErrorLog(LineNumber,DTSName,SQLErrNumber,Descripcion,MFechaHora,MUsuarioID)    
		values (@LineNumer,'Factura',@Err, @ErrDesc, getDate(),'Admin')    
	end

	FETCH NEXT FROM @CursorVar1 INTO @FolioFactura, @FolioAbono, @FechaAbono, @importe, @TipoPago, @ClaveUsuario
END

IF @ActualizaAuditoria=1
BEGIN
	--Crear o modifica el Registro de Auditoría
	IF exists(select * from AuditoriaObjeto where AOBTipoObjeto=20)
	Begin
		UPDATE [dbo].AuditoriaObjeto Set Correcto=0,MFechaHora=GetDate(),MUsuarioID=@MUsuarioID where (AOBTipoObjeto=20)
	End 
	Else 
	Begin
		INSERT INTO [dbo].AuditoriaObjeto(AOBTipoObjeto,Correcto,MFechaHora,MUsuarioID) VALUES(20, 0, GetDate(), @MUsuarioID)  
	End
	set @Err=@@ERROR    
END

CLOSE @CursorVar1
DEALLOCATE @CursorVar1 

set xact_abort on
set nocount on

