set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



CREATE PROCEDURE [dbo].[sel_FacturasBusqueda] 
@IdCedis as bigint,
@IdCliente as varchar(5000),
@IdRuta as varchar(5000),
@Folio as varchar(5000),
@FechaInicial as datetime,
@FechaFinal as datetime,
@Opc as int
AS


if @Opc = 1 
begin
	if @IdRuta <> '' set @IdRuta = ' inner join Surtidos on Surtidos.IdCedis = Ventas.IdCedis and Surtidos.IdSurtido = Ventas.IdSurtido and Surtidos.IdRuta in (' + @IdRuta + ') ' 
	if @Folio <> '' set @Folio = ' and Folio = ' + @Folio
	if @IdCliente <> '' set @IdCliente = ' and Ventas.IdSucursal in ( ' + @IdCliente + ' )'
-- select @IdRuta, @Folio, @IdCliente
	
	exec ('select Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, 
	Ventas.IdCliente, Clientes.RazonSocial, Ventas.IdSucursal, NombreSucursal as ''Sucursal'', Ventas.SubTotal, Ventas.Iva, Ventas.Total
	from Ventas 
	inner join Clientes on Ventas.IdCedis = Clientes.IdCedis and Ventas.IdCliente = Clientes.IdCliente 
	inner join ClienteSucursal on ClienteSucursal.IdCedis = Clientes.IdCedis and Ventas.IdSucursal = ClienteSucursal.IdSucursal
 	' + @IdRuta + ' 
	where Ventas.IdCedis = ' + @IdCedis + ' and Ventas.Fecha between  ''' + @FechaInicial + ''' and ''' + @FechaFinal + ''' ' + @Folio + ' ' + @IdCliente + '  
	order by Ventas.Fecha, Ventas.Serie, Ventas.Folio, Ventas.IdSucursal')
end

if @Opc = 2
begin
	if @IdRuta <> '' set @IdRuta = ' AND V.RUTClave in ( ' + @IdRuta + ') ' 
	if @Folio <> '' set @Folio = ' AND cast(right(t.folio,5) as bigint) =  ' + @Folio
	if @IdCliente <> '' set @IdCliente = ' AND t.ClienteClave in ( ' + @IdCliente + ' )'
-- select @IdRuta, @Folio, @IdCliente

	exec( 'SELECT left(v.RutClave, len(v.RutClave)-4) as IdCedis, ''3'' as TipoVenta, left(t.Folio,3) as ''Serie'', right(t.Folio,5) as ''Folio'', D.FechaCaptura as ''Fecha'',
	Clientes.IdCliente, Clientes.RazonSocial as ''Razon Social'',  
 	t.ClienteClave as ''IdSucursal'', NombreSucursal as ''Sucursal'', sum(td.subtotal) as ''SubTotal'', sum(td.impuesto) as ''Iva'', sum(td.total) as ''Total'', t.transprodid
	FROM Route.dbo.TransProd T
	INNER JOIN Route.dbo.Dia D ON D.DiaClave = T.DiaClave
	INNER JOIN Route.dbo.Visita V ON V.DiaClave = T.DiaClave AND V.VisitaClave = T.VisitaClave 
	INNER JOIN Route.dbo.TransProdDetalle TD ON T.TransProdId = TD.TransProdId
	inner join Route.dbo.Producto PRO on PRO.ProductoClave = TD.ProductoClave 
	inner join Route.dbo.ProductoDetalle PRD on TD.ProductoClave = PRD.ProductoClave and TD.TipoUnidad = PRD.PRUTipoUnidad and PRD.ProductoClave = PRD.ProductoDetClave 
 	inner join ClienteSucursal on ClienteSucursal.IdSucursal = t.ClienteClave
	inner join Clientes on Clientes.IdCliente = ClienteSucursal.IdCliente and Clientes.IdCedis = ClienteSucursal.IdCedis
	WHERE D.FechaCaptura BETWEEN ''' + @FechaInicial + ''' and ''' + @FechaFinal + ''' ' + @Folio + ' ' + @IdCliente + ' ' + @IdRuta + '  
	AND T.Tipo = 1 AND T.TipoFase <> 0 AND T.TipoFase = 1
	GROUP BY t.folio, D.FechaCaptura, Clientes.IdCliente, Clientes.RazonSocial, t.ClienteClave, NombreSucursal, V.RutClave, t.transprodid
	ORDER BY D.FechaCaptura, t.folio, t.ClienteClave')

end
