set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER FUNCTION [dbo].[FN_ClienteSucursal]
(
@IdSucursal as varchar(1000),
@NombreSucursal as varchar(1000),
@Cliente as varchar(1000)
)  
RETURNS Table AS  
return
(
	select Clientes.Idcedis, Clientes.IdCliente, Clientes.RazonSocial, 
	IdSucursal, NombreSucursal as 'Sucursal'
	from RouteADM.dbo.Clientes as Clientes
	inner join RouteADM.dbo.ClienteSucursal as ClienteSucursal on Clientes.IdCedis = ClienteSucursal.IdCedis and Clientes.IdCliente = ClienteSucursal.IdCliente
	where IdSucursal like '%' + @IdSucursal + '%' and Clientes.RazonSocial like '%' + @Cliente + '%'  and NombreSucursal like '%' + @NombreSucursal + '%' 
)


