set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


CREATE PROCEDURE [dbo].[sel_FacturasImpresion] 
@Filtro as varchar(5000),
@Piezas as int,
@Opc as int

AS

if @Opc = 1
begin
	if @Piezas = 1
	begin
		exec( 'select 
		VentasDetalle.IdProducto as ''Cve. Prod.'', Productos.Producto as ''Producto'', 
		sum(VentasDetalle.Cantidad) as ''Cantidad'', avg(VentasDetalle.Precio) as ''Precio'', sum(VentasDetalle.Subtotal) as ''Subtotal'', 
		sum(VentasDetalle.Cantidad * VentasDetalle.Precio * VentasDetalle.Iva) as ''Iva'', sum(VentasDetalle.Total) as ''Total''
		from VentasDetalle
		inner join Ventas on VentasDetalle.IdCedis = Ventas.IdCedis and VentasDetalle.Serie = Ventas.Serie and 
			VentasDetalle.IdTipoVenta = Ventas.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio	
		inner join VentasTipo on VentasTipo.IdTipoVenta = Ventas.IdTipoVenta
		inner join Productos on VentasDetalle.IdProducto = Productos.IdProducto
		where ' + @Filtro + ' 
		group by VentasDetalle.IdProducto, Productos.Producto
		order by VentasDetalle.IdProducto')
	end

	if @Piezas = 2
	begin
		exec( 'select 
		VentasDetalle.IdProducto as ''Cve. Prod.'', Productos.Producto as ''Producto'', 
		sum(VentasDetalle.Cantidad * Conversion) as ''Cantidad'', sum(VentasDetalle.Subtotal) / sum(VentasDetalle.Cantidad * Conversion) as ''Precio'', sum(VentasDetalle.Subtotal) as ''Subtotal'', 
		sum(VentasDetalle.Cantidad * VentasDetalle.Precio * VentasDetalle.Iva) as ''Iva'', sum(VentasDetalle.Total) as ''Total''
		from VentasDetalle
		inner join Ventas on VentasDetalle.IdCedis = Ventas.IdCedis and VentasDetalle.Serie = Ventas.Serie and 
			VentasDetalle.IdTipoVenta = Ventas.IdTipoVenta and VentasDetalle.Folio = Ventas.Folio	
		inner join VentasTipo on VentasTipo.IdTipoVenta = Ventas.IdTipoVenta
		inner join Productos on VentasDetalle.IdProducto = Productos.IdProducto
		where ' + @Filtro + ' 
		group by VentasDetalle.IdProducto, Productos.Producto
		order by VentasDetalle.IdProducto')
	end
end

