set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[sel_ExisteRuta]
@IdCedis as bigint,
@IdRuta as bigint/*,
@Fecha as datetime,
@Inserta as char(1)*/
AS

/*declare 
@IdSurtido as bigint

set @IdSurtido = isnull(( select IdSurtido from surtidos where IdCedis = @IdCedis and Fecha = @Fecha and IdRuta = @IdRuta ), 0 )

if @IdSurtido = 0 --and @Inserta='1'
begin
	set @IdSurtido = isnull (( select max(IdSurtido) from surtidos where IdCedis = @IdCedis )+1,1)
	insert into Surtidos values (@IdCedis, @IdSurtido, @Fecha, @IdRuta, 'P')
	insert into SurtidosVendedor 
	select @IdCedis, @IdSurtido, @Fecha, IdVendedor, IdTipoVendedor from VendedoresRutas where IdCedis = @IdCedis and IdRuta = @IdRuta
end

*/
select IdCedis, IdRuta, Ruta, TipoRuta
from Rutas 
where IdCedis = @IdCedis and IdRuta = @IdRuta



