USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_VendedoresSaldosFinancia]    Script Date: 08/24/2010 10:36:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sel_VendedoresSaldosFinancia] 
@IdCedis as bigint,
@IdCorto as bigint,
@IdVendedor as bigint,
@Opc as int
AS

declare @IdSurtido as bigint

if @Opc = 1
begin
	select VS.IdCedis, VS.IdSurtido, VS.Fecha, VS.IdVendedor, 
		VSF.IdCorto, VSF.FechaElaboracion, VSF.Concepto, VS.SaldoActual, VSF.MontoFinanciar, 
		VSF.Pagos, VSF.Frecuencia, VSF.FechaInicio, VSF.Autoriza
	from VendedoresSaldos VS 
	inner join VendedoresSaldosFinancia VSF on VSF.IdCedis = VS.IdCedis and VSF.IdSurtido = VS.IdSurtido and VSF.IdVendedor = VS.IdVendedor 
	where VS.IdCedis = @IdCedis and VS.IdVendedor = @IdVendedor and Status = 'A' and VS.IdTipoSaldo = 'EF'
	order by VS.Fecha desc
end
	
if @Opc = 2
begin
	set @IdSurtido = @IdCorto 

	select IdCedis, IdSurtido, IdVendedor, Saldo, Financiado, SaldoVencido, Creditos, Bolsa, Ajuste, Resultado, Observaciones, Login
	from VendedoresSaldosValida	
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdTipoSaldo = 'EF' and IdVendedor = @IdVendedor 
end

if @Opc = 3
begin
	set @IdSurtido = @IdCorto 

	select VS.IdCedis, VS.IdSurtido, VS.Fecha, VS.IdVendedor, VEN.ApPaterno + ' ' + VEN.ApMaterno + ' ' + VEN.Nombre As Nombre,
		VSF.IdCorto, VSF.FechaElaboracion, VSF.Concepto, abs(VS.SaldoActual) as SaldoActual, VSF.MontoFinanciar, 
		VSF.Pagos, VSF.Frecuencia, VSF.FechaInicio, VSF.Autoriza, 
		VSFD.IdPago, VSFD.Fecha as FechaPago, VSFD.Monto
	from VendedoresSaldos VS 
	inner join VendedoresSaldosFinancia VSF on VSF.IdCedis = VS.IdCedis and VSF.IdSurtido = VS.IdSurtido and VSF.IdVendedor = VS.IdVendedor 
	inner join Vendedores VEN on VEN.IdCedis = VS.IdCedis and VEN.IdVendedor = VS.IdVendedor 
	inner join VendedoresSaldosFinanciaD VSFD on VSFD.IdCedis = VSF.IdCedis and VSFD.IdCorto = VSF.IdCorto 
	where VS.IdCedis = @IdCedis and VS.IdVendedor = @IdVendedor and VSF.Status = 'A' and VS.IdTipoSaldo = 'EF' and VS.IdSurtido = @IdSurtido
	order by VSFD.IdPago
end

if @Opc = 4
begin
	set @IdSurtido = @IdCorto 

	select VS.IdCedis, IdSurtido, VS.IdVendedor, VEN.ApPaterno + ' ' + VEN.ApMaterno + ' ' + VEN.Nombre As Nombre,
	Saldo, Financiado, SaldoVencido, Creditos, Bolsa, Ajuste, Resultado, Observaciones, Login
	from VendedoresSaldosValida	VS
	inner join Vendedores VEN on VEN.IdCedis = VS.IdCedis and VEN.IdVendedor = VS.IdVendedor 
	where VS.IdCedis = @IdCedis and IdSurtido = @IdSurtido and IdTipoSaldo = 'EF' and VS.IdVendedor = @IdVendedor 

end

if @Opc = 5
begin
	set @IdSurtido = @IdCorto 

	select VS.IdCedis, VEN.IdSurtido
	from Ventas VEN 
	inner join VendedoresSaldos VS on VS.IdCedis = VEN.IdCedis and VS.IdSurtido = VEN.IdSurtido 
	where VEN.IdCedis = @IdCedis and VEN.IdSurtido = @IdSurtido 
end
