USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_Devolucion]    Script Date: 10/14/2010 13:53:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





ALTER PROCEDURE [dbo].[sel_Devolucion] 
@IdCedis as bigint,
@IdSurtido as bigint,
@Opc as int

AS

if @Opc = 1
	select Devolucion.IdCedis, Devolucion.IdSurtido, Devolucion.IdDevolucion, case Devolucion.Status when 'A' then 'Aplicado' when 'B' then 'Baja' else 'En Proceso' end Status,
	Devolucion.IdCliente as 'No. Cliente', isnull(Clientes.RazonSocial, 'Cliente no encontrado')  as 'Cliente', 
	isnull( ClienteSucursal.CodigoBarras, ' - ') as 'Código de Barras', isnull(ClienteSucursal.NombreSucursal, 0) as NombreSucursal, isnull(ClienteSucursal.IdSucursal, 0) as IdSucursal,
	CalleF + ' ' + NumExteriorF + ' ' + NumInteriorF + '. ' + ColoniaF + ', ' + EntidadF + case CPF when '' then '' when '0' then '' else '. CP ' + CPF end as Domicilio,
	ClienteSucursal.RFC as RFC, Surtidos.Fecha 
	from Devolucion
	inner join Surtidos on Surtidos.IdCedis = Devolucion.IdCedis and Surtidos.IdSurtido = Devolucion.IdSurtido 
	left outer join Clientes on Devolucion.IdCliente = Clientes.IdCliente and Clientes.IdCedis = Devolucion.IdCedis
	left outer join ClienteSucursal on Devolucion.IdCliente = ClienteSucursal.IdCliente and ClienteSucursal.IdCedis = Devolucion.IdCedis and ClienteSucursal.IdSucursal = Devolucion.IdSucursal
	where Devolucion.IdCedis = @IdCedis and Devolucion.IdSurtido = @IdSurtido

if @Opc = 2
	select isnull(MAX(IdDevolucion) + 1, 1)  
	from Devolucion 
	where IdCedis = @IdCedis 

if @Opc = 3
	select IdCedis, IdSurtido, COUNT(IdDevolucion) as Numero
	from Devolucion 
	where IdCedis = @IdCedis and IdSurtido = @IdSurtido and Status <> 'A'
	group by IdCedis, IdSurtido

