USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[up_Movimientos]    Script Date: 10/19/2010 16:43:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[up_Movimientos]
@IdCedis as bigint,
@IdMovimiento as bigint,
@Fecha as datetime,
@IdDocumento as varchar(5),
@CargoAbono as varchar(1),
@Monto as money,
@Referencia as varchar(10),
@ReferenciaBancos as varchar(10),
@Observaciones as varchar(2000),
@Status as varchar(1),
@Login as varchar(20),
@Opc as int
AS

declare 
@Periodo as int
set @Periodo = isnull( (select idcedis from periodos where idcedis = @IdCedis and agno = year(@Fecha) and periodo = month(@Fecha) and status = 'A'), 0)

if @Opc = 1 and @Periodo >= 1-- inserta movimiento
begin
	-- set @IdMovimiento = ( select isnull( max(IdMovimiento)+ 1, 1) from Movimientos where IdCedis = @IdCedis )
	insert into Movimientos values (@IdCedis, @IdMovimiento, @Fecha, @IdDocumento, @CargoAbono, 0, @Referencia, @ReferenciaBancos, @Observaciones, @Status, @Login, getdate() )
end

if @Opc = 3  and @Periodo >= 1--baja movimiento
begin
	update MovimientosFacturas set Status = 'B', Login = @Login, FechaEdicion = getdate()  where IdMovimiento = @IdMovimiento and IdCedis = @IdCedis
	update Movimientos set Status = 'B', Login = @Login, FechaEdicion = getdate()  where IdMovimiento = @IdMovimiento and IdCedis = @IdCedis
	exec up_actualizasaldo @IdCedis, 2
end

if @Opc = 4 -- and @Periodo >= 1--elimina movimiento
begin
	update Movimientos set Status = 'B', FechaEdicion = getdate(), Login = @Login where IdMovimiento = @IdMovimiento and IdCedis = @IdCedis
	-- delete from Movimientos where IdMovimiento = @IdMovimiento and IdCedis = @IdCedis
end

if @Opc = 5  -- and @Periodo >= 1--Aplica
begin
	update Movimientos set Status = 'A', Login = @Login, FechaEdicion = getdate()  where IdMovimiento = @IdMovimiento and IdCedis = @IdCedis
	exec up_actualizasaldo @IdCedis, 2
	exec Route.dbo.sp_importAbonosADM @IdCedis, @IdMovimiento  
end