USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_Consignas]    Script Date: 09/13/2010 13:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[up_Consignas]
@IdCedis as bigint,
@IdConsigna as bigint,
@IdCliente as bigint,
@IdSucursal as varchar(16),
@IdRutaEntrega as bigint,
@IdSurtidoEntrega as bigint,
@FechaEntrega as datetime,
@IdMovimientoEntrega as bigint,
@IdRutaDevolucion as bigint,
@IdSurtidoDevolucion as bigint,
@FechaDevolucion as datetime,
@IdMovimientoDevolucion as bigint,
@Folio as bigint,
@Serie as varchar(5),
@Observaciones as varchar(5000),
@Status as char(1),
@Opc as int

AS

declare @IdProducto as bigint,
@Surtido as float,
@Devolucion as float,
@Venta as float,
@Precio as money,
@Iva as money,
@SurtidoExiste as float,
@FolioInicial as bigint,
@IdTipoVenta as int,
@TVenta as int,
@IdMovimiento as bigint,
@IdCarga as bigint

if @Opc = 1
begin

	--declare @FilaInsertada table (IdCedis bigint, IdConsigna bigint);

	-- Generar el registro de la consigna
	--set @IdConsigna = isnull((Select max(IdConsigna) from Consignas where  IdCedis = @IdCedis) + 1, 1)	
	
	insert into Consignas (IdCedis, IdConsigna, IdCliente, IdSucursal, IdRutaEntrega, IdSurtidoEntrega, 
				FechaEntrega, FechaDevolucion, Observaciones, Status)
	--Output INSERTED.IdCedis, INSERTED.IdConsigna into @FilaInsertada
	values (@IdCedis, @IdConsigna, @IdCliente, @IdSucursal, @IdRutaEntrega, @IdSurtidoEntrega, 
			@FechaEntrega, @FechaDevolucion ,@Observaciones, @Status)

	--select IdCedis, IdConsigna from @FilaInsertada

end

if @Opc = 2		--cambios en la asignacion del cliente para la consigna
Begin

	update Consignas set IdCliente = @IdCliente, IdSucursal = @IdSucursal, 
						FechaDevolucion = @FechaDevolucion, Observaciones = @Observaciones
	where IdCedis = @IdCedis and IdConsigna = @IdConsigna

	--actualizar los nuevos precios de la consigna al cambio de cliente
	DECLARE Consignas_Cursor CURSOR FOR
	select IdProducto, surtido, Devolucion, Venta, Precio, Iva from ConsignasDetalle where idCedis = @IdCedis and Idconsigna = @IdConsigna

	OPEN Consignas_Cursor;

	FETCH NEXT FROM Consignas_Cursor
	into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- Actualizacion de precio
		execute up_ConsignasDetalle @IdCedis,@IdCliente,@IdRutaEntrega,@IdSurtidoEntrega,@IdConsigna,@IdProducto,0,0,3

		FETCH NEXT FROM Consignas_Cursor
		into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
	END

	CLOSE Consignas_Cursor
	DEALLOCATE Consignas_Cursor

End

if @Opc = 3		-- Cambia el Status de la consigna
begin
	-- 'P' a 'R' una vez que se guarda una consigna, para generar los movimientos de surtidos, kardex y almacen
	-- 'R' a 'E' una vez que se cierra la ruta
	-- 'E' a 'D' una vez que se comienza a registrar la devolución de la consinga
	-- 'D' a 'V' una vez que se aplica la liquidacion de un surtido donde se devolvio la consigna
	-- 'P','R' a 'C' al cancelar un registro de Consigna
	-- 'D' a 'S' al cancelar una devolucion de Consigna

	If @Status = 'R'
	Begin
		-- Generar registro de movimientos en surtidos, kardex y almacen
        -- incrementar la devolucion buena del producto en la ruta que liquida la consigna
        -- incrementar la columna de devolucion buena del producto en el kardex de inventario
		DECLARE Consignas_Cursor CURSOR FOR
		select IdProducto, surtido, Devolucion, Venta, Precio, Iva from ConsignasDetalle where idCedis = @IdCedis and Idconsigna = @IdConsigna

		OPEN Consignas_Cursor;

		FETCH NEXT FROM Consignas_Cursor
		into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- incrementar la devolucion buena del producto en la ruta que liquida la consigna
			set @SurtidoExiste = isnull((select Surtido from SurtidosDetalle 
								where IdCedis = @IdCedis and IdSurtido = @IdSurtidoEntrega and IdProducto = @IdProducto ),0)
			if @SurtidoExiste = 0
				Begin
					delete from SurtidosDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtidoEntrega and IdProducto = @IdProducto 
					insert into SurtidosDetalle values (@IdCedis, @IdSurtidoEntrega, @IdProducto, @FechaEntrega, @Surtido, 0, 0, 0, 0, 0, @Precio, @Iva)
				End
			Else
				Begin
					update surtidosdetalle set DevBuena = DevBuena + @Surtido
					where IdCedis = @IdCedis and IdSurtido = @IdSurtidoEntrega and IdProducto = @IdProducto
				End

			FETCH NEXT FROM Consignas_Cursor
			into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		END

		CLOSE Consignas_Cursor
		DEALLOCATE Consignas_Cursor

		-- incrementar la columna de devolucion buena del producto en el kardex de inventario
		exec up_ActualizaKardex @IdCedis , @FechaDevolucion, @IdSurtidoEntrega, 4
		
		update Consignas set Status = @Status
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	

	End
	
	If @Status = 'E'
	Begin
		-- Generar registro del movimiento de Salida de productos del Almacen
        -- generar el movimiento de salida en el Inventario
		set @IdMovimiento = isnull((Select max(IdMovimiento) from Movimientos where  IdCedis = @IdCedis)+1,1)	
		insert into Movimientos values (@IdCedis, @IdMovimiento, @FechaEntrega, 12, 'Salida de Producto por Entrega de Consigna', 'RUTA R' + CAST(@IdRutaEntrega AS varchar(10)), 'A')

		update Consignas set IdMovimientoEntrega = @IdMovimiento
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	

        -- registrar los detalles del movimiento de salida generado
		insert into MovimientosDetalle (IdCedis, IdMovimiento, IdProducto, Cantidad, Observaciones) 
		Select @IdCedis, @IdMovimiento, IdProducto, Surtido, '' from ConsignasDetalle where IdCedis = @IdCedis and IdConsigna = @IdConsigna

		exec up_ActualizaKardex @IdCedis , @FechaEntrega, 0, 3

		update Consignas set Status = @Status
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	
	End

	If @Status = 'D'
	Begin
		-- Guarda los datos de Fecha, ruta y Surtido para comenzar el registro de las devoluciones
		update Consignas set IdRutaDevolucion = @IdRutaDevolucion, 
							IdSurtidoDevolucion = @IdSurtidoDevolucion,
							FechaDevolucion = @FechaDevolucion
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	
        
        if exists(select IdConsigna from ConsignasDetalle where IdCedis = @IdCedis and IdConsigna = @IdConsigna and Venta <> 0)
        begin
			-- Genera la venta de contado de cliente (IdTipoVenta 2)
			set @IdTipoVenta = 1
			set @FolioInicial = isnull((select FolioInicialContadoRutas from Configuracion where IdCedis = @IdCedis ), 0)
			set @Serie = isnull((select SerieFacturasCredito from Configuracion where IdCedis = @IdCedis ), '')
			set @Folio = (	select isnull( max(Ventas.Folio)+1, 1) 
							from	Ventas 
							where	Ventas.IdCedis = @IdCedis and Ventas.Serie = @Serie )
			if @Folio < @FolioInicial
			Begin
				set @Folio = @FolioInicial
			End
			
			--guarda la venta de contado de cliente
			execute up_Ventas @IdCedis, @IdSurtidoDevolucion, @IdTipoVenta, @Folio, @Serie, @FechaDevolucion, @IdCliente, @IdSucursal, 1
			
			update VentasRoute set Consigna = 1 where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and Serie = @Serie and Folio = @Folio 
			
			--Guarda la relacion de la factura de contado con la consigna
			update Consignas set Folio = @Folio, Serie = @Serie
			where IdCedis = @IdCedis and IdConsigna = @IdConsigna
		end 		
		
		
		-- Genera Recarga para Venta
		set @IdCarga = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and Status = 'A'), 1)	
		if exists ( select IdProducto from SurtidosCargas where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdCarga = @IdCarga ) 
		begin
			set @IdCarga = isnull( (select max( IdCarga ) from Cargas where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and Status = 'A') + 1 , 1)	
			insert into Cargas values (@IdCedis, @IdSurtidoDevolucion, @IdCarga, @IdRutaDevolucion, @FechaDevolucion, 'A')
		end 	
		
		DECLARE Consignas_Cursor CURSOR FOR
		select IdProducto, surtido, Devolucion, Venta, Precio, Iva from ConsignasDetalle where idCedis = @IdCedis and Idconsigna = @IdConsigna

		OPEN Consignas_Cursor;

		FETCH NEXT FROM Consignas_Cursor
		into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		WHILE @@FETCH_STATUS = 0
		BEGIN

			-- Genera recarga por producto de consigna
			exec up_SurtidosCargas @IdCedis, @IdSurtidoDevolucion, @IdCarga, @IdProducto, @FechaDevolucion, @Surtido, 1 
			
			if @Devolucion <> 0 
				update SurtidosDetalle set DevBuena = DevBuena + @Devolucion where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdProducto = @IdProducto 

			-- guardar el detalle de la venta de contado del producto en la ruta que liquida la consigna
			If @Venta <> 0
			Begin
				delete from VentasDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio and IdProducto = @IdProducto	
				insert into VentasDetalle values (@IdCedis, @IdSurtidoDevolucion, @IdTipoVenta, @Folio, @IdProducto, @Serie, @Venta, @Precio, @Iva, 0, 0)
			End

			FETCH NEXT FROM Consignas_Cursor
			into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		END

		CLOSE Consignas_Cursor
		DEALLOCATE Consignas_Cursor

		-- incrementar la columna de surtido y VentasContado del producto en el kardex de inventario
		exec up_ActualizaKardex @IdCedis , @FechaDevolucion, @IdSurtidoDevolucion, 4

		--Actualiza la informacion de Ventas
		update Ventas set Subtotal = isnull((select sum(Cantidad * Precio) from VentasDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio ), 0), 
		Iva = isnull( (select sum(Cantidad * Precio * Iva) from VentasDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio ), 0),
		DctoImp = isnull( (select sum(DctoImp) from VentasDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio ), 0)
		where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio 

		--Estatus de la ruta
		if exists( select IdCedis from StatusLiquidacion where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdRuta = @IdRutaDevolucion and Fecha = @FechaDevolucion and Status = 'HH' )
		begin
			delete from StatusLiquidacion where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdRuta = @IdRutaDevolucion and Fecha = @FechaDevolucion and Status = 'VEN'
			insert into StatusLiquidacion values ( @IdCedis, @IdSurtidoDevolucion, @IdRutaDevolucion, @FechaDevolucion, 'VEN', 'Actualización de Ventas', getdate() )
		end

		update Consignas set Status = @Status
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	

	End

	If @Status = 'V'
	Begin
		-- generar el movimiento de entrada en el Inventario
		-- registrar los detalles del movimiento de entrada generado

		set @IdMovimiento = isnull((Select max(IdMovimiento) from Movimientos where  IdCedis = @IdCedis)+1,1)	
		insert into Movimientos values (@IdCedis, @IdMovimiento, @FechaDevolucion, 18, 'Entrada de Producto por Devolución de Consigna', 'RUTA R' + CAST(@IdRutaDevolucion AS varchar(10)), 'A')

		update Consignas set IdMovimientoDevolucion = @IdMovimiento
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	

        -- registrar los detalles del movimiento de salida generado
		insert into MovimientosDetalle (IdCedis, IdMovimiento, IdProducto, Cantidad, Observaciones) 
		Select @IdCedis, @IdMovimiento, IdProducto, Venta, '' from ConsignasDetalle where IdCedis = @IdCedis and IdConsigna = @IdConsigna

		exec up_ActualizaKardex @IdCedis , @FechaDevolucion, 0, 3

		update Consignas set Status = @Status
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	

	End

	If @Status = 'C'	-- cuando se cancele una consigna que se esta registrando como entrega
	Begin
        -- decrementar la devolucion buena del producto en la ruta que liquida la consigna
        -- decrementar la columna de devolucion buena del producto en el kardex de inventario
		DECLARE Consignas_Cursor CURSOR FOR
		select IdProducto, surtido, Devolucion, Venta, Precio, Iva from ConsignasDetalle where idCedis = @IdCedis and Idconsigna = @IdConsigna

		OPEN Consignas_Cursor;

		FETCH NEXT FROM Consignas_Cursor
		into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- decrementar la devolucion buena del producto en la ruta que liquida la consigna

			update surtidosdetalle set DevBuena = DevBuena - @Surtido
			where IdCedis = @IdCedis and IdSurtido = @IdSurtidoEntrega and IdProducto = @IdProducto

			-- decrementar la columna de devolucion buena del producto en el kardex de inventario
			update InventarioKardex set DevBuena = DevBuena - @Surtido
			where IdCedis = @IdCedis and Fecha = @FechaEntrega and IdProducto = @IdProducto	

			FETCH NEXT FROM Consignas_Cursor
			into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		END

		CLOSE Consignas_Cursor
		DEALLOCATE Consignas_Cursor

		update Consignas set Status = @Status
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	

	End

	If @Status = 'S'	-- cuando se cancele la devolucion de una consigna
	Begin
		-- Elimina la factura de contado de cliente (IdTipoVenta 3)
		set @IdTipoVenta = 1

		-- Elimina los detalles de la factura
		delete 
		from	VentasDetalle 
		where	IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta 
				and Folio = @Folio and Serie = @Serie

		-- Elimina la factura
		delete 
		from	Ventas 
		where	IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta 
				and Folio = @Folio and Serie = @Serie

		-- Decrementa los movimientos del producto marcado como vendido
		DECLARE Consignas_Cursor CURSOR FOR
		select IdProducto, surtido, Devolucion, Venta, Precio, Iva from ConsignasDetalle where idCedis = @IdCedis and Idconsigna = @IdConsigna

		OPEN Consignas_Cursor;

		FETCH NEXT FROM Consignas_Cursor
		into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- decrementar el surtido del producto y venta de contado en la ruta que liquida la consigna
			update surtidosdetalle set Surtido = Surtido - @Surtido, VentaContado = VentaContado - @Venta
			where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdProducto = @IdProducto

			-- decrementar la columna de surtido y VentasContado del producto en el kardex de inventario
			update InventarioKardex set Surtido = Surtido - @Surtido, VentaContado = VentaContado - @Venta
			where IdCedis = @IdCedis and Fecha = @FechaDevolucion and IdProducto = @IdProducto	

			FETCH NEXT FROM Consignas_Cursor
			into @IdProducto, @Surtido, @Devolucion, @Venta, @Precio, @Iva
		END

		CLOSE Consignas_Cursor
		DEALLOCATE Consignas_Cursor

		--Actualiza la informacion de Ventas
		update Ventas set Subtotal = isnull((select sum(Cantidad * Precio) from VentasDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio ), 0), 
		Iva = isnull( (select sum(Cantidad * Precio * Iva) from VentasDetalle where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio ), 0)
		where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdTipoVenta = @IdTipoVenta and Folio = @Folio 

		--Estatus de la ruta
		if exists( select IdCedis from StatusLiquidacion where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdRuta = @IdRutaDevolucion and Fecha = @FechaDevolucion and Status = 'HH' )
		begin
			delete from StatusLiquidacion where IdCedis = @IdCedis and IdSurtido = @IdSurtidoDevolucion and IdRuta = @IdRutaDevolucion and Fecha = @FechaDevolucion and Status = 'VEN'
			insert into StatusLiquidacion values ( @IdCedis, @IdSurtidoDevolucion, @IdRutaDevolucion, @FechaDevolucion, 'VEN', 'Actualización de Ventas', getdate() )
		end

		-- Actualiza los valores de Venta y Devoluciones de los detalles de la consigna
		update ConsignasDetalle set Devolucion = 0, 
							Venta = 0
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	  

		-- Elimina los datos de Fecha, ruta y Surtido para comenzar el registro de las devoluciones y Actualiza el estatus de la consigna a "E Pendiente por Devolver"
		update Consignas set IdRutaDevolucion = null, 
							IdSurtidoDevolucion = null,
							Folio = null,
							serie = null,
							Status = 'E'
		where IdCedis = @IdCedis and IdConsigna = @IdConsigna	        
	End

end

if @Opc = 4
begin
	update ConsignasDetalle 
		set Devolucion = Surtido - Venta 
	where IdCedis = @IdCedis and IdConsigna = @IdConsigna and Surtido - (Devolucion + Venta) <> 0
end

