USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[up_CobranzaTerminal]    Script Date: 09/30/2010 09:11:59 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[up_CobranzaTerminal]
@IdCedis as bigint,
@Fecha as datetime,
@Login as varchar(20),
@Opc as int
AS

declare @IdMovimiento as bigint, @IdMovD as bigint
declare @Serie as varchar(20), @Folio as varchar(30), @Monto as money-- , @TotalFactura as money, @FechaFactura as datetime
declare @FolioC as varchar(40) 
declare @IdCliente as bigint, @IdSucursal as varchar(30), @UsuClave as varchar(30)

if @Opc = 1 -- inserta movimiento
begin

set @IdMovimiento = ( select isnull( max(IdMovimiento)+ 1, 1) from RouteCPC.dbo.Movimientos where IdCedis = @IdCedis )
insert into RouteCPC.dbo.Movimientos values 
(@IdCedis, @IdMovimiento, @Fecha, 'CT', 'A', 0, '', '', 'COBRANZA (Día ' + CAST(@Fecha as varchar(15)) + ')', 'P', @Login, GETDATE())
set @IdMovD = 1

declare @CursorMOV CURSOR
SET @CursorMOV = CURSOR SCROLL DYNAMIC FOR 

		select right(USU.Clave, 3), replace(Route.dbo.FNObtenerSoloNumeros(TRP.Folio),'-','') as Folio, sum(ABN.Total) as Total, TRP.Folio, USU.Clave
		from Route.dbo.AbnTrp ABT
		inner join Route.dbo.TransProd TRP on ABT.TransProdID = TRP.TransProdID 
		inner join Route.dbo.Abono ABN on ABT.ABNId = ABN.ABNId 
		inner join Route.dbo.Dia Dia on ABN.DiaClave = Dia.DiaClave
		inner join Route.dbo.Visita VIS on ABN.VisitaClave = VIS.VisitaClave
		inner join Route.dbo.Vendedor VEN on VEN.VendedorID = VIS.VendedorID
		inner join Route.dbo.Usuario USU on USU.USUId = VEN.USUId
		where Dia.FechaCaptura= @Fecha and USU.Clave in ( 
			select 'USER' + CAST(IdRuta as varchar(2)) from RouteADM.dbo.Rutas where IdCedis = @IdCedis) 
		and TRP.TipoFase <> 0 and (TRP.CFVTipo = 2 or TRP.CFVTipo is null)
		group by TRP.Folio, TRP.FechaCaptura, TRP.Total, USU.Clave 

OPEN @CursorMOV
FETCH NEXT FROM @CursorMOV INTO @Serie, @Folio, @Monto, @FolioC, @UsuClave
WHILE @@FETCH_STATUS = 0      
BEGIN
	--select @IdCedis, @Serie, @Folio 

	if exists(select Folio from Ventas where IdCedis = @IdCedis and Serie = @Serie and Folio = @Folio and IdTipoVenta = 2)
	begin
		insert into RouteCPC.dbo.MovimientosFacturas values 
		(@IdCedis, 2, @Serie, @Folio, @IdMovimiento, @Fecha, @IdMovD, 'CT', '1', 'A', '', '', @Monto, 0, 'A', 'Terminal', GETDATE())
	end
	else
	begin 
		if exists ( select Folio from Ventas where IdCedis = @IdCedis and FolioC = @FolioC ) 
		begin
			select @Serie = Serie, @Folio = Folio from Ventas where IdCedis = @IdCedis and FolioC = @FolioC 
			insert into RouteCPC.dbo.MovimientosFacturas values 
			(@IdCedis, 2, @Serie, @Folio, @IdMovimiento, @Fecha, @IdMovD, 'CT', '1', 'A', '', '', @Monto, 0, 'A', 'Terminal', GETDATE())
		end
		else
		begin
			select @IdSucursal = VIS.ClienteClave, @IdCliente = CTES.IdCliente 
			from ROUTE.dbo.TransProd TRP
			inner join Route.dbo.Dia Dia on TRP.DiaClave = Dia.DiaClave
			inner join Route.dbo.Visita VIS on TRP.VisitaClave = VIS.VisitaClave
			inner join Route.dbo.Vendedor VEN on VEN.VendedorID = VIS.VendedorID
			inner join Route.dbo.Usuario USU on USU.USUId = VEN.USUId 
			inner join RouteADM.dbo.ClienteSucursal CTES on CTES.IdCedis = @IdCedis and CTES.IdSucursal = VIS.ClienteClave 
			where Folio = @FolioC and TRP.CFVTipo is null and TRP.TipoFase <> 0 and USU.Clave = @UsuClave 
		
			if not exists (select FolioC from Ventas where IdCedis = @IdCedis and FolioC = @FolioC and Serie = 'C' + @Serie)
				insert into Ventas values (@IdCedis, 2, Route.dbo.FNObtenerSoloNumeros(@FolioC), 'C' + @Serie, @Fecha, @IdCliente, @Monto, 0, 0, 0, 0, @IdSucursal, 1, @FolioC, '', 'SNoReg', GETDATE())
			else
			begin 
				update Ventas set Subtotal = Subtotal + @Monto where IdCedis = @IdCedis and FolioC = @FolioC and Serie = 'C' + @Serie
			end
			
			insert into RouteCPC.dbo.MovimientosFacturas values 
			(@IdCedis, 2, 'C' + @Serie, Route.dbo.FNObtenerSoloNumeros(@FolioC), @IdMovimiento, @Fecha, @IdMovD, 'CT', '1', 'A', '', '', @Monto, 0, 'A', 'Terminal', GETDATE())
		end
	end
	
	set @IdMovD = @IdMovD + 1
	FETCH NEXT FROM @CursorMOV INTO @Serie, @Folio, @Monto, @FolioC, @UsuClave
END
CLOSE @CursorMOV  
DEALLOCATE @CursorMOV

end


