/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
  padding-bottom: 9px;
  margin: 0 0 0;
  border-bottom: 0px solid #eb9316;
  background-color: #eb9316;
  background-image: linear-gradient(to bottom, #ff4d4d 0%, #660000 100%);
}

.container 
{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
 
}

.container-otpions-table 
{   
   padding-right: 0;
   padding-left: 0;
   margin-left: auto;
   margin-right: auto;
   width: 94%;
   
   
}

.container-left 
{
   display: block;
   float: left;
   margin-left: 0;
   width: 50%;
}

.container-right 
{
   display: block;
   float: right;
   margin-right: 0;
   width: 50%;
}

.container-left-filter
{
   display: block;
   float: left;
   margin-left: 0;
   width: 50%;
   height:30px
}

.container-right-filter 
{
   display: block;
   float: right;
   margin-right: 0;
   width: 50%;
   height:30px
}


.table > thead > tr > th.lenovo,
.table > tbody > tr > th.lenovo,
.table > tfoot > tr > th.lenovo,
.table > thead > tr.lenovo > th,
.table > tbody > tr.lenovo > th,
.table > tfoot > tr.lenovo > th {  
  background-color: #eb9316;
  color: White;
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
}

.link-logon {
    display:block;
    float:right;
    margin-right: 10px;
    margin-top: 20px;
    font-size: medium;
}

a.link-logon {  color: white }
a.link-logon:active { color: white }
a.link-logon:link { color: white }
a.link-logon:visited { color: white }

.col-lg-options
{
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 66.66666666666666%;
    }

.col-lg-1
{
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 12.35%;
    }
    
.col-lg-0
{
    position: relative;
  float: left;
    }
    
.col-lg-no-label
{
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 20.5%;
    }

.text-side-right
{
    position: relative;
   display: block;
   float: right;
   margin-left: 10px;
   font-size: xx-large;
}

.text-side-left
{
   display: block;
   float: left;
   margin-left: 10px;
   font-size: xx-large;
}

.image-link
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    vertical-align: middle;
}

.text-link
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    font-size: medium;
    /*color: darkslategray;*/
}

.text-menu {
   font-size: medium;
}

.navbar-inverse {
    padding-left: 0em;
    margin-bottom: 0px;
    margin-left:0px;
    border-radius: 0px;
    border-bottom: 0px solid #404040;
    background-color: #404040;
    background-image: linear-gradient(to bottom, #666666 0%, #000000 100%);
}

.text-label {
   font-size: small;
   font-weight: normal;
}

.btn-default {   
   color: darkslategray;
   text-decoration: none;
}


.text-login
{
    display:block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: medium;
    /*color: darkslategray;*/
}

.filter-width {
    width: 300px;
}

.panel-heading-top  {  
  background-color: #eb9316;
  color: White;
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
}
