#page-content-wrapper {
    margin-top: 25px;
    min-width: 100%;
    max-height: 95%;
}

.Header-Label {
    background: rgb(179,0,0);
    color: white;
    border-radius: 20px;
    padding-left: 20px;
}

#ActionLink {
    padding-left: 20px;
    float: left;
}

dir-pagination-controls ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#items {
    margin-top: 0px;
    margin-left: -15px;
    overflow-x: auto;
    height: 50%;
}

#Header-table {
    background: rgb(179,0,0);
    color: #ffffff;
    font-weight: 900;
}

table thead tr, tbody tr {
    white-space: nowrap;
}

table thead tr {
    text-align: center;
}

.nav-tabs {
    border-bottom: 1px solid #f7f7f7;
    background: none;
    padding: 9px 10px 1px 0px;
}

    .nav-tabs > li {
        background: rgb(179, 100, 90);
        color: white;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: white;
            background-color: rgb(179, 0, 0);
            font-weight: 600;
        }

.tab-pane .panel {
    background: transparent;
}

.error-message {
    padding-left: 15px;
    font-size: 12px;
}
