
@{
    ViewBag.Title = "eRoute Cloude";
    Layout = "~/Views/Menu/Index.cshtml";
}


<article style="margin-left:10px">
    <div class="container">
        <h1>eRoute Cloude Versión 1.0.0</h1>
        <p></p>
    </div>

    <div class="container">
        <table>
            <tr>
                
                <th style="font-size:xx-large"><b>Modulo no implementado</b></th>
            </tr>
        </table>
    </div>

    <hr />

    <p style="font-size:small">
        Modulo en construcción...
    </p>

    <p style="font-size:small">
        Copyright &copy; 2016 Duxstar Solutions
    </p>

    <hr />
</article>
       
