USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_Sucursales]    Script Date: 07/13/2010 16:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[up_Sucursales]
@IdCedis as bigint,
@IdRuta as int,
@IdCliente as bigint,
@IdSucursal as varchar(16),
@TDA_GLN as varchar(20),
@NombreSucursal as varchar(75),
@Calle as varchar(250),
@NumExterior as varchar(20),
@NumInterior as varchar(20),
@Colonia as varchar(100),
@Localidad as varchar(100),
@Poblacion as varchar(100),
@Entidad as varchar(100),
@Pais as varchar(100),
@Telefonos as varchar(100),
@CP as varchar(7),
@RFC as varchar(20),
@RazonSocial as varchar(200),
@CalleF as varchar(250),
@NumExteriorF as varchar(20),
@NumInteriorF as varchar(20),
@ColoniaF as varchar(100),
@LocalidadF as varchar(100),
@PoblacionF as varchar(100),
@EntidadF as varchar(100),
@PaisF as varchar(100),
@TelefonosF as varchar(100),
@CPF as varchar(7),
@CodigoBarras as varchar(50),
@FormaVenta as varchar(1),
@Status as varchar(1),
@IdClienteNuevo as bigint,
@Contacto as varchar(64),
@DiasCredito as int,
@LimiteCredito as money,
@Opc as int
AS

if @Opc = 1
begin
	
	--set @IdSucursal = (select isnull(max(IdSucursal),0)+1 as MaxIdsucursal from ClienteSucursal where IdCedis = @IdCedis and IdCliente = @IdCliente and IdCliente <> IdSucursal )
	
	--declare @SiguienteSucursal as int

	--set @SiguienteSucursal = (	SELECT     isnull(max(CAST(SUBSTRING(IdSucursal, 6, 4) AS int)),0) +1 AS Secuencia
	--				FROM         ClienteSucursal
	--				WHERE      (IdCedis = @IdCedis) AND (LEN(IdSucursal) = 9) AND 
	--					(CAST(SUBSTRING(IdSucursal, 3, 3) AS int) = @IdRuta) and 
	--					(CAST(SUBSTRING(IdSucursal, 6, 4) AS int) <> '999'))
	--set @IdSucursal = 	replicate('0', 2 - len(cast(@IdCedis as varchar(2)))) + cast(@IdCedis as varchar(2)) + 
	--			replicate('0', 3 - len(cast(@IdRuta as varchar(3)))) + cast(@IdRuta as varchar(3)) + 
	--			replicate('0', 4 - len(cast(@SiguienteSucursal as varchar(4)))) + cast(@SiguienteSucursal as varchar(3))

        	--Select @IdCedis, @IdCliente, @IdSucursal, @TDA_GLN, @NombreSucursal, @Calle, 
	--	@NumExterior, @NumInterior, @Colonia, @CP, @Ciudad, @Estado, @Telefonos, @RFCSucursal, @RazonSocial, @CodigoBarras, @FormaVenta, @Status

        	insert into ClienteSucursal values (@IdCedis, @IdCliente, @IdSucursal, @TDA_GLN, @NombreSucursal, 
		@Calle, @NumExterior, @NumInterior, @Colonia, @Localidad, @Poblacion, @Entidad, @Pais, @Telefonos, @CP, 
		@RFC, @RazonSocial, 
		@CalleF, @NumExteriorF, @NumInteriorF, @ColoniaF, @LocalidadF, @PoblacionF, @EntidadF, @PaisF, @TelefonosF, @CPF, 
		@CodigoBarras, @FormaVenta, @Status, @Contacto, @DiasCredito, @LimiteCredito)
end

if @Opc = 2
begin
	update 	ClienteSucursal 
	set 	TDA_GLN = @TDA_GLN, NombreSucursal = @NombreSucursal, 
		Calle = @Calle, NumExterior = @NumExterior, numInterior = @NumInterior, Colonia = @Colonia, Localidad = @Localidad, Poblacion = @Poblacion, Entidad = @Entidad, Pais = @Pais, Telefonos = @Telefonos, CP = @CP, 
		CalleF = @CalleF, NumExteriorF = @NumExteriorF, numInteriorF = @NumInteriorF, ColoniaF = @ColoniaF, LocalidadF = @LocalidadF, PoblacionF = @PoblacionF, EntidadF = @EntidadF, PaisF = @PaisF, TelefonosF = @TelefonosF, CPF = @CPF, 
		RFC = @RFC, RazonSocial = @RazonSocial, CodigoBarras = @codigoBarras, FormaVenta = @FormaVenta, Status = @Status, Contacto = @Contacto,
		DiasCredito = @DiasCredito, LimiteCredito = @LimiteCredito
    where 	IdCedis = @IdCedis and IdCliente = @IdCliente and IdSucursal = @IdSucursal
end

if @Opc = 3
begin
    update 	ClienteSucursal 
	set 	Status = 'B' 
	where 	IdCedis = @IdCedis and IdCliente = @IdCliente and IdSucursal = @IdSucursal
end

if @Opc = 4
begin
    update 	ClienteSucursal 
	set 	IdCliente = @IdClienteNuevo
	where 	IdCedis = @IdCedis and IdCliente = @IdCliente and IdSucursal = @IdSucursal
end

