USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[sel_VentasAcredita]    Script Date: 07/15/2010 13:32:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[sel_VentasAcredita] 
@IdCedis as bigint,
@IdSurtido as bigint,
@IdTipoVenta as bigint,
@Serie as varchar(5),
@Folio as bigint,
@Opc as int

AS

if @Opc = 1
	select IdCedis, IdSurtido, FechaAcredita, Login, FechaEntrega, FolioEntrega, Observaciones 
	from VentasAcredita 
	where VentasAcredita.IdCedis = @IdCedis and VentasAcredita.IdSurtido = @IdSurtido and VentasAcredita.IdTipoVenta = @IdTipoVenta 
		and VentasAcredita.Serie = @Serie and VentasAcredita.Folio = @Folio 

