USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_VentasAcredita]    Script Date: 07/15/2010 13:37:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_VentasAcredita] 
@IdCedis as bigint,
@IdSurtido as bigint,
@IdTipoVenta as int,
@Folio as bigint,
@Serie as varchar(5),
@FechaAcredita as datetime,
@Login as varchar(16),
@FechaEntrega as datetime,
@FolioEntrega as varchar(16),
@Observaciones as varchar(2000),
@Opc as int

AS

if @Opc = 1 -- Inserta Factura Nueva
begin
	insert into VentasAcredita values (@IdCedis, @IdSurtido, @IdTipoVenta, @Folio, @Serie, GETDATE(), @FechaAcredita, 
		@Login, @FechaEntrega, @FolioEntrega, @Observaciones)	
end

