USE [RouteCPC]
GO
/****** Object:  StoredProcedure [dbo].[up_UsuariosClientes]    Script Date: 07/15/2010 16:16:50 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UsuariosClientes]
@Login as varchar(20),
@IdCedis as bigint,
@IdCliente as bigint,
@Opc as int
AS

if @Opc = 1 
begin
	delete from UsuariosClientes where Login = @Login and IdCedis = @IdCedis and IdCliente = @IdCliente 
	insert into UsuariosClientes values (@Login, @IdCedis, @IdCliente)
end

if @Opc = 2
begin
	delete from UsuariosClientes where Login = @Login and IdCedis = @IdCedis and IdCliente = @IdCliente 
end
