USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_Usuarios]    Script Date: 11/04/2010 12:41:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




ALTER PROCEDURE [dbo].[up_Usuarios] 
@IdCedis as bigint,
@Login as varchar(20),
@Password as varchar(10),
@Nombre as varchar(200),
@ApPaterno as varchar(200),
@ApMaterno as varchar(200),
@Status as char(1),
@Opc as int
AS


if @Opc = 1
	begin
		insert into [dbo].[Usuarios](IdCedis,Login,Password,Nombre,ApPaterno,ApMaterno,TipoUsuario,Status)
		values (@IdCedis, @Login,  dbo.FNCrypt(@Password), @Nombre, @ApPaterno, @ApMaterno, 1, 'A')
	end
	
if @Opc = 2
	begin
		if @Password<>''
			begin
				update Usuarios set
					password = dbo.FNCrypt(@Password),
					Nombre = @Nombre,
					ApPaterno = @ApPaterno,
					ApMaterno = @ApMaterno,
					Status = @Status
				where IdCedis = @IdCedis and Login = @Login
			 end
		else
			begin
				update Usuarios set
					Nombre = @Nombre,
					ApPaterno = @ApPaterno,
					ApMaterno = @ApMaterno,
					Status = @Status
				where IdCedis = @IdCedis and Login = @Login				
			end
	end

if @Opc = 3
	begin
		update Usuarios set Status = 'B' where IdCedis = @IdCedis and Login = @Login
	end

if @Opc = 4
	select dbo.FNCrypt(@Password) from Usuarios where IdCedis = @IdCedis and Login = @Login




