USE [RouteADM]
GO
/****** Object:  Trigger [dbo].[tgRouteU_Usuarios]    Script Date: 11/08/2010 12:47:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[tgRouteU_Usuarios] ON [dbo].[Usuarios] 
FOR INSERT, UPDATE


AS

--Interfaz con Route
--Inserta
if not exists(select Top 1 Login from Deleted)
begin
INSERT INTO Route.dbo.Usuario
	select Login as USUID, 
		'Usuario' as PERCLAVE,
		Login as CLAVE, 
		Nombre + ' ' + ApPaterno + ' ' + ApMaterno as NOMBRE,
		Password as CLAVEACCESO,
		'0' as DIASLIMITE,
		getdate() as FECHAMOD,
		'0' as TIPO,
		case status when 'A' then '1' else '0' end as ACTIVO,
		getdate() as FECHAMOD,
		'Interfaz' as MUSUARIOID
	from Inserted where Login not in (select Usuid from ROUTE.dbo.Usuario)
end

--Actualiza
if exists(select Top 1 Login from Deleted) and exists(select Top 1 Login from Inserted) 
begin
UPDATE ROUTE.dbo.Usuario
	set ClaveAcceso = Inserted.Password,
	Nombre = Inserted.Nombre+' '+Inserted.ApPaterno+' '+Inserted.ApMaterno,
	Activo = case Inserted.Status when 'A' then '1' else '0' end
	from Inserted
	where ROUTE.dbo.Usuario.Clave = Inserted.Login
end

--Interfaz con RouteCPC
--Inserta
if not exists(select Top 1 Login from Deleted)
begin
INSERT INTO RouteCPC.dbo.Usuarios
	select Login as LOGIN, 
		999 as IDCEDIS,
		Password as PASSWORD, 
		Nombre as NOMBRE, 
		ApPaterno as APPATERNO, 
		ApMaterno as APMATERNO,
		TipoUsuario as TIPOUSUARIO,
		Status as STATUS
	from Inserted where Login not in (select Login from ROUTECPC.dbo.Usuarios)
end 
	
--Actualiza
if exists(select Top 1 Login from Deleted) and exists(select Top 1 Login from Inserted) 
begin
UPDATE ROUTECPC.dbo.Usuarios
	set Password = Inserted.Password,
	Nombre = Inserted.Nombre,
	ApPaterno = Inserted.ApPaterno,
	ApMaterno = Inserted.ApMaterno,
	Status = Inserted.Status
	from Inserted
	where ROUTECPC.dbo.Usuarios.Login = Inserted.Login
end
