USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_FacturasImpresion]    Script Date: 10/02/2010 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[up_FacturasImpresion] 
@Filtro as varchar(5000),
@FolioImpresion as varchar(20),
@Opc as int

AS

if @Opc = 1
begin
	exec ( ' insert into VentasFacturadas
		select IdCedis, IdSurtido, IdTipoVenta, Folio, Serie, ''S'', getdate(), ''' + @FolioImpresion + '''   
		from Ventas
		where ' + @Filtro + ' 
			and Ventas.Folio not in (select Folio from VentasFacturadas where VentasFacturadas.IdCedis = Ventas.IdCedis and VentasFacturadas.IdTipoVenta = Ventas.IdTipoVenta
			and VentasFacturadas.IdSurtido = Ventas.IdSurtido and VentasFacturadas.Folio = Ventas.Folio ) ') 

end

