
/*
exec up_ModeloOrienteEnvase 3, '20100507'

select * 
from RepModeloOrienteEnvase 
*/


select PRD.ProductoDetClave, sum(Teorico * PRD.Factor) 
from InventarioKardex 
inner join Route.dbo.ProductoDetalle PRD on IdProducto = cast(PRD.ProductoClave as int) and IdProducto <> PRD.ProductoDetClave and cast(PRD.ProductoDetClave as int) = 30 
where IdCedis = 3 and Fecha = '20100507' 
group by PRD.ProductoDetClave