<div id="SeleccionarRutaBox" class="modal fade">
    <div class="modal-dialog" id="R">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="RUTClave=RUTDescripcion=Buscar=''"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{translation.ERMRUTESC_IGeneral}}</h2>
            </div>

            <div class="row datos-Rutas">
                <div class="col-md-4">
                    <div class="Rutas-bloque">
                        <div class="row">
                            <div class="col-md-3">
                                <span><b>{{translation.RUTRUTClave}}</b> :</span>
                            </div>
                            <div class="col-md-9">
                                <span> {{RutClave}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span><b>{{translation.RUTDescripcion}}</b> :</span>
                            </div>
                            <div class="col-md-9">
                                <span> {{RutDescripcion}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- dialog body -->
            <div class="scroll modal-body" ng-init="ObtenerRutas()">
                <form role="form">
                    <div class="container">

                        <!--Buscar-->
                        <div class="col-md-12 form-group" style="padding-right:50%;">
                            <input type="text" name="Buscar" ng-model="Buscar" class="form-control" placeholder="Buscar Ruta..." />
                        </div>

                        <!--Tabla-->
                        <div class="col-md-12 form-group" style="padding-right:0px;">
                            <table class="table table-bordered">
                                <tr>
                                    <td>{{translation.RUTRUTClave}}</td>
                                    <td>{{translation.RUTDescripcion}}</td>
                                    <td>{{translation.RUTTipo}}</td>
                                    <td>{{translation.RUTTipoEstado}}</td>
                                </tr>
                                <tr ng-repeat="x in RutList | filter:Buscar" ng-click="Seleccion(x.RUTClave, x.Descripcion, x.Tipo)">
                                    <td>{{x.RUTClave}}</td>
                                    <td>{{x.Descripcion}}</td>
                                    <td>{{x.Tipo}}</td>
                                    <td>{{x.TipoEstado}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <!-- dialog buttons -->
            <div class="modal-footer" >                
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ValidarClaveCombo(); Buscar=''">{{translation.BTAceptar}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="RutTipo=RutDescripcion=RutClave=Buscar=''">{{translation.BTCancelar}}</button>
            </div>
        </div>
    </div>
</div>
