USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_Rutas]    Script Date: 07/17/2010 14:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[up_Rutas]
@IdCedis as bigint,
@IdRuta as bigint,
@Ruta as varchar(100),
@TipoRutas bigint,
@TipoVenta as varchar(20),
@Fecha  as datetime,
@Opc as int
AS

if @Opc = 1
begin
        -- set @IdRuta = isnull((Select max(IdRuta) from Rutas where IdCedis = @IdCedis)+1,1)        
        insert into Rutas values (@IdCedis, @IdRuta, @Ruta, @TipoRutas, @TipoVenta, @Fecha, 'A')
end

if @Opc = 2
        update Rutas set Ruta=@Ruta, TipoRuta=@TipoRutas, TipoVenta = @TipoVenta, Status = 'A' where IdRuta = @IdRuta and IdCedis = @IdCedis


if @Opc = 3
        update Rutas set Status = 'B' where IdRuta = @IdRuta and IdCedis = @IdCedis
