USE [RouteCPC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_SaldosPorFechaS]    Script Date: 06/26/2010 11:28:35 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[FN_SaldosPorFechaS]
(
	@IdCedis as bigint,
	@FechaInicial as Datetime, 
	@FechaFinal as Datetime
)  


RETURNS Table 

AS  

	Return
	(
			select Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, Ventas.Fecha + Ventas.DiasVencimiento as FechaVencimiento, Ventas.IdSucursal, 
			
			isnull( (select sum(Vtas.Total) from Ventas as Vtas where Vtas.IdCedis = Ventas.IdCedis and Vtas.IdTipoVenta = Ventas.IdTipoVenta and 
			Vtas.Serie = Ventas.Serie and Vtas.Folio = Ventas.Folio and Vtas.Fecha < @FechaInicial ), 0)  +
			isnull(( select sum(MC.Total) from MovimientosFacturas as MC where MC.IdCedis = Ventas.IdCedis and MC.IdTipoVenta = Ventas.IdTipoVenta and 
			MC.Serie = Ventas.Serie and MC.Folio = Ventas.Folio and MC.Status <> 'B' and MC.CargoAbono = 'C' and MC.Fecha < @FechaInicial ), 0) -
			isnull(( select sum(MA.Total) from MovimientosFacturas as MA where MA.IdCedis = Ventas.IdCedis and MA.IdTipoVenta = Ventas.IdTipoVenta and 
			MA.Serie = Ventas.Serie and MA.Folio = Ventas.Folio and MA.Status <> 'B' and MA.CargoAbono = 'A' and MA.Fecha < @FechaInicial ), 0) as SaldoInicial, 
			
			isnull( (select sum(Vtas.Total) from Ventas as Vtas where Vtas.IdCedis = Ventas.IdCedis and Vtas.IdTipoVenta = Ventas.IdTipoVenta and 
			Vtas.Serie = Ventas.Serie and Vtas.Folio = Ventas.Folio and Vtas.Fecha between @FechaInicial and  @FechaFinal), 0) as Monto, 
			isnull(( select sum(MC.Total) from MovimientosFacturas as MC where MC.IdCedis = Ventas.IdCedis and MC.IdTipoVenta = Ventas.IdTipoVenta and 
			MC.Serie = Ventas.Serie and MC.Folio = Ventas.Folio and MC.Status <> 'B' and MC.CargoAbono = 'C' and MC.Fecha between @FechaInicial and  @FechaFinal ), 0) as Cargos, 
			isnull(( select sum(MA.Total) from MovimientosFacturas as MA where MA.IdCedis = Ventas.IdCedis and MA.IdTipoVenta = Ventas.IdTipoVenta and 
			MA.Serie = Ventas.Serie and MA.Folio = Ventas.Folio and MA.Status <> 'B' and MA.CargoAbono = 'A' and MA.Fecha between @FechaInicial and  @FechaFinal ), 0) as Abonos,
			
			( isnull( (select sum(Vtas.Total) from Ventas as Vtas where Vtas.IdCedis = Ventas.IdCedis and Vtas.IdTipoVenta = Ventas.IdTipoVenta and 
			Vtas.Serie = Ventas.Serie and Vtas.Folio = Ventas.Folio and Vtas.Fecha < @FechaInicial ), 0)  +
			isnull(( select sum(MC.Total) from MovimientosFacturas as MC where MC.IdCedis = Ventas.IdCedis and MC.IdTipoVenta = Ventas.IdTipoVenta and 
			MC.Serie = Ventas.Serie and MC.Folio = Ventas.Folio and MC.Status <> 'B' and MC.CargoAbono = 'C' and MC.Fecha < @FechaInicial ), 0) -
			isnull(( select sum(MA.Total) from MovimientosFacturas as MA where MA.IdCedis = Ventas.IdCedis and MA.IdTipoVenta = Ventas.IdTipoVenta and 
			MA.Serie = Ventas.Serie and MA.Folio = Ventas.Folio and MA.Status <> 'B' and MA.CargoAbono = 'A' and MA.Fecha < @FechaInicial ), 0) ) +
			
			( isnull( (select sum(Vtas.Total) from Ventas as Vtas where Vtas.IdCedis = Ventas.IdCedis and Vtas.IdTipoVenta = Ventas.IdTipoVenta and 
			Vtas.Serie = Ventas.Serie and Vtas.Folio = Ventas.Folio and Vtas.Fecha between @FechaInicial and  @FechaFinal), 0) +
			isnull(( select sum(MC.Total) from MovimientosFacturas as MC where MC.IdCedis = Ventas.IdCedis and MC.IdTipoVenta = Ventas.IdTipoVenta and 
			MC.Serie = Ventas.Serie and MC.Folio = Ventas.Folio and MC.Status <> 'B' and MC.CargoAbono = 'C' and MC.Fecha between @FechaInicial and  @FechaFinal ), 0) -
			isnull(( select sum(MA.Total) from MovimientosFacturas as MA where MA.IdCedis = Ventas.IdCedis and MA.IdTipoVenta = Ventas.IdTipoVenta and 
			MA.Serie = Ventas.Serie and MA.Folio = Ventas.Folio and MA.Status <> 'B' and MA.CargoAbono = 'A' and MA.Fecha between @FechaInicial and  @FechaFinal ), 0) ) as Saldo
			
			
			from Ventas 
			
			where Ventas.Fecha <= @FechaFinal and Ventas.IdCedis = @IdCedis -- and Ventas.Fecha < @FechaInicial	
			group by Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, Ventas.DiasVencimiento, Ventas.IdSucursal
	)
