USE [RouteCPC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_BalanzaDetalladaM]    Script Date: 07/08/2010 11:19:49 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[FN_BalanzaDetalladaM]
(
	@IdCedis as bigint,
	@FechaInicial as Datetime, 
	@FechaFinal as Datetime,
	@IdMarca as bigint
)  


RETURNS Table 


AS  

	Return
	(
		select -1 as Orden, Ventas.IdCedis, 0 as IdTipoVenta, '' as Serie, 0 as Folio, '01/01/1900' as Fecha, Ventas.IdSucursal, 
		0 as IdMovimiento, '' as IdDocumento, '' as IdTipoDocumento, 
		isnull( (select sum(SaldoInicial) from FN_SaldosPorFechaS(@IdCedis, @FechaInicial, @FechaFinal) where Ventas.IdCedis = FN_SaldosPorFechaS.IdCedis 
			and Ventas.IdSucursal = FN_SaldosPorFechaS.IdSucursal and FN_SaldosPorFechaS.IdMarca = @IdMarca), 0) as Inicial, 
		0 as Cargos, 0 as Abonos, @IdMarca as IdMarca
		from Ventas 
		where Ventas.IdCedis = @IdCedis and Ventas.Fecha < @FechaInicial and Ventas.IdMarca = @IdMarca
		group by Ventas.IdCedis, Ventas.IdSucursal
		
		union
		select 0 as Orden, Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, Ventas.IdSucursal, 
		0 as IdMovimiento, '' as IdDocumento, '' as IdTipoDocumento, 0 as Inicial, 
		-- isnull( (select sum(SaldoInicial) from FN_SaldosPorFecha(@IdCedis, @FechaInicial, @FechaFinal) where Ventas.IdCedis = FN_SaldosPorFecha.IdCedis and Ventas.IdSucursal = FN_SaldosPorFecha.IdCliente ), 0) as Inicial, 
		Ventas.Total as Cargos, 0 as Abonos, Ventas.IdMarca
		from Ventas 
		where Ventas.IdCedis = @IdCedis and Ventas.Fecha between @FechaInicial and @FechaFinal and Ventas.IdMarca = @IdMarca -- between @FechaInicial and @FechaFinal-- and Ventas.Folio = 22248811
		
		union 
		select 1 as Orden, Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, Ventas.IdSucursal, 
		MC.IdMovimiento as IdMovimiento, MC.IdDocumento as IdDocumento, MC.IdTipoDocumento as IdTipoDocumento,
		0 as Inicial, MC.Total as Cargos, 0 as Abonos, Ventas.IdMarca
		from Ventas 
		inner join MovimientosFacturas as MC on MC.IdCedis = Ventas.IdCedis and MC.IdTipoVenta = Ventas.IdTipoVenta and MC.Serie = Ventas.Serie and MC.Folio = Ventas.Folio 
		and MC.Status <> 'B' and MC.CargoAbono = 'C' and MC.Fecha between @FechaInicial and  @FechaFinal
		where Ventas.Fecha <= @FechaFinal and Ventas.IdCedis = @IdCedis and Ventas.IdMarca = @IdMarca
		-- group by Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, Ventas.IdSucursal
		
		union
		select 2 as Orden, Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, Ventas.IdSucursal, 
		MA.IdMovimiento as IdMovimiento, MA.IdDocumento as IdDocumento, MA.IdTipoDocumento as IdTipoDocumento,
		0 as Inicial, 0 as Cargos, MA.Total as Abonos, Ventas.IdMarca
		from Ventas 
		inner join MovimientosFacturas as MA on MA.IdCedis = Ventas.IdCedis and MA.IdTipoVenta = Ventas.IdTipoVenta and MA.Serie = Ventas.Serie and MA.Folio = Ventas.Folio 
		and MA.Status <> 'B' and MA.CargoAbono = 'A' and MA.Fecha between @FechaInicial and  @FechaFinal
		where Ventas.Fecha <= @FechaFinal and Ventas.IdCedis = @IdCedis and Ventas.IdMarca = @IdMarca
		-- group by Ventas.IdCedis, Ventas.IdTipoVenta, Ventas.Serie, Ventas.Folio, Ventas.Fecha, Ventas.IdSucursal
		
	)
