<div id="MsgBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="lblMsgTitulo"></h2>
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <form role="form">
                    <div class="container">
                        <div class="form-group">
                            <label id="lblMsgMensaje" class="control-label text-label"></label>
                        </div>
                    </div>
                </form>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                @*<button type="button" class="btn btn-default" data-dismiss="modal">{{translation.BTAceptar}}</button>*@
            </div>
        </div>
    </div>
</div>
