USE [RouteADM]
GO
/****** Object:  StoredProcedure [dbo].[up_InvFisico]    Script Date: 09/22/2010 16:01:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[up_InvFisico]
@IdCedis as bigint,
@Fecha as datetime,
@IdProducto as bigint,
@Cantidad as float
AS

declare @exist as bigint

if @IdProducto > 0
begin

	set @exist = isnull((Select IdProducto from InventarioFisico where  IdProducto = @IdProducto  and IdCedis = @IdCedis and Fecha = @Fecha),0)
	
	if @exist=0 
		insert into InventarioFisico values (@IdCedis, @Fecha, @IdProducto, @Cantidad, 'P', 'N')
	else
		update InventarioFisico set Cantidad = @Cantidad, Status = 'P'
		where IdProducto = @IdProducto  and IdCedis = @IdCedis and Fecha = @Fecha

	-- Actualiza Kardex
	update InventarioKardex set InventarioKardex.Fisico = isnull( (select InventarioFisico.Cantidad 
	from InventarioFisico where InventarioFisico.IdCedis = @IdCedis and InventarioFisico.Fecha = @Fecha and InventarioFisico.IdProducto = InventarioKardex.IdProducto), 0 )
	where InventarioKardex.IdCedis =@IdCedis and InventarioKardex.Fecha = @Fecha and InventarioKardex.IdProducto = @IdProducto

end

if @IdProducto = 0
begin
	-- Actualiza Kardex
	update InventarioKardex set InventarioKardex.Fisico = isnull( (select InventarioFisico.Cantidad 
	from InventarioFisico where InventarioFisico.IdCedis = @IdCedis and InventarioFisico.Fecha = @Fecha and InventarioFisico.IdProducto = InventarioKardex.IdProducto), 0 )
	where InventarioKardex.IdCedis =@IdCedis and InventarioKardex.Fecha = @Fecha
	
	-- Actualiza el estatus del documento
	update InventarioFisico set Status = 'A' where IdCedis = @IdCedis and Fecha = @Fecha
end

if @IdProducto = -1
begin
	update InventarioKardex set InventarioKardex.Fisico = 0
	where InventarioKardex.IdCedis =@IdCedis and InventarioKardex.Fecha = @Fecha

	delete from InventarioFisico where IdCedis = @IdCedis and Fecha = @Fecha
end

if @IdProducto = -2
begin
	insert into InventarioFisico 
	select @IdCedis, @Fecha, IdProducto, Teorico, 'P', 'N'
	from InventarioKardex 
	where IdCedis = @IdCedis and Fecha = @Fecha and Teorico > 0

	update InventarioKardex set InventarioKardex.Fisico = isnull( (select InventarioFisico.Cantidad 
	from InventarioFisico where InventarioFisico.IdCedis = @IdCedis and InventarioFisico.Fecha = @Fecha and InventarioFisico.IdProducto = InventarioKardex.IdProducto), 0 )
	where InventarioKardex.IdCedis =@IdCedis and InventarioKardex.Fecha = @Fecha
end