@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/puntosRecorridoController.js"></script>
<link href="~/Views/Menu/css/filter.css" rel="stylesheet" />
<div ng-controller="puntosRecorridoController as ctrl" ng-init="EstablecerReporte('@ViewBag.VAVClave')">    
    <div>
        <h4> {{ctrl.titulo}} </h4>
        <div class="row" style="margin-top:30px;margin-left:0px;">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 list-margin">
                Rutas
                <div class="">
                    <md-input-container md-no-float class="md-block">
                        <input ng-model="queryRoute" type="text" style="width:90%;margin-left:10px;" placeholder="Búsqueda">
                    </md-input-container>
                    <md-checkbox style="margin-left:4px;" ng-disabled="RoutesSelectallCheckBox" ng-model="selectAll" ng-click="ctrl.SelectAllChekboxesAllRoutes(selectAll)" ng-change="ctrl.ClearSellersCheckBoxes()">Seleccionar todos</md-checkbox>
                    <md-divider></md-divider>
                    <md-list ng-cloak style="max-height:310px;overflow-y:auto;margin-left:-16px;">
                        <md-list-item ng-repeat="route in ctrl.GetAllRoutes | filter:queryRoute">
                            <md-checkbox ng-disabled="route.Disabled" ng-model="route.Checked" ng-change="ctrl.ClearSellersCheckBoxes()"></md-checkbox>
                            <p> {{ route.RUTClave }} | {{route.Descripcion}} </p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                <md-input-container style="margin-top:5px; width:150px;">
                    <label>Rango</label>
                    <md-select ng-model="ctrl.State" ng-change="ctrl.OnSelectChange(ctrl.State)">
                        <md-option ng-repeat="state in ctrl.dateState" value="{{state.Descripcion}}">
                            {{state.Descripcion}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <md-datepicker style=" background-color: #f7f7f7 !important;" ng-model="ctrl.date1" md-placeholder="Fecha" md-max-date="ctrl.minDate" onkeydown="return false"></md-datepicker>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <md-datepicker ng-show="ctrl.showSelect" style=" background-color: #f7f7f7 !important;" ng-model="ctrl.date2" md-placeholder="Fecha" md-max-date="ctrl.minDate" onkeydown="return false"></md-datepicker>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.selectedItem.value, ctrl.dateState, ctrl.GetAllRoutes, ctrl.sellers,ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right" style="background-color:#E51500; color:white;font-weight:bold;">Generar reporte</md-button>
            </div>
        </div>
    </div>
</div>
