@{
    ViewBag.Title = "eRoute";
    Layout = "~/Views/Menu/Index.cshtml";
}

<script src="~/Controllers/js/controllers/r266ListaDePreciosGenericoController.js"></script>
<link href="~/Assets/CSS/StyleReports.css" rel="stylesheet" />

<div ng-controller="r266ListaDePreciosGenericoController as ctrl" ng-init="EstablecerReporte('@ViewBag.VAVClave')">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="background-color:#B40002; border-radius:15px;">
                <div class="panel-heading" style="background-color:#B40002; color:white; border-radius:15px;">
                    <h4> {{ctrl.titulo}} </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default Panel-Default-Filter">
                <div class="panel-heading Panel-Filter">
                    Lista De Precios
                </div>
                <div class="panel-body Panel-Body-Filter">
                    <md-input-container md-no-float class="md-block" id="searchFilterMargin">
                        <input ng-model="queryPriceList" type="text" placeholder="Búsqueda" id="searchFilterText">
                    </md-input-container>
                    <md-switch ng-model="ctrl.date1" aria-label="Mostrar Solo Precios Vigentes" ng-change="ctrl.onChange(ctrl.date1)">
                        Mostrar Solo Precios Vigentes
                    </md-switch>
                    <md-divider id="lineDivider"></md-divider>
                    <md-list id="listRadioButtom">
                        <md-radio-group ng-model="ListaPreciosId" ng-change="queryPriceList='';">
                            <md-list-item ng-repeat="priceList in ctrl.priceList | filter:queryPriceList" id="itemListRadioButtom">
                                <md-radio-button ng-value="priceList.Clave" class="md-primary" ng-cloak>
                                    <p>{{priceList.Nombre}}</p>
                                </md-radio-button>
                            </md-list-item>
                        </md-radio-group>
                    </md-list>
                </div>
            </div>
        </div>
    </div>

    <div id="viewer" class="row">
        <div ng-show="ctrl.showErrorForm" ng-model="ctrl.ShowError">
            <div class="error-message col-md-12">{{ctrl.ShowError}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-button type="submit" ng-click="ctrl.startbar(); ctrl.SubmitForm(ctrl.VAVClave = @ViewBag.VAVClave)" class="md-raised login-input pull-right" id="buttomReports">Generar reporte</md-button>
        </div>
    </div>
</div>