<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add 
      name="SellingEntities" 
      connectionString="metadata=res://*/Models.Selling.csdl|res://*/Models.Selling.ssdl|res://*/Models.Selling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.103.55;initial catalog=Selling;user id=sa;password=Radec866;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
      providerName="System.Data.EntityClient" 
      xdt:Transform="SetAttributes" 
      xdt:Locator="Match(name)" 
    />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>